<div class="container">
  <div class="jumbotron">
      <h2 >Bus Details</h2>
      <hr/>

  <div class="btn-align">
          <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bus">  Bus Master</i>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" *ngIf="read==true && write==true || write==true"  data-target="#responsive" id="addbtn" (click)=getIds()><small class="fa fa-plus-circle" >  Add Bus</small></a>
          <a class="dropdown-item" href="#vieworg" data-toggle="collapse" role="button" (click)=viewBus()><small class="fa fa-th-list" ><span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span>Bus</small></a>
        </div>
      </div>
</div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Bus Details</h4>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #busForm="ngForm">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="regNum">Bus Reg Number</label>
                  <span class="text-warning"> * </span>
                  <input type="text" autocomplete="off" class="form-control" id="regnum" name="regNum" [(ngModel)]="bus.regNum" #regNum="ngModel"
                    required pattern="[A-Z]{2}[0-9]{2}[A-Z]{1,2}[0-9]{4}" minlength="3" maxlength="10" placeholder="Bus Reg Number">
                  <span *ngIf="regNum.invalid && (regNum.dirty || regNum.touched)" class="text text-warning">
                    <span *ngIf="regNum.errors.required">
                      Bus registration number is Required (Only Capital Letters).
                    </span>
                    <span *ngIf="regNum.errors.pattern">
                      Enter a valid bus registration number
                    </span>
                  </span>
                </div>
                <div class="form-group">
                  <label for="desc">Bus Description(optional)</label>
                  <br>
                  <textarea autocomplete="off" style="resize:none" class="form-control" id="desc" name="description" pattern="^[^\d\W]+( [^\d\W]+)*$"
                    [(ngModel)]="bus.description" #desc="ngModel" required minlength="2" maxlength="50" 
                    onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32"></textarea>
                  <span class="text-warning" [hidden]="!desc.errors.pattern" *ngIf="desc.errors && (desc.touched || desc.dirty)">Description should be min 2 and not exceeding 50 </span>
                  <span class="text-warning" [hidden]="!desc.errors.required" *ngIf="desc.errors && (desc.touched || desc.dirty)">Description Required..</span>
                </div>
                <div class="form-group">
                  <label>Branch</label>
                  <span class="text-warning"> * </span>
                  <br>
                  <select class="form-control" id="brnid" name="branchId" [(ngModel)]="bus.branchId" #brnid="ngModel" required>
                    <option value="0"   selected>Select Branch</option>
                    <option *ngFor="let bL of branchList" value="{{bL.branchid}}">{{bL.branchname}}</option>
                  </select>
                  <span class="text-warning" [hidden]="!brnid.errors.required" *ngIf="brnid.value=='0'  && (brnid.touched || brnid.dirty)">Please Select</span>
                  <span class="text-warning" *ngIf="brnid.errors && (brnid.touched || brnid.dirty)" [hidden]="!brnid.errors.required">Branch Required..</span>
                  <span class="text-warning" *ngIf="brnid.errors && (brnid.touched || brnid.dirty)" [hidden]="!brnid.errors.value">*Please Select</span>
                </div>
                <div class="form-group" class="text-center" *ngIf="!bus.Id">
                  <input class="text-center" type="button" [disabled]="!busForm.valid || brnid.value==0 " value="Submit" class="btn btn-primary" data-dismiss="modal" (click)="addBus()">
                </div>
                <div class="form-group" class="text-center" *ngIf="bus.Id">
                  <input class="text-center" type="button" value="Update Bus" class="btn btn-primary" data-dismiss="modal" (click)="updateBus()">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="viewbus">
    <div *ngIf="rolename=='SchoolAdmin'" >
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Branch">
        </mat-form-field>
            </div>
            <div *ngIf="rolename=='BranchAdmin'">
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Register No">
        </mat-form-field>
                </div>
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="regnum">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Register No</th>
    <td mat-cell *matCellDef="let row">{{row.regnum}}</td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
    <td mat-cell *matCellDef="let row">{{row.description}}</td>
  </ng-container>
  <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
      <td mat-cell *matCellDef="let row">{{row.branchname}}</td>
    </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><span [hidden]="rolename!='BranchAdmin' ">Edit</span></th>
    <td mat-cell *matCellDef="let row">
      <div [hidden]="rolename!='BranchAdmin' " id="Edit" data-toggle="modal" data-target="#responsive" (click)=editBus(row.id)>
        <i class="fa fa-pencil-square-o"></i>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Excel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
      </span></th>
      <td mat-cell *matCellDef="let row">
      </td>
    </ng-container>
  <tr mat-header-row *matHeaderRowDef='displayedColumns'>
  </tr>
  <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
</table>
<mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
  </div>
</div>
