<div class="container">
  <div class="jumbotron">
    <h2>Visiting</h2>
    <hr />

    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"><i class="fa fa-eye"
            aria-hidden="true"> Visiting</i>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" *ngIf="read==true && write==true || write==true"
            data-target="#responsive" (click)=getAllhostels()><small class="fa fa-plus-circle"> Add Visiting</small></a>
          <a class="dropdown-item" href="#visiting" data-toggle="collapse" role="button"> <small class="fa fa-th-list">
            <span id='showdata'>  View </span><span id='datahide'>  Hide </span>> Details</small></a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog modal-lg" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Visiting</h4>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <form>
          <div class="form-group ">
            <label for="visitingintime">visitingintime:</label>
            <input #visitintime autocomplete="off" [(ngModel)]="visit.visitingInTime" type="datetime-local" class="form-control"
              name="visitingintime" id="visitingintime" placeholder="visitingintime" required pattern="^([0-1][0-9]|[2][0-3]):([0-5][0-9])$">
            <span class="text-danger" [hidden]="!visitintime.errors.required" *ngIf="visitintime.errors && (visitintime.touched || visitintime.dirty)"
              class="text-danger">*visitingintime</span>
            <span class="text-danger" [hidden]="!visitintime.errors.value" *ngIf="visitintime.errors && (visitintime.touched || visitintime.dirty)">Please
              Select
            </span>
          </div>
          <div class="form-group ">
            <label for="visitingouttime">visitingouttime:</label>
            <input #visitouttime autocomplete="off" [(ngModel)]="visit.visitingOutTime" type="datetime-local" class="form-control"
              name="visitingouttime" id="visitingouttime" placeholder="visitingouttime" required pattern="^([0-1][0-9]|[2][0-3]):([0-5][0-9])$">
            <span class="text-danger" [hidden]="!visitouttime.errors.required" *ngIf="visitouttime.errors && (visitouttime.touched || visitouttime.dirty)"
              class="text-danger">*visitingouttime</span>
            <span class="text-danger" [hidden]="!visitouttime.errors.value" *ngIf="visitouttime.errors && (visitouttime.touched || visitouttime.dirty)">Please
              Select
            </span>
          </div>
          <div class="form-group ">
            <label for="outingintime">outingintime:</label>
            <input #outintime autocomplete="off" type="datetime-local" [(ngModel)]="visit.outingInTime" class="form-control"
              name="outingintime" id="outingintime" placeholder="outingintime" required pattern="^([0-1][0-9]|[2][0-3]):([0-5][0-9])$">
            <span class="text-danger" [hidden]="!outintime.errors.required" *ngIf="outintime.errors && (outintime.touched || outintime.dirty)"
              class="text-danger">*outingintime</span>
            <span class="text-danger" [hidden]="!outintime.errors.value" *ngIf="outintime.errors && (outintime.touched || outintime.dirty)">Please
              Select
            </span>
          </div>
          <div class="form-group ">
            <label for="outingouttime">outingouttime:</label>
            <input #outiouttime autocomplete="off" type="datetime-local" class="form-control" name="outingtoutime" id="outingouttime"
              placeholder="outingouttime" [(ngModel)]="visit.outingtOuTime" required pattern="^([0-1][0-9]|[2][0-3]):([0-5][0-9])$">
            <span class="text-danger" [hidden]="!outiouttime.errors.required" *ngIf="outiouttime.errors && (outiouttime.touched || outiouttime.dirty)"
              class="text-danger">*outingouttime</span>
            <span class="text-danger" [hidden]="!outiouttime.errors.value" *ngIf="outiouttime.errors && (outiouttime.touched || outiouttime.dirty)">Please
              Select
            </span>
          </div>
          <div class="form-group ">
            <label>Name</label> &nbsp;&nbsp;
            <span class="text-warning"> * </span>
            <select required #userId="ngModel" style="width:100%; height:42px" class="form-control" placeholder="type"
              name='userId' [(ngModel)]="visit.hostelId">
              <option value="0" disabled selected>Select Name</option>
              <option *ngFor="let user of hostelDetails" value={{user.hostelid}}>{{user.firstname}}{{user.lastname}}{{user.branchname}}</option>
            </select>
            <span class="text-warning" *ngIf="userId.value=='Select'">*Please Select</span>
            <span class="text-warning" [hidden]="!userId.errors.required" *ngIf="userId.errors && (userId.touched || userId.dirty)">Hostel
              Name Required </span>
            <span class="text-warning" [hidden]="!userId.errors.value" *ngIf="userId.errors && (userId.touched || userId.dirty)">Please
              Select
            </span>
          </div>
          <div class="text-center">
            <input type="button" *ngIf="visit.Id" value="Update" (click)="updateHostelView()" class="btn btn-primary"
              [disabled]="userId.value==0" data-dismiss="modal">
          </div>
          <div class="text-center">
            <input type="button" value="Submit" *ngIf="!visit.Id" class="btn btn-primary" data-dismiss="modal" (click)="addVisiting()">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="visiting" class="collapse">
    <mat-form-field>
      <input matInput placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
        <td mat-cell *matCellDef="let row">{{row.firstname}}{{row.lastname}}</td>
      </ng-container>
      <ng-container matColumnDef="out">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Out time</th>
          <td mat-cell *matCellDef="let row">{{row.outdatetime}}</td>
        </ng-container>
        <ng-container matColumnDef="in">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>In time</th>
            <td mat-cell *matCellDef="let row">
              <div *ngIf="row.indatetime!=null">
                <td>{{row.indatetime}}</td>
              </div>
              <div *ngIf="row.indatetime==null">
                  <input type="button" value="In" class="btn btn-primary"  (click)="UpdateVisiting(row.id)">
                </div>
            </td>
          </ng-container>
    
      <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator> 
  </div>


  <mat-form-field>
    <input matInput placeholder="Filter">
  </mat-form-field>
  <mat-table [dataSource]="dataSource2" matSort>
    <ng-container matColumnDef="UserName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.firstname}}{{row.lastname}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <input type="button" value="Out" class="btn btn-primary" [disabled]="historyList[0].userid==row.userid"  (click)="addVisiting()">

      </mat-cell>
    </ng-container>
  
 
    <mat-header-row *matHeaderRowDef='displayedColumns2'>
    </mat-header-row>
    <mat-row *matRowDef="let row;columns:displayedColumns2"></mat-row>
  </mat-table>
  <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>