.modal-body {
  margin-left: 100px;
  margin-top: 35px;
}
i {
  &.fa-camera {
    margin: -93px;
    cursor: pointer;
    font-size: 25px;
  }
  &:hover {
    opacity: 0.6;
  }
}
#picUpload {
  display: none;
}
.profile-header-container {
  margin: 0 auto;
  text-align: center;
}
.profile-header-img {
  padding: 54px;
  > img.img-rounded {
    width: 120px;
    height: 120px;
    border: 2px solid #51D2B7;
  }
}
#picUpload:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}
.fa-camera {
  position: absolute;
  width: 500px;
  left: 230px;
  top: 150px;
  /* text-align: center; */
  opacity: 0;
  /* transition: opacity .35s ease; */
  color: black;
}
#picUpload:hover .fa-camera {
  margin-left: 150px;
  opacity: 1;
}
label {
  color: black;
}