<br>
<br>
<div>
  <h4 class="text-center"><b>Testimonial</b></h4>
  <div class="modal-body">
    <form #addTestimonialForm="ngForm">
      <div class="row">
        <div class="form-group">
          <label style="visibility:hidden">Profile Pic</label>
        </div>
        <figure>
          <img style="background-color: whitesmoke;border-radius:50%;padding: 1.8%;max-width: 40%;" [src]="image.URL"
            *ngIf="image.URL!=''" alt="Image"/>
        </figure>
        <div class="fa fa-user-circle" style="font-size: 650%;background-color: whitesmoke;;padding: 2.5%" *ngIf="image.URL==''">
        </div>
        <div class="elementer">
          <label class="hand-cursor">
            <div class="form-group col-sm-4">
              <input type="file" #fileUpload="ngModel" id='picUploader' accept="image/gif, image/jpeg, image/png" class="form-control"
                (change)="fileChangeEvent($event)" name="image" [(ngModel)]="testimonial.image">
            </div>
            <i class="fa fa-camera"></i>
          </label>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="dt"> Name </label>
            <input type="text" name="name" class="form-control" [(ngModel)]="testimonial.name">
          </div>
          <div class="form-group">
            <label for="octn">Description</label>
            <textarea rows="4" cols="50" name="description" class="form-control" [(ngModel)]="testimonial.description">
</textarea>
          </div>
          <div class="form-group" class="text-center">
            <button type="submit" (click)="addTestimonial(addTestimonialForm)" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
</script>