<div class="container">
  <div class="jumbotron">
      <h2 >User Transport</h2>
      <hr/>
 
  <div class="btn-align">
          <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bus">  User Transport  Details</i>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal"   *ngIf="read==true && write==true || write==true"  data-target="#responsive" (click)="getIds()"><small class="fa fa-plus-circle" >  Add User Transport</small></a>
          <a class="dropdown-item"  data-toggle="collapse" role="button"   (click)="userTransport()"><small class="fa fa-th-list" >   <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span> usertransport</small></a>
        </div>
      </div>
  </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>User-Transport</h4>
          <button type="button" class="close btn-danger"  style="color:white;"  data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #myfrm="ngForm" novalidate>
            <div class="row">
              <div class="col-lg-12">
                <div class=" form-group">
                  <label>Select &nbsp;&nbsp;
                  <input type="radio" value="faculty" name="select" (change)="showFaculty()" [(ngModel)]="showFilter">Faculty &nbsp;&nbsp;
                  <input type="radio" value="student" name="select" (change)="showFaculty()" [(ngModel)]="showFilter">Student 
              </label>  </div>
                <div class="form-group">
                  <label for="userId">User</label>
                  <span class="text-warning"> * </span>
                  <select class=" form-control" class="form-control" #userId="ngModel" required style="width:100%; height:2.625em " placeholder="type" name="userId"
                    [(ngModel)]="utransport.userId">
                    <option value="0"  disabled selected>Select User</option>
                    <option *ngFor="let ufl of selectList" value="{{ufl.userid}}">{{ufl.firstname}} {{ufl.lastname}}</option>
                  </select>
                  <span class="text-warning" [hidden]="!userId.errors.required" *ngIf="userId.value=='0'  && (userId.touched || userId.dirty)">Please Select</span>
                  <span class="text-warning" [hidden]="!userId.errors.required" *ngIf="userId.errors && (userId.touched || userId.dirty)">User
                     Required</span>
                  <span class="text-warning" [hidden]="!userId.errors.value" *ngIf="userId.errors && (userId.touched || userId.dirty)">Please
                    Select</span>
                </div>
                <div class="form-group">
                  <label for="stopId">Stop </label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" name="stopId" required #stopId="ngModel" id="stopId"  [(ngModel)]="utransport.stopId">
                    <option value="0"  disabled selected>Select Stop Name</option>
                    <option *ngFor="let ts of userTransportList" value="{{ts.id}}">{{ts.stopname}}</option>
                  </select>
                  <span class="text-warning" [hidden]="!stopId.errors.required" *ngIf="stopId.value=='0' && (stopId.touched || stopId.dirty)">Please Select</span>
                  <span class="text-warning" [hidden]="!stopId.errors.required" *ngIf="stopId.errors && (stopId.touched || stopId.dirty)">Stop
                     Required</span>
                  <span class="text-warning" [hidden]="!stopId.errors.value" *ngIf="stopId.errors && (stopId.touched || stopId.dirty)">Please
                    Select</span>
                </div>
                <div class="form-group" class="text-center" *ngIf="!utransport.Id">
                  <button type="submit" [disabled]="!myfrm.valid || userId.value==0 || stopId.value==0" (click)="addUserTransport()" class="btn btn-primary" data-dismiss="modal">
                    Submit</button>
                </div>
                <div class="form-group" class="text-center" *ngIf="utransport.Id">
                  <button type="submit" (click)="updateUserTransport()" class="btn btn-primary" data-dismiss="modal">
                    Update</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<div *ngIf="usertransport">
  <div>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Branch">
      </mat-form-field>
          </div>
          <div *ngIf="rolename=='BranchAdmin'">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By User">
      </mat-form-field>
              </div>
  <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="UserName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
          <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
        </ng-container>
    <ng-container matColumnDef="StopName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Stop</th>
      <td mat-cell *matCellDef="let row">{{row.stopname}}</td>
    </ng-container>
    <ng-container matColumnDef="branch">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
        <td mat-cell *matCellDef="let row">{{row.branchname}}</td>
      </ng-container>
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span  [hidden]="rolename!='BranchAdmin' ">edit</span></th>
        <td mat-cell *matCellDef="let row">
          <div [hidden]="rolename!='BranchAdmin' " id="Edit" (click)="editUserTransport(row.id)"
          data-toggle="modal" data-target="#responsive"> <i  class="fa fa-pencil-square-o"></i></div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
        </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef='displayedColumns'>
    </tr>
<tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
  </table>
  <mat-paginator [length]="100"  #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
    </div>
    </div>
    <div>
      <table class="table">
        <h2>Transport History</h2>
        <tr>
          <th>Paid Amount </th>
          <th>Paid Date </th>
          <th>Due</th>
          <th> Status </th>
          <th> Route </th>
          <th> Boarding </th>
          <th> Departure </th>
        </tr>
        <tr *ngFor="let ft of FeetransactionList">
          <td>
            {{ft.paidamount}}
          </td>
          <td>
            {{ft.paiddate}}
          </td>
          <td>
            {{ft.due}}
          </td>
          <td>
            {{ft.transportstatus}}
          </td>
          <td>
            {{ft.routename}}
          </td>
          <td>{{ft.startpoint}}</td>
          <td>{{ft.endpoint}}
          </td>
        </tr>
      </table>
    </div>