<div class="container">
  <div class="row">
    <h2 class="col-md-10">Surveliance Dashboard</h2>

    <form class="form-inline" style="margin-left:350px;">
      <div class="borderedClass">
        <div class="dropdown">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"> Surveliance
          </button>
          <div class="dropdown-menu"  *ngIf="rolename=='BranchAdmin'">
            <a class="dropdown-item" role="button" data-toggle="modal" (click)="btnAddForm()" href="#responsive" (click)=" getIds()">Add</a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div>
    <form class='form-inline' #addForm='ngForm'>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Cam Id</th>
            <th>Cam Url</th>
            <th>Batch Id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let li of List">
            <td>{{li.camid}}</td>
            <td>{{li.camurl}}</td>
            <td>{{li.batchid}}</td>
          </tr>
          <tr *ngIf="showAddForm">
            <td>
              <input type='text' name='camId' [(ngModel)]='cam.camId' placeholder='cam Id'>
            </td>
            <td>
              <input type='text' name='url' [(ngModel)]='cam.url' placeholder='URL'>
            </td>
            <td>
              <select type="text" required name='batchId' [(ngModel)]='cam.batchId' placeholder="batchid">
                <option>Select</option>
                <option *ngFor="let bl of batchList" value="{{bl.id}}">{{bl.batchname}}</option>
              </select>
            </td>
            <td>
              <button type='submit' class='btn btn-primary mb-2' (click)='addCamera()'>Submit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <button (click)="btnPlayClick1(camVideo)">
      <img height="50" width="50" src="{{myUrl+'/school/assets/playicon.png'}}" />
      <br>
      <b>ClassRoom</b>
    </button>
    <button (click)="btnPlayClick2(camVideo)">
      <img height="50" width="50" src="{{myUrl+'/school/assets/playicon.png'}}" />
      <br>
      <b>PlayGround</b>
    </button>
    <button (click)="btnPlayClick3(camVideo)"> <img height="50" width="50" src="{{myUrl+'/school/assets/playicon.png'}}" />
      <br>
      <b>Cafeteria</b></button>
    <button (click)="btnPlayClick4(camVideo)"> <img height="50" width="50" src="{{myUrl+'/school/assets/playicon.png'}}" />
      <br>
      <b>Premises</b></button>
    <br />
    <hr />
    <b>Static Ip Camera s Only </b>
    <hr/>../../.
    <video #camVideo id="camVideo" width="43.75em" height="28.125em" src="{{myUrl+'/school/assets/test1.mp4'}}" controls="controls">
    </video>
  </div>
</div>