<div class="container mt-3">
  <form #frm="ngForm" *ngIf="read==true && write==true || write==true">
    <div class="row">
      <div class="container">
        <h1>Country</h1>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Country code:</label>
              <input type="text" name="countrycode" #cc id="countrycode" class="form-control" [(ngModel)]="countryObj.countryCode">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Country Name:</label>
              <input type="text" name="name" id="name" class="form-control" [(ngModel)]="countryObj.name">
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-outline-info btn-lg" (click)="addCountry()">Submit </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div>
          <h1>States</h1>
        </div>
        <div class="form-group">
          <label>state name:</label>
          <input type="text" name="name" #n id="name" class="form-control" [(ngModel)]="statesObj.name">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-outline-info btn-lg" (click)="addStates(cc)">Submit </button>
        </div>
      </div>
      <div class="col-sm-6">
        <div>
          <h1>City</h1>
        </div>
        <div class="form-group">
          <label>city name:</label>
          <input type="text" name="name" id="name" class="form-control" [(ngModel)]="citiesObj.name">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-outline-info btn-lg" (click)="addCities(n)">Submit </button>
        </div>
      </div>
    </div>
  </form>
</div>
