
<div class="container mt-3">
  <div class="jumbotron">
    <h2>Placements</h2>
    <!-- <div *ngIf="read==true && write==true || write==true">
    <button type="button" class="btn btn-outline-info btn-lg" data-toggle="modal" data-target="#responsive" (click)=getIds()
      title="Add Placements">
      <span style="font-size:2em;" class="fa fa-trophy"></span><small class="fa fa-plus-circle"></small>
    </button></div>
    <a href="#viewplcm" class="btn btn-outline-info btn-lg" data-toggle="collapse" title="View Placements">
      <span style="font-size:2em;" class="fa fa-trophy"></span><small class="fa fa-th-list"></small>
    </a> -->
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-trophy"></i> Placements
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)=getIds() *ngIf="read==true && write==true || write==true">
            <i class="fa fa-plus-circle"></i> Add Placements</a>
          <a class="dropdown-item" href="#viewplcm" data-toggle="collapse" role="button">
            <i class="fa fa-th-list"></i>   <span id='showdata'>  View Placements</span><span id='datahide'>  Hide Placements</span> 
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog modal-lg" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h3>Placement Details</h3>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #placement="ngForm">
            <div class="row">
              <div class="form-group col-md-12">
                <label>Organization:</label>
                <span class="text-warning"> * </span>
                <select class="form-control" #branchId="ngModel" required style="width:100%; height:2.625em"
                  placeholder="type " name='branchId' [(ngModel)]="placemnt.branchId">
                  <option value="0">Select Branch</option>
                  <option *ngFor="let bid of branchList" value="{{bid.branchid}}">{{bid.name}}-{{bid.branchname}}</option>
                </select>
                <span class="text-warning" [hidden]="branchId.errors?.required" *ngIf="branchId.value=='0' && (branchId.touched || branchId.dirty)">Please
                  Select</span>
                <span class="text-warning" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Branch
                  Required
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Placement Name:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" autocomplete="off" class="form-control" placeholder="Placement Name " name='name '
                    [(ngModel)]="placemnt.name " #name="ngModel" required pattern="^[^\d\W]+( [^\d\W]+)*$" minlength="3"
                    maxlength="50" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32">
                  <span class="text-warning" *ngIf="name.invalid && (name.touched || name.dirty)">
                    <span class="text-warning" *ngIf="name.errors?.required && (name.touched || name.dirty)">Designation
                      Required
                    </span>
                    <span class="text-warning" [hidden]="name.errors?.pattern" *ngIf="name.errors?.pattern && (name.touched || name.dirty)">Designation
                      Contains Minimum 3 letters</span>
                  </span>
                </div>
                <div class="form-group">
                  <label>Designation:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" autocomplete="off" class="form-control" placeholder="designation " name='designation '
                    [(ngModel)]="placemnt.designation " #designation="ngModel" required pattern="^[^\d\W]+( [^\d\W]+)*$"
                    minlength="3" maxlength="50">
                  <span class="text-warning" *ngIf="designation.invalid && (designation.touched || designation.dirty)"
                    onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32">>
                    <span class="text-warning" *ngIf="designation.errors?.required && (designation.touched || designation.dirty)">Designation
                      Required
                    </span>
                    <span class="text-warning" *ngIf="designation.errors?.pattern && (designation.touched || designation.dirty)">Designation
                      Contains Minimum 3 letters</span>
                  </span>
                </div>
                <div>
                  <label>Start Date & Time:</label>
                  <input class="form-control" type="datetime-local" autocomplete="off" #startTime="ngModel" required
                    name="startTime" style="width:100%; height: 2.625em " [(ngModel)]="placemnt.startTime ">
                </div>
                <div class="form-group" style="margin-top: 1.25em;">
                  <label for="mobile">No.Of Positions:</label>
                  <span class="text-warning"> * </span>
                  <input type="tel" minlength="0" maxlength="3" pattern="[0-9]{1,3}" required class="form-control"
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57" #positions="ngModel" [(ngModel)]="placemnt.positions "
                    name="organizerMobile " placeholder="No of positions">
                  <span class="text-warning" [hidden]="!positions.errors?.required" *ngIf="positions.errors && (positions.touched || positions.dirty)">No
                    of Positions Required</span>
                  <span class="text-warning" *ngIf="positions.errors?.pattern && (positions.touched || positions.dirty)">Please
                    Enter only numbers</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Availabel Job:</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" #jobId="ngModel" (change)="availJob(jobId.value)" required style="width:100%; height: 2.625em"
                    placeholder="type " name='jobId' [(ngModel)]="placemnt.jobId">
                    <option value="0" disabled selected>Select Available Job</option>
                    <option *ngFor="let jl of jobSpecOrg" value="{{jl.id}}">{{jl.jobtittle}}</option>
                  </select>
                  <span class="text-warning" [hidden]="!jobId.errors.required" *ngIf="jobId.value=='0' &&  (jobId.touched || jobId.dirty) ">Please
                    Select</span>
                  <span class="text-warning" *ngIf="jobId.errors && (jobId.touched || jobId.dirty)">Company Required
                  </span>
                </div>
                <div class="form-group">
                  <label for="package">Package:</label>
                  <span class="text-warning"> * </span>
                  <input type="tel" minlength="10" maxlength="10" pattern="[0-9]{3,15}" required class="form-control"
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57" #package="ngModel" [(ngModel)]="placemnt.package "
                    name="package " placeholder="package">
                  <span class="text-warning" *ngIf="package.invalid && (package.touched || package.dirty)">
                    <span class="text-warning" [hidden]="!package.errors.required" *ngIf="package.errors && (package.touched || package.dirty)">Package
                      Amount Required..
                    </span>
                    <span class="text-warning" [hidden]="!package.errors?.pattern" *ngIf="package.errors && (package.touched || package.dirty)">please
                      enter only numbers
                    </span>
                  </span>
                </div>
                <div class="form-group ">
                  <label for="endTime ">End Date & Time:</label>
                  <span class="text-warning"> * </span>
                  <input class="form-control" type="datetime-local" autocomplete="off" #endTime="ngModel" required name="endTime"
                    style="width:100%; height: 2.625em " [(ngModel)]="placemnt.endTime ">
                  <span *ngIf="endTime.invalid && (endTime.touched || endTime.dirty)">
                    <span class="text-warning" [hidden]="!endTime.errors.required" *ngIf="endTime.errors && (endTime.touched || endTime.dirty)">End
                      Time Required..
                    </span>
                    <span class="text-warning" *ngIf="endTime.value=='Invalid Date'">Only Selection is Allowed</span>
                  </span>
                </div>
                <div class="form-group">
                  <label for="mobile">Details:</label>
                  <span class="text-warning"> * </span>
                  <input type="tel" minlength="4" maxlength="100" pattern="((?:6|7|8|9)[0-9])+(?:-?\d){8,15}" required
                    class="form-control" #details="ngModel" [(ngModel)]="placemnt.details " name="details " placeholder="Enter Placement Details">
                  <span class="text-warning" *ngIf="details.invalid && (details.touched || details.dirty)">
                    <span class="text-warning" [hidden]="!details.errors.required" *ngIf="details.errors && (details.touched || details.dirty)">Placement
                      Details Required</span>
                    <span class="text-warning" [hidden]="!details.errors.minlength" *ngIf="details.errors && (details.touched || details.dirty)">Placement
                      Details Should Contain Minimum 4 letters</span>
                  </span>
                </div>
              </div>
              <div *ngIf="!placemnt.Id" class="text-center" class="form-group" style="margin-top: 1.75em;margin-left: 20.625em;">
                <button type="button" class="btn btn-primary" value="submit" [disabled]="branchId.value==0" (click)="addPlacements()">Submit</button>
                <div *ngIf="placemnt.Id" class="text-center">
                  <input type="button" class="btn btn-primary" value="Update Placements" data-dismiss="modal" (click)=updatePlacements()>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="viewplcm" class="collapse">
    <div class="container">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Company">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="companyname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <h6>Company</h6>
          </th>
          <td mat-cell *matCellDef="let row">{{row.jobtittle}}</td>
        </ng-container>
        <ng-container matColumnDef="designation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <h6>Designation</h6>
          </th>
          <td mat-cell *matCellDef="let row">{{row.designation}}</td>
        </ng-container>
        <ng-container matColumnDef="package">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <h6>Package</h6>
          </th>
          <td mat-cell *matCellDef="let row">{{row.package}}</td>
        </ng-container>
        <ng-container matColumnDef="positions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <h6>Positions</h6>
          </th>
          <td mat-cell *matCellDef="let row">{{row.positions}}</td>
        </ng-container>
        <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <h6>Start Time</h6>
          </th>
          <td mat-cell *matCellDef="let row">{{row.starttime | date:'medium'}}</td>
        </ng-container>
        <ng-container matColumnDef="endTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <h6>End Time</h6>
          </th>
          <td mat-cell *matCellDef="let row">{{row.endtime | date:'medium'}}</td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <h6>Edit</h6>
          </th>
          <td mat-cell *matCellDef="let row" class="fa fa-pencil-square-o" id="Edit" data-toggle="modal" data-target="#responsive"
            (click)=editPlacement(row.id)>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>
