<!DOCTYPE html>
<html class=''>
<head>
  <script src='skins/larry//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>
  <script src='skins/larry//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script>
  <script src='skins/larry//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script>
  <meta charset='UTF-8'>
  <meta name="robots" content="noindex">
  <link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
  <link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg"
    color="#111" />
  <link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
  <script src="https://use.typekit.net/hoy3lrg.js"></script>
  <script>try { Typekit.load({ async: true }); } catch (e) { }</script>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
  <style class="cp-pen-styles">
  </style>
</head>
<body>
  <div id="div1">
    <h6 style="margin-left: 50%;color: floralwhite;"> <b>I want to take a break at </b>
      <p-calendar [(ngModel)]="value" showTime="true" timeOnly="true" hourFormat="24"></p-calendar><button class="btn btn-success"
        value="Ok" (click)="updateBreak()">OK</button>
    </h6>
  </div>
  <div id="frame">
    <div id="sidepanel">
      <div id="profile" *ngIf="chatUser">
        <div class="wrap">
          <p>{{chatUser.firstname}} {{chatUser.lastname}}</p>
          <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
          <div id="status-options">
            <ul>
              <li id="status-online" class="active"><span class="status-circle"></span>
                <p>Online</p>
              </li>
              <li id="status-away"><span class="status-circle"></span>
                <p>Away</p>
              </li>
              <li id="status-busy"><span class="status-circle"></span>
                <p>Busy</p>
              </li>
              <li id="status-offline"><span class="status-circle"></span>
                <p>Offline</p>
              </li>
            </ul>
          </div>
          <div id="expanded">
            <label for="twitter"><i class="fa fa-facebook  fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="mikeross" />
            <label for="twitter"><i class="fa fa-twitter  fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="ross81" />
            <label for="twitter"><i class="fa  fa-instagram fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="mike.ross" />
          </div>
        </div>
      </div>
      <div id="contacts">
        <ul>
          <li class="contact" *ngFor="let rm of recievedMsgCount">
            <div>
              <div style="width: 100%;text-align: right;padding: 0 0.9375em;">
                <span class='fa fa-close' (click)="removeChat(rm.conversationid)"></span>
              </div>
              <div class="wrap" (click)="userChatSelect(rm.conversationid,'U')">
                <img src="http://emilcarlsson.se/assets/danielhardman.png" alt="Image" />
                <div class="meta">
                  <p class="name">{{rm.username}}<i class="badge badge-light">{{rm._u}}</i> </p>
                  <p class="preview">{{rm.messages}}</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="content" *ngIf="openChat">
      <div class="contact-profile">
        <img src="{{myUrl+'/Organization/assets/Infobyt logo.png'}}" alt="Image" />
        <p>{{selUserMessages[0].username}}</p>
        <div class="social-media">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
      <div class="messages">
        <ul *ngFor="let m of selUserMessages">
          <li class="replies" *ngIf="m.fromuser==frmUser">
            <p>{{m.messages}} <sub style="font-size:0.625em"><br />{{m.createddate|date:'shortTime'}}</sub></p>
          </li>
          <li class="sent" *ngIf="m.touser==frmUser">
            <p>{{m.messages}} <sub style="font-size:0.625em"><br />{{m.createddate|date:'shortTime'}}</sub></p>
          </li>
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
          <input type="text" placeholder="Write your message..." #msg (keyup.enter)="btnSendMessageClick(msg)" />
          <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
          <button class="submit" (click)="btnSendMessageClick(msg)"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
  <script src='skins/larry//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script>
    $(".messages").animate({
      scrollTop: $(document).height()
    }, "fast");
    $("#profile-img").click(function () {
      $("#status-options").toggleClass("active");
    });
    $(".expand-button").click(function () {
      $("#profile").toggleClass("expanded");
      $("#contacts").toggleClass("expanded");
    });
    $("#status-options ul li").click(function () {
      $("#profile-img").removeClass();
      $("#status-online").removeClass("active");
      $("#status-away").removeClass("active");
      $("#status-busy").removeClass("active");
      $("#status-offline").removeClass("active");
      $(this).addClass("active");
      if ($("#status-online").hasClass("active")) {
        $("#profile-img").addClass("online");
      } else if ($("#status-away").hasClass("active")) {
        $("#profile-img").addClass("away");
      } else if ($("#status-busy").hasClass("active")) {
        $("#profile-img").addClass("busy");
      } else if ($("#status-offline").hasClass("active")) {
        $("#profile-img").addClass("offline");
      } else {
        $("#profile-img").removeClass();
      };
      $("#status-options").removeClass("active");
    });
    function newMessage() {
      message = $(".message-input input").val();
      if ($.trim(message) == '') {
        return false;
      }
      $(
        '<li class="sent"><img  src="https://mail.google.com/mail/u/0/?ui=2&ik=4d3069d2fe&view=fimg&th=165f08ddbe73f092&attid=0.1.1&disp=emb&attbid=ANGjdJ9AoW3Tw6GHTFpRKHNHWhW7qDKm6ffWRI52ygA7dm6VxskJVGl9KVATAIV97Ft3i68hDnZhusphgjTqh19x6Z-66YlyD0meDv-YuuNyFAdt5Z2zV1LKniXPnOU&sz=s0-l75-ft&ats=1537352202787&rm=165f08ddbe73f092&zw&atsh=1" alt="Image" /><p>' +
        message + '</p></li>').appendTo($('.messages  ul'));
      $('.message-input input').val(null);
      $('.contact.active .preview').html('<span>You: </span>' + message);
      $(".messages").animate({
        scrollTop: $(document).height()
      }, "fast");
    };
    $('.submit').click(function () {
      newMessage();
    });
    $(window).on('keydown', function (e) {
      if (e.which == 13) {
        newMessage();
        return false;
      }
    });
  </script>
</body>
</html>