$center:center;
$none:none;
$color:#32465a;
body {
  align-items: $center;
  justify-content: $center;
  min-height: 100vh;
  background: #738a7c;
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  font-size: 1em;
  letter-spacing: 0 0.00625em;
  color: $color;
  text-rendering: optimizeLegibility;
  text-shadow: 0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
}
#div1 {
  width: 100%;
  height: 6.25em;
}
#frame {
  margin-left: 1.25em;
  width: 95%;
  min-width: 22.5em;
  max-width: 62.5em;
  height: 92vh;
  min-height: 18.75em;
  max-height: 38.75em;
  background: #E6EAEA;
  #sidepanel {
    float: left;
    min-width: 17.5em;
    max-width: 21.25em;
    width: 40%;
    height: 100%;
    background: #2c3e50;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
    #profile {
      width: 80%;
      margin: 1.5625em auto;
      &.expanded .wrap {
        height: 13.125em;
        line-height: initial;
        p {
          margin-top: 1.25em;
        }
        i.expand-button {
          -moz-transform: scaleY(-1);
          -o-transform: scaleY(-1);
          -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
        }
      }
      .wrap {
        height: 3.75em;
        line-height: 3.75em;
        overflow: hidden;
        -moz-transition: 0.3s height ease;
        -o-transition: 0.3s height ease;
        -webkit-transition: 0.3s height ease;
        transition: 0.3s height ease;
        img {
          width: 3.125em;
          border-radius: 50%;
          padding: 0.1875em;
          border: 0.125em solid #e74c3c;
          height: auto;
          float: left;
          cursor: pointer;
          -moz-transition: 0.3s border ease;
          -o-transition: 0.3s border ease;
          -webkit-transition: 0.3s border ease;
          transition: 0.3s border ease;
          &.online {
            border: 0.125em solid #2ecc71;
          }
          &.away {
            border: 0.125em solid #f1c40f;
          }
          &.busy {
            border: 0.125em solid #e74c3c;
          }
          &.offline {
            border: 0.125em solid #95a5a6;
          }
        }
        p {
          float: left;
          margin-left: 0.9375em;
        }
        i.expand-button {
          float: right;
          margin-top: 1.4375em;
          font-size: 0.8em;
          cursor: pointer;
          color: #435f7a;
        }
        #status-options {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          width: 9.375em;
          margin: 4.375em 0 0 0;
          border-radius: 0.375em;
          z-index: 99;
          line-height: initial;
          background: #435f7a;
          -moz-transition: 0.3s all ease;
          -o-transition: 0.3s all ease;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease;
          &.active {
            opacity: 1;
            visibility: visible;
            margin: 4.6875em 0 0 0;
          }
          &:before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-left: 0.375em solid transparent;
            border-right: 0.375em solid transparent;
            border-bottom: 0.5em solid #435f7a;
            margin: -0.5em 0 0 1.5em;
          }
          ul {
            overflow: hidden;
            border-radius: 0.375em;
            li {
              padding: 0.9375em 0 1.875em  1.125em;
              display: block;
              cursor: pointer;
              &:hover {
                background: #496886;
              }
              span.status-circle {
                position: absolute;
                width: 0.625em;
                height: 0.625em;
                border-radius: 50%;
                margin: 0.3125em 0 0 0;
                &:before {
                  content: '';
                  position: absolute;
                  width: 0.875em;
                  height: 0.875em;
                  margin: -0.1875em 0 0 -0.1875em;
                  background: transparent;
                  border-radius: 50%;
                  z-index: 0;
                }
              }
              p {
                padding-left: 0.75em;
              }
              &#status-online {
                span.status-circle {
                  background: #2ecc71;
                }
                &.active span.status-circle:before {
                  border: 0.0625em solid #2ecc71;
                }
              }
              &#status-away {
                span.status-circle {
                  background: #f1c40f;
                }
                &.active span.status-circle:before {
                  border: 0.0625em solid #f1c40f;
                }
              }
              &#status-busy {
                span.status-circle {
                  background: #e74c3c;
                }
                &.active span.status-circle:before {
                  border: 0.0625em solid #e74c3c;
                }
              }
              &#status-offline {
                span.status-circle {
                  background: #95a5a6;
                }
                &.active span.status-circle:before {
                  border: 0.0625em solid #95a5a6;
                }
              }
            }
          }
        }
        #expanded {
          padding: 6.25em 0 0 0;
          display: block;
          line-height: initial !important;
          label {
            float: left;
            clear: both;
            margin: 0 0.5em 0.3125em 0;
            padding: 0.3125em 0;
          }
          input {
            border: $none;
            margin-bottom: 0.375em;
            background: $color;
            border-radius: 0.1875em;
            color: #f5f5f5;
            padding: 0.4375em;
            width: calc(100% - 2.6875em);
            &:focus {
              outline: $none;
              background: #435f7a;
            }
          }
        }
      }
    }
    #search {
      border-top: 0.0625em solid $color;
      border-bottom: 0.0625em solid $color;
      font-weight: 300;
      label {
        position: absolute;
        margin: 0.625em 0 0 1.25em;
      }
      input {
        font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
        padding: 0.625em 0  0.625em 2.875em;
        width: calc(100% - 1.5625em);
        border: $none;
        background: $color;
        color: #f5f5f5;
        &:focus {
          outline: $none;
          background: #435f7a;
        }
        &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
          color: #f5f5f5;
        }
      }
    }
    #contacts {
      height: calc(100% - 11.0625em);
      overflow-y: scroll;
      overflow-x: hidden;
      &.expanded {
        height: calc(100% - 20.875em);
      }
      &::-webkit-scrollbar {
        width: 0.5em;
        background: #2c3e50;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #243140;
      }
      ul li.contact {
        position: relative;
        padding: 0.625em 0 0.9375em 0;
        font-size: 0.9em;
        cursor: pointer;
        &:hover {
          background: $color;
        }
        &.active {
          background: $color;
          border-right: 0.3125em solid #435f7a;
          span.contact-status {
            border: 0.125em solid $color !important;
          }
        }
        .wrap {
          width: 88%;
          margin: 0 auto;
          position: relative;
          span {
            position: absolute;
            left: 0;
            margin: -0.125em 0 0 -0.125em;
            width: 0.625em;
            height: 0.625em;
            border-radius: 50%;
            border: 0.125em solid #2c3e50;
            background: #95a5a6;
            &.online {
              background: #2ecc71;
            }
            &.away {
              background: #f1c40f;
            }
            &.busy {
              background: #e74c3c;
            }
          }
          img {
            width: 2.5em;
            border-radius: 50%;
            float: left;
            margin-right: 0.625em;
          }
          .meta {
            padding: 0.3125em 0 0 0;
            .name {
              font-weight: 600;
            }
            .preview {
              margin: 0.3125em 0 0 0;
              padding: 0 0 0.0625em;
              font-weight: 400;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              -moz-transition: 1s all ease;
              -o-transition: 1s all ease;
              -webkit-transition: 1s all ease;
              transition: 1s all ease;
              span {
                position: initial;
                border-radius: initial;
                background: $none;
                border: $none;
                padding: 0 0.125em 0 0;
                margin: 0 0 0 0.0625em;
                opacity: .5;
              }
            }
          }
        }
      }
    }
    #bottom-bar {
      position: absolute;
      width: 100%;
      bottom: 0;
      button {
        float: left;
        border: $none;
        width: 50%;
        padding: 0.625em 0;
        background: $color;
        color: #f5f5f5;
        cursor: pointer;
        font-size: 0.85em;
        font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
        &:focus {
          outline: $none;
        }
        &:nth-child(1) {
          border-right: 0.0625em solid #2c3e50;
        }
        &:hover {
          background: #435f7a;
        }
        i {
          margin-right: 0.1875em;
          font-size: 1em;
        }
      }
    }
  }
  .content {
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
    .contact-profile {
      width: 100%;
      height: 3.75em;
      line-height: 3.75em;
      background: #f5f5f5;
      img {
        width: 2.5em;
        border-radius: 50%;
        float: left;
        margin: 0.5625em 0.75em 0 0.5625em;
      }
      p {
        float: left;
      }
      .social-media {
        float: right;
        i {
          margin-left: 0.875em;
          cursor: pointer;
          &:nth-last-child(1) {
            margin-right: 1.25em;
          }
          &:hover {
            color: #435f7a;
          }
        }
      }
    }
    .messages {
      height: auto;
      min-height: calc(100% -  7.5em);
      max-height: calc(100% -  7.5em);
      overflow-y: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 0.5em;
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
      }
      ul li {
        display: inline-block;
        clear: both;
        /* float: left; */
        margin: 0.9375em 0.9375em 0.3125em 0.9375em;
        width: calc(90% - 1.5625em);
        font-size: 0.9em;
        &:nth-last-child(1) {
          margin-bottom: 1.25em;
        }
        &.sent {
          img {
            margin: 0.375em 0.5em 0 0;
          }
          p {
            background: #435f7a;
            color: #f5f5f5;
          }
        }
        &.replies {
          img {
            float: right;
            margin: 0.375em 0 0 0.5em;
          }
          p {
            background: #f5f5f5;
            float: right;
          }
        }
        img {
          width: 1.375em;
          border-radius: 50%;
          float: left;
        }
        p {
          display: inline-block;
          padding: 0.625em 0.9375em;
          border-radius: 1.25em;
          max-width: 12.8125em;
          line-height: 130%;
        }
      }
    }
    .message-input {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 99;
      .wrap {
        position: relative;
        input {
          font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
          float: left;
          border: $none;
          width: calc(100% - 5.625em);
          padding: 0.6875em 2em 0.625em 0.5em;
          font-size: 0.8em;
          color: $color;
          &:focus {
            outline: $none;
          }
        }
        .attachment {
          position: absolute;
          right: 3.75em;
          z-index: 4;
          margin-top: 0.5em;
          font-size: 1.1em;
          color: #435f7a;
          opacity: .5;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }
        button {
          float: right;
          border: $none;
          width: 3.125em;
          padding: 0.75em 0;
          cursor: pointer;
          background: $color;
          color: #f5f5f5;
          &:hover {
            background: #435f7a;
          }
          &:focus {
            outline: $none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 22.5em) {
  #frame {
    width: 100%;
    height: 100vh;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel {
    width: 3.625em;
    min-width: 3.625em;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #profile {
    width: 100%;
    margin: 0 auto;
    padding: 0.3125em 0 0 0;
    background: $color;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #profile .wrap {
    height: 3.4375em;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #profile .wrap img {
    width: 2.5em;
    margin-left: 0.25em;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #profile .wrap p {
    display: $none;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #profile .wrap i.expand-button {
    display: $none;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #profile .wrap #status-options {
    width: 3.625em;
    margin-top: 3.5625em;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #profile .wrap #status-options.active {
    margin-top: 3.875em;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #profile .wrap #status-options:before {
    margin-left: 1.4375em;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #profile .wrap #status-options ul li {
    padding: 0.9375em 0  2.1875em 1.375em;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    width: 0.875em;
    height: 0.875em;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    height: 1.125em;
    width: 1.125em;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #profile .wrap #status-options ul li p {
    display: $none;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #search {
    display: $none;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #contacts {
    height: calc(100% - 9.3125em);
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: $none;
    }
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #contacts ul li.contact {
    padding: 0.375em 0 2.875em  0.5em;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #contacts ul li.contact .wrap {
    width: 100%;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #contacts ul li.contact .wrap img {
    margin-right: 0em;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #contacts ul li.contact .wrap .meta {
    display: $none;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #bottom-bar button {
    float: $none;
    width: 100%;
    padding: 0.9375em 0;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: $none;
    border-bottom: 0.0625em solid #2c3e50;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #bottom-bar button i {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame #sidepanel #bottom-bar button span {
    display: $none;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame .content {
    width: calc(100% - 3.625em);
    min-width: 18.75em !important;
  }
}
@media screen and (min-width: 56.25em) {
  #frame .content {
    width: calc(100% - 21.25em);
  }
}
@media screen and (max-width: 45.9375em) {
  #frame .content .messages {
    max-height: calc(90% - 6.5625em);
  }
}
@media screen and (min-width: 45.9375em) {
  #frame .content .messages ul li p {
    max-width: 18.75em;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame .content .message-input .wrap input {
    padding: 0.9375em 2em 1em 0.5em;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame .content .message-input .wrap .attachment {
    margin-top: 1.0625em;
    right: 4.0625em;
  }
}
@media screen and (max-width: 45.9375em) {
  #frame .content .message-input .wrap button {
    padding: 1em 0;
  }
}
.activeChat {
  background-color: #E6EAEA;
}