<div class="container">
  <div class="jumbotron">
    <h2>Admission Details </h2>
    <hr />
    <div style="width:100%;text-align:right;">
      <div class="btn-align">
        <div class="dropdown">
          <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i> Trainee
          </button>&nbsp;
          <div class="dropdown-menu">
            <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)="addTraineeUser()"
              *ngIf="rolename=='BranchAdmin'">
              <i class="fa fa-plus-circle"></i> Add Trainee</a>
          </div>
        </div>
        <div class="dropdown">
          <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-users" ></i> Admission Details
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="collapse" role="button" (click)="open()" *ngIf="rolename=='BranchAdmin'">
              <i class="fa fa-plus-circle" *ngIf="!Show"></i> Fill Form </a>
            <a class="dropdown-item" role="button" data-toggle="modal" href="#viewadm" (click)="getAllAdmissions()">
              <i class="fa fa-th-list"></i> <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span>   Admission</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="rolename=='BranchAdmin' && Show">
    <form #admition="ngForm">
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Parent Email</label>
          <span class="text-danger"> * </span>
          <input class="form-control" type="email" maxlength="50" autocomplete="off" #parentEmail="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z]+\.[a-zA-Z]{2,3}$"
            email="ngModel" required id="email" placeholder="Enter Email" name="parentEmail" [(ngModel)]="admitionn.parentEmail">
          <span *ngIf="parentEmail.invalid && (parentEmail.touched || parentEmail.dirty)" class="text-danger">
            <span class="text-danger" [hidden]="!parentEmail.errors.required" *ngIf="parentEmail.errors && (parentEmail.touched || parentEmail.dirty)">Email
              Required..</span>
            <span class="text-danger" [hidden]="!parentEmail.errors.pattern" *ngIf="parentEmail.errors && (parentEmail.touched || parentEmail.dirty)">Please
              enter a valid email id</span>
          </span>
        </div>
        <div class="form-group col-sm-6">
          <label>Parent Mobile</label>
          <span class="text-danger"> * </span>
          <input class="form-control" type="tel" autocomplete="off" minlength="10" maxlength="10" pattern="((?:6|7|8|9)[0-9])+(?:-?\d){8,15}"
            placeholder=" Enter Mobile Number" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
            #parentMobile="ngModel" required name="parentMobile" style="width:100%; height:2.625em" [(ngModel)]="admitionn.parentMobile">
          <span *ngIf="parentMobile.invalid && (parentMobile.touched || parentMobile.dirty)" class="text-danger">
            <span class="text-danger" [hidden]="!parentMobile.errors.required" *ngIf="parentMobile.errors && (parentMobile.touched || parentMobile.dirty)">Number
              Required..</span>
            <span class="text-danger" [hidden]="!parentMobile.errors.pattern" *ngIf="parentMobile.errors && (parentMobile.touched || parentMobile.dirty)">please
              enter a valid mobile Number(min 10 digits)</span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Branch Name</label>
          <span class="text-danger"> * </span>
          <select class="form-control" #branchId="ngModel" required style="width:100%; height:2.625em" placeholder="type "
            name="branchId" [(ngModel)]="admitionn.branchId" (change)="getAllTraineeFromApplicant()">
            <option value="0" disabled selected>Select Branch Name</option>
            <option *ngFor="let bid of branchList" value="{{bid.branchid}}">{{bid.branchname}}</option>
          </select>
          <span class="text-danger" [hidden]="!branchId.errors.required" *ngIf="branchId.value=='0' && (branchId.touched || branchId.dirty)">Please
            Select Branch Name</span>
          <span class="text-danger" [hidden]="!branchId.errors.required" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Branch
            Required</span>
          <span class="text-danger" [hidden]="!branchId.errors.value" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Please
            Select</span>
        </div>
        <div class="form-group col-sm-6">
          <label>Trainee</label>
          <span class="text-danger"> * </span>
          <select class="form-control" #userId="ngModel" required style="width:100%; height:2.625em" placeholder="type "
            name="userId" [(ngModel)]="admitionn.userId" (change)="getAllFees()">
            <option value="0" disabled selected>Select Trainee</option>
            <option *ngFor="let users of userList" value="{{users.userid}}">{{users.firstname}} {{users.lastname}}</option>
          </select>
          <span class="text-danger" [hidden]="!userId.errors.required" *ngIf="userId.value=='0' && (userId.touched || userId.dirty)">Please
            Select Trainee</span>
          <span class="text-danger" [hidden]="!userId.errors.required" *ngIf="userId.errors && (userId.touched || userId.dirty)">User
            Name Required..</span>
          <span class="text-danger" [hidden]="!userId.errors.value" *ngIf="userId.errors && (userId.touched || userId.dirty)">Please
            Select</span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Fee Name</label>
          <span class="text-danger"> * </span>
          <select class="form-control" #feeId="ngModel" required style="width:100%; height:2.625em" placeholder="type "
            name="feeId" [(ngModel)]="admitionn.feeId" (change)="getAllConcessions()">
            <option value="0" disabled selected>Select Fee Name</option>
            <option *ngFor="let fid of feeList" value="{{fid.id}}">{{fid.feename}} - {{fid.sessionname}}</option>
          </select>
          <span class="text-danger" [hidden]="!feeId.errors.required" *ngIf="feeId.value=='0' && (feeId.touched || feeId.dirty)">Please
            Select Fee Name</span>
          <span class="text-danger" [hidden]="!feeId.errors.required" *ngIf="feeId.errors && (feeId.touched || feeId.dirty)">Fee
            Name
            Required..</span>
          <span class="text-danger" [hidden]="!feeId.errors.value" *ngIf="feeId.errors && (feeId.touched || feeId.dirty)">Please
            Select</span>
        </div>
        <div class="form-group col-sm-6">
          <label>Concession Name</label>
          <span class="text-danger"> * </span>
          <select class="form-control" #consessionid="ngModel" required style="width:100%; height:2.625em" placeholder="type "
            name="concessionId" [(ngModel)]="admitionn.concessionId">
            <option value="0" disabled selected>Select Concession Name</option>
            <option *ngFor="let cid of concessionList" value="{{cid.id}}">{{cid.concessionname}}</option>
          </select>
          <span class="text-danger" [hidden]="!consessionid.errors.required" *ngIf="consessionid.value=='0' && (consessionid.touched || consessionid.dirty)">Please
            Select Concession Name</span>
          <span class="text-danger" [hidden]="!consessionid.errors.required" *ngIf="consessionid.errors && (consessionid.touched || consessionid.dirty)">concession
            Name Required..</span>
          <span class="text-danger" [hidden]="!consessionid.errors.value" *ngIf="consessionid.errors && (consessionid.touched || consessionid.dirty)">Please
            Select</span>
        </div>
      </div>
      <figure>
        <img style="background-color: whitesmoke;border-radius:50%;padding: 1.8%;max-width: 40%;" [src]="image.URL"
          *ngIf="image.URL!=''" alt="Image" />
      </figure>
      <div class="fa fa-user-circle" style="font-size: 650%;background-color: whitesmoke;;padding: 2.5%" *ngIf="image.URL==''">
      </div>
      <div class="elementer">
        <label class="hand-cursor">
          <div class="form-group col-sm-4">
            <input type="file" required #fileUpload="ngModel" id="picUploader" accept="image/gif, image/jpeg, image/png"
              class="form-control" (change)="fileChangeEvent($event)" name="image" [(ngModel)]="admitionn.image">
          </div>
          <i class="fa fa-camera"></i>
        </label>
      </div>
      <div class="form-group" [hidden]="editButton" class="text-center" *ngIf="!admitionn.admissionNum">
        <button type="submit" class="btn btn-primary" [disabled]="!admition.valid||branchId.value==0||userId.value==0||feeId.value==0||consessionid==0"
          (click)="addAdmition()" data-dismiss="modal">Submit</button>
      </div>
      <div *ngIf="read==true && write==true || write==true">
      </div>
      <div class="form-group" class="text-center" [hidden]="!editButton">
        <button type="submit" class="btn btn-primary" (click)="updateAdmissionDetails()" data-dismiss="modal">update</button>
      </div>
    </form>
  </div>
  <div id="viewadm" class="collapse">
    <div>
      <mat-form-field *ngIf="rolename=='SchoolAdmin'">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Branch Name">
      </mat-form-field>
    </div>
    <div *ngIf="rolename=='BranchAdmin'">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Details">
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="ParentEmail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent Email</th>
        <td mat-cell *matCellDef="let row">{{row.parentemail}}</td>
      </ng-container>
      <ng-container matColumnDef="MobileNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Number</th>
        <td mat-cell *matCellDef="let row">{{row.parentmobile}}</td>
      </ng-container>
      <ng-container matColumnDef="UserName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Trainee</th>
        <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
      </ng-container>
      <ng-container matColumnDef="FeeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fee Name</th>
        <td mat-cell *matCellDef="let row">{{row.feename}}</td>
      </ng-container>
      <ng-container matColumnDef="Concessionname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Concession Name</th>
        <td mat-cell *matCellDef="let row">{{row.concessionname}}</td>
      </ng-container>
      <ng-container matColumnDef="branch">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch Name</th>
        <td mat-cell *matCellDef="let row">{{row.branchname}}</td>
      </ng-container>
      <ng-container matColumnDef="Approve">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6 [hidden]="rolename!='Trainee'">Apply TC</h6>
        </th>
        <td *matCellDef="let row">
          <div *ngIf="rolename=='Trainee'">
            <p-toast position="center" key="c" [style]="{marginTop:'1x'}" (onClose)="onReject()" [modal]="true"
              [baseZIndex]="5000">
              <ng-template let-message pTemplate="message">
                <div style="text-align: center">
                  <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                  <h3>{{message.summary}}</h3>
                  <p>{{message.detail}}</p>
                </div>
                <div class="ui-g ui-fluid">
                  <div class="ui-g-6">
                    <button type="button" pButton (click)="applyTransfer()" label="Yes" class="btn btn-success"></button>
                  </div>
                  <div class="ui-g-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="btn btn-danger"></button>
                  </div>
                </div>
              </ng-template>
            </p-toast>
            <div *ngIf="row.admisionstatus=='Active'">
              <button type="button" pButton (click)="showConfirm()" class="ui-button-warning">Apply Tc</button>
            </div>
            <div *ngIf="row.admisionstatus!='Active'">
              {{row.admisionstatus}}
            </div>
          </div>
          <div *ngIf="rolename=='BranchAdmin'">
            <div *ngIf="row.admisionstatus=='ApplyTc'">
              <div>
                <button class='btn btn-success' (click)="acceptTc(row.admissionnum,'Accepted')">Accept Tc</button>
                <button class='btn btn-danger' (click)="acceptTc(row.admissionnum,'Rejected')">Reject Tc</button>
              </div>
            </div>
            <div *ngIf="row.admisionstatus!='ApplyTc'">
              <div>
                {{row.admisionstatus}}
              </div>
            </div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>