<div class="container">
  <div class="jumbotron">
    <h2> Holiday Details </h2>
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-calendar"></i> Holiday
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" *ngIf="read==true && write==true || write==true"
            data-toggle="modal" data-target="#responsive" (click)=getIds()>
            <i class="fa fa-plus-circle"></i>  Add Holiday</a>
          <a class="dropdown-item" href="#viewholi" data-toggle="collapse" role="button"><i class="fa fa-th-list"></i> 
            <span id='showdata'>  View Holiday</span><span id='datahide'>  Hide Holiday</span> 
            </a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Holiday</h4>
          <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #addholidayForm="ngForm">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="dt">Date:</label>
                  <span class="text-warning"> * </span>
                  <div class="form-group">
                    <input class="form-control" required #date="ngModel" placeholder="Date" readonly #drp="bsDaterangepicker"
                      [minDate]="minDate" name="date" bsDaterangepicker [(ngModel)]="holiday.leavesDate" [bsConfig]=" {containerClass: 'theme-dark-blue' } ">
                  </div>
                  <span class="text-warning" [hidden]="!holiday.errors.required" *ngIf="date.errors && (date.touched || date.dirty)">Enter
                    Date
                  </span>
                </div>
                <div class="form-group">
                  <label for="octn">Occasion:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" autocomplete="off" maxlength="50" #occasion="ngModel" pattern="^[^\d\W]+( [^\d\W]+)*$"
                    required name="occasion" [(ngModel)]="holiday.occasion" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32"
                    class="form-control" id="octn" placeholder="occasion">
                  <span class="text-warning" [hidden]="!occasion.errors.required" *ngIf="occasion.errors && (occasion.touched || occasion.dirty)">Enter
                    Occasion
                  </span>
                  <span class="text-warning" *ngIf="occasion.errors?.pattern && (occasion.touched || occasion.dirty)">Enter
                    Valid
                    Occasion
                  </span>
                </div>
                <div class="form-group">
                  <label for="bi">Location:</label>
                  <span class="text-warning"> * </span>
                  <select type="text" autocomplete="off" #branchId="ngModel" required name="branchId" [(ngModel)]="holiday.branchId"
                    class="form-control" id="bi" placeholder="brancid">
                    <option value="0">Select Branch</option>
                    <option *ngFor="let bid of branchList" value="{{bid.branchid}}">{{bid.branchname}}</option>
                  </select>
                  <span class="text-warning" *ngIf="branchId.value=='0' && (branchId.touched || branchId.dirty)">Please
                    Select</span>
                  <span class="text-warning" [hidden]="!branchId.errors.required" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Department
                    Name Required
                  </span>
                </div>
                <div class="form-group" *ngIf="!holiday.Id" class="text-center">
                  <button type="submit" (click)="saveHoliday()" [disabled]="!addholidayForm.valid || branchId.value==0"
                    class="btn btn-primary" data-dismiss="modal">Submit</button>
                </div>
                <div class="form-group" *ngIf="holiday.Id" class="text-center">
                  <button type="submit" (click)="updateHoliday()" class="btn btn-primary" data-dismiss="modal">Update</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div id="viewholi" class="collapse">
      <div *ngIf="rolename=='SchoolAdmin'">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Location">
        </mat-form-field>
      </div>
      <div *ngIf="rolename=='BranchAdmin'">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Holiday Date">
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="HolidayDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Holiday Start Date</th>
          <td mat-cell *matCellDef="let row">{{row.holidaydate|date}}</td>
        </ng-container>
        <ng-container matColumnDef="HolidayEndDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Holiday End Date</th>
          <td mat-cell *matCellDef="let row">{{row.holidayenddate|date}}</td>
        </ng-container>
        <ng-container matColumnDef="Occasion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Occasion</th>
          <td mat-cell *matCellDef="let row">{{row.occation}}</td>
        </ng-container>
        <ng-container matColumnDef="branch">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
          <td mat-cell *matCellDef="let row">{{row.branchname}}</td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span [hidden]="rolename!='BranchAdmin' ">Edit</span></th>
          <td mat-cell *matCellDef="let row">
            <div [hidden]="rolename!='BranchAdmin' " id="Edit" data-toggle="modal" data-target="#responsive" (click)="editHoliday(row.id)">
              <i class="fa fa-pencil-square-o"></i>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span [hidden]="rolename!='BranchAdmin' ">Delete</span>
          </th>
          <td mat-cell *matCellDef="let row">
            <div [hidden]="rolename!='BranchAdmin' " *ngIf="this.date" id="Delete" (click)="deleteHoliday(row.id)">
              <i class="fa fa-trash-o"></i>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="Excel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
                aria-hidden="true"></i>
            </span></th>
          <td mat-cell *matCellDef="let row">
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
    <br><br>
    <p-fullCalendar [events]="branchList" [options]="options"></p-fullCalendar>
    <br />
  </div>
</div>