<div class="container">
  <div class="jumbotron">
    <h2>Shifts</h2>
    
        <div class="dropdown"  class="btn-align">
          <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"><span style="font-size:1em;" class="fa fa-clock-o"></span> Shifts Type
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive"   (click)=getSchoolBranchByIds()><small class="fa fa-plus-circle" ></small>Add</a>
            <a class="dropdown-item" href="#viewplcm" data-toggle="collapse" role="button"><small class="fa fa-th-list" ></small><span id='showdata'>  View </span><span id='datahide'>  Hide </span>  </a>
          </div>
        </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog modal-lg" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h3>Shift Details</h3>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #frm="ngForm">
            <div class="row">
              <div class="form-group col-lg-6">
                <label>Branch:</label>
                <select class="form-control" #branchId="ngModel" required style="width:100%; height:2.625em" placeholder="type "
                  name='branchId' [(ngModel)]="shift.branchId">
                  <option value="0" disabled selected>Select Branch</option>
                  <option *ngFor="let bid of branchList" value="{{bid.branchid}}">{{bid.branchname}}</option>
                </select>
                <span class="text-warning" [hidden]="!branchId.errors.required" *ngIf="branchId.value=='0' && (branchId.touched || branchId.dirty)">Please
                  Select</span>
                <span class="text-warning" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Branch
                  Required
                </span>
              </div>
              <div class="form-group col-lg-6">
                <label>Shift Name:</label>
                <input type="text" #shiftName="ngModel" autocomplete="off" class="form-control" pattern="^[^\d\W]+( [^\d\W]+)*$"
                  placeholder="Enter name" name="shiftName" maxlength="40" [(ngModel)]="shift.shiftName" minlength="3"
                  required  onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32">
                <span class="text-warning" [hidden]="!shiftName.errors.required" *ngIf="shiftName.errors && (shiftName.touched || shiftName.dirty)">Shift
                  Name Required
                </span>
                <span class="text-warning" [hidden]="!shiftName.errors?.pattern" *ngIf="shiftName.errors && (shiftName.touched || shiftName.dirty)">Shift
                  Name Should Be Only Alphabets</span>
                <span class="text-warning" [hidden]="!shiftName.errors?.minlength || shiftName.errors.pattern" *ngIf="shiftName.errors && (shiftName.touched || shiftName.dirty)">Shift
                  Name Should Be Min 3 Characters</span>
              </div>
              <div class="row">
                <div class="form-group col-lg-12">&nbsp;&nbsp;&nbsp;
                  <label>Days Name:</label>
                  <br>&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" #Monday="ngModel" name="Monday" value="Monday" [(ngModel)]="shift.monday" >
                  &nbsp;<label>Monday</label>&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" #Tuesday="ngModel" name="Tuesday" value="Tuesday" [(ngModel)]="shift.tuesday" >&nbsp;<label>Tuesday</label>&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" #Wednesday="ngModel" name="Wednesday" value="Wednesday" [(ngModel)]="shift.wednesday" >&nbsp;<label>Wednesday</label>&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" #Thursday="ngModel" name="Thursday" value="Thursday" [(ngModel)]="shift.thursday" >&nbsp;<label>Thursday</label>&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" #Friday="ngModel" name="Friday" value="Friday" [(ngModel)]="shift.friday" >&nbsp;<label>Friday</label>&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" #Saturday="ngModel" name="Saturday" value="Saturday" [(ngModel)]="shift.saturday" >&nbsp;<label>Saturday</label>&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="checkbox" #Sunday="ngModel" name="Sunday" value="Sunday" [(ngModel)]="shift.sunday" >&nbsp;<label>Sunday</label>
                </div>
              </div>
            <div class="form-group col-lg-8 ">
              <label>Timings:</label>
              <input #timings name="timings" autocomplete="off" required [(ngModel)]="selectedMoments" [selectMode]="'range'"
                     [owlDateTimeTrigger]="dtPicker3" [owlDateTime]="dtPicker3"  >
              <owl-date-time #dtPicker3 [pickerType]="'timer'" ></owl-date-time>
          </div>
              <div class="form-group col-lg-6 ">
                <label>
                  Grace In Time:
                  <input  #graceInTime name="graceInTime" autocomplete="off" required  [(ngModel)]="selectedMoments1" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
                  <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
              </label>
            </div>
            <div class="form-group col-lg-6 ">
              <label>
                Grace out Time:
                <input #graceOutTime name="graceOutTime" autocomplete="off" required  [(ngModel)]="selectedMoments2" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5">
                <owl-date-time [pickerType]="'timer'" #dt5></owl-date-time>
            </label>
            
          </div>
              <div class="form-group col-lg-6 ">
                <input type="checkbox" #optional="ngModel" name="opt" value="true" [(ngModel)]="shift.optional">&nbsp;<label>Optional</label>&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <div class="col-lg-12">
                <div class="text-center">
                  <input type="button" class="btn btn-primary" (click)="addShift(timings.value,graceInTime.value,graceOutTime.value)"  data-dismiss="modal" [disabled]="!frm.valid" value="Submit"
                    *ngIf="!shift.Id">
                </div>
 <div *ngIf="read==true && write==true || write==true">
</div>
                <div class="text-center" *ngIf="shift.Id">
                  <input type="button" class="btn btn-primary" (click)="updateShift(timings.value,graceInTime.value,graceOutTime.value)" value="Update">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<div id="viewplcm" class="collapse">
  <div class="container">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Shifts">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="shiftName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>ShiftName</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.shiftname}}</td>
      </ng-container>
      <ng-container matColumnDef="days">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Days</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.days}}</td>
      </ng-container>
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Start Time</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.starttime}}</td>
      </ng-container>
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>End Time</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.endtime}}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Edit</h6>
        </th>
        <td mat-cell *matCellDef="let row" class="fa fa-pencil-square-o" id="Edit" data-toggle="modal" data-target="#responsive"
          (click)=editShifts(row.shiftid)>
        </td>
      </ng-container>
 <ng-container matColumnDef="Excel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
    </span></th>
    <td mat-cell *matCellDef="let row">
    </td>
  </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
</div>
