<div class="container">
    <div class="row mt-4">
        <div class="col-sm-10">
            <div class="media bg-primary"  *ngFor="let  nm of notificationList">
                <i class="fa fa-bell align-self-center m-2"  style="font-size: 3rem;" aria-hidden="true"></i>
                <div class="media-body bg-light p-4">
                   <div class="row">
                       <div class="col-sm-6">
                           <h5 class="mt-0"></h5>
                       </div>
                       <div class="col-sm-8 text-right">
                       </div>
                   </div>
                  <div style="color:black">{{nm.notificationmessage}}
                </div>              
               </div>
            </div>
        </div>
    </div>
</div>
