<div class="container">
  <div class="jumbotron">
    <h2>Concession Details</h2>
 
    <div class="btn-align">
        <div class="dropdown">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-money"></i>  Concession Type
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" role="button" data-toggle="modal"   data-target="#responsive" (click)=getBranchIds()>
              <i class="fa fa-plus-circle"></i>  Add Concession</a>
            <a class="dropdown-item" href="#viewconcession" data-toggle="collapse" role="button">
              <i class="fa fa-th-list"></i>  View Concession</a>
          </div>
        </div>
      </div>
     </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog modal-lg" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Concessions</h4>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #conc="ngForm">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="branchid">Branch:</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" style="width:100%; height:2.625em" placeholder="contact" name='branchId' id="branchid"
                    [(ngModel)]="concessionnn.branchId" #branchid="ngModel" required>
                    <option value="0" disabled selected>Select Branch Name</option>
                    <option *ngFor="let bL of schoolBranchList" value="{{bL.branchid}}">{{bL.branchname}}</option>
                  </select>
                  <span class="text-warning" [hidden]="!branchid.errors.required" *ngIf="branchid.value=='0' && (branchid.touched || branchid.dirty)">Please
                    Select Branch Name</span>
                  <span class="text-warning" *ngIf="branchid.errors && (branchid.touched || branchid.dirty)" [hidden]="!branchid.errors.required">Branch
                    Required..</span>
                  <span class="text-warning" *ngIf="branchid.errors && (branchid.touched || branchid.dirty)" [hidden]="!branchid.errors.value">Please
                    Select
                  </span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <div>
                    <label> Concession Name:</label>
                    <span class="text-warning"> * </span>
                    <select class="form-control" name="name" (change)="getFeePatternById(concessionname)" [(ngModel)]="concessionnn.name"
                      id="name" placeholder="name" #concessionname="ngModel" required>
                      <option>Select</option>
                      <option *ngFor="let cl of feestructurepatternList" value="{{cl.id}}">{{cl.feepattern}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="details">Concession Details:</label>
                  <span class="text-warning"> * </span>
                  <input class="form-control" type="text" #details="ngModel" pattern="^[^\d\W]+( [^\d\W]+)*$"
                    autocomplete="off" class="form-control" id="details" placeholder="Enter Details" name='details'
                    [(ngModel)]="concessionnn.details" #details="ngModel" required minlength="4" maxlength="100"
                    onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32">
                  <span class="text-warning" [hidden]="!details.errors.pattern" *ngIf="details.errors && (details.touched || details.dirty)">
                    Enter Valid Concession Details</span>
                  <span class="text-warning" [hidden]="!details.errors.required" *ngIf="details.errors && (details.touched || details.dirty)">Concession
                    Details Required</span>
                  <span class="text-warning" [hidden]="!details.errors.minlength || details.errors.pattern" *ngIf="details.errors && (details.touched || details.dirty)">
                    Concession Details is with 3 characters</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="amount">Amount: </label>
                  <input #amount disabled class="form-control" id="amount" name="amount" type="text" *ngFor="let cl of feestructurepatternList1"
                    value="{{cl.amount}}">
                </div>
                <div class="form-group">
                  <label for="crdate">Creation Date:</label>
                  <span class="text-warning"> * </span>
                  <input class="form-control" type="text" readonly bsDatepicker [bsConfig]="bsConfig" [bsConfig]=" {containerClass: 'theme-dark-blue' }"
                    autocomplete="off" style="width:100%; height:2.625em" name='date' [(ngModel)]="concessionnn.date" id="crdate"
                    #crdate="ngModel" required [minDate]="minDate" [maxDate]="maxDate">
                  <span *ngIf="crdate.invalid && (crdate.touched || crdate.dirty)">
                    <span class="text-warning" [hidden]="!crdate.errors.required" *ngIf="crdate.errors && (crdate.touched || crdate.dirty)">Date
                      Required..
                    </span>
                    <span class="text-warning" *ngIf="crdate.value=='Invalid Date'">Only Selection is Allowed</span>
                  </span>
                </div>
              </div>
              <div class="col-lg">
                <div class="form-group">
                  <label for="amount">concession Amount: </label>
                  <span class="text-warning"> * </span>
                  <input class="form-control" type="text" maxlength="12" pattern="[0-9][0-9,.]{0,12}" class="form-control"
                    id="concession" placeholder="Enter amount" name='concession' [(ngModel)]="concessionnn.concession"
                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57) " #concession=ngModel required
                    min=0>
                  <span class="text-warning" [hidden]="!concession.errors.pattern" *ngIf="concession.errors && (concession.touched || concession.dirty)">
                    Enter Valid Concession concession</span>
                  <span class="text-warning" [hidden]="!concession.errors.required" *ngIf="concession.errors && (concession.touched || concession.dirty)">Concession
                    concession Required</span>
                  <span class="text-warning" [hidden]="!concession.errors.minlength || concession.errors.pattern" *ngIf="concession.errors && (concession.touched || concession.dirty)">
                    Concession Details is with 3 characters</span>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="text-center" *ngIf="!concessionnn.Id">
                  <input [disabled]="!conc.form.valid||branchid.value==0" type="button" value="Submit" data-dismiss="modal"
                    [disabled]="!conc.valid" (click)="addConcession(concessionname)" class="btn btn-primary">
                </div>
 <div *ngIf="read==true && write==true || write==true">
</div>
                <div *ngIf="concessionnn.Id" class="text-center">
                  <input type="button" value="Update Concession" (click)="updateConcession()" class="btn btn-primary"
                    data-dismiss="modal">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="viewconcession" class="collapse">
    <div *ngIf="rolename=='SchoolAdmin'">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Branch Name">
      </mat-form-field>
    </div>
    <div *ngIf="rolename=='BranchAdmin'">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Concession Name">
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="BranchName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
        <td mat-cell *matCellDef="let row">{{row.place}}</td>
      </ng-container>
      <ng-container matColumnDef="concessionname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Concession</th>
        <td mat-cell *matCellDef="let row">{{row.concessionname}}</td>
      </ng-container>
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Details</th>
        <td mat-cell *matCellDef="let row">{{row.details}}</td>
      </ng-container>
      <ng-container matColumnDef="concessionfee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Concession</th>
        <td mat-cell *matCellDef="let row">{{row.concession}}</td>
      </ng-container>
      <ng-container matColumnDef="creationdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Creation Date</th>
        <td mat-cell *matCellDef="let row">{{row.creationdate|date}}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="rolename!='Accountant' ">Edit </th>
        <td mat-cell *matCellDef="let row">
          <div [hidden]="rolename!='Accountant' " id="Edit" data-toggle="modal" data-target="#responsive" (click)=editConcession(row.id)><i
              class="fa fa-pencil-square-o"></i></div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
