
<div class="container">
  <div class="jumbotron">
    <h2>Student Placement Allocation</h2>
  
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-trophy"></i>  Student-Placement
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" href="#dem">
            <i class="fa fa-plus"></i>  Student Placement Allocation</a>
        </div>
      </div>
    </div>
  </div>
  <div id="dem" class="collapse">
    <form #frm="ngForm" *ngIf="read==true && write==true || write==true">
      <div class="form-group">
        <label>Batch Name:</label>
        <span class="text-warning"> * </span>
        <select required name="batchId" id="id" class="form-control" [(ngModel)]="alplc.batchId" style="width:50%; height:2.625em"
          #ddlBatchId (change)="getTraineeByBatch(ddlBatchId)">
          <option value="0" disabled selected>Select Batch Name</option>
          <option *ngFor="let bat of batchesList" value="{{bat.id}}">{{bat.batchname}}</option>
        </select>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Trainee:</th>
              <th>Company:</th>
            </tr>
          </thead>
          <tr *ngFor="let stdm of traineeList">
            <td>{{stdm.firstname}} {{stdm.lastname}}</td>
            <td>
              <div class="float-left">
                <select required #placementId="ngModel" name="placementId" id="id" class="form-control" [(ngModel)]="alplc.placementId">
                  <option value="0" disabled selected>Select Company </option>
                  <option *ngFor="let el of plcList" value="{{el.id}}">{{el.name}}</option>
                </select>
              </div>
              <div class="form-group float-left" *ngIf="!alplc.Id">
                <input type="submit" value="Submit" [disabled]="placementId.value==0" (click)="allocPlac(stdm.traineeid,companyname)"
                  class="btn btn-primary">
              </div>
              <div class="form-group float-left" *ngIf="alplc.Id">
                <input type="submit" value="Update" (click)="updAllocPlac()" class="btn btn-primary">
              </div>
              <div *ngIf="read==true && write==true || write==true">
              </div>
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <button id="button-a" class="btn btn-success" (click)="getexcel()"> <span class="example-spacer"></span>Download</button>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Company">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="StudentName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Student</th>
      <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
    </ng-container>
    <ng-container matColumnDef="CompanyName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>
    <ng-container matColumnDef="Designation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
      <td mat-cell *matCellDef="let row">{{row.type}}</td>
    </ng-container>
    <ng-container matColumnDef="StartTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Held On</th>
      <td mat-cell *matCellDef="let row">{{row.starttime|date}}<td>
    </ng-container>
    <ng-container matColumnDef="Package">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Package</th>
      <td mat-cell *matCellDef="let row">{{row.package}}</td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit </th>
      <td mat-cell *matCellDef="let row">
        <div id="Edit" data-toggle="modal" (click)="editAllocPlac(row.id)"><i class="fa fa-pencil-square-o"></i></div>
      </td>
    </ng-container>
    <ng-container matColumnDef="Excel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
            aria-hidden="true"></i>
        </span></th>
      <td mat-cell *matCellDef="let row">
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef='displayedColumns'>
    </tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
  </table>
  <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>