<div class="container">
  <div class="jumbotron">
    <h2>User Transport Payments</h2>
    <hr />
   
    <div class="btn-align">
        <div class="dropdown">
          <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"><i class="fa fa-money">  User Transport Payment</i>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" role="button" data-toggle="modal"  *ngIf="read==true && write==true || write==true"  data-target="#responsive"  (click)=getIds()><small class="fa fa-plus-circle">  Add  UserTransport Payment</small></a>
            <a class="dropdown-item" href="#vieworg" data-toggle="collapse" role="button"   (click)=userTransport() ><small class="fa fa-th-list">   <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span> User Transport</small></a>
          </div>
        </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>User Transport Payments</h4>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #frm="ngForm">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="uid">User:</label>
                  <span class="text-warning"> * </span>
                  <select name="userId" [(ngModel)]="utp.userId" class="form-control" id="uid" #userId="ngModel"
                    (change)="getFee()" required>
                    <option value="0" disabled selected>Select User</option>
                    <option *ngFor="let usl of userStudentList" value="{{usl.id}}">{{usl.firstname}} {{usl.lastname}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Payble Amount:</label>
                  <span class="text-warning"> * </span>
                  <input class="form-control" type="number" class="form-control" [(ngModel)]="payable" name="Payble">
                </div>
                <div class="form-group">
                  <label for="paidamnt">Paid Amount:</label>
                  <span class="text-warning"> * </span>
                  <input type="number" autocomplete="off" name="paidAmount" [(ngModel)]="utp.paidAmount" class="form-control"
                    id="paidamnt" (keyup)="calculateDue()" #paidamnt="ngModel" min=0 required>
                  <span *ngIf="paidamnt.invalid && (paidamnt.touched || paidamnt.dirty)">
                    <span class="text-warning" [hidden]="!paidamnt.errors.required" *ngIf="paidamnt.errors && (paidamnt.touched || paidamnt.dirty)">Paid
                      Amount Required</span>
                  </span>
                </div>
                <div class="form-group">
                  <label id="paiddt">Paid Date:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" readonly autocomplete="off" bsDatepicker [bsConfig]="bsConfig" [bsConfig]=" {containerClass: 'theme-dark-blue' } "
                    bsDatepicker [maxDate]="maxDate" placeholder="Paid Date" name="paidDate" [(ngModel)]="utp.paidDate"
                    class="form-control" id="paiddt" #paiddt="ngModel" required>
                  <span *ngIf="paiddt.invalid && (paiddt.touched || paiddt.dirty)">
                    <span class="text-warning" *ngIf="paiddt.value=='Invalid Date'">Only Selection is Allowed</span>
                    <span class="text-warning" [hidden]="!paiddt.errors.required" *ngIf="paiddt.errors && (paiddt.touched || paiddt.dirty)">Paid
                      Date Required</span>
                  </span>
                </div>
                <div class="form-group">
                  <label for="due">Due:</label>
                  <span class="text-warning"> * </span>
                  <input type="number" min="0" autocomplete="off" name="due" [(ngModel)]="utp.due" class="form-control"
                    placeholder="Due" id="due" #due="ngModel" required>
                  <span *ngIf="due.invalid && (due.touched || due.dirty)">
                    <span class="text-warning" [hidden]="!due.errors.required" *ngIf="due.errors && (due.touched || due.dirty)">Due
                      Amount Required
                    </span>
                  </span>
                </div>
                <div *ngIf="!utp.Id" class=" form-group" class="text-center">
                  <input type="button" class="btn btn-primary" value="Submit" [disabled]="!frm.valid || userId.value==0"
                    data-dismiss="modal" (click)="addUserTransportPayment()">
                </div>
                <div *ngIf="utp.Id" class=" form-group" class="text-center">
                  <input type="button" class="btn btn-primary" value="Update Transport Payment" data-dismiss="modal"
                    (click)="updateUserTransportPayment()">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="usertransport">
      <div class="form-group col-md-5">
          <label>Select Batch</label>
          <span class="text-warning"> * </span>
          <select class="form-control" name="Batch" style="width:100%; height:42px" [(ngModel)]="batchId" (change)="getBatch()">
            <option [ngValue]="undefined" disabled selected>Select</option>
            <option *ngFor="let bl of batchList" value={{bl.id}}>{{bl.batchname}}</option>
          </select>
        </div>
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By User Name">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="UserName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
          <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
        </ng-container>
        <ng-container matColumnDef="PaidAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Paid Amount</th>
          <td mat-cell *matCellDef="let row">{{row.paidamount}}</td>
        </ng-container>
        <ng-container matColumnDef="Due">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Due</th>
          <td mat-cell *matCellDef="let row">{{row.due}}</td>
        </ng-container>
        <ng-container matColumnDef="receipt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Receipt</th>
          <td mat-cell *matCellDef="let row">
            <div data-toggle="modal" data-target="#responsive1">
              <i class="fa fa-money" (click)="getReceipt(row.id) "></i>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="Excel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
                aria-hidden="true"></i>
            </span></th>
          <td mat-cell *matCellDef="let row">
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
    <div id="responsive1" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
      <div class="modal-dialog modal-lg" id="box1">
        <div class="modal-content bigModel">
          <div class="modal-header">
            <h4 style="color: black;text-align: center">Fee receipt</h4>
            <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
              <tr>
                <th>Trainee</th>
                <td *ngFor="let l of receiptList">{{l.firstname}}{{l.lastname}}</td>
              </tr>
              <tr>
                <th>Batch</th>
                <td *ngFor="let l of receiptList">{{l.batchname}}</td>
              </tr>
              <tr>
                <th>Stop</th>
                <td *ngFor="let l of receiptList">{{l.stopname}}</td>
              </tr>
              <tr>
                <th>Total Amount</th>
                <td *ngFor="let l of receiptList">{{l.amount}}</td>
              </tr>
              <tr>
                <th>Paid Amount</th>
                <td *ngFor="let l of receiptList">{{l.paidamount}}</td>
              </tr>
              <tr>
                <th>Paid date</th>
                <td *ngFor="let l of receiptList">{{l.paiddate|date}}</td>
              </tr>
              <tr>
                <th>Due</th>
                <td *ngFor="let l of receiptList">{{l.due}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
