<div class="container">
  <div class="jumbotron">
    <h2>Salary Payments</h2>
    <hr />

    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> <span class="fa fa-money"></span>
          Salarypayment Details
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)=getIds() *ngIf="rolename=='Accountant'"><small
              class="fa fa-plus-circle"> </small> Add Salary Payment</a>
          <a class="dropdown-item" data-toggle="collapse" role="button" (click)="SalaryPaymentComponent()"> <small
              class="fa fa-th-list"> </small> <span *ngIf="show1"> View </span><span *ngIf="!show1"> Hide </span>
            Salarypayment</a>
        </div>
      </div>
    </div>
  </div>
  
</div>
<div class="container">
  <div *ngIf="viewsalarypayment">
    <button id="button-a" class="btn btn-success" (click)="getexcel()"> <span class="example-spacer"></span>Download</button>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Staff">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="StaffName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Staff</th>
        <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
      </ng-container>
      <ng-container matColumnDef="Allowences">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Allowances</th>
        <td mat-cell *matCellDef="let row">{{row.allowances}}</td>
      </ng-container>
      <ng-container matColumnDef="Deductions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Deductions</th>
        <td mat-cell *matCellDef="let row">{{row.deductions}}</td>
      </ng-container>
      <ng-container matColumnDef="Bonus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bonus</th>
        <td mat-cell *matCellDef="let row">{{row.bonus}}</td>
      </ng-container>
      <ng-container matColumnDef="Payable">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Payable</th>
        <td mat-cell *matCellDef="let row">{{row.salary}}</td>
      </ng-container>
      <ng-container matColumnDef="PaidAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Paid Amount</th>
        <td mat-cell *matCellDef="let row">{{row.paidamount}}</td>
      </ng-container>
      <ng-container matColumnDef="Paydate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pay date</th>
        <td mat-cell *matCellDef="let row">{{row.paydate|date}}</td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
  <div class="modal-dialog modal-lg" id="box">
    <div class="modal-content bigModel">
      <div class="modal-header">
        <h4>Salary Payments</h4>
        <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
        </button>
      </div>
      <div class="modal-body">
        <form #addSalarypayment="ngForm" novalidate>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="sid">Select Month</label>
                <span class="text-warning"> * </span>
                <input #month type="month" class="form-control">
              </div>
              <div class="form-group">
                <label for="pam">Paid Amount</label>
                <span class="text-warning"> * </span>
                <input disabled type="number" class="form-control" name="paidAmount" [(ngModel)]="spm.paidAmount" id="pam"
                  placeholder="RS." #pam="ngModel" required min=0 onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                <span [hidden]="!pam.errors.required" class="text-warning" *ngIf="pam.errors && (pam.touched || pam.dirty)">*Paid
                  Amount Required..</span>
              </div>
              <div class="form-group">
                <label for="pbl">Payable</label>
                <span class="text-warning"> * </span>
                <input disabled type="text" autocomplete="off" class="form-control" name="payable" [(ngModel)]="actualSalary"
                  id="payable" placeholder="payable" #payable="ngModel" required onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                <span class="text-warning" *ngIf="payable.value=='Select'">*Please Select</span>
                <span class="text-warning" [hidden]="!payable.errors.required" *ngIf="payable.errors && (payable.touched || payable.dirty)">*Payable
                  Amount Required</span>
              </div>
              <div class="form-group">
                <label for="dtcons">Deductions</label>
                <span class="text-warning"> * </span>
                <input disabled type="number" class="form-control" name="deductions" [(ngModel)]="spm.deductions" id="dtcons"
                  placeholder="RS." #dtcons="ngModel" required min=0 onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                <span class="text-warning" [hidden]="!dtcons.errors.required" *ngIf="dtcons.errors && (dtcons.touched || dtcons.dirty)">*Deductions
                  Amount Required..</span>
              </div>
              <div class="form-group">
                <label for="pad">PayAllowances Deductions</label>
                <span class="text-warning"> * </span>
                <input disabled type="text" autocomplete="off" class="form-control" name="payAllowanceDeductionDetails"
                  [(ngModel)]="spm.payAllowanceDeductionDetails" id="pad" #pad="ngModel" required required minlength="3"
                  required maxlength="40">
                <span class="text-warning" [hidden]="!pad.errors.required" *ngIf="pad.errors && (pad.touched || pad.dirty)">*PayAllowences
                  Deduction Details Required..</span>
                <span class="text-warning" [hidden]="!pad.errors.minlength" *ngIf="pad.errors && (pad.touched || pad.dirty)">*PayAllowences
                  Details Contain 3 Letters..</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="sid">Staff </label>
                <span class="text-warning"> * </span>
                <select class="form-control" name="staffId" [(ngModel)]="spm.staffId" id="sid" (change)="getPaymentByStaff(month)"
                  placeholder="staffid" #staffId="ngModel" required>
                  <option value="0" disabled selected>Select Staff </option>
                  <option *ngFor="let sl of staffList" value="{{sl.id}}">{{sl.firstname}} {{sl.lastname}}</option>
                </select>
                <span class="text-warning" *ngIf="staffId.value=='Select'">*Please Select</span>
                <span [hidden]="!staffId.errors.required" class="text-warning" *ngIf="staffId.errors && (staffId.touched || staffId.dirty)">*Staff
                  Required..</span>
                <span [hidden]="!staffId.errors.value" class="text-warning" *ngIf="staffId.errors && (staffId.touched || staffId.dirty)">*Please
                  Select
                </span>
              </div>
              <div class="form-group">
                <label for="pdt">Pay Date:</label>
                <span class="text-warning"> * </span>
                <input disabled type="text" autocomplete="off" class="form-control" name="payDate" [(ngModel)]="spm.payDate"
                  id="pdt" placeholder="date" #payDate="ngModel" required>
                <span class="text-warning" [hidden]="!payDate.errors.required" *ngIf="payDate.errors && (payDate.touched || payDate.dirty)">*Payment
                  Date Required</span>
                <span class="text-warning" *ngIf="payDate.value=='Invalid Date'">Only Selection is Allowed</span>
              </div>
              <div class="form-group">
                <label for="alwns">Allowances</label>
                <span class="text-warning"> * </span>
                <input disabled type="number" class="form-control" name="allowances" [(ngModel)]="spm.allowances" id="alwns"
                  placeholder="RS." #allowances="ngModel" required min=0 onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                <span class="text-warning" [hidden]="!allowances.errors.required" class="text-warning" *ngIf="allowances.errors && (allowances.touched || allowances.dirty)">*Allowances
                  Amount Required..</span>
              </div>
              <div class="form-group">
                <label for="BNS">Bonus</label>
                <span class="text-warning"> * </span>
                <input disabled type="number" class="form-control" name="bouns" [(ngModel)]="spm.bonus" id="bns"
                  placeholder="RS." #BNS="ngModel" required min=0 onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                <span class="text-warning" [hidden]="!BNS.errors.required" *ngIf="BNS.errors && (BNS.touched || BNS.dirty)">*Bonus
                  Amount Required..</span>
              </div>
              <div class="form-group">
                <label for="rmks">Remarks</label>
                <span class="text-warning"> * </span>
                <input type="textarea" autocomplete="off" class="form-control" name="remarks" pattern="^[^\d\W]+( [^\d\W]+)*$"
                  [(ngModel)]="spm.remarks" id="rmks" placeholder="Remarks" #rmks="ngModel" required required
                  minlength="3" required maxlength="40" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32">
                <span class="text-warning" [hidden]="!rmks.errors.required" *ngIf="rmks.errors && (rmks.touched || rmks.dirty)">*Remarks
                  Required
                </span>
                <span class="text-warning" [hidden]="!rmks.errors.minlength" *ngIf="rmks.errors && (rmks.touched || rmks.dirty)">*Remarks
                  Contain Atleast 3 Letters</span>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" (click)="addSalaryPayment()" [disabled]="!addSalarypayment.valid" class="btn btn-primary"
              data-dismiss="modal">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>