<div class="container">
<div class="jumbotron">
  <h2>Achievements</h2>
  <hr/>
  
      <div class="btn-align">
          <div class="dropdown">
            <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> <span style="font-size:1em;"class="fa fa-trophy"></span>  Achievements
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" role="button" data-toggle="modal" (click)=getIds() data-target="#responsive"><small class="fa fa-plus-circle"></small>  Add Achievements</a>
              <a class="dropdown-item"  data-toggle="collapse" role="button" (click)="viewAchievements()"> <small class="fa fa-th-list"></small> <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span>  Achievements</a>
              <a class="dropdown-item" href="#viewachiv" data-toggle="collapse" role="button"><small class="fa fa-th-list"></small>  <span id='showdata'>  View </span><span id='datahide'>  Hide </span>    All</a>
            </div>
          </div>   
          </div>
</div>
<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
  <div class="modal-dialog" id="box">
    <div class="modal-content bigModel">
      <div class="modal-header">
        <h4>Achievements:</h4>
        <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
        </button>
      </div>
      <div class="modal-body">
        <form #achievementsForm="ngForm">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Select: </label> &nbsp;
                <input type="radio" value="faculty" name="select" (change)="showTrainer()" [(ngModel)]="showFilter" style="color:white"> Trainer &nbsp;
                <input type="radio" value="student" name="select" (change)="showTrainer()" [(ngModel)]="showFilter" style="color:white"> Trainee
              </div>
              <div class=" form-group">
                <label>User Name:</label>
                <span class="text-warning"> * </span>
                <select class=" form-control" #userId="ngModel" required style="width:100%; height:42px " placeholder="type"
                  name="userId" [(ngModel)]="achievements.userId">
                  <option value="0" disabled selected>Select User Name</option>
                  <option *ngFor="let usl of selectList" value="{{usl.userid}}">{{usl.firstname}} {{usl.lastname}}</option>
                </select>
                <span class="text-warning" *ngIf="userId.value=='Select'">*Please Select</span>
                <span class="text-warning" [hidden]="!userId.errors.required" *ngIf="userId.errors && (userId.touched || userId.dirty)">userName
                  Required..
                </span>
                <span class="text-warning" [hidden]="!userId.errors.value" *ngIf="userId.errors && (userId.touched || userId.dirty)">Please
                  Select
                </span>
              </div>
              <div class="form-group ">
                <label for="name ">Description:</label>
                <span class="text-warning"> * </span>
                <textarea autocomplete="off" required style="resize:none" pattern="^[^\d\W]+( [^\d\W]+)*$" minlength="4"
                  maxlength="100" #description="ngModel" class="form-control " id="description" placeholder="Enter Description "
                  name="description" [(ngModel)]="achievements.description "></textarea>
                <span class="text-warning" [hidden]="!description.errors.required" *ngIf="description.errors && (description.touched || description.dirty)">Enter
                  Description
                </span>
                <span class="text-warning" *ngIf="description.errors?.pattern && (description.touched || description.dirty)">Enter
                  Valid
                  Description
                </span>
              </div>
              <div class="form-group ">
                <label for="pay ">Achievement date:</label>
                <span class="text-warning"> * </span>
                <input class="form-control" readonly placeholder="MM/DD/YYYY" bsDatepicker [bsConfig]="bsConfig"
                  [bsConfig]=" {containerClass: 'theme-dark-blue' }" type="text" autocomplete="off" [minDate]="minDate"
                  [maxDate]="maxDate" #achievementDate="ngModel" required name="achievementDate" style="width:100%; height:42px "
                  [(ngModel)]="achievements.achievementDate ">
                <span class="text-warning" *ngIf="achievementDate.value=='Invalid Date'">Only Selection is Allowed</span>
                <span class="text-warning" *ngIf="achievementDate.errors && (achievementDate.touched || achievementDate.dirty)">Enter
                  achievement Date</span>
              </div>
              <figure>
                <img style="background-color: whitesmoke;border-radius:50%;padding: 1.8%;max-width: 40%;" [src]="image.URL"
                  *ngIf="image.URL!=''" alt="Image"/>
              </figure>
              <div>
                <div class="fa fa-trophy" style="font-size: 350%;background-color: whitesmoke;border-radius:48%;padding: 1.8%"
                  *ngIf="image.URL==''" >
                </div>
                <div class="elementer">
                  <label class="hand-cursor">
                    <div class="form-group col-sm-4">
                      <input type="file" required #fileUpload="ngModel" id="picUploader" accept="image/gif, image/jpeg, image/png"
                        class="form-control" (change)="fileChangeEvent($event)" name="fileUpload" [(ngModel)]="achievements.image">
                    </div>
                    <i class="fa fa-camera"></i>
                  </label>
                </div>
              </div>
              <div class="form-group" class="text-center" *ngIf="!achievements.Id">
                <button type="submit " [disabled]="userId.value==0" (click)="addAchievement()" data-dismiss="modal"
                  class="btn btn-primary">Submit</button>
              </div>                             
 <div *ngIf="read==true && write==true || write==true">
</div>
              <div class="form-group" class="text-center" *ngIf="achievements.Id">
                <button type="submit" class="btn btn-primary" (click)="updateAchievementDetails()" data-dismiss="modal"
                  class="text-center">Update</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div>
  <div id="viewachiv" class="collapse">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSources" matSort>
      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
        <td mat-cell *matCellDef="let row">{{row.description}}</td>
      </ng-container>
      <ng-container matColumnDef="AchievementDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Achievement Date</th>
        <td mat-cell *matCellDef="let row">{{row.achievementdate}}</td>
      </ng-container>
      <ng-container matColumnDef="Image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
        <td mat-cell *matCellDef="let row">
          <div>
            <img src="{{myurl+'/Misc/Images/achievements/'+row.id}}" width="100px" height="100px" alt="Image"/>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="rolename =='Student'|| rolename =='SchoolAdmin'||rolename =='Accountant'">Edit
        </th>
        <td mat-cell *matCellDef="let row">
          <div [hidden]="rolename =='Student'||rolename =='SchoolAdmin' || rolename =='Accountant'" id="Edit"
            data-toggle="modal" data-target="#responsive" (click)="editAchievement(row.id)"><i class="fa fa-pencil-square-o"></i></div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
<div *ngIf="!show ">
  <div *ngFor="let asl of achievementSingleList">
    <h2>{{asl.userId}}</h2>
    <h2>{{asl.fname}}</h2>
    <h2>{{asl.mname}}</h2>
    <h2>{{asl.lname}}</h2>
    <h2>{{asl.description}}</h2>
  </div>
</div>
</div>
