<div class="container">
  <div class="jumbotron">
      <h2>Salary Hike Dashboard</h2>
      <hr/>

    <div class="btn-align">
        <div class="dropdown">
          <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> <span  class="fa fa-money"></span> SalaryHike Details
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)="getIds()" *ngIf="read==true && write==true || write==true" >  Add Salary Hike/Bonus</a>
            <a class="dropdown-item" role="button" data-toggle="collapse" href="#viewall"><i class="fa fa-th-list">  </i><span id='showdata1'>  View All</span><span id='datahide1'>  Hide All</span></a>
            <a class="dropdown-item" role="button" data-toggle="modal" href="#View"><i class="fa fa-th-list"> </i><span id='showdata2'>  View </span><span id='datahide2'>  Hide</span></a>
          </div>
        </div>
        </div>
</div>
<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
  <div class="modal-dialog" id="box">
    <div class="modal-content bigModel">
      <div class="modal-header">
        <h4>Salary-Hike</h4>
        <button type="button" class="close btn-danger"  style="color:white;"  data-dismiss="modal">X
        </button>
      </div>
      <div class="modal-body">
        <form #salaryhike="ngForm" novalidate>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group ">
                <label>Select Type of Hike<br><br>
                <input type="radio" name="hike" value="HIKE" [(ngModel)]="salary.type">Hike &nbsp;&nbsp;
                <input type="radio" name="hike" value="BONUS" [(ngModel)]="salary.type">Bonus
              </label><br>
                <label for="staffid">Staff</label>
                <span class="text-warning"> * </span>
                <select style="width:100%; height:2.625em" type="text" required class="form-control" #staffId="ngModel" [(ngModel)]="salary.staffId"
                  name="staffId">
                  <option value="0" disabled selected> Select Staff</option>
                  <option *ngFor="let staff of staffdetail" value={{staff.id}}>{{staff.firstname}}</option>
                </select>
                <span class="text-warning" *ngIf="staffId.value=='Select'">Please Select</span>
                <span class="text-warning" [hidden]="!staffId.errors.required" *ngIf="staffId.errors && (staffId.touched || staffId.dirty)">
                  staff Required </span>
                <span [hidden]="!staffId.errors.value" class="text-warning" *ngIf="staffId.errors && (staffId.touched ||staffId .dirty)">Please
                  Select
                </span>
                <div class="form-group">
                  <label for="hdt">Date:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" readonly autocomplete="off" placeholder="Date" [minDate]="minDate" [maxDate]="maxDate" bsDatepicker [bsConfig]="{containerClass: 'theme-dark-blue' }"
                    class="form-control" required name="hikeDate" #hikeDate="ngModel"  [(ngModel)]="salary.hikeDate"
                    placeholder="Hike Date" >
                    <span class="text-warning" [hidden]="!hikeDate.errors.required" *ngIf="hikeDate.errors && (hikeDate.touched || hikeDate.dirty)">Please
                      Select Hike Date</span>
                    <span class="text-warning" *ngIf="hikeDate.value=='Invalid Date'">Only Selection is Allowed</span>
                </div>
                <div class="form-group">
                  <label for="incmt">Increment(%):</label>
                  <span class="text-warning"> * </span>
                  <input type="text" class="form-control" maxlength="8" placeholder="Enter Increment" #increment="ngModel" [(ngModel)]="salary.increment" maxlength="8" name="increment"  onkeypress="return  event.charCode >= 48 && event.charCode <= 57"
                    id="incmt" min="1" max="3" pattern="^([0-9]{1,2}([\.][0-9]{1,})?$|100([\.][0]{1,})?)$" required>
                  <span class="text-warning" [hidden]="!increment.errors.required" *ngIf="increment.errors && (increment.touched || increment.dirty)">Increment
                    Amount Required</span>
                  <span class="text-warning" [hidden]="!increment.errors.maxlength" *ngIf="increment.errors && (increment.touched || increment.dirty)">Limit
                    Exceeded More than 100%
                  </span>
                  <span class="text-warning" [hidden]="!increment.errors.pattern" *ngIf="increment.errors && (increment.touched || increment.dirty)">Special Characters not allowed
                  </span>
                </div>
                <div class="text-center">
                  <button type="submit" (click)="addSalaryHike()" [disabled]="!salaryhike.valid || staffId.value==0" data-dismiss="modal" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div>
  <div id="viewall" class="collapse">
      <button id="button-a" class="btn btn-success"  (click)="getexcel()"> <span class="example-spacer"></span>Download</button>
<div>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Staff Name">
      </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="StaffName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Staff</th>
            <td mat-cell *matCellDef="let row">{{row.firstname}}  {{row.lastname}}</td>
          </ng-container>
          <ng-container matColumnDef="HikeDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hike Date</th>
            <td mat-cell *matCellDef="let row">{{row.hikedate | date}}</td>
          </ng-container>
          <ng-container matColumnDef="Increment">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Increment</th>
              <td mat-cell *matCellDef="let row">{{row.increment}}</td>
            </ng-container>
            <ng-container matColumnDef="mail">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Send Hike Letter</th>
              <td mat-cell *matCellDef="let row">
                <div >
                <a  [hidden]="row.hikemailstatus!='Pending'" (click)="sendHikeLetter(row.userid,row.id)" class="fa fa-envelope-o"
                  style="font-size:1.5em;"></a>
                <a *ngIf="row.hikemailstatus=='Sent'" class="fa fa-envelope-open"
                  style="color:green;font-size:1.5em;"></a>
                <a *ngIf="row.hikemailstatus=='Inactive'" class="fa fa-envelope-open-o"
                  style="color:red;font-size:1.5em;"></a>
              </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="Excel">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
                </span></th>
                <td mat-cell *matCellDef="let row">
                </td>
              </ng-container>
          <tr mat-header-row *matHeaderRowDef='displayedColumns'>
          </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>  
        </table>
        <mat-paginator [length]="100"  #paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
</div>
  </div>
<div>
  <div id="View" class="collapse">
<table class="table">
  <h2>Salary Hike Transactions</h2>
  <tr>
    <th>Salary Increment</th>
  </tr>
  <tr *ngFor="let sh of salaryHiketransactionList">
    <td>
      {{sh.increment}}
    </td>
  </tr>
</table>
</div>
</div>
</div>
</div>
