/*Table of Contents
/*Table of Contents
01 body
02 Helper Classes
   02-1 short codes
03 navigation
   03-1 side menu
04 owl carousel
05 revolution slider
06 half-section
07 page-header
08 work process
09 our team
10 gallery portfolio
11 mobile apps & features
12 Counters
13 pricings
14 background parallax
15 Testimonials
16 Partner
17 our blog
   17-1 sidebar
   17-2 widgets
18 Ccntact US
19 404 error
20 Accordions 
21 footer
22 preloader


/*Table Of Contents ends */





/*-------------------------------*/
    /* Gallery Portfolio */
/*-------------------------------*/
/*filters*/
.cbp-l-filters .cbp-filter-item {
   cursor: pointer;
   margin: 0 .2rem;
   display: inline-block;
}
.cbp-l-filters .cbp-filter-item span {
   color: #b7b7b7;
   display: inline-block;
   font-size: 14px;
   font-weight: bold;
   text-transform: capitalize;
   position: relative;
   padding: 5px 1.125rem;
   -webkit-border-radius: 20px;
   border-radius: 20px;
   border: 1px solid #b7b7b7;
}
.cbp-l-filters .cbp-filter-item-active {
   cursor: default;
}
.cbp-l-filters .cbp-filter-item:hover span {
    border: 1px solid #643094;
   color: #fff;
   background: #643094;
}
.cbp-l-filters .cbp-filter-item-active span,
.cbp-l-filters .cbp-filter-item:focus span {
   border: 1px solid #00bcd4;
   color: #fff;
   background: #00bcd4;
}
#portfolio_top {
   position: relative;
   overflow: hidden;
}
#portfolio_top::before,
#portfolio_top::after {
   content: '';
   position: absolute;
   left: 0;
   right: 0;
   background: #fff;
   height: 90px;
   width: 100%;
}
#portfolio_top::before {
   top: 0;
}
#portfolio_top::after {
   bottom: 0;
}
.text_wrap {
   padding: 50px 2rem 0.5rem 2rem;
}
.itemshadow .cbp-item-wrapper {
   -webkit-box-shadow: 0 0 4px 1px rgba(101, 101, 101, 0.2);
   box-shadow: 0 0 4px 1px rgba(101, 101, 101, 0.2);
   padding-bottom: 2px;
   padding-top: 5px;
}
.border-portfolio .cbp-item img {
   border: 20px solid #fff;
}
.bottom-text {
   display: table;
}
.bottom-text > .cells {
   display: table-cell;
   vertical-align: middle;
   padding: 15px;
}
.bottom-text p {
   font-size: 15px;
   margin-bottom: 0;
}
.bottom-text .port_head {
   font-weight: bold;
   font-size: 5.625rem;
   line-height: 1;
   font-family: 'Open Sans', sans-serif;
}

/*Overlays*/
.overlay {
   position: absolute;
   left: 20px; top: 20px;
   right: 20px; bottom: 20px;
   opacity: 0;
   visibility: hidden;
   z-index: 1;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   background: rgba(0, 207, 204, .9);
   -webkit-transition: all .5s ease-in .1s;
   -o-transition: all .5s ease-in .1s;
   transition: all .5s ease-in .1s;
}
.simple_overlay .overlay{
   -webkit-border-radius: 0;
   border-radius: 0;
}
.dark_overlay .overlay {
   background: rgba(33,35,49, .9);
}
.cbp-item:hover .overlay,
.cbp-item:focus .overlay {
	opacity: 1; visibility: visible;
   -webkit-border-radius: 0;
   border-radius: 0;
}
.cbp-item:hover .overlay{
   opacity: 1; visibility: visible;
}
.overlay > .plus{
   display: inline-block;
   height: 70px;
   width: 70px;
   position: relative;
   overflow: hidden;
}
.overlay > .plus::before,
.overlay > .plus::after {
   content: " ";
   position: absolute;
   background: #fff;
}
.overlay > .plus::after {
  height: 2px;
  margin-top: -1px;
  top: 50%;
  left: 5px;
  right: 5px;
}
.overlay > .plus::before {
  width: 2px;
  margin-left: -1px;
  left: 50%;
  top: 5px;
  bottom: 5px;
}
.overlay p {
   font-size: 13px;
}
.gradient_text {
	background: -webkit-gradient(linear,left top, right top,from(#00e3ce) , to(#00abc9));
	background: -webkit-linear-gradient(left,#00e3ce , #00abc9);
	background: -o-linear-gradient(left,#00e3ce , #00abc9);
	background: linear-gradient(90deg,#00e3ce , #00abc9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.single-items {
   background-attachment: fixed;
   background-position: center center;
   -webkit-background-size: cover;
   background-size: cover;
   position: relative;
   width: 100%;
}

@media (max-width: 768px) {
   #portfolio_top::after {
      background: inherit;
   }
   .bottom-text > .cells {
      display: table;
   }
}

@media (max-width: 767px) {
   #portfolio_top::before {
      display: none;
   }
   #portfolio_top .text_wrap {
      padding-top: 0;
   }
   #portfolio_top .bottom-text {
      text-align: center;
      display: block;
   }
   .bottom-text > .cells {
      display: inline-block;
      width: 100%;
      padding: 30px 15px;
   }

}



/*-------------------------------*/
    /*Gallery ends */
/*-------------------------------*/




