<div class="container">
  <div class="jumbotron">
    <h2>Time Table</h2>
    <hr />
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-calendar"></i>  Time-Table
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)=getIds() *ngIf="read==true && write==true || write==true">
            <i class="fa fa-plus-circle"></i>  Add Time Table</a>
          <a class="dropdown-item"  data-toggle="collapse" role="button" (click)=viewTimeTable()>
            <i class="fa fa-th-list"></i>  <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span> Timetable</a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>TimeTable</h4>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #timtable="ngForm" novalidate>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="batchId">Batch Name:</label>
                  <span class="text-warning"> * </span>
                  <select placeholder="Batchid" class="form-control" style="width:100%; height: 3em;" id="batchId" name='batchId'
                    [(ngModel)]="timetableAddObj.batchId" #batchId="ngModel" required>
                    <option value="0" disabled selected>Select Batch Name</option>
                    <option *ngFor='let b of batchList' value='{{b.id}}'>{{b.batchname}}</option>
                  </select>
                  <span class="text-warning" [hidden]="!batchId.errors.required" *ngIf="batchId.value=='0' && (batchId.touched || batchId.dirty)">*Please
                    Select Batch Name</span>
                  <span class="text-warning" *ngIf="batchId.errors && (batchId.touched || batchId.dirty)" [hidden]="!batchId.errors.required"
                    class="text text-warning">Batch Name Required</span>
                  <span class="text-warning" *ngIf="batchId.errors&& (batchId.touched || batchId.dirty)" [hidden]="!batchId.errors.value"
                    class="text text-warning">Please
                    Select
                  </span>
                </div>
                <div class="form-group">
                  <label>Type:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" class="form-control" autocomplete="off" style="width:100%; height:2.625em" id="type"
                    placeholder="Enter Type " onkeypress="return (event.charCode >= 65 && event.charCode <= 90)||(event.charCode >= 97 && event.charCode <= 122)|| event.charCode==32"
                    name='type' [(ngModel)]="timetableAddObj.type" #type="ngModel" pattern="^[^\d\W]+( [^\d\W]+)*$"
                    minlength="2" maxlength="20">
                  <span *ngIf="type.invalid && (type.touched || type.dirty)">
                    <span class="text-warning" [hidden]="!type.errors.required" *ngIf="type.errors && (type.touched || type.dirty)"
                      class="text text-warning">Type
                      Required
                    </span>
                    <span class="text-warning" [hidden]="!type.errors.pattern" *ngIf="type.errors && (type.touched || type.dirty)"
                      class="text text-warning">Type
                      Should Be Only In Alphabets</span>
                    <span class="text-warning" [hidden]="!type.errors.minlength || type.errors.pattern" *ngIf="type.errors && (type.touched || type.dirty)"
                      class="text text-warning">Type
                      Should Be Min 2 Characters</span>
                  </span>
                </div>
                <div class="form-group">
                  <label>Remarks:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" autocomplete="off" name="remarks" id="remarks" placeholder="Enter Remarks" class="form-control"
                    [(ngModel)]="timetableAddObj.remarks" #remarks="ngModel" requiredpattern="^[^\d\W]+( [^\d\W]+)*$"
                    minlength="3" maxlength="50" onkeypress="return (event.charCode >= 65 && event.charCode <= 90)||(event.charCode >= 97 && event.charCode <= 122)|| event.charCode==32">
                  <span *ngIf="type.invalid && (remarks.touched || remarks.dirty)">
                    <span class="text-warning" [hidden]="!remarks.errors.required" *ngIf="remarks.errors && (remarks.touched || remarks.dirty)"
                      class="text text-warning">Remarks Required</span>
                    <span class="text-warning" [hidden]="!remarks.errors.pattern" *ngIf="remarks.errors && (remarks.touched || remarks.dirty)"
                      class="text text-warning">Remarks Should Be Only In Alphabets</span>
                    <span class="text-warning" [hidden]="!remarks.errors.minlength || remarks.errors.pattern" *ngIf="remarks.errors && (remarks.touched || remarks.dirty)"
                      class="text text-warning">Remarks Should Be Min 3 Chars</span>
                  </span>
                </div>
                <div class="fa fa-file-pdf-o" style="font-size: 650%;background-color: whitesmoke;border-radius:58%;padding: 4%">
                </div>
                <div class="elementer">
                  <label class="hand-cursor">
                    <div class="form-group col-sm-4">
                      <input type="file" id="container" accept="application/pdf" class="form-control" (change)="fileChangeEvent($event)"
                        placeholder="Upload file..." name="fileUpload" [(ngModel)]="timetableAddObj.fileUpload" />
                    </div>
                    <i class="fa fa-camera"></i>
                  </label>
                </div>
                <div class="text-center" *ngIf="!timetableAddObj.Id">
                  <input type="button" class="btn btn-primary" [disabled]="!timtable.valid||batchId.value==0"
                    data-dismiss="modal" value="Submit" (click)="addTimeTable()">
                </div>
                <div class="text-center" *ngIf="timetableAddObj.Id">
                  <input type="button" class="btn btn-primary" style="width:100%;height: 3em;" data-dismiss="modal"
                    value="Update" (click)="updateTimeTable()">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="viewTimetable">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Batch Name">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="BatchName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Batch Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <ng-container matColumnDef="ClassName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Session Name</th>
        <td mat-cell *matCellDef="let row">{{row.sessionname}}</td>
      </ng-container>
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
        <td mat-cell *matCellDef="let row">{{row.type}}</td>
      </ng-container>
      <ng-container matColumnDef="Remarks">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks</th>
        <td mat-cell *matCellDef="let row">{{row.remarks}}</td>
      </ng-container>
      <ng-container matColumnDef="download">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Download</th>
        <td mat-cell *matCellDef="let row">
          <div>
            <a href="{{myurl+'/Misc/Files/timetable/'+row.id}}" class="fa fa-download"></a>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="rolename!='BranchAdmin' ">Edit <th>>
        <td mat-cell *matCellDef="let row">
          <div [hidden]="rolename!='BranchAdmin'" id="Edit" data-toggle="modal" data-target="#responsive" (click)="editTimeTable(row.id)">
            <i class="fa fa-pencil-square-o"></i></div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>