<div class="container">
  <div class="jumbotron">
    <h2>Transfer</h2>
    <hr />
   
    <div style="width:100%;text-align:right;">
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> <span style="font-size:1em;"
            class="fa fa-fa-fa-exchange"></span> Transfer
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" *ngIf="approveStudentList.status=='Approve'" role="button" data-toggle="modal"
            data-target="#responsive" (click)=getIds()><small class="fa fa-plus-circle"></small> Apply Transfer</a>
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive3"><small class="fa fa-th-list"></small>
            <span id='showdata'>  View </span><span id='datahide'>  Hide </span>    Tc Requests</a>
          <a class="dropdown-item" data-target="#responsive4" data-toggle="collapse" role="button"><small class="fa fa-th-list"></small>
            <span id='showdata'>  View </span><span id='datahide'>  Hide </span>    Tc Accepts </a>
          <a class="dropdown-item" role="button" data-toggle="modal" href="#viewreq"><small class="fa fa-th-list"></small>
            <span id='showdata'>  View </span><span id='datahide'>  Hide </span>   Requests</a>
          <a class="dropdown-item" href="#viewaccp" data-toggle="collapse" role="button"><small class="fa fa-th-list"></small>
            <span id='showdata'>  View </span><span id='datahide'>  Hide </span>    accepts</a>
        </div>
      </div>
 
    <div class="dropdown">
      <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"><small class="fa fa-th-list"></small>
        View Tc Requests
      </button>
      <div class="dropdown-menu">
      </div>
    </div>
    </div>
    </div>
    <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
      <div class="modal-dialog modal-lg" id="box">
        <div class="modal-content bigModel">
          <div class="modal-header">
            <h3>Transfer Details</h3>
            <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
            </button>
          </div>
          <div class="modal-body">
            <form #addtransfer="ngForm">
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-lg-3">
                      <label class="studentname">Organization Name :</label> </div>
                    <div class="col-lg-9">
                      <select class="form-control" #schoolId="ngModel" (change)="getBranches(schoolId.value)" required
                        style="width:100%; height:2.625em" placeholder="type " name='schoolId' [(ngModel)]="transfer.organizationId">
                        <option value="0" disabled selected>Select Organization Name</option>
                        <option *ngFor="let sl of schoolList" value="{{sl.id}}">{{sl.name}}</option>
                      </select>
                      <span class="text-warning" *ngIf="schoolId.value=='Select'">*Please Select</span>
                      <span class="text-warning" *ngIf="schoolId.errors && (schoolId.touched || schoolId.dirty)">*Trainee
                        Name Required
                      </span>
                    </div>
                  </div>
                </div><br><br>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Branch Name:</label>
                    <span class="text-warning"> * </span>
                    <select class="form-control" #branchId="ngModel" (change)="getClasses(branchId.value)" required
                      style="width:100%; height:2.625em" placeholder="type " name='branchId' [(ngModel)]="transfer.branchId">
                      <option value="0" disabled selected>Select Branch Name</option>
                      <option *ngFor="let abl of allBranchList" value="{{abl.branchid}}">{{abl.branchname}}</option>
                    </select>
                    <span class="text-warning" *ngIf="branchId.value=='Select'">*Please Select</span>
                    <span class="text-warning" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">*Branch
                      Name Required
                    </span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Session Name:</label>
                    <span class="text-warning"> * </span>
                    <select class="form-control" #classId="ngModel" required style="width:100%; height:2.625em"
                      placeholder="type " name='classId' [(ngModel)]="transfer.sessionId">
                      <option value="0" disabled selected>Select Session Name</option>
                      <option *ngFor="let cl of allClassList" value="{{cl.classid}}">{{cl.classname}}</option>
                    </select>
                    <span class="text-warning" *ngIf="classId.value=='Select'">*Please Select</span>
                    <span class="text-warning" *ngIf="classId.errors && (classId.touched || classId.dirty)">*Branch
                      Name Required
                    </span>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary" [disabled]="!addtransfer.valid||branchId.valid==0||classId.valid==0"
                  value="submit" (click)="addTransfer()">Apply Transfer</button>
              </div>
              <div *ngIf="read==true && write==true || write==true">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="viewreq" class="collapse">
      <div id="responsive3" *ngIf="rolename=='BranchAdmin'">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Student">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <h6>Trainee Name </h6>
            </th>
            <td mat-cell *matCellDef="let row">{{row.firstname}}</td>
          </ng-container>
          <ng-container matColumnDef="classname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <h6>Session Name</h6>
            </th>
            <td mat-cell *matCellDef="let row">{{row.classname}}</td>
          </ng-container>
          <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <h6>Parent Mobile</h6>
            </th>
            <td mat-cell *matCellDef="let row">{{row.mobile}}</td>
          </ng-container>
          <ng-container matColumnDef="Approve">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <h6>Approve</h6>
            </th>
            <td *matCellDef="let row">
              <div> <button *ngIf="row.status=='Applied'" (click)="approveTransfer(row.transferid)">Approve transfer</button>
                <button class="fa fa-check" *ngIf="row.status=='undefined'||row.status=='Approve'||row.status=='Accept'"
                  style="color:green;font-size:1.25em;" (click)="approveTransfer(row.transferid)" pButton type="button"
                  icon="pi pi-check" iconPos="left" disabled></button>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="Excel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
                  aria-hidden="true"></i>
              </span></th>
            <td mat-cell *matCellDef="let row">
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef='displayedColumns'>
          </tr>
          <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
        </table>
        <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>
    <div id="viewaccp" class="collapse">
      <div id="responsive4" *ngIf="rolename=='BranchAdmin'">
        <mat-form-field>
          <input matInput (keyup)="applyFilter1($event.target.value)" placeholder="Enter Student Name">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource1" matSort>
          <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <h6>Trainee Name </h6>
            </th>
            <td mat-cell *matCellDef="let row">{{row.firstname}}</td>
          </ng-container>
          <ng-container matColumnDef="classname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <h6>Session Name</h6>
            </th>
            <td mat-cell *matCellDef="let row">{{row.classname}}</td>
          </ng-container>
          <ng-container matColumnDef="Approve">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <h6>Approve</h6>
            </th>
            <td *matCellDef="let row">
              <div> <button *ngIf="row.statuss!='Accept'" (click)="acceptApply(row.transferid)">Accept</button>
                <button class="fa fa-check" *ngIf="row.statuss=='Accept'" style="color:green;font-size:1.25em;" (click)="acceptApply(row.transferid)"
                  pButton type="button" icon="pi pi-check" iconPos="left" disabled></button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef='displayedColumns1'>
          </tr>
          <tr mat-row *matRowDef="let row;columns:displayedColumns1"></tr>
        </table>
        <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>