<div class="jumbotron">
  <h2>TDS Dashboard</h2>

<div  class="btn-align">
    <div class="dropdown" >
      <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"><i class="fa fa-list-alt"></i>
        TDS Details
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" role="button" data-toggle="modal" *ngIf="read==true && write==true || write==true" data-target="#responsive" > <small class="fa fa-plus-circle" >  Add tds</small></a>
        <a class="dropdown-item" role="button" data-toggle="collapse" href="#viewtds"><i class="fa fa-th-list" > </i><span id='showdata'>  View Tds</span><span id='datahide'>  Hide Tds</span> </a>
      </div>
    </div>
    </div>
</div>
<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
<div class="modal-dialog" id="box">
<div class="modal-content bigModel">
  <div class="modal-header">
    <h4>TDS Screen</h4>
    <button type="button" class="close btn-danger"  style="color:white;"  data-dismiss="modal">X
    </button>
  </div>
  <div class="modal-body">
    <form #salaryhike="ngForm" novalidate>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group ">
            <label for="srnge">Start Range</label>
            <span class="text-warning"> * </span>
            <input type="text" class="form-control" maxlength="8" placeholder="Start Range" #srnge="ngModel" [(ngModel)]="tdsAddObj.tdsStartRange" maxlength="8" name="increment"  onkeypress="return  event.charCode >= 48 && event.charCode <= 57"
            id="srnge"  required>
          </div>
            <div class="form-group">
              <label for="ernge">End Range</label>
              <span class="text-warning"> * </span>
              <input type="text" class="form-control" maxlength="8" placeholder="End Range" #ernge="ngModel" [(ngModel)]="tdsAddObj.tdsEndRange" maxlength="8" name="increment"  onkeypress="return  event.charCode >= 48 && event.charCode <= 57"
                    id="ernge" min="1" max="3" pattern="^([0-9]{1,2}([\.][0-9]{1,})?$|100([\.][0]{1,})?)$" required>
                  </div>
            <div class="form-group">
              <label for="nme">name</label>
              <span class="text-warning"> * </span>
              <input type="text" class="form-control" maxlength="8" placeholder="Name" #nme="ngModel" [(ngModel)]="tdsAddObj.tdsName" maxlength="8" name="increment"  
                              id="nme"  required>
            </div>
            <div class="form-group">
              <label for="amont">Deduction (%)</label>
              <span class="text-warning"> * </span>
              <input type="text" class="form-control" maxlength="8" placeholder="Enter Deduction" #amont="ngModel" [(ngModel)]="tdsAddObj.tdsAmount" maxlength="8" name="increment"  onkeypress="return  event.charCode >= 48 && event.charCode <= 57"
                id="amont" min="1" max="3" pattern="^([0-9]{1,2}([\.][0-9]{1,})?$|100([\.][0]{1,})?)$" required>
            </div>
            <div class="text-center">
              <button type="submit" (click)="addtds()" data-dismiss="modal" class="btn btn-primary">Submit</button>
            </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>
<div>
  <div id="viewtds" class="collapse">
      <button id="button-a" class="btn btn-success"  (click)="getexcel()"> <span class="example-spacer"></span>Download</button>
  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Staff">
    </mat-form-field>
  <table mat-table [dataSource]="dataSource1" matSort>
    <ng-container matColumnDef="tdsstartrange">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Range</th>
      <td mat-cell *matCellDef="let row">{{row.tdsstartrange}}</td>
    </ng-container>
    <ng-container matColumnDef="tdsendrange">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>End Range</th>
      <td mat-cell *matCellDef="let row">{{row.tdsendrange}}</td>
    </ng-container>
    <ng-container matColumnDef="tdsname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.tdsname}}</td>
      </ng-container>
      <ng-container matColumnDef="tdsamount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
          <td mat-cell *matCellDef="let row">{{row.tdsamount}}</td>
        </ng-container>
        <ng-container matColumnDef="Excel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
            </span></th>
            <td mat-cell *matCellDef="let row">
            </td>
          </ng-container>
    <tr mat-header-row *matHeaderRowDef='displayedColumns1'>
    </tr>
<tr mat-row *matRowDef="let row;columns:displayedColumns1"></tr>  
  </table>
  <mat-paginator [length]="100"  #paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
</div>
</div>