<div class="container">
  <div class="jumbotron">
    <h2>Mapping Details</h2>
    <hr />
 
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-building-o"></i> Mapping Types
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)=getIds()>
            <i class="fa fa-plus"></i> Add Branch Mapping</a>
        </div>
      </div>
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user"></i> Mapping
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)="ShowStaff()">
            <i class="fa fa-plus"></i> Add User Mapping</a>
        </div>
      </div>
    </div>
  </div>
  <div class='container-fluid' *ngIf="showbranch">
    <div class='row'>
      <div class="col col-md-3">
      </div>
      <div class='col col-md-6'>
        <form #schbrn="ngForm">
          <div class="form-group">
            <label for="std">Device ID</label>
            <div class="form-group">
              <input placeholder="Device ID" type="text" name="startDate" #startDate="ngModel" required class="form-control"
                [(ngModel)]="addBrchMpgObj.userDeviceId">
            </div>
            <span class="text-danger" *ngIf="startDate.invalid && (startDate.touched || startDate.dirty)">
              <span class="text-danger" [hidden]="!startDate.errors.required" *ngIf="startDate.errors && (startDate.touched || startDate.dirty)">Device
                ID Required</span>
            </span>
          </div>
          <div class="form-group">
            <label>Branch Name</label>
            <span class="text-danger"> * </span>
            <select class="form-control" #branchId="ngModel" style="width:100%; height:42px" placeholder="type " name='branchId'
              [(ngModel)]="addBrchMpgObj.branchId" required>
              <option value="0" disabled selected>select Branch</option>
              <option *ngFor="let bid of branchList" value="{{bid.branchid}}">{{bid.branchname}}</option>
            </select>
            <span class="text-danger" *ngIf="branchId.value=='select'">*Please Select</span>
            <span [hidden]="!branchId.errors.required" class="text-danger" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Branch
              Name Required</span>
            <span [hidden]="!branchId.errors.values" class="text-danger" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Branch
              Name Required</span>
          </div>
          <div class="text-center">
            <input type="button" value="Submit" (click)="addBranchMapping()" [disabled]="!schbrn.valid" class="btn btn-primary"
              data-dismiss="modal" />
            <div *ngIf="read==true && write==true || write==true">
            </div>
          </div>
        </form>
      </div>
    </div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Class">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource1" matSort>
      <ng-container matColumnDef="userdeviceid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Device ID</th>
        <td mat-cell *matCellDef="let row">{{row.userdeviceid}}</td>
      </ng-container>
      <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch Name</th>
        <td mat-cell *matCellDef="let row">{{row.place}}</td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel1()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns1'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns1"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  <hr />
  <div class="container-fluid" *ngIf="showStaff">
    <div class="row">
      <div class="col-4 ">
        <table class="table table-striped ">
          <thead>
            <tr>
              <th>Users</th>
              <th></th>
            </tr>
          </thead>
          <tr>
            <td>
              <select class="form-control" name="usrcode" #usrcode="ngModel" required [(ngModel)]="addusermapping.appUserId">
                <option [ngValue]="undefined" disabled selected>Select</option>
                <option *ngFor='let list1 of list' value={{list1.id}}>{{list1.firstname}} {{list1.lastname}}</option>
              </select>
              <span class="text-danger" *ngIf="usrcode.value=='Select'">*Please Select</span>
              <span [hidden]="!usrcode.errors.required" class="text-danger" *ngIf="usrcode.errors && (usrcode.touched || usrcode.dirty)">User
                name required</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-4 ">
        <table class="table table-striped ">
          <thead>
            <tr>
              <th>Enter the Device ID</th>
            </tr>
          </thead>
          <tr>
            <td>
              <select class="form-control" name="usrcode1" #usrcode1="ngModel" [disabled]="!usrcode.valid" required
                [(ngModel)]="addusermapping.deviceId" (change)="getdeviceusers()">
                <option [ngValue]="undefined" disabled selected>Select</option>
                <option *ngFor='let cl of getdevicelist' value='{{cl.usrdeviceid}}'>{{cl.usrdeviceid}}</option>
              </select>
              <span class="text-danger" *ngIf="usrcode1.value=='Select'">*Please Select</span>
              <span [hidden]="!usrcode1.errors.required" class="text-danger" *ngIf="usrcode1.errors && (usrcode1.touched || usrcode1.dirty)">Device
                Id Required</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-4 ">
        <table class="table table-striped ">
          <thead>
            <tr>
              <th>Device User Id</th>
            </tr>
          </thead>
          <tr>
            <td>
              <input type="text" placeholder="Enter Device User Id" required #usrcode2="ngModel" name="usrcode2"
                [disabled]="!usrcode1.valid" pattern="[0-9]{1,15}" maxlength="15" class="form-control" [(ngModel)]="addusermapping.deviceUserId">
              <span [hidden]="!usrcode2.errors.required" class="text-danger" *ngIf="usrcode2.errors && (usrcode2.touched || usrcode2.dirty)">Device
                user Required</span>
              <span [hidden]="!usrcode2.errors.pattern" class="text-danger" *ngIf="usrcode2.errors && (usrcode2.touched || usrcode2.dirty)">please
                Enter only numbers</span>
            </td>
          </tr>
        </table>
      </div>
      <div class="text-center">
        <input type="button" value="Submit" (click)="Assigndevice()" class="btn btn-primary" [disabled]="!usrcode2.valid"
          data-dismiss="modal" />
        <div *ngIf="read==true && write==true || write==true">
        </div>
      </div>
      <div>
        <button class="btn btn-success" (click)="addStaffUser()">Skip For Staff</button>
        <button class="btn btn-success" (click)="skipStudent()">Skip For Student</button>
      </div>
      <div>
      </div>
    </div>
    <button class="btn btn-success" style="float:right" (click)="getexcel()"><span>Dowload<i class="fa fa-file-excel-o"
          aria-hidden="true"></i>
      </span></button>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Class">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
      </ng-container>
      <ng-container matColumnDef="deviceuserid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Device User Id</th>
        <td mat-cell *matCellDef="let row">{{row.deviceuserid}}</td>
      </ng-container>
      <ng-container matColumnDef="appuserid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Device Id</th>
        <td mat-cell *matCellDef="let row">{{row.deviceid}}</td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>