<div class="container">
    <br/>
        <form #idcard="ngForm">
            <div >
            <div class="form-group" class="text-center" >
                <button type="submit" (click)="generateIdCard()" class="btn btn-outline-info btn-lg" title="Generate Id Card">
                        <span style="font-size:2em;" class="fa fa-id-badge"></span><small class="fa fa-plus-circle" ></small>
                </button>
                <div *ngIf="read==true && write==true || write==true">
                </div>
            </div>
            <br/>
            <br/>
            <div class="form-group col-md-4"  *ngIf="rolename!='Student'" style="border:solid;border-radius: 1.5625em;background: #77C6C6;">
                    <br/>
                <img src="{{myurl+'/Misc/Images/slogo/'+idList[0].schoolid}}" style=" padding-bottom: 1.25em;" align="left" width="5em" height="4.375em" alt="Image"/>
                &nbsp; {{idList[0].name}}
                <br/>
                <br/>
                <hr/>
                <img style="border-radius: 50%;width:9.375em;height: 9.375em;margin-left: 0.8rem" src="{{myurl+'/Misc/Images/staff/'+idList[0].staffid}}" align="center" width="6.25em" height="6.25em" alt="Image" />
                 <br />
                <label style="color:black">Name:</label> {{idList[0].firstname}} {{idList[0].lastname}}
                <br />
                <label style="color:black">Designation:</label> {{idList[0].rolename}}
                <br />
                <label style="color:black">Address:</label> {{idList[0].address}}
                <br />
                <label style="color:black">Mobile:</label> {{idList[0].mobile}}
            </div>
            <div class="form-group col-md-4" *ngIf="rolename=='Student'" style="border:solid;border-radius: 1.5625em;background: #77C6C6;">
                 <br/>
                <img src="{{myurl+'/Misc/Images/slogo/'+idList[0].schoolid}}" style=" padding-bottom: 1.25em;" width="5em" height="4.375em" alt="Image" />
                &nbsp; {{idList[0].name}}
                <br/>
                <br/>
                <hr/>
                <img style="border-radius: 50%;width:9.375em;height: 9.375em;margin-left: 0.8rem" src="{{myurl+'/Misc/Images/admission/'+idList[0].admissionnum}}"  width="6.25em" height="6.25em" alt="Image" />
                <br/>
                <label style="color:black" class="text-center">Name:</label> {{idList[0].firstname}} {{idList[0].lastname}}
                <br />
                <label style="color:black" class="text-center">Class:</label> {{idList[0].classname}}
                <br />
                <label style="color:black" class="text-center">Father's Name:</label> {{idList[0].fathername}}
                <br />
                <label style="color:black" class="text-center">Address:</label> {{idList[0].address}}
                <br />
                <label style="color:black" class="text-center">Mobile:</label> {{idList[0].parentmobile}}
            </div>
        </div>
        </form>
    </div>
    