<div class="limiter">
  <div class="container-login100" style="background-image: url('https://colorlib.com/etc/lf/Login_v3/images/bg-01.jpg');">
    <div class="wrap-login100">
      <form class="login100-form validate-form" #forgotform="ngForm">
        <span class="login100-form-title p-b-34 p-t-27" style="font-size: 15px" *ngIf="navi != '/login/forgotusername'">
          Forgot Password
        </span>
        <span class="login100-form-title p-b-34 p-t-27" style="font-size: 15px" *ngIf="navi == '/login/forgotusername'">
          Forgot Username
        </span>
        <div *ngIf="navi != '/login/forgotusername'">
        <div class="wrap-input100 validate-input" data-validate="Enter username" [ngClass]="{
          'has-danger': email.invalid && (email.dirty || email.touched),
          'has-success': email.valid && (email.dirty || email.touched)}">
          <input #loginId="ngModel"  class="input100" type="text" placeholder="Username" [(ngModel)]='forgotform.loginId'
            name='loginId' required minlength="6" maxlength="14">
          <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>
      </div>
        <div class="wrap-input100 validate-input" data-validate="Enter email">
          <input #email="ngModel"  class="input100" type="email" placeholder="Email Id" [(ngModel)]='forgotform.email'
            name='email' required minlength="8" pattern="[^ @]*@[^ @]*" minlength="6" maxlength="44">
          <span class="focus-input100" data-placeholder="&#xf159;"></span>
        </div>
        <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
          <p *ngIf="email.errors.minlength" class="text-danger">Email Required</p>
        </div>
        <p-toast key="emsg" [style]="{marginTop: '80px'}" position="top-center" class="text-danger"></p-toast>
        <div class="container-login100-form-btn" *ngIf="forgotform" >
          <input type="submit" value="Confirm" (click)="Login(forgotform)" class="login100-form-btn">
        </div>
        <div class="text-center p-t-90">
          <a class="txt1" routerLink="/login/Login">
            Log In
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="dropDownSelect1"></div>
<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-23581568-13');
</script>