<div class="container">
  <div class="jumbotron">
    <h2>Organization Details</h2>
    <hr />
   
    <div  class="btn-align">
        <div class="dropdown" >
          <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> <span style="font-size:1em;" class="fa fa-building-o"></span>  Organization
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item"  *ngIf="schoolAddButton &&  !schoolStatus" role="button" data-toggle="modal" data-target="#responsive"  (click)="getIds()"><small class="fa fa-plus-circle"></small>  Add</a>
            <a class="dropdown-item" href="#viewallBranch" data-toggle="collapse" role="button"><i class="fa fa-th-list"></i> <span id='showdata'>  View </span><span id='datahide'>  Hide </span> </a>          </div>
        </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog modal-lg" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Organization Details</h4>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #schoolFrm="ngForm">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Organization Type:</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" placeholder="type" required name="instituteName" (change)="getBoardAndTypeById(instituteId.value)"
                    #instituteId="ngModel" [(ngModel)]="school.organizationTypeId">
                    <option value='0' disabled selected>Select Organization Type</option>
                    <option *ngFor="let inst of instituteList" value={{inst.id}}>{{inst.organizationtypename}}</option>
                  </select>
                  <span class="text-warning" [hidden]="!instituteId.errors.required" *ngIf="instituteId.value=='0' && (instituteId.touched || instituteId.dirty)">Please
                    Select Organization Type</span>
                  <span class="text-warning" [hidden]="!instituteId.errors.required" *ngIf="instituteId.errors && (instituteId.touched || instituteId.dirty)">Please
                    select
                  </span>
                </div>
                <div class="form-group">
                  <label for="nam">Organization Name:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" #name="ngModel" autocomplete="off" class="form-control" pattern="^[^\d\W]+( [^\d\W]+)*$"
                    placeholder="Enter name" name="name" maxlength="40" [(ngModel)]="school.name" minlength="3"
                    required (keyup)="verifySchool('name',name)" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32">
                  <span class="text-warning" [hidden]="!name.errors?.required" *ngIf="name.errors && (name.touched || name.dirty)">Organization
                    Name Required
                  </span>
                  <span class="text-warning" [hidden]="!name.errors?.pattern" *ngIf="name.errors && (name.touched || name.dirty)">Organization
                    Name Should Be Only Alphabets</span>
                  <span class="text-warning" [hidden]="!name.errors?.minlength || name.errors.pattern" *ngIf="name.errors && (name.touched || name.dirty)">Organization
                    Name Should Be Min 3 Characters</span>
                  <span class="text-warning" [hidden]="schoolvalidation==true" *ngIf="schoolvalidation==false">
                    <i>Organization Name Already Exits </i>
                  </span>
                </div>
                <div class="form-group">
                  <label> Firm Type:</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" placeholder="type" required name="subject" #subject="ngModel" [(ngModel)]="school.type">
                    <option value="0" selected disabled>Select Type</option>
                    <option *ngFor="let instituteType of BoardandType" value="{{instituteType.typeid}}">{{instituteType.name}}</option>
                  </select>
                  <span class="text-warning" [hidden]="!subject.errors.required" *ngIf="subject.value=='0' && (subject.touched || subject.dirty)">Please
                    Select</span>
                  <span class="text-warning" [hidden]="!subject.errors.required" *ngIf="subject.errors && (subject.touched || subject.dirty)">Please
                    select
                  </span>
                </div>
                <div class="form-group">
                  <label>Board Type:</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" placeholder="type" required name="boardId" #boardId="ngModel" [(ngModel)]="school.boardId">
                    <option value="0" disabled selected>Select Board Type</option>
                    <option *ngFor="let board of BoardandType" value={{board.id}}>{{board.boardname}} </option>
                  </select>
                  <span class="text-warning" [hidden]="!boardId.errors.required" *ngIf="boardId.value=='0'  && (boardId.touched || boardId.dirty)">Please
                    Select</span>
                  <span class="text-warning" [hidden]="!boardId.errors.required" *ngIf="boardId.errors && (boardId.touched || boardId.dirty)">Please
                    select
                  </span>
                </div>
              </div>
              <div class="col-md-6">     
                <figure>
                  <img style="    background-color: whitesmoke;border-radius: 57%; padding: 1.0%; max-width: 45%;  margin-left: 110px; max-height: 125px;" [src]="image.URL" *ngIf="image.URL!=''" alt="Image"/>
                </figure>
                  <div class="fa fa-university" style="font-size: 650%;background-color: whitesmoke;;padding: 2.5%;margin-left: 110px;"  *ngIf="image.URL==''" >
                  </div>
                <div class="elementer">
                    <label class="hand-cursor">
                      <div class="form-group col-sm-4">
                          <input type="file" #fileUpload="ngModel" id="container" accept="image/gif, image/jpeg, image/png"
                      class="form-control" (change)="fileChangeEvent($event)" name="image" [(ngModel)]="school.image">
                      </div>
                      <i class="fa fa-camera"></i>
                    </label>
                  </div> 
                  <div class="form-group" style="margin-top: 4.625em">
                    <label>Contact:</label>
                    <span class="text-warning"> * </span>
                    <select class="form-control" placeholder="contact" name="contactDetailsId" [(ngModel)]="school.contactDetailsId"
                      #contactDetailsId="ngModel">
                      <option value="0" disabled selected>Select contact Details</option>
                      <option *ngFor="let contact of contactDetails" value={{contact.id}}> {{contact.firstname}}
                        {{contact.lastname}}
                        {{contact.mobile}} {{contact.email}}</option>
                    </select>
                    <span class="text-warning" [hidden]="!contactDetailsId.errors.required" *ngIf="contactDetailsId.value=='0' && (contactDetailsId.touched || contactDetailsId.dirty)">Please
                      Select</span>
                    <span [hidden]="!contactDetailsId.errors.required" class="text-warning" pattern="^((0|1)\d{1})-((0|1|2)\d{1})-((19|20)\d{2})"
                      *ngIf="contactDetailsId.errors && (contactDetailsId.touched || contactDetailsId.dirty)">Contact
                      Required
                    </span>
                  </div>
                </div>
                <div class="col-lg-6">
                <div class="form-group">
                    <label>Established Year:</label>&nbsp;
                  <p-calendar name="establishedYear" [(ngModel)]="school.establishedYear" view="month" dateFormat="yy" [yearNavigator]="true"
                    yearRange="1900:5000" [readonlyInput]="true" (onSelect)="onTextChange()"></p-calendar>
                </div>
                </div>
              <div class="col-lg-12">
                <div class="form-group" class="text-center" *ngIf="!school.Id">
                  <button type="submit" (click)="addSchool()" class="btn btn-primary" [disabled]="!schoolFrm.valid ||instituteId.value==0|| contactDetailsId.value==0 ||boardId.value==0||subject.value==0"
                    data-dismiss="modal">Submit</button>
                </div>
 <div *ngIf="read==true && write==true || write==true">
</div>
                <div class="form-group" class="text-center" *ngIf="school.Id">
                  <button type="submit" class="btn btn-primary" (click)="updateSchool()" data-dismiss="modal">Update
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="vieworg" class="collapse">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Organization Name">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Organization Name</th>
        <td *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Firm Type</th>
        <td *matCellDef="let row">{{row.institutetypename}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td *matCellDef="let row">
          <mat-slide-toggle (change)="onChange($event,row.id)" class="example-margin" [color]="color" [checked]="row.status"
            *ngIf="rolename=='IBAdmin' ">
          </mat-slide-toggle>
          <span *ngIf="row.status" style="color:black">Active</span>
          <span *ngIf="!row.status" style="color:black">In Active</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="establishedyear">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Established Year</th>
        <td *matCellDef="let row">{{row.establishedyear}}</td>
      </ng-container>
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Organization Logo</th>
        <td *matCellDef="let row">
          <img src="{{myurl+'/Misc/Images/slogo/'+row.id}}" alt='NoLogo' width="45.25em" height="46.25em" (error)="updateImage($event)" />
        </td>
      </ng-container>
      <ng-container matColumnDef="Manage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Manage Location</th>
        <td *matCellDef="let row">
          <div >
            <i class="fa fa-bars"  data-toggle="modal" (click)="schoolById()"
            data-target="#responsive1" *ngIf="ShowLogo" ></i>
            <i class="fa fa-bars"  data-toggle="modal" 
            data-target="#responsive1" *ngIf="!ShowLogo" ></i>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
<div id="responsive1" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
  <div class="modal-dialog" id="box">
    <div class="modal-content bigModel">
      <div class="modal-header">
        <h4>Heading</h4>
        <button type="button" class="close btn-danger" style="color: white" data-dismiss="modal">X
        </button>
      </div>
      <div class="modal-body">
      <button (click)="schoolById()">Ok</button>
      </div>
    </div>
  </div>
</div>
