$color-white :  #fff;
$color-black : #0a0a0a;
$color-black2 : #1a1a1a;
$color-grey : #252727;
$trans : transparent;
$none : none;
$shadow: 0 0 0 0.2rem rgba(10, 16, 17, 0.5);


@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
#team {
  background: #eee !important;
}
#picUploader {
  display: $none;
}
.elementer {
  display: inline-flex;
  align-items: center;
}
i {
  &.fa-camera {
    margin-left: -4.375em;
    cursor: pointer;
    font-size: 2em;
    color: black;
  }
  &:hover {
    opacity: 0.6;
  }
}
.btn-primary {
  &:hover, &:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: $none;
    outline: $none;
  }
  color: $color-white;
  background-color: #007b5e;
  border-color: #007b5e;
}
section {
  padding: 3.75em 0;
  .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 3.125em;
    text-transform: uppercase;
  }
}
#team .card {
  border: $none;
  background: $color-white;
}
.image-flip {
  &:hover .backside, &.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
  }
  &:hover .frontside, &.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(62.5em);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 1.875em;
}
.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 0.3125em 0.4375em 0.5625em -0.25em rgb(158, 158, 158);
  -moz-box-shadow: 0.3125em 0.4375em 0.5625em -0.25em rgb(158, 158, 158);
  box-shadow: 0.3125em 0.4375em 0.5625em -0.25em rgb(158, 158, 158);
}
.frontside, .backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}
.frontside .card {
  min-height: 19.5em;
}
.backside .card {
  min-height: 19.5em;
  a {
    font-size: 1.125em;
    color: #007b5e !important;
  }
}
.frontside .card .card-title, .backside .card .card-title {
  color: #007b5e !important;
}
.frontside .card .card-body img, .backside .card .card-body img {
  width: 7.5em;
  height: 7.5em;
  border-radius: 50%;
}
.quantity {
  float: left;
  margin-right: 0.9375em;
  background-color: #eee;
  position: relative;
  width: 5em;
  overflow: hidden;
  input {
    margin: 0;
    text-align: center;
    width: 0.9375em;
    height: 0.9375em;
    padding: 0;
    float: right;
    color: #000;
    font-size: 1.25em;
    border: 0;
    outline: 0;
    background-color: #F6F6F6;
    &.qty {
      position: relative;
      border: 0;
      width: 100%;
      height: 2.5em;
      padding: 0.625em 1.5625em  0.625em  0.625em;
      text-align: center;
      font-weight: 400;
      font-size: 0.9375em;
      border-radius: 0;
      background-clip: padding-box;
    }
  }
  .minus, .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 0.375em 1.875em;
    -moz-background-size: 0.375em 1.875em;
    color: #bbb;
    font-size: 1.25em;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 1.5625em;
    z-index: 3;
  }
  .minus:hover, .plus:hover {
    background-color: #dad8da;
  }
  .minus {
    bottom: 0;
  }
}
.shopping-cart {
  margin-top: 1.25em;
}
.example-viewport {
  height: 37.5em;
  width: 100%;
}
.example-item {
  height: 3.125em;
}
.btn-align {
  width: 100%;
  text-align: right;
}
.btn-outline-info {
  color: $color-black;
  background-color: $trans;
  background-image: $none;
  border-color: #131313;
  &:hover {
    color: $color-white;
    background-color: $color-black;
    border-color: #0c0c0c;
  }
  &.focus, &:focus {
    box-shadow: 0 0 0 0.2rem rgba(15, 20, 20, 0.5);
  }
  &.disabled, &:disabled {
    color: #3f3535;
    background-color: $trans;
  }
  &:not(:disabled):not(.disabled) {
    &.active, &:active {
      color: $color-white;
      background-color: $color-grey;
      border-color: $color-black2;
    }
  }
}
.show > .btn-outline-info.dropdown-toggle {
  color: $color-white;
  background-color: $color-grey;
  border-color: $color-black2;
}
.btn-outline-info:not(:disabled):not(.disabled) {
  &.active:focus, &:active:focus {
    box-shadow:$shadow;
  }
}
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow:$shadow;
}
.jumbotron {
  padding: 1rem 1rem;
  margin-top: 79px
}
label{
  color: $color-white;
}