<div class="container">
  <div class="jumbotron">
    <h2>Shopping</h2>
    
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-shopping-bag"></i> Shopping </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive">
            <i class="fa fa-plus-circle"></i> Add products</a>
          <a class="dropdown-item" href="#viewprj" data-toggle="collapse" role="button">
            <i class="fa fa-th-list"></i> View products</a>
          <a class="dropdown-item" href="#viewcart" data-toggle="collapse" role="button" (click)="getAllCart()">
            <i class="fa fa-th-list"></i>  My Cart</a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h2 style="text-align:center">Online Shopping </h2>
          <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #frm="ngForm">
            <div class="row">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Product name</label><span class="text-warning"> * </span>
                      <input type="text" #productName="ngModel" required id="productname" name="productName" class="form-control"
                        [(ngModel)]="shoppingObj.productName" pattern="^[#.0-9a-zA-Z,-/:][#.0-9a-zA-Z,-/: ]+$"
                        placeholder=" Enter Product Name" minlength="3" maxlength="150">
                      <span class="text-warning" [hidden]="!productName.errors.required" *ngIf="productName.errors && (productName.touched || productName.dirty)">product
                        name
                        Required
                      </span>
                      <span class="text-warning" [hidden]="!productName.errors.minlength" *ngIf="productName.errors && (productName.touched || productName.dirty)">product
                        name
                        Contains Minimum 3 letters</span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Product price</label><span class="text-warning"> * </span>
                      <input type="number" name="productPrice" placeholder="Enter Product Price" required #productPrice="ngModel"
                        id="productPrice" class="form-control" [(ngModel)]="shoppingObj.productPrice">
                      <span class="text-warning" [hidden]="!productPrice.errors.required" *ngIf="productPrice.errors && (productPrice.touched || productPrice.dirty)">
                        Product Price
                        Required</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <figure>
                    <img style="background-color: whitesmoke;border-radius:50%;padding: 1.8%;max-width: 40%;" [src]="image.URL"
                      *ngIf="image.URL!=''" alt="Image" />
                  </figure>
                  <div class="fa fa-user-circle" style="font-size: 650%;background-color: whitesmoke;;padding: 2.5%"
                    *ngIf="image.URL==''">
                  </div>
                  <div class="elementer">
                    <label class="hand-cursor">
                      <div class="form-group col-sm-4">
                        <input type="file" #fileUpload="ngModel" id='picUploader' accept="image/gif, image/jpeg, image/png"
                          class="form-control" (change)="fileChangeEvent($event)" name="image" [(ngModel)]="shoppingObj.image">
                      </div>
                      <i class="fa fa-camera"></i>
                    </label>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Category</label><span class="text-warning"> * </span>
                      <select class="form-control" required name="category" (change)="getAllClasses()" [(ngModel)]="shoppingObj.category"
                        id="category" #category="ngModel" required>
                        <option value='0' selected>Select</option>
                        <option value=1>Unifrom</option>
                        <option value=2>Stationary</option>
                      </select>
                      <span class="text-warning" [hidden]="!category.errors.required" *ngIf="category.value=='0' && (category.touched || category.dirty)">Please
                        Select</span>
                      <span class="text-warning" *ngIf="category.errors && (category.touched || category.dirty)">Category
                        Required
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Date</label><span class="text-warning"> * </span>
                      <input type="text" name="productDate" readonly placeholder="MM/DD/YYYY" autocomplete="off"
                        bsDatepicker [bsConfig]=" {containerClass: 'theme-dark-blue' }" #productDate id="productDate"
                        class="form-control" [(ngModel)]="shoppingObj.productDate" required>
                      <span *ngIf="productDate.invalid && (productDate.touched || productDate.dirty)">
                        <span class="text-warning" [hidden]="!productDate.errors.required" *ngIf="productDate.errors && (productDate.touched || productDate.dirty)">Submission
                          Date Required</span>
                        <span class="text-warning" *ngIf="productDate.value=='Invalid Date'">Only Selection is Allowed</span>
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Session</label><span class="text-warning"> * </span>
                      <select class="form-control" name="sessionId" (click)="getAllClasses()" [(ngModel)]="shoppingObj.sessionId"
                        id="sessionId" #sessionId="ngModel" required>
                        <option value="0">Select</option>
                        <option *ngFor="let usl of classList" value="{{usl.id}}">{{usl.sessionname}} </option>
                      </select>
                      <span class="text-warning" [hidden]="!sessionId.errors.required" *ngIf="sessionId.value=='0' && (sessionId.touched || sessionId.dirty)">Please
                        Select</span>
                      <span class="text-warning" *ngIf="sessionId.errors && (sessionId.touched || sessionId.dirty)">sessionId
                        Required
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Product description</label><span class="text-warning"> * </span>
                      <textarea name="description" description id="description" class="form-control" cols="30" rows="4"
                        [(ngModel)]="shoppingObj.description"></textarea>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-primary" (click)="addShoppingProduct()">Submit </button>
                  <div *ngIf="read==true && write==true || write==true">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="viewprj" class="collapse">
    <div class="container">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Product">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="productname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch Name</th>
          <td mat-cell *matCellDef="let row">{{row.productname}}</td>
        </ng-container>
        <ng-container matColumnDef="productprice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Price</th>
          <td mat-cell *matCellDef="let row">{{row.productprice}}</td>
        </ng-container>
        <ng-container matColumnDef="Image">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
          <td mat-cell *matCellDef="let row">
            <div>
              <img src="{{myurl+'/Misc/Images/Shopping/'+row.id}}" width="100px" height="100px" alt="Image" />
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="productdate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Date</th>
          <td mat-cell *matCellDef="let row">{{row.productdate|date}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let row">{{row.description}}</td>
        </ng-container>
        <ng-container matColumnDef="classname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
          <td mat-cell *matCellDef="let row">{{row.classname}}</td>
        </ng-container>
        <ng-container matColumnDef="available">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Available</th>
          <td mat-cell *matCellDef="let row">
            <mat-slide-toggle class="example-margin" (change)="onChange($event,row.id)" [color]="color" checked="{{row.available}}">
            </mat-slide-toggle>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
  <br>
  <section id="team" class="pb-5">
    <div class="container">
      <h5 class="section-title h1">products list</h5>
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div class="row">
          <div class="col-md-4" *cdkVirtualFor="let s of shoppinglistForUsers">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p>
                        <img class=" img-fluid" src="{{myurl+'/Misc/Images/Shopping/'+s.id}}" alt="card image">
                      </p>
                      <hr>
                      <div class="row">
                        <div class="col-sm-6">
                          <b> Product Name</b>
                        </div>
                        <div class="col-sm-6">{{s.productname}}</div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <b> Class Name </b>
                        </div>
                        <div class="col-sm-6">{{s.classname}}</div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <b> Price </b>
                        </div>
                        <div class="col-sm-6">{{s.productprice}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">Description</h4>
                      <p class="card-text">{{s.description}}</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <button type="button" class="btn btn-primary" (click)="addCart(s.id)">Add To Cart</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </section>
</div>
<div id="viewcart" class="collapse">
  <div class="container">
    <form>
      <div class="card shopping-cart">
        <div class="card-header bg-dark text-light">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          Shipping cart
          <a href="" class="btn btn-outline-info btn-sm pull-right">Continiu shopping</a>
          <div class="clearfix"></div>
        </div>
        <div class="card-body">
          <div class="row" *ngFor="let s of cartlist ;let i=index;trackBy:trackByIndex">
            <div class="col-12 col-sm-12 col-md-2 text-center">
              <img class="img-responsive" src="{{myurl+'/Misc/Images/Shopping/'+s.id}}" alt="prewiew" width="120"
                height="80">
            </div>
            <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
              <h4 class="product-name">
                <strong>{{s.productname}}</strong>
              </h4>
              <h4>
                <small>{{s.description}}</small>
              </h4>
            </div>
            <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
              <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                <h6>
                  <strong class="fa fa-inr" style="font-size:24px">
                    {{s.productprice}}
                    <span class="text-muted">x</span>
                  </strong>
                </h6>
              </div>
              <div class="col-4 col-sm-4 col-md-4">
                <div class="quantity">
                  <input type="button" value="+" class="plus" (click)="increment(quantity,i)">
                  <input type="number" disabled step="1" max="99" min="1" [(ngModel)]="cartlist[i].quantity" #quantity
                    name="cartlist.{{i}}.quantity" title="Qty" class="qty" size="4">
                  <input type="button" value="-" class="minus" (click)="decerement(quantity,i)">
                </div>
              </div>
              <div class="col-2 col-sm-2 col-md-2 text-right">
                <button type="button" class="btn btn-outline-danger btn-xs" (click)="deleteProduct(i)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="pull-right">
            <p class="btn btn-outline-secondary pull-right" (click)="getAddressDetails()">
              Choose billing address
            </p>
          </div>
        </div>
        <div class="card-footer">
          <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
            <div class="row">
              <div class="col-6">
                <input type="text" class="form-control" placeholder="coupon code">
              </div>
              <div class="col-6">
                <input type="submit" class="btn btn-default" value="Use coupon">
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin: 10px">
            <p class="btn btn-success pull-right" (click)="checkout()">Checkout</p>
            <div class="pull-right" style="margin: 5px">
              Total price:
              <b>{{cartTotalAmount}}</b>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<section class="details-card" class="pb-5">
  <h5 class="section-title h1">Choose billing Address</h5>
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let s of ContactDetails">
        <div class="card-content">
          <div class="card-desc">
            <div class="row">
              <div class="col-sm-6">
                <b> firstname </b>
              </div>
              <div class="col-sm-6">{{s.firstname}}</div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <b> lastname </b>
              </div>
              <div class="col-sm-6">{{s.lastname}}</div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <b> nationality </b>
              </div>
              <div class="col-sm-6">{{s.nationality}}</div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <b> country</b>
              </div>
              <div class="col-sm-6">{{s.country}}</div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <b> state </b>
              </div>
              <div class="col-sm-6">{{s.state}}</div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <b> city </b>
              </div>
              <div class="col-sm-6">
                {{s.city}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <b> place </b>
              </div>
              <div class="col-sm-6">
                {{s.place}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <b> address </b>
              </div>
              <div class="col-sm-6">
                {{s.address}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <b> email </b>
              </div>
              <div class="col-sm-6">
                {{s.email}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <b> mobile </b>
              </div>
              <div class="col-sm-6">
                {{s.mobile}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <button class="btn btn-success" (click)="viewBilling()">Add new billing address</button>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-info" style="margin-left: 100px" (click)="checkout2()">Deliver to this address</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container" *ngIf="viewsession">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>Country</label>
        <select class="form-control" required #country="ngModel" (change)="getStates(country.value)" [(ngModel)]="contactDetail.country"
          name="country">
          <option value="0" disabled selected>Select Country</option>
          <option *ngFor="let ucl of usercountryList" value="{{ucl.id}}">{{ucl.name}} </option>
        </select>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>State</label>
        <select class="form-control" required #state="ngModel" (change)="getCities(state.value)" [(ngModel)]="contactDetail.state"
          name="state">
          <option value="0" disabled selected>Select State</option>
          <option *ngFor="let usl of userstateList" value="{{usl.id}}">{{usl.name}} </option>
        </select>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>City</label>
        <select class="form-control" required #city="ngModel" [(ngModel)]="contactDetail.city" name="city">
          <option value="0" disabled selected>Select City</option>
          <option *ngFor="let ucl of usercitiesList" value="{{ucl.id}}">{{ucl.name}} </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Place</label>
        <textarea autocomplete="off" #place="ngModel" required class="form-control" rows="3" [(ngModel)]="contactDetail.place"
          name="place"></textarea>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Address</label>
        <textarea autocomplete="off" pattern="^[#.0-9a-zA-Z,-/:][#.0-9a-zA-Z,-/: ]+$" maxlength="100" #address="ngModel"
          placeholder="address" required style="resize:none" class="form-control" rows="5" [(ngModel)]="contactDetail.address"
          name="address"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Email</label>
        <input type="email" required maxlength="40" pattern="[a-zA-Z0-9._%+-]+@[a-z]+\.[a-zA-Z]{2,3}$" #email="ngModel"
          placeholder="Email" class="form-control" [(ngModel)]="contactDetail.email" name="email">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label>Phone</label>
        <input type="tel" autocomplete="off" minlength="10" maxlength="10" pattern="((?:6|7|8|9)[0-9])+(?:-?\d){8,15}"
          onkeypress="return event.charCode >= 48 && event.charCode <= 57" required class="form-control" #mobile="ngModel"
          [(ngModel)]="contactDetail.mobile" name="mobile">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-success" (click)="addBillingAddress()">Add billing address</button>
    </div>
  </div>
</div>