
<br>
<br>
<script>
  document.getElementById("defaultOpen").click();
</script>
<h2 style="text-align:center">Permissions</h2>
<br>
<div class="container">
  <form #frm="ngForm">
    <div class="row">
      <div class="form-group col-lg-6">
        <label>Role Name</label>
        <select required #pRoleId (change)="getRole(pRoleId)" name="roleId" id="id" class="form-control" [(ngModel)]="permission.roleId">
          <option value="0" disabled selected>Select Role </option>
          <option *ngFor="let rl of rolesList" value="{{rl.id}}">{{rl.rolename}}</option>
        </select>
      </div>
      <div class="form-group col-lg-6" *ngIf= "rolename=='OrganizationAdmin'">
        <label>Branches Name</label>
        <select required #pBranchId name="branchId" (change)="getPermissions(pBranchId)" id="bid" class="form-control" [(ngModel)]="permission.branchId">
          <option value="0" disabled selected>Select Branch Name </option>
          <option *ngFor="let bl of branchesList" value="{{bl.branchid}}">{{bl.branchname}}</option>
        </select>
      </div>
      <div class="form-group col-lg-6" *ngIf= "rolename=='BranchAdmin'">
        <label>Branch Name</label>
        <select required #pBranchId name="branchId" (change)="getPermissions(pBranchId)" id="bid" class="form-control" [(ngModel)]="permission.branchId">
          <option value="0" disabled selected>Select Branch Name </option>
          <option *ngFor="let b of branchList" value="{{b.branchid}}">{{b.branchname}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <table style="width:100%">
          <th>Module Name</th>
          <tr *ngFor="let em of modules;let j of index" style="float:left">
            <td>
              <button (click)="getChildren(j)" class="btn btn-outline-info btn-sm">{{em.module}}</button>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-lg-6">
        <table style="width:100%">
          <th>Component Name</th>
          <th>Read</th>
          <th>Write</th>
          <tr *ngFor="let cl of childrenList; let k of index">
            <td>
              {{cl.component}}
            </td>
            <td>
              <i *ngIf="cl.read==false" class="fa fa-check" (click)="update(cl.componentid,true,false)"></i>
              <i *ngIf="cl.read==true" class="fa fa-times" (click)="update(cl.componentid,false,false)"></i>
            </td>
            <td>
              <i *ngIf="cl.write==false" class="fa fa-check" (click)="update(cl.componentid,true,true)"></i>
              <i *ngIf="cl.write==true" class="fa fa-times" (click)="update(cl.componentid,false,true)"></i>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</div>