<div class="container">
  <div class="jumbotron">
    <h2>Organization Feedback</h2>
    <hr />
    
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-comment-o"></i> Organization-Feedback
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)=getIds()>
            <i class="fa fa-plus-circle"></i> Add Feedback</a>
          <a class="dropdown-item" href="#vieworg" data-toggle="collapse" role="button" (click)=viewOrganization()>
            <i class="fa fa-th-list"></i> View Organization</a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Organization-Feedback</h4>
          <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #feedback="ngForm" (submit)="addSchoolFeedback()" novalidate>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="description">Feedback Description:</label>
                  <span class="text-warning"> * </span>
                  <textarea autocomplete="off" style="resize:none" pattern="^[^\d\W]+( [^\d\W]+)*$" [(ngModel)]="schFeedBackAddObj.description"
                    name='description' class="form-control" #description="ngModel" required minlength="4" maxlength="100"></textarea>
                  <span *ngIf="description.invalid && (description.touched || description.dirty)">
                    <span class="text-warning" [hidden]="!description.errors.required" *ngIf="description.errors && (description.touched || description.dirty)">Description
                      Required
                    </span>
                    <span class="text-warning" [hidden]="!description.errors?.pattern" *ngIf="description.errors && (description.touched || description.dirty)">Enter Valid 
                   Description.</span>
                   <span class="text-warning" [hidden]="!description.errors?.minlength" *ngIf="description.errors && (description.touched || description.dirty)">Enter Min 4 letters.</span>
                  </span>
                </div>
                <div class="form-group">
                  <label for="Number" style="margin-right: 1.5625em">Rating:<span class="text-warning"> * </span></label>
                  <rating [max]="5" [(ngModel)]="schFeedBackAddObj.rating" name='rating' [customTemplate]="tt"></rating>
                  <b>{{schFeedBackAddObj.rating}}</b>
                  <ng-template #tt let-i="index" let-v="value">
                    <button class="btn btn-{{i < v ? 'warning' : 'default'}}">
                      {{i < v ? '&#9733;' : '&#9734;' }} </button> </ng-template> <div *ngIf="read==true && write==true || write==true">
                </div>
              </div>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="vieworganization">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="UserName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>User </th>
      <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
    </ng-container>
    <ng-container matColumnDef="FeedbackDescription">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Feedback Description</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>
    <ng-container matColumnDef="Rating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
      <td mat-cell *matCellDef="let row">{{row.rating}}</td>
    </ng-container>
    <ng-container matColumnDef="Excel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
            aria-hidden="true"></i>
        </span></th>
      <td mat-cell *matCellDef="let row">
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef='displayedColumns'>
    </tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
  </table>
  <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
</div>