
<div class="container">
  <div class="jumbotron">
    <h2>Projects</h2>
  
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-graduation-cap"></i> Projects
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)=getIds()>
            <i class="fa fa-plus-circle"></i>  Add Project</a>
          <a class="dropdown-item" href="#viewprj" data-toggle="collapse" role="button">
            <i class="fa fa-th-list" ></i>  <span id='showdata'>  View Projects</span><span id='datahide'>  Hide Projects</span> 
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog modal-lg" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h3>Project Details</h3>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #addproject="ngForm">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Branch:</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" #branchId="ngModel" required style="width:100%; height:2.625em"
                    placeholder="type " name='branchId' [(ngModel)]="proj.branchId">
                    <option value="0" selected>Select Branch</option>
                    <option *ngFor="let bid of branchList" value="{{bid.branchid}}">{{bid.branchname}}</option>
                  </select>
                  <span class="text-warning" [hidden]="!branchId.errors.required" *ngIf="branchId.value=='0' && (branchId.touched || branchId.dirty)">Please
                    Select</span>
                  <span class="text-warning" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Branch
                    Required
                  </span>
                </div>
                <div class="form-group">
                  <label>Project Type:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" autocomplete="off" #type="ngModel" class="form-control" placeholder="Enter Project Type"
                    required name='type ' [(ngModel)]="proj.type " required pattern="^[^\d\W]+( [^\d\W]+)*$" minlength="3"
                    maxlength="50" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32">
                  <span class="text-warning" *ngIf="type.invalid && (type.touched || type.dirty)">
                    <span class="text-warning" [hidden]="!type.errors.required" *ngIf="type.errors && (type.touched || type.dirty)">Project
                      Type Required</span>
                    <span class="text-warning" [hidden]="!type.errors.minlength" *ngIf="type.errors && (type.touched || type.dirty)">Project
                      Type should be Minimum 4 letters</span>
                  </span>
                </div>
                <div class="form-group ">
                  <label for="pay ">Assigned Date:</label>
                  <span class="text-warning"> * </span>
                  <input class="form-control" readonly placeholder="Assigned Date" [minDate]="minDate1" (change)="dateassigned()"
                    [maxDate]="maxDate" bsDatepicker [bsConfig]="bsConfig" type="text" autocomplete="off" #totime="ngModel"
                    required name="assignedDate" style="width:100%; height:2.625em " [(ngModel)]="proj.assignedDate ">
                  <span *ngIf="totime.invalid && (totime.touched || totime.dirty)">
                    <span class="text-warning" [hidden]="!totime.errors.required" *ngIf="totime.errors && (totime.touched || totime.dirty)">Assigned
                      Date Required</span>
                    <span class="text-warning" *ngIf="totime.value=='Invalid Date'">Only Selection is Allowed</span>
                  </span>
                </div>
                <div class="form-group">
                  <label>Team Size:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" autocomplete="off" class="form-control" placeholder="Enter Team Size" name='teamSize'
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57" [(ngModel)]="proj.teamSize"
                    #teamSize="ngModel" required pattern="[0-9]{1,3}" minlength="3" maxlength="5">
                  <span class="text-warning" [hidden]="!teamSize.errors?.required" *ngIf="teamSize.errors && (teamSize.touched || teamSize.dirty)">Team
                    Size
                    Required</span>
                  <span class="text-warning" *ngIf="teamSize.errors?.pattern && (teamSize.touched || teamSize.dirty)">Please
                    Enter valid Team Size</span>
                </div>
                <div class="form-group">
                  <label>Category:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" autocomplete="off" class="form-control" placeholder="Enter Category" name='category'
                    onkeypress="return ( event.charCode >= 32|| event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)"
                    [(ngModel)]="proj.category" #category="ngModel" required pattern="^[^\d\W]+( [^\d\W]+)*$" minlength="3"
                    maxlength="15">
                  <span class="text-warning" [hidden]="!category.errors?.required" *ngIf="category.errors && (category.touched || category.dirty)">Category
                    Required</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Project:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" autocomplete="off" class="form-control" placeholder="Enter Project Name" name='projectName'
                    required pattern="^[^\d\W]+( [^\d\W]+)*$" onkeypress="return ( event.charCode >= 32|| event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)"
                    [(ngModel)]="proj.projectName " #projectName="ngModel" minlength="3" maxlength="150">
                  <span class="text-warning" [hidden]="!projectName.errors.required" *ngIf="projectName.errors && (projectName.touched || projectName.dirty)">Project
                    Required
                  </span>
                  <span class="text-warning" [hidden]="!projectName.errors?.pattern" *ngIf="projectName.errors && (projectName.touched || projectName.dirty)">Project
                    Contains Minimum 3 letters</span>
                </div>
                <div class="form-group">
                  <label>Details:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" autocomplete="off" class="form-control" placeholder="Enter Details" name='details'
                    [(ngModel)]="proj.details" #details="ngModel" required pattern="^[^\d\W]+( [^\d\W]+)*$" minlength="3"
                    maxlength="150" onkeypress="return ( event.charCode >= 32|| event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)">
                  <span class="text-warning" *ngIf="details.invalid && (details.touched || details.dirty)">
                    <span class="text-warning" [hidden]="!details.errors.required" *ngIf="details.errors && (details.touched || details.dirty)">Project
                      Details Required</span>
                    <span class="text-warning" [hidden]="!details.errors?.pattern" *ngIf="details.errors && (details.touched || details.dirty)">Project
                      Details Contains Minimum 4 letters</span>
                  </span>
                </div>
                <div class="form-group ">
                  <label for="pay ">Submission Date:</label>
                  <span class="text-warning"> * </span>
                  <input class="form-control" readonly placeholder="Submission Date" [minDate]="minDate" (click)="datesubmission()"
                    bsDatepicker [bsConfig]="bsConfig" type="text" autocomplete="off" #subtime="ngModel" required name="submissionDate"
                    style="width:100%; height:2.625em " [(ngModel)]="proj.submissionDate ">
                  <span *ngIf="subtime.invalid && (subtime.touched || subtime.dirty)">
                    <span class="text-warning" [hidden]="!subtime.errors.required" *ngIf="subtime.errors && (subtime.touched || subtime.dirty)">Submission
                      Date Required</span>
                    <span class="text-warning" *ngIf="subtime.value=='Invalid Date'">Only Selection is Allowed</span>
                  </span>
                </div>
                <div class="form-group">
                  <label for="mobile">Project Fee:</label>
                  <span class="text-warning"> * </span>
                  <input type="tel" minlength="1" maxlength="10" pattern="[0-9]{3,15}" required class="form-control"
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57" #fee="ngModel" name="fee"
                    [(ngModel)]="proj.fee " placeholder="Enter Project Fee">
                  <span class="text-warning" *ngIf="fee.invalid && (fee.touched || fee.dirty)">
                    <span class="text-warning" [hidden]="!fee.errors.required" *ngIf="fee.errors && (fee.touched || fee.dirty)">Fee
                      Amount
                      Required</span>
                    <span class="text-warning" [hidden]="!fee.errors.pattern" *ngIf="fee.errors && (fee.touched || fee.dirty)">please
                      enter only numbers
                    </span>
                  </span>
                </div> <br>
                <div class="text" class="form-group" *ngIf="!proj.Id">
                  <button type="button" class="btn btn-primary" [disabled]="branchId.value==0" value="submit" (click)="addProject()">Submit</button>
                  <div *ngIf="read==true && write==true || write==true">
                  </div>
                </div>
                <div class="text" class="form-group" *ngIf="proj.Id">
                  <button type="button" class="btn btn-primary" (click)="updateProject()">Update</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="viewprj" class="collapse">
  <div class="container">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Project Name">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Project</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.projectname}}</td>
      </ng-container>
      <ng-container matColumnDef="assignedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Assigned Date</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.assigneddate|date}}</td>
      </ng-container>
      <ng-container matColumnDef="submissionDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Submission Date</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.submissiondate|date}}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Project Type</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.type}}</td>
      </ng-container>
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Details</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.details}}</td>
      </ng-container>
      <ng-container matColumnDef="teamSize">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Team Size</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.teamsize}}</td>
      </ng-container>
      <ng-container matColumnDef="fee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Project Fee</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.fee}}</td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Category</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.category}}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Edit</h6>
        </th>
        <td mat-cell *matCellDef="let row" class="fa fa-pencil-square-o" id="Edit" data-toggle="modal" data-target="#responsive"
          (click)=editProjects(row.id)>
        </td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>