<div class="limiter" id="login">
  <div class="container-login100" style="background-image: url('https://colorlib.com/etc/lf/Login_v3/images/bg-01.jpg');">
    <div class="wrap-login100">
      <form class="login100-form validate-form" #loginform="ngForm" (ngSubmit)="Login(loginform)">
        <span i18n class="login100-form-title p-b-34 p-t-27">
          Log in
        </span>
        <div class="wrap-input100 validate-input" data-validate="Enter username">
          <input #loginId="ngModel" class="input100" type="text" placeholder="Username" [(ngModel)]='loginform.loginId'
            name='loginId' required minlength="6" maxlength="14">
          <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>
        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input #password="ngModel" class="input100" [type]="show ? 'text' : 'password'" placeholder="Password"
            [(ngModel)]='loginform.password' name='password' required minlength="6" maxlength="14">
          <span class="focus-input100" data-placeholder="&#xf191;"></span>
          <i [ngClass]="{'fa fa-eye-slash':!this.show}" aria-hidden="true" (click)="showPassword()" style="margin-top: -25px"></i>
          <i [ngClass]="{'fa fa-eye':this.show}" aria-hidden="true" (click)="showPassword()" style="margin-top: -25px"></i>
        </div>
        <p-toast key="emsg" [style]="{marginTop: '80px'}" position="top-center" class="text-danger"></p-toast>
        <div class="contact100-form-checkbox">
          <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
          <label i18n class="label-checkbox100" for="ckb1">
            Remember me
          </label>
        </div>
        <div class="container-login100-form-btn">
          <button i18n type="submit" class="login100-form-btn">
            Login
          </button>
        </div>
        <div i18n class="text-center p-t-90">
            Forgot 
          <a  class="txt1" routerLink="/login/forgotpassword">
             Password ?
          </a> | 
          <a  class="txt1" routerLink="/login/forgotusername">
             Username ?
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
<ngx-spinner bdOpacity="0.6" bdColor="rgba(82, 80, 80, 0.9)" size="large" color="#fff" type="pacman"></ngx-spinner>
<div class="row">
  <div class="form-group">
    <div class="col-md-4" style="display:inline-block;">
      <button i18n class="btn btn-danger" (click)="signInWithGoogle()"><span class='fa fa-google fa-lg'></span>
        &nbsp;|&nbsp; Link with Google</button>
    </div>
    <div class="col-md-4" style="display:inline-block;">
      <button i18n class="btn btn-primary"  (click)="signInWithFB()"><span class='fa fa-facebook fa-lg'></span>
        &nbsp;|&nbsp; Link with Facebook</button>
    </div>
    <div class="col-md-4" style="display:inline-block;">
      <button i18n class="btn btn-info"  (click)="signInWithLinkedIn()"><span class='fa fa-linkedin fa-lg'></span>
        &nbsp;|&nbsp; Link with LinkedIn</button>
    </div>
  </div>
</div>
