/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
$color-white :  #fff;
$trans : transparent;
$none : none;
$pointer:pointer;
$center:center;
$block:block;
$hunder:100%;
$translateY:translateY(-50%);




span {
  color: seashell;
}
@font-face {
  font-family: Poppins-Regular;
  src: url('https://colorlib.com/etc/lf/Login_v3/fonts/poppins/Poppins-Regular.ttf');
}
.modal {
  position: absolute;
  top: 185px;
  right: 100px;
}
#Edit:hover {
  text-decoration: underline;
  color: blue;
}
@font-face {
  font-family: Poppins-Medium;
  src: url('https://colorlib.com/etc/lf/Login_v3/fonts/poppins/Poppins-Medium.ttf');
}
@font-face {
  font-family: Poppins-Bold;
  src: url('https://colorlib.com/etc/lf/Login_v3/fonts/poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url('https://colorlib.com/etc/lf/Login_v3/fonts/poppins/Poppins-SemiBold.ttf');
}
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body, html {
  height: $hunder;
  font-family: Poppins-Regular, sans-serif;
}
/*---------------------------------------------*/
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  &:focus {
    outline: $none !important;
  }
  &:hover {
    text-decoration: $none;
    color: $color-white;
  }
}
/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}
p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}
ul, li {
  margin: 0px;
  list-style-type: $none;
}
/*---------------------------------------------*/
input {
  outline: $none;
  border: $none;
}
textarea {
  outline: $none;
  border: $none;
  &:focus {
    border-color: $trans  !important;
  }
}
input:focus {
  border-color: $trans  !important;
  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
    color: $trans ;
  }
}
textarea:focus {
  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
    color: $trans ;
  }
}
input {
  &::-webkit-input-placeholder {
    color: rgb(14, 13, 13);
  }
  &:-moz-placeholder {
    color: rgb(20, 20, 20);
  }
  &::-moz-placeholder {
    color: rgb(10, 10, 10);
  }
  &:-ms-input-placeholder {
    color: rgb(22, 22, 22);
  }
}
textarea {
  &::-webkit-input-placeholder {
    color: rgb(19, 18, 18);
  }
  &:-moz-placeholder {
    color: rgb(17, 17, 17);
  }
  &::-moz-placeholder, &:-ms-input-placeholder {
    color: rgb(12, 12, 12);
  }
}
label {
  margin: 0;
  display: $block;
}
/*---------------------------------------------*/
button {
  outline: $none !important;
  border: $none;
  background: $trans ;
  &:hover {
    cursor: pointer;
  }
}
iframe {
  border: $none !important;
}
/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #1b1b1b91;
  line-height: 1.5;
  &:hover {
    color: #1b1b1b;
  }
}
/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
  width: $hunder;
  margin: 0 auto;
}
.container-login100 {
  width: $hunder;
  min-height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: $center;
  align-items: $center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: $center;
  background-size: cover;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    display: $block;
    position: absolute;
    z-index: -1;
    width: $hunder;
    height: 500px;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
.wrap-login100 {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px 15px 15px 15px;
  background: $color-white;
  border: 5px solid #000;
}
/*------------------------------------------------------------------
[ Form ]*/
.login100-form {
  width: $hunder;
}
.login100-form-logo {
  font-size: 60px;
  color: #f1e9e9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: $center;
  align-items: $center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 auto;
}
.login100-form-title {
  font-family: Poppins-Medium;
  font-size: 30px;
  color: #000;
  line-height: 1.2;
  text-align: $center;
  text-transform: uppercase;
  display: $block;
}
/*------------------------------------------------------------------
[ Input ]*/
.wrap-input100 {
  width: $hunder;
  position: relative;
  border-bottom: 2px solid rgba(8, 8, 8, 0.24);
  margin-bottom: 30px;
  i {
    float: right;
    z-index: 100;
  }
}
.input100 {
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #000;
  line-height: 1.2;
  display: $block;
  width: $hunder;
  height: 45px;
  background: $trans ;
  padding: 0 5px 0 38px;
}
/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: $block;
  width: $hunder;
  height: $hunder;
  top: 0;
  left: 0;
  pointer-events: $none;
  &::before {
    content: "";
    display: $block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #000;
  }
  &::after {
    font-family: Material-Design-Iconic-Font;
    font-size: 22px;
    color: #000;
    content: attr(data-placeholder);
    display: $block;
    width: $hunder;
    position: absolute;
    top: 6px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
}
.input100:focus {
  padding-left: 5px;
  + .focus-input100 {
    &::after {
      top: -22px;
      font-size: 18px;
    }
    &::before {
      width: $hunder;
    }
  }
}
.has-val.input100 {
  + .focus-input100 {
    &::after {
      top: -22px;
      font-size: 18px;
    }
    &::before {
      width: $hunder;
    }
  }
  padding-left: 5px;
}
/*==================================================================
[ Restyle Checkbox ]*/
.contact100-form-checkbox {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}
.input-checkbox100 {
  display: $none;
}
.label-checkbox100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #000;
  line-height: 1.2;
  display: $block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  &::before {
    content: "\f26b";
    font-family: Material-Design-Iconic-Font;
    font-size: 13px;
    color: $trans ;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: $center;
    align-items: $center;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: #000;
    left: 0;
    top: 50%;
    -webkit-transform: $translateY;
    -moz-transform: $translateY;
    -ms-transform: $translateY;
    -o-transform: $translateY;
    transform: $translateY;
  }
}
.input-checkbox100:checked + .label-checkbox100::before {
  color: #f3f3f3;
}
/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: $hunder;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: $center;
}
.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #faf5f5;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: $center;
  align-items: $center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border-radius: 25px;
  background: #0a0a0a;
  background: -webkit-linear-gradient(to bottom, #050505, #0c0c0c);
  background: -o-linear-gradient(to bottom, #050505, #0c0c0c);
  background: -moz-linear-gradient(to bottom, #050505, #0c0c0c);
  background: linear-gradient(to bottom, #050505, #0c0c0c);
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  &::before {
    content: "";
    display: $block;
    position: absolute;
    z-index: -1;
    width: $hunder;
    height: $hunder;
    border-radius: 25px;
    background-color: rgb(92, 88, 88);
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  &:hover {
    color: $color-white;
    &:before {
      opacity: 0;
    }
  }
}
/*------------------------------------------------------------------
[ Responsive ]*/
@media (max-width: 576px) {
  .wrap-login100 {
    padding: 55px 15px 37px 15px;
  }
}
/*------------------------------------------------------------------
[ Alert validate ]*/
.validate-input {
  position: relative;
}
.alert-validate {
  &::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: $color-white;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: $translateY;
    -moz-transform: $translateY;
    -ms-transform: $translateY;
    -o-transform: $translateY;
    transform: $translateY;
    right: 0px;
    pointer-events: $none;
    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  &::after {
    content: "\f12a";
    font-family: FontAwesome;
    font-size: 16px;
    color: #c80000;
    display: $block;
    position: absolute;
    top: 50%;
    -webkit-transform: $translateY;
    -moz-transform: $translateY;
    -ms-transform: $translateY;
    -o-transform: $translateY;
    transform: $translateY;
    right: 5px;
  }
  &:hover:before {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}