<div class="container">
  <div class="jumbotron">
    <h2>Allocate Shifts</h2>
  
    <div class="btn-align">
        <div class="dropdown">
          <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">  <span style="font-size:2em;" class="fa fa-clock-o"></span>Allocate-Shifts
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)=getIds()><small class="fa fa-plus-circle" >Add</small></a>
            <a class="dropdown-item" href="#viewbrn" data-toggle="collapse" role="button"><small class="fa fa-th-list" > <span id='showdata'>  View </span><span id='datahide'>  Hide </span> </small></a>
          </div>
        </div>
        </div>
    </div>
</div>
<div *ngIf="show">
  <form #alctshifts="ngForm">
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <label>Department</label>
          <span class="text-danger"> * </span>
          <select class="form-control" #dpt="ngModel" ngModel required name="dpt" [(ngModel)]="allocateshift.departmentId"
            (change)=getUsersOfDept()>
            <option value="" selected>Select </option>
            <option *ngFor="let item of departmentlist" value="{{item.dep_id}}">{{item.dep_name}}</option>
          </select>
          <span class="text-danger" *ngIf="dpt.value=='Select'">Please select department </span>
          <span class="text-danger" [hidden]="!dpt.errors.required" *ngIf="dpt.errors && (dpt.touched || dpt.dirty)">Please
            Select</span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label>Shifts:</label>
          <span class="text-danger"> * </span>
          <select class="form-control" #shiftid="ngModel" style="width:100%; height:2.625em" placeholder="type " name='shiftid'
            [(ngModel)]="allocateshift.shiftId" required>
            <option value="0" selected>Select Shifts</option>
            <option *ngFor="let sid of shiftList" value="{{sid.shiftid}}">{{sid.shiftname}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="dt">Date:</label>
          <span class="text-danger"> * </span>
          <div class="form-group">
            <input class="form-control" required placement="left" #date="ngModel" placeholder="Date" readonly #drp="bsDaterangepicker"
              [minDate]="minDate" name="date" bsDaterangepicker [(ngModel)]="Date" [bsConfig]=" {containerClass: 'theme-dark-blue' } ">
          </div>
          <span class="text-danger" [hidden]="!shiftsList.errors.required" *ngIf="date.errors && (date.touched || date.dirty)">Enter
            Date
          </span>
        </div>
        <div class="text-center" class="form-group" style="margin-top: 1.75em;margin-left: 6.25em;">
          <button type="button" class="btn btn-primary" value="submit" (click)="addallocateshifts()">Submit</button>
        </div>
        <div *ngIf="read==true && write==true || write==true">
        </div>
      </div>
    </div>
  </form>
</div>
<table class="table">
  <tr>
    <th>User Name</th>
    <th>Select</th>
  </tr>
  <tr *ngFor="let u of deptUsers">
    <td>{{u.firstname}} {{u.lastname}}</td>
    <td><input type="checkbox" [(ngModel)]="u.checkBoxStatus"></td>
  </tr>
</table>


<div id="viewbrn" class="collapse">
  <mat-form-field  >
      <input matInput placeholder="Filter By name">
    </mat-form-field>
      <table  mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
        </ng-container>
        <ng-container matColumnDef="departmentName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Department Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>StartDate</th>
          <td mat-cell *matCellDef="let row">{{row.startdate}}</td>
        </ng-container>
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>EndDate</th>
          <td mat-cell *matCellDef="let row">{{row.enddate}}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef='displayedColumns'>
        </tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>  
      </table>
      <mat-paginator [length]="100"  #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
    </div>