#Edit:hover {
  text-decoration: underline;
  color: blue;
}
.sizee {
  resize: none;
}
.stepper {
  color: purple;
}
::ng-deep .mat-step-header .mat-step-icon {
  background-color: #1e7fee;
  color: rgba(255, 255, 255, 0.87);
}
label {
  color: black;
}
table {
  width: 100%;
}
mat-slide-toggle span {
  color: blueviolet;
}