<br>
<div class="container" [hidden]="this.usr.role=='IBAdmin' ">
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step label="Step 1" [stepControl]="adduserForm">
      <form #adduserForm="ngForm">
        <ng-template matStepLabel>Fill out your details</ng-template>
        <div class="row">
          <div class="form-group col-sm-4">
            <label for="fn">First Name:
              <span class="text-danger"> * </span>
            </label>
            <input type="text" maxlength="20" autocomplete="off" required #firstName="ngModel" pattern="[A-Za-z]{0,30}"
              minlength="3" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)"
              class="form-control" name="firstName" [(ngModel)]="usr.firstName" placeholder="First Name">
            <span class="text-danger" [hidden]="!firstName.errors.required" *ngIf="firstName.errors && (firstName.touched || firstName.dirty)">First
              Name Required</span>
            <span class="text-danger" [hidden]="!firstName.errors.pattern" *ngIf="firstName.errors && (firstName.touched || firstName.dirty)">Please
              enter only alphabets</span>
            <span class="text-danger" [hidden]="!firstName.errors.minlength || firstName.errors.pattern" *ngIf="firstName.errors">
              Enter First Name with min 3 characters.</span>
          </div>
          <div class="form-group col-sm-4">
            <label for="ln">Last Name:
              <span class="text-danger"> * </span>
            </label>
            <input type="text" autocomplete="off" required #lastName="ngModel" pattern="[A-Za-z]{0,30}" maxlength="30"
              minlength="3" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)"
              class="form-control" name="lastName" [(ngModel)]="usr.lastName" placeholder="Last Name">
            <span class="text-danger" [hidden]="!lastName.errors.required" *ngIf="lastName.errors && (lastName.touched || lastName.dirty)">Last
              Name Required</span>
            <span class="text-danger" [hidden]="!lastName.errors.pattern" *ngIf="lastName.errors && (lastName.touched || lastName.dirty)">Last
              Name accepts only alphabets</span>
            <span class="text-danger" [hidden]="!lastName.errors.minlength || lastName.errors.pattern" *ngIf="lastName.errors">
              Enter Last Name with min 3 characters.</span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label for="dob">DOB (MM/DD/YYYY):
              <span class="text-danger"> * </span>
            </label>
            <div class="form-group">
              <input type="text" readonly autocomplete="off" [minDate]="minDate" [maxDate]="maxDate" bsDatepicker
                [bsConfig]="bsConfig" [bsConfig]=" {containerClass: 'theme-dark-blue'} " name="dob" placeholder="MM/DD/YYYY"
                class="form-control" #dob="ngModel" bsDatepicker [(ngModel)]="usr.dob" required [bsConfig]="bsConfig">
              <span class="text-danger" [hidden]="!dob.errors.required" *ngIf="dob.errors && (dob.touched || dob.dirty)">Date
                of birth Required</span>
         
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label class="form-check-label" for="Gender">Gender:</label>
            <span class="text-danger"> * </span>
            <div class="radio-inline">
              <input type="radio" id="male" name="gender" [(ngModel)]="usr.gender" value="m"> Male
              <input type="radio" id="female" name="gender" [(ngModel)]="usr.gender" value="f"> Female
              <input type="radio" id="other" name="gender" [(ngModel)]="usr.gender" value="o"> Others
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <input type="hidden" class="form-control" name="role" [(ngModel)]="usr.role">
          </div>
          <div class="form-group col-sm-4">
            <button type="submit" class="btn btn-primary" [disabled]="!adduserForm.valid" mat-button matStepperNext
              (click)="addUser()">Save and Continue
            </button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step class="stepper" label="Step 2" [optional]="isOptional">
      <form #addcontactdetails="ngForm">
        <ng-template matStepLabel>Fill out your Contact details</ng-template>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="country">Country:</label>
              <mat-select class="form-control" placeholder="Country" required #country="ngModel" (ngModelChange)="getStates(country.value)"
                [(ngModel)]="cdi.country" name="country">
                <mat-option value='0' disabled selected>Select Country</mat-option>
                <mat-option *ngFor="let ucl of usercountryList" value="{{ucl.id}}">
                  {{ucl.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-sm-4">
            <label for="state">State:</label>
            <mat-select class="form-control" placeholder="State" required #state="ngModel" (ngModelChange)="getCities(state.value)"
              [(ngModel)]="cdi.state" name="state">
              <mat-option value='0' disabled selected>Select State</mat-option>
              <mat-option *ngFor="let usl of userstateList" value="{{usl.id}}">
                {{usl.name}}
              </mat-option>
            </mat-select>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="city">City:</label>
              <mat-select class="form-control" required #city="ngModel" placeholder="City" [(ngModel)]="cdi.city" name="city"
              (ngModelChange)="getAllPlaces()">
                <mat-option value='0' disabled selected>Select City</mat-option>
                <mat-option *ngFor="let ucl of usercitiesList" value="{{ucl.id}}">
                  {{ucl.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="plc">Place:</label>
              <input type="text" autocomplete="off" [typeahead]="placeList" typeaheadOptionField="locationname"
                [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="3" maxlength="50" class="form-control"
                required #place="ngModel" [(ngModel)]="cdi.place" name="place" placeholder="Place" (keyup)="onKeydown($event)"
                pattern="^\w+( (\- ){0,3}\w+)*$" />  
                <span class="text-danger" [hidden]="!place.errors.required" *ngIf="place.errors && (place.touched || place.dirty)">Place
                  Required
                </span>
                <span class="text-danger" [hidden]="!place.errors.pattern" *ngIf="place.errors && (place.touched || place.dirty)">Enter
                  valid place
                </span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="ads">Address:</label>
              <textarea pInputTextarea autoResize="autoResize" autocomplete="off" class="form-control" maxlength="100"
                style="resize:none" required rows="1" #address="ngModel" [(ngModel)]="cdi.address" name="address"
                pattern="^[\w&.,/\-]+([ \w&.,/\-]+)*$" placeholder="Address"></textarea>       
            </div>
            <span class="text-danger" [hidden]="!address.errors.required" *ngIf="address.errors && (address.touched || address.dirty)">Address
              is
              Required
            </span>
            <span class="text-danger" [hidden]="!address.errors.pattern" *ngIf="address.errors && (address.touched || address.dirty)">Enter
              valid Address
            </span>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="mobile">Mobile Number:</label>
              <span class="text-danger"> * </span>
              <input type="tel" minlength="10" maxlength="10" autocomplete="off" pattern="((?:6|7|8|9)[0-9])+(?:-?\d){8,15}"
                required class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" #mobile="ngModel"
                [(ngModel)]="cdi.mobile" name="mobile" placeholder="Mobile Number" (keyup)="verifyMobile('mobile',mobile)">
              <span class="text-danger" [hidden]="!mobile.errors.required" *ngIf="mobile.errors && (mobile.touched || mobile.dirty)">Mobile
                Number Required
              </span>
              <span class="text-danger" [hidden]="!mobile.errors.pattern" *ngIf="mobile.errors && (mobile.touched || mobile.dirty)">Please
                enter a valid mobile number(min 10 digits)</span>
              <span class="text-danger" [hidden]="mobilevalidation==true" *ngIf="mobilevalidation==false">
                <i>Mobile Number already exits </i>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email:</label>
              <span class="text-danger"> * </span>
              <input type="email" required maxlength="40" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z]+\.[a-zA-Z]{2,3}$" class="form-control"
                #email="ngModel" [(ngModel)]="cdi.email" name="email" placeholder="Email" (keyup)="verifyEmail('email')">
              <span class="text-danger" [hidden]="!email.errors.required" *ngIf="email.errors && (email.touched || email.dirty)">Email
                Required
              </span>
              <span class="text-danger" [hidden]="!email.errors.pattern" *ngIf="email.errors && (email.touched || email.dirty)">Please
                Enter Valid Email</span>
              <span class="text-danger" [hidden]="Emailvalidation==true " *ngIf="Emailvalidation==false">
                <i>Email already exits </i>
              </span>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-group">
              <label for="uniqueIdentificationNo">Unique Id:
                <span *ngIf="usr.role!='Driver'">Aadhaar</span>
                <span *ngIf="usr.role=='Driver'">Driving Licence without statecode</span>)(optional)</label>
              <span class="text-danger"> * </span>
              <input type="text" autocomplete="off" class="form-control" required minlength="12" maxlength="14" pattern="[0-9]{12,14}"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57" #uniqueIdentificationNo="ngModel"
                [(ngModel)]='cdi.uniqueIdentificationNo' name="uniqueIdentificationNo" placeholder="Unique Identification Number"
                (keyup)="verifyAuthencation('UniqueIdentificationNo',uniqueIdentificationNo)">
              <span class="text-danger" [hidden]="!uniqueIdentificationNo.errors.pattern" *ngIf="uniqueIdentificationNo.errors && (uniqueIdentificationNo.touched || uniqueIdentificationNo.dirty)">
                Enter a valid Unique Identification number</span>
              <span class="text-danger" [hidden]="!uniqueIdentificationNo.errors.required" *ngIf="uniqueIdentificationNo.errors && (uniqueIdentificationNo.touched || uniqueIdentificationNo.dirty)">Unique
                Identification Number Required
              </span>
              <span class="text-danger" [hidden]="aadhaarevalidation==true" *ngIf="aadhaarevalidation==false">
                <i> Unique Identification Number already exits </i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-8" style="margin-left:350px;">
          <button type="button" class="btn btn-primary" matStepperPrevious>Back</button> &nbsp;
          <button type="submit" class="btn btn-primary" matStepperNext  [disabled]="!mobile.valid || !email.valid"  (click)="addContactDetails(addcontactdetails)">Submit</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>
<div [hidden]="this.usr.role!='IBAdmin' ">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Role">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
    </ng-container>
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>
    <ng-container matColumnDef="Mobile">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
      <td mat-cell *matCellDef="let row">{{row.mobile}}</td>
    </ng-container>
    <ng-container matColumnDef="Role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
      <td mat-cell *matCellDef="let row">{{row.rolename}}</td>
    </ng-container>
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">
        <mat-slide-toggle (change)="onChange($event,row.id)" class="example-margin" color="primary" [checked]="row.loginstatus=='ACTIVE'">
          <span *ngIf="row.loginstatus=='ACTIVE'">Active</span>
          <span *ngIf="row.loginstatus=='INACTIVE'">In-Active</span>
        </mat-slide-toggle>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef='displayedColumns'>
    </tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
  </table>
  <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
<div id="viewtrainerlog" class="collapse">
  <h3>Trainer loggedTime</h3>
  <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Role">
    </mat-form-field>
    <mat-table [dataSource]="stafflogSource" matSort>
      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>User Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.firstname}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="rolename">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Role Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.rolename}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="loggedtime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>logged time</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.loggedtime|date:'medium'}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef='stafflogColumn'>
      </mat-header-row>
      <mat-row *matRowDef="let row;columns:stafflogColumn"></mat-row>
    </mat-table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
<div id="viewtraineelog" class="collapse">
  <h3>Trainee loggedTime</h3>
  <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Role">
    </mat-form-field>
    <mat-table [dataSource]="studentlogSource" matSort>
      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>User Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.firstname}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="rolename">
        <mat-header-cell *matHeaderCellDef mat-sort-header>role</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.rolename}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="loggedtime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>logged time</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.loggedtime|date:'medium'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
          </span></mat-header-cell>
        <mat-cell *matCellDef="let row">
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef='studentlogColumn'>
      </mat-header-row>
      <mat-row *matRowDef="let row;columns:studentlogColumn"></mat-row>
    </mat-table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>