<div class="container">
  <div class="jumbotron">
      <h2 >Transport Route Details</h2>
      <hr/>
 
  <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"><i class="fa fa-road">   Transport Route Details</i>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" href="#responsive1"  *ngIf="read==true && write==true || write==true" data-target="#responsive" (click)=getIds()><small class="fa fa-plus-circle" >  Add Transport Route </small></a>
          <a class="dropdown-item" href="#vieworg" data-toggle="collapse" role="button"  (click)=transportRoute()><small class="fa fa-th-list" >  <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span>Transport Route</small></a>
        </div>
      </div>
      </div>
</div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Transport-Route</h4>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #addTransroute="ngForm" >
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="name">Route:</label>
                  <span class="text-warning"> * </span>
                  <input class="form-control" type="text" autocomplete="off" minlength="3" name="name" [(ngModel)]="transportroute.name" maxlength="30" id="name"
                    placeholder="Enter Name" #name="ngModel" required pattern="[A-Za-z][A-Za-z -.,/]{2,30}">
                  <span class="text-warning" *ngIf="name.invalid && (name.touched || name.dirty)">
                    <span class="text-warning" [hidden]="!name.errors.required" *ngIf="name.errors && (name.touched || name.dirty)">Route Required
                    </span>
                    <span class="text-warning" [hidden]="!name.errors.pattern" *ngIf="name.errors && (name.touched || name.dirty)">Route Should Contain Only Alphabets</span>
                    <span class="text-warning" [hidden]="!name.errors.minlength || name.errors.pattern" *ngIf="name.errors && (name.touched || name.dirty)">Route Should Contain Minimum 4 chars</span>
                  </span>
                </div>
                <div class="form-group">
                  <label for="sp">Start Point:</label>
                  <span class="text-warning"> * </span>
                  <input class="form-control" type="text" minlength="4" autocomplete="off" name="startPoint" [(ngModel)]="transportroute.startPoint" maxlength="30"
                    id="sp" placeholder="Enter Start Point " #sp="ngModel" required pattern="^[a-zA-Z]+(\s[a-zA-Z]+)?$" >
                  <span class="text-warning" *ngIf="sp.invalid && (sp.touched || sp.dirty)">
                    <span class="text-warning" [hidden]="!sp.errors.required" *ngIf="sp.errors && (sp.touched || sp.dirty)">Start Point Required..</span>
                    <span class="text-warning" [hidden]="!sp.errors.pattern" *ngIf="sp.errors && (sp.touched || sp.dirty)">Start Point Should Contain Only Alphabets</span>
                    <span class="text-warning" [hidden]="!sp.errors.minlength || sp.errors.pattern" *ngIf="sp.errors && (sp.touched || sp.dirty)">Start Point Should Contain Atleast 4 Letters</span>
                  </span>
                </div>
                <div class="form-group">
                  <label for="ep">End Point:</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" type="text" autocomplete="off" name="endPoint" [(ngModel)]="transportroute.endPoint" id="ep"
                    placeholder="Enter Route To" #ep="ngModel" required pattern="[A-Za-z]{4,30}">
                    <option value="0"  disabled selected>Select End Point</option>
                    <option *ngFor="let sb of schoolBranch" value="{{sb.branchname}}">{{sb.branchname}}</option>
                  </select>
                  <span class="text-warning" [hidden]="!ep.errors.required" *ngIf="ep.value=='0'  && (ep.touched || ep.dirty)">Please Select End Point</span>
                  <span class="text-warning" [hidden]="!ep.errors.required" *ngIf="ep.errors && (ep.touched || ep.dirty)">End Point Required..</span>
                </div>
                <div class="form-group">
                  <label for="bid">Bus Number:</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" name="busId" [(ngModel)]="transportroute.busId" placeholder="Route Id" id="bid" #bid="ngModel"
                    required>
                    <option value="0"  disabled selected>Select Bus Number</option>
                    <option *ngFor="let rout of busDetails" value={{rout.id}}>{{rout.regnum}}</option>
                  </select>
                  <span class="text-warning" [hidden]="!bid.errors.required" *ngIf="bid.value=='0'  && (bid.touched || bid.dirty)">Please Select Bus Number</span>
                  <span class="text-warning" [hidden]="!bid.errors.required" *ngIf="bid.errors && (bid.touched || bid.dirty)">Bus Required..</span>
                  <span class="text-warning" [hidden]="!bid.errors.value" *ngIf="bid.errors && (bid.touched || bid.dirty)">Please Select
                  </span>
                </div>
                <div class="form-group" class="text-center" *ngIf="!transportroute.Id">
                  <button type="submit" class="btn btn-primary"      (click)="addTransportRoute()" data-dismiss="modal" value="Submit">Submit</button>
                </div>
                <div class="form-group" class="text-center" *ngIf="transportroute.Id">
                  <button type="button" class="btn btn-primary" (click)=updateTransportRoute() data-dismiss="modal" value="Update">Update</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="Transportroute">
    <div *ngIf="rolename=='SchoolAdmin'" >
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Branch">
        </mat-form-field>
            </div>
            <div *ngIf="rolename=='BranchAdmin'">
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Route Name">
        </mat-form-field>
                </div>
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="RouteName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Route</th>
    <td mat-cell *matCellDef="let row">{{row.name}}</td>
  </ng-container>
  <ng-container matColumnDef="StartPoint">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Point</th>
    <td mat-cell *matCellDef="let row">{{row.startpoint}}</td>
  </ng-container>
  <ng-container matColumnDef="EndPoint">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>End Point</th>
    <td mat-cell *matCellDef="let row">{{row.endpoint}}</td>
  </ng-container>
  <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
      <td mat-cell *matCellDef="let row">{{row.branchname}}</td>
    </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><span  [hidden]="rolename!='BranchAdmin' ">edit</span></th>
    <td mat-cell *matCellDef="let row">
      <div [hidden]="rolename!='BranchAdmin' " id="Edit" data-toggle="modal" data-target="#responsive" (click)="editTransportRoute(row.id)">
        <i class="fa fa-pencil-square-o"></i>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Excel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
      </span></th>
      <td mat-cell *matCellDef="let row">
      </td>
    </ng-container>
  <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
  <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
</table>
<mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
  </div>
</div>