<div class="container">
  <div class="jumbotron">
    <h2>Pay Slip</h2>
    <hr />
  </div>
  <form #paySlipForm>
    <div class="text-center" *ngIf="rolename!='BranchAdmin'">
      Select Month: <p-calendar name="date1" [(ngModel)]="date1" view="month" dateFormat="mm-yy" [yearNavigator]="true"
        yearRange="2000:2030" [readonlyInput]="true" (onSelect)="getPaySlip()"></p-calendar>
    </div>
    <div class="text-center" *ngIf="rolename=='BranchAdmin'">
      Select Month: <p-calendar name="date" [(ngModel)]="date" view="month" dateFormat="mm-yy" [yearNavigator]="true"
        yearRange="2000:2030" [readonlyInput]="true" (onSelect)="getAllPaySlips()"></p-calendar>
    </div>
    <br><br>

    <div>
      <button type="button" (click)="viewSlip()" class="btn btn-outline-info btn-lg"> View Payslips </button>
    </div>
    <div *ngFor='let a of payslips'>
      <a href="{{myUrl+'/salary/Public/payslip/'+usr+'/'+a.image}}" target="_blank"> {{a.image}}</a>
    </div>

    <div *ngIf="showAllPaySlip">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Name">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let row">{{row.userid}}</td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
        </ng-container>
        <ng-container matColumnDef="Presentdays">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Present days</th>
          <td mat-cell *matCellDef="let row">{{row.present}}</td>
        </ng-container>
        <ng-container matColumnDef="Absentdays">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Absent days</th>
          <td mat-cell *matCellDef="let row">{{row.absent}}</td>
        </ng-container>
        <ng-container matColumnDef="WeekOffs">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Week Offs</th>
          <td mat-cell *matCellDef="let row">{{row.weekoffs}}</td>
        </ng-container>
        <ng-container matColumnDef="Salary/Month">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary/Month</th>
          <td mat-cell *matCellDef="let row">{{row.salary}}</td>
        </ng-container>
        <ng-container matColumnDef="CurrentSalary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Salary</th>
          <td mat-cell *matCellDef="let row">{{row.grosssalary}}</td>
        </ng-container>
        <ng-container matColumnDef="SendPaySlip">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Send PaySlip</th>
          <td mat-cell *matCellDef="let row">
            <div class="row col-sm-12">
              <div class="col-sm-2" *ngIf="!row.grosssalarystatus && row.extraallowancesstatus!='Active'" data-toggle="modal"
                data-target="#myModal" (click)="saveUserId(row.userid,'Allowance')">+</div>
              <div class="col-sm-2" *ngIf="!row.grosssalarystatus  && row.extraallowancesstatus!='Active'" data-toggle="modal"
                data-target="#myModal" (click)="saveUserId(row.userid,'Deduction')">-</div>
              <div class="col-sm-2" *ngIf="!row.grosssalarystatus  && row.extraallowancesstatus!='Active'" (click)="updateExtraAllowance(row.userid)"><i
                  class="fa fa-check" aria-hidden="true"></i></div>
              <div class="col-sm-2" *ngIf="row.extraallowancesstatus=='Active' && !row.grosssalarystatus">
                <input type="checkbox" [disabled]="row.grosssalarystatus" [class.disabled]="row.grosssalarystatus" name="checkbox"
                  [(ngModel)]="row.checkboxStatus"></div>
              <div class="col-sm-2" *ngIf="row.grosssalarystatus">
                <a *ngIf="row.grosssalarystatus=='Active'" (click)="sendPaySlips(month2,row.userid)" class="fa fa-envelope-o"
                  style="font-size:1.5em;"></a>
                <a *ngIf="row.grosssalarystatus=='Sent'" (click)="sendPaySlips(month2,row.userid)" class="fa fa-envelope-open"
                  style="color:green;font-size:1.5em;"></a>
                <a *ngIf="row.grosssalarystatus=='Inactive'" (click)="sendPaySlips(month2,row.userid)" class="fa fa-envelope-open-o"
                  style="color:red;font-size:1.5em;"></a>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
      <br>
      <input type="submit" value="Generate Pay Slip" (click)="generateGrossSalary(month2)" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </form>
  <div #payslip id="payslip" class="container" style="background-color:white" *ngIf="showMyPaySlip">
    <h2><img src="{{myUrl+'/slogo/'+paySlipOfUserList[0].organizationid+'.png'}}" height='100' width='100' alt="Image">{{paySlipOfUserList[0].schoolname}}</h2>
    <table class="table">
      <tr>
        <th colspan="2">SalarySlip</th>
        <th>Month: {{paySlipOfUserList[0].month}}</th>
      </tr>
      <tr>
        <td>Name: </td>
        <td>{{paySlipOfUserList[0].firstname}} {{paySlipOfUserList[0].lastname}}</td>
        <td>Working Days:</td>
        <td>{{userPaySlip.absent+userPaySlip.present}}</td>
      </tr>
      <tr>
        <td>FacultyID:</td>
        <td>{{userPaySlip.usrcode}}</td>
        <td>Public Holidays:</td>
        <td>{{userPaySlip.weekoffs}}</td>
      </tr>
      <tr>
        <td>Designation: </td>
        <td>{{paySlipOfUserList[0].rolename}}</td>
        <td>Days Present:</td>
        <td>{{userPaySlip.present}}</td>
      </tr>
      <tr>
        <td>DOJ:</td>
        <td>{{paySlipOfUserList[0].doj|date}}</td>
      </tr>
      <tr>
        <td>Income Tax PAN</td>
        <td>{{paySlipOfUserList[0].pannumber}}</td>
      </tr>
      <tr>
        <td>Payment Details:</td>
      </tr>
      <tr>
        <td>PF A/C No:</td>
        <td>{{paySlipOfUserList[0].pfnumber}}</td>
        <td>UAN No:</td>
        <td></td>
      </tr>
      <tr>
        <td>Bank</td>
        <td>{{paySlipOfUserList[0].bankname}}</td>
        <td>A/C No:</td>
        <td>{{paySlipOfUserList[0].accountnumber}}</td>
      </tr>
      <tr>
        <th>EMOLUMENTS</th>
        <th>Amount Rs.</th>
        <th>DEDUCTIONS</th>
        <th>Amount Rs.</th>
      </tr>
      <tr *ngFor="let li of allowancesList">
        <td><i *ngIf="li.type=='Allowance'">{{li.allowancestype}}</i></td>
        <td><i *ngIf="li.type=='Allowance'">{{(paySlipOfUserList[0].salary*li.percentage)/100|number}}</i></td>
        <td><i *ngIf="li.type=='Deduction'">{{li.allowancestype}}</i></td>
        <td><i *ngIf="li.type=='Deduction'">{{(paySlipOfUserList[0].salary*li.percentage)/100|number}}</i></td>
      </tr>
      <tr>
        <th>Gross Pay</th>
        <th>Rs.{{paySlipOfUserList[0].salary|number}}</th>
        <th>Net Pay</th>
        <th>Amount Rs.{{paySlipOfUserList[0].grosssalary|number}}</th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" id="box">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Extra {{extraAllowance.type}}s</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <label style="color:white">{{extraAllowance.type}} Name</label>
        <select [(ngModel)]="extraAllowance.allowanceName">
          <option *ngFor="let a of allList">{{a}}</option>
        </select>
        <br>
        <label style="color:white">Amount</label>
        <input type="text" [(ngModel)]="extraAllowance.amount"><br>
        <button (click)=addExtraAllowance()>Add</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
