.disabled {
  cursor: not-allowed;
}
.img {
  width: 100%;
  height: 9.375em;
}
#img1 {
  width: 11.25em;
  height: 8.75em;
  margin-right: 8.75em;
}
td {
  font-size: 1.25em;
}
.jumbotron {
  padding: 1rem 1rem;
  margin-top: 79px
}