<div class="container">
  <div class="jumbotron">
    <h2>Hostel Fee</h2>
    <hr />
    
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> <span style="font: size 1em;"
            class="fa fa-money"> Hostel Fee</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" *ngIf="read==true && write==true || write==true"
            data-target="#responsive" (click)=getAllhostels()><small class="fa fa-plus-circle"> Add Hostel Fee </small></a>
          <a class="dropdown-item" href="#viewhstfee" data-toggle="collapse" role="button"><small class="fa fa-th-list">
            <span id='showdata'>  View </span><span id='datahide'>  Hide </span> HostelFee</small> </a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog modal-lg" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Hostel fee</h4>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">&times;
          </button>
        </div>
        <div>
          <form #hostelfeeForm="ngForm" novalidate>
            <div class="row">
              <div class="form-group col-lg-6 ">
                <label for="Totalamount">Total Amount:</label>
                <span class="text-warning"> * </span>
                <input class="form-control" type="text" pattern="[0-9][0-9.,]{0,12}" maxlength="12" class="form-control"
                  id="Totalamount" placeholder="Enter Payamount" [(ngModel)]="hstlfee.totalAmount" (keyup)="calculateDue()"
                  name="Totalamount" #Totalamount=ngModel required min=0>
                <span class="text-warning" *ngIf="Totalamount.invalid && (Totalamount.touched || Totalamount.dirty)">
                  <span class="text-warning" [hidden]="!Totalamount.errors.required" *ngIf="Totalamount.errors && (Totalamount.touched || Totalamount.dirty)">Totalamount
                    Required..
                  </span>
                  <span class="text-warning" [hidden]="!Totalamount.errors.pattern" *ngIf="Totalamount.errors && (Totalamount.touched || Totalamount.dirty)">please
                    enter only numbers
                  </span>
                </span>
              </div>
              <div class="form-group col-lg-6">
                <label for="payamount">Paid amount:</label>
                <span class="text-warning"> * </span>
                <input class="form-control" type="text" pattern="[0-9][0-9.,]{0,12}" maxlength="12" class="form-control"
                  id="payamount" placeholder="Enter Payamount" [(ngModel)]="hstlfee.paidAmount" (keyup)="calculateDue()"
                  name="payamount" #payamount=ngModel required min=0>
                <span class="text-warning" *ngIf="payamount.invalid && (payamount.touched || payamount.dirty)">
                  <span class="text-warning" [hidden]="!payamount.errors.required" *ngIf="payamount.errors && (payamount.touched || payamount.dirty)">payamount
                    Required..
                  </span>
                  <span class="text-warning" [hidden]="!payamount.errors.pattern" *ngIf="payamount.errors && (payamount.touched || payamount.dirty)">please
                    enter only numbers
                  </span>
                </span>
              </div>
              <div class="form-group col-lg-6">
                <label for="pay">Pay Date:</label>
                <span class="text-warning"> * </span>
                <input class="form-control" type="text" autocomplete="off" name="date" bsDatepicker [bsConfig]="bsConfig"
                  [bsConfig]=" {containerClass: 'theme-dark-blue' }" [maxDate]="maxDate" [minDate]="minDate"
                  placeholder="Pay Date" [(ngModel)]="hstlfee.payDate" style="width:100%; height:42px" id="pay" #pay="ngModel"
                  required>
                <span class="text-warning" *ngIf="pay.invalid && (pay.touched || pay.dirty)">
                  <span class="text-warning" [hidden]="!pay.errors.required" *ngIf="pay.errors && (pay.touched || pay.dirty)">*
                    Paid Date Required..</span>
                  <span class="text-warning" *ngIf="pay.value=='Invalid Date'">Only Selection is Allowed</span>
                </span>
              </div>
              <div class="form-group col-lg-6">
                <label for="due">due amount:</label>
                <span class="text-warning"> * </span>
                <input class="form-control" type="number" autocomplete="off" name="due" [(ngModel)]="hstlfee.dueAmount"
                  style="width:100%; height:42px" #due="ngModel" required min=0>
                <span class="text-warning" *ngIf="due.invalid && (due.dirty || due.touched) && due.errors.required">
                  *Due Amount Required
                </span>
              </div>
              <div class="form-group col-lg-6">
                <label for="paymode">Pay Mode:</label>
                <span class="text-warning"> * </span>
                <input class="form-control" type="text" maxlength="15" pattern="[A-Za-z]{0,15}" autocomplete="off" name="payMode"
                  id="paymode" [(ngModel)]="hstlfee.payMode" style="width:100%; height:42px" #paymode="ngModel"
                  required>
                <span class="text-warning" *ngIf="paymode.invalid && (paymode.touched || paymode.dirty)">
                  <span class="text-warning" [hidden]="!paymode.errors.required" *ngIf="paymode.errors && (paymode.touched || paymode.dirty)">paymode
                    Required..
                  </span>
                  <span class="text-warning" [hidden]="!paymode.errors.pattern" *ngIf="paymode.errors && (paymode.touched || paymode.dirty)">please
                    enter only alphabets
                  </span>
                </span>
              </div>
              <div class="form-group col-lg-6">
                <label>Hostel place</label> &nbsp;&nbsp;
                <span class="text-warning"> * </span>
                <select required #userId="ngModel" style="width:100%; height:42px" class="form-control" placeholder="type"
                  name='userId' [(ngModel)]="hstlfee.hostelId">
                  <option>Select Hostel Place</option>
                  <option *ngFor="let user of hostelDetails" value={{user.hostelid}}>{{user.branchname}}</option>
                </select>
                <span class="text-warning" *ngIf="userId.value=='Select'">*Please Select</span>
                <span class="text-warning" [hidden]="!userId.errors.required" *ngIf="userId.errors && (userId.touched || userId.dirty)">Hostel
                  Required </span>
                <span class="text-warning" [hidden]="!userId.errors.value" *ngIf="userId.errors && (userId.touched || userId.dirty)">Please
                  Select
                </span>
              </div>
              <div align="center">
                <input type="button" value="Submit" [disabled]="userId.value==0" class="btn btn-primary" *ngIf="!hstlfee.Id"
                  data-dismiss="modal" (click)="addhostelFeePayments()">
              </div>
              <div class="form-group" class="text-center" *ngIf="hstlfee.Id">
                <button type="button" class="btn btn-primary" value="update" (click)="updHostelFee()" data-dismiss="modal">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="viewhstfee" class="collapse">
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Student">
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="totalAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>totalAmount</th>
        <td mat-cell *matCellDef="let row">{{row.totalamount}}</td>
      </ng-container>
      <ng-container matColumnDef="Payamount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Payamount</th>
        <td mat-cell *matCellDef="let row">{{row.paidamount}}</td>
      </ng-container>
      <ng-container matColumnDef="payDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pay date</th>
        <td mat-cell *matCellDef="let row">{{row.paydate|date}}</td>
      </ng-container>
      <ng-container matColumnDef="paymode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pay Mode</th>
        <td mat-cell *matCellDef="let row">{{row.paymode}}</td>
      </ng-container>
      <ng-container matColumnDef="dueAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>due amount</th>
        <td mat-cell *matCellDef="let row">{{row.dueamount}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.traineefirstname}}{{row.traineelastname}}</td>
      </ng-container>
      <ng-container matColumnDef="branchname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
        <td mat-cell *matCellDef="let row">{{row.branchname}}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit </th>
        <td mat-cell *matCellDef="let row">
          <div id="Edit" data-toggle="modal" data-target="#responsive" (click)=editHostelFee(row.hostelfeeid)><i class="fa fa-pencil-square-o"></i></div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>