<div class="container-fluid">
  <div class="jumbotron">
    <h1>Attendance</h1>
    <hr />
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-calendar-check-o"></i> Attendance
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#viewallatt" data-toggle="collapse" role="button"><i class="fa fa-th-list"></i>
            <span id='showdata'>  View   All Attendance </span><span id='datahide'>  Hide   All Attendance</span>  </a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog" id="box">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" class="text-capitalize">Attendance</h4>
          <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body">
          <form #updateAttendanceForm='ngForm' *ngIf="read==true && write==true || write==true">
            <div class="form-group">
              <label class="text-capitalize">Status</label>
              <select name="status" class="form-control" [(ngModel)]="attendance.statusCode">
                <option>A</option>
                <option>P</option>
                <option>WO</option>
              </select>
            </div>
            <div class="form-group">
              <button class="btn btn-primary form-control" data-dismiss="modal" (click)=updateAttendance()>Submit</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <form #getAttendanceForm='ngForm'>
      <div class="row">
        <h5 class="text-capitalize">Select Date Range</h5>
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <input class="form-control" readonly #drp="bsDaterangepicker" [maxDate]="maxDate" name="attendancedate"
            bsDaterangepicker [(ngModel)]="attendance.attendanceDate" [bsConfig]=" {containerClass: 'theme-dark-blue' } ">
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" data-dismiss="modal" (click)="searchAttendance(drp)">Search My Attendance</button>
        <button class="btn btn-info text-capitalize" value="submit" (click)="forStaff(drp)">class
          student</button>
        <button class="btn btn-info" value="submit" (click)="forAccountantStaff(drp)">Staff</button>
        <button class="btn btn-info" value="submit" (click)="forAccountantStudent(drp)">Students</button>
        <button class="btn btn-info" value="submit" (click)="forTodays()">Today's
          Attendance</button>
      </div>
    </form>
  </div>
  <div class="col-lg-5">
    <select type="text" class="form-control" id="bi" [(ngModel)]="branchId">
      <option>Select</option>
      <option *ngFor="let bid of organizationbranchList" value="{{bid.branchid}}">{{bid.branchname}}</option>
    </select>
  </div>
  <button (click)="getallbyBranch(drp)" class="btn btn-success  text-capitalize">
    submit
  </button>
  <div class="container-fluid">
    <div id="accordion" class="accordion" *ngFor="let items of branchList">
      <div class="card mb-0">
        <div class="card-header collapsed" data-toggle="collapse" attr.href="{{'#collapseOne'+items.userid}}">
          <a class="card-title" (click)="viewAttendanceofUSer(items.userid)">
            <div class="container-fluid">
              <div class="row">
                <div class='col-3'>Name: {{items.firstname}} {{items.lastname}}</div>
                <div class='col-2'>Status: {{items.statuscode}}</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div id="accordion" class="accordion" *ngFor="let items of branchIdlist">
      <div class="card mb-0">
        <div class="card-header collapsed" data-toggle="collapse" attr.href="{{'#collapseOne'+items.id}}">
          <a class="card-title" (click)="viewAttendanceofUSer(items.id)">
            <div class="container-fluid">
              <div class="row">
                <div class='col-3'>Name: {{items.firstname}} {{items.lastname}}</div>
                <div class='col-2'>Working Days: {{items.present+items.absent}}</div>
                <div class='col-3'>Present Days: {{items.present}}</div>
                <div class='col-2'>Absent Days: {{items.absent}}</div>
                <div class='col-2'>Weekoffs: {{items.weekoffs}}</div>
              </div>
            </div>
          </a>
        </div>
        <div id="{{'collapseOne'+items.id}}" class="card-body collapse" data-parent="#accordion">
          <br>
          <table class="table  table-striped">
            <thead>
              <tr>
                <th scope="col"> Attendancedate</th>
                <th scope="col">InTime</th>
                <th scope="col">Out Time</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let list1 of userlist">
                <td>{{list1.attendancedate}}</td>
                <td>{{list1.intime}}</td>
                <td>{{list1.outtime}}</td>
                <td>{{list1.statuscode}}</td>
                <td>
                  <button *ngIf="rolename=='Accountant'" class="btn btn-success" data-toggle="modal" data-target="#myModal"
                    (click)="btnEdit(list1.attendancelogid)">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div id="accordion" class="accordion" *ngFor="let items of userList">
      <div class="card mb-0">
        <div class="card-header collapsed" data-toggle="collapse" attr.href="{{'#collapseOne'+items.userid}}">
          <a class="card-title" (click)="viewAttendanceofUSer(items.userid)">
            <div class="container-fluid">
              <div class="row">
                <div class='col-3'>Name: {{items.firstname}} {{items.lastname}}</div>
                <div class='col-2'> Working Days: {{items.present+items.absent}}</div>
                <div class='col-3'>Present Days: {{items.present}}</div>
                <div class='col-2'>Absent Days: {{items.absent}}</div>
                <div class='col-2'>Weekoffs: {{items.weekoffs}}</div>
              </div>
            </div>
          </a>
        </div>
        <div id="{{'collapseOne'+items.userid}}" class="card-body collapse" data-parent="#accordion">
          <br>
          <table class="table  table-striped">
            <thead>
              <tr>
                <th scope="col"> Attendancedate</th>
                <th scope="col">InTime</th>
                <th scope="col">Out Time</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <tr *ngFor="let list1 of userlist">
                <td>{{list1.attendancedate}}</td>
                <td>{{list1.intime}}</td>
                <td>{{list1.outtime}}</td>
                <td>{{list1.statuscode}}</td>
                <td>
                  <button *ngIf="rolename=='Accountant'" class="btn btn-success" data-toggle="modal" data-target="#myModal"
                    (click)="btnEdit(list1.attendancelogid)">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div id="accordion" class="accordion" class="card-header collapsed" *ngFor="let items of staffList">
      <div class="card mb-0">
        <div data-toggle="collapse" attr.href="{{'#collapseOne'+items.userid}}">
          <a class="card-title" (click)="viewAttendanceofUSer(items.userid)">
            <div class="container-fluid">
              <div class="row">
                <div class='col-3'>Name: {{items.firstname}} {{items.lastname}}</div>
                <div class='col-2'> Working Days: {{items.present+items.absent}}</div>
                <div class='col-3'>Present Days: {{items.present}}</div>
                <div class='col-2'>Absent Days: {{items.absent}}</div>
                <div class='col-2'>Weekoffs: {{items.weekoffs}}</div>
              </div>
            </div>
          </a>
        </div>
        <div id="{{'collapseOne'+items.userid}}" class="card-body collapse" data-parent="#accordion">
          <br>
          <table class="table  table-striped">
            <thead>
              <tr>
                <th scope="col"> Attendancedate</th>
                <th scope="col">InTime</th>
                <th scope="col">Out Time</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <tr *ngFor="let list1 of userlist">
                <td>{{list1.attendancedate}}</td>
                <td>{{list1.intime}}</td>
                <td>{{list1.outtime}}</td>
                <td>{{list1.statuscode}}</td>
                <td>
                  <button *ngIf="rolename=='Accountant'" class="btn btn-success" data-toggle="modal" data-target="#myModal"
                    (click)="btnEdit(list1.attendancelogid)">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div id="accordion" class="accordion" *ngFor="let stlist of studentList">
      <div class="card mb-0">
        <div class="card-header collapsed" data-toggle="collapse" attr.href="{{'#collapseOne'+stlist.userid}}">
          <a class="card-title" (click)="viewAttendanceofUSer(stlist.userid)">
            <div class="container-fluid">
              <div class="row">
                <div class='col-3'>Name: {{stlist.firstname}} {{stlist.lastname}}</div>
                <div class='col-2'> Working Days: {{stlist.present+stlist.absent}}</div>
                <div class='col-3'>Present Days: {{stlist.present}}</div>
                <div class='col-2'>Absent Days: {{stlist.absent}}</div>
                <div class='col-2'>Weekoffs: {{stlist.weekoffs}}</div>
              </div>
            </div>
          </a>
        </div>
        <div id="{{'collapseOne'+stlist.userid}}" class="card-body collapse" data-parent="#accordion">
          <br>
          <table class="table  table-striped">
            <thead>
              <tr>
                <th scope="col"> Attendancedate</th>
                <th scope="col">InTime</th>
                <th scope="col">Out Time</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <tr *ngFor="let list1 of userlist">
                <td>{{list1.attendancedate}}</td>
                <td>{{list1.intime}}</td>
                <td>{{list1.outtime}}</td>
                <td>{{list1.statuscode}}</td>
                <td>
                  <button *ngIf="rolename=='Accountant'" class="btn btn-success" data-toggle="modal" data-target="#myModal"
                    (click)="btnEdit(list1.attendancelogid)">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div id="accordion" class="accordion" *ngFor="let stlist of studentListCT">
      <div class="card mb-0">
        <div class="card-header collapsed" data-toggle="collapse" attr.href="{{'#collapseOne'+stlist.userid}}">
          <a class="card-title" (click)="viewAttendanceofUSer(stlist.userid)">
            <div class="container-fluid">
              <div class="row">
                <div class='col-3'>Name: {{stlist.firstname}} {{stlist.lastname}}</div>
                <div class='col-2'> Working Days: {{stlist.present+stlist.absent}}</div>
                <div class='col-3'>Present Days: {{stlist.present}}</div>
                <div class='col-2'>Absent Days: {{stlist.absent}}</div>
                <div class='col-2'>Weekoffs: {{stlist.weekoffs}}</div>
              </div>
            </div>
          </a>
        </div>
        <div id="{{'collapseOne'+stlist.userid}}" class="card-body collapse" data-parent="#accordion">
          <br>
          <table class="table  table-striped">
            <thead>
              <tr>
                <th scope="col"> Attendancedate</th>
                <th scope="col">InTime</th>
                <th scope="col">Out Time</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <tr *ngFor="let list1 of userlist">
                <td>{{list1.attendancedate}}</td>
                <td>{{list1.intime}}</td>
                <td>{{list1.outtime}}</td>
                <td>{{list1.statuscode}}</td>
                <td>
                  <button *ngIf="rolename=='Accountant'" class="btn btn-success" data-toggle="modal" data-target="#myModal"
                    (click)="btnEdit(list1.attendancelogid)">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>






  <div class="container">
    <div class="md-offset-4">
      <div class="row">

        <div class="form-group col-sm-4">
          <label style="color:black">Batch Name</label>
          <select required #classId="ngModel" name="classId" id="id" class="form-control" [(ngModel)]="batchId"
            (change)="getAllStudentsByBatch()" id="info">
            <option>Select</option>
            <option *ngFor="let cl of batchList" value="{{cl.id}}">{{cl.sessionname}}</option>
          </select>
          <span class="text-warning" *ngIf="classId.value=='Select'">Please Select</span>
          <span class="text-warning" *ngIf="classId.errors && (classId.touched || classId.dirty)">Enter Class Name</span>
          <span class="text-warning" *ngIf="classId.value=='Select' && (classId.touched || classId.dirty)">Please
            Select</span>
        </div>
        <div class="col-sm-4">
          <button type="submit" (click)="getAllStaff()">Get Faculty</button>
        </div>
      </div>
    </div>

  </div>
  <div>

    <table *ngIf="showStudent">
      <tr>
        <th>User Name</th>
        <th>Date</th>
        <th>In Time</th>
        <th>Out Time</th>
        <th>Attendance</th>
      </tr>
      <tr *ngFor="let msl of manualstudentList;let i=index">
        <td>{{msl.firstname}}</td>
        <td>

          <input class="form-control" readonly placeholder="MM/DD/YYYY" bsDatepicker [bsConfig]=" {containerClass: 'theme-dark-blue'}"
            type="text" [minDate]="minDate" [maxDate]="maxDate" #returndate="ngModel" required name="returndate"
            [(ngModel)]="Datee">


        </td>
        <td>

          <input type="time" maxlength="30" class="form-control" [(ngModel)]="InTime" name="inTime" required>

        </td>

        <td>

          <input type="Time" maxlength="30" class="form-control" [(ngModel)]="OutTime" name="outtime" required>

        </td>
        <td>
          <input type="checkbox" #checkbox="ngModel" name="checkbox" [(ngModel)]="manualstudentList[i].checkBoxStatus">
        </td>
      </tr>
      <div class="text-center">
        <button type="submit" (click)=addAttendance()>Submit</button>
      </div>
    </table>
    <table *ngIf="showStaff">
      <tr>
        <th>User Name</th>
        <th>Date</th>
        <th>In Time</th>
        <th>Out Time</th>
        <th>Attendance</th>
      </tr>
      <tr *ngFor="let msl of manualstaffList;let i=index">
        <td>{{msl.firstname}}</td>
        <td>

          <input class="form-control" readonly placeholder="MM/DD/YYYY" bsDatepicker [bsConfig]=" {containerClass: 'theme-dark-blue'}"
            type="text" [minDate]="minDate" [maxDate]="maxDate" #returndate="ngModel" required name="returndate"
            [(ngModel)]="Datee">


        </td>
        <td>

          <input type="time" maxlength="30" class="form-control" [(ngModel)]="InTime" name="inTime" required>

        </td>

        <td>

          <input type="Time" maxlength="30" class="form-control" [(ngModel)]="OutTime" name="outtime" required>

        </td>
        <td>
          <input type="checkbox" #checkbox="ngModel" name="checkbox" [(ngModel)]="manualstaffList[i].checkBoxStatus">
        </td>
      </tr>
      <div class="text-center">
        <button type="submit" (click)=addStaffAttendance()>Submit</button>
      </div>
    </table>