<div class="container">
  <div class="jumbotron">
    <h2>Leave Types </h2>

    <div style="width:100%;text-align:right;">
      <div class="btn-align">
        <div class="dropdown">
          <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-keyboard-o"></i> Leaves Types
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive1" *ngIf="read==true && write==true || write==true">
              <i class="fa fa-plus-circle"></i> Add leave Types</a>
            <a class="dropdown-item" role="button" data-toggle="modal" href="#viewlvtyp">
              <i class="fa fa-th-list"></i> <span id='showdata1'> View leave Types </span><span id='datahide1'> Hide
                leave Types </span> </a>
          </div>
        </div>
        <div class="dropdown">
          <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope"></i> Apply For Leave
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive">
              <i class="fa fa-plus"></i> Apply For Leave</a>
            <a class="dropdown-item" role="button" data-toggle="modal" href="#viewalldetails">
              <i class="fa fa-th-list"></i> <span id='showdata2'> View Leaves </span><span id='datahide2'> Hide Leaves </span> </a>
          </div>
        </div>
        <div class="dropdown">
          <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-clock-o"></i> Add Half Logins
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive3">
              <i class="fa fa-plus"></i> Add Half Logins</a>
            <a class="dropdown-item" role="button" data-toggle="modal" href="#HalfLogins">
              <i class="fa fa-th-list"></i> <span id='showdata3'> View Half Logins</span><span id='datahide3'> Hide Half Logins</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive1" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>leave Types</h4>
          <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #frm="ngForm" novalidate>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Leave types:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" autocomplete="off" name="type" id="type" placeholder="Enter type" class="form-control"
                    pattern="^[^\d\W]+( [^\d\W]+)*$" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32"
                    required [(ngModel)]="typesAddObj.type" #type="ngModel" maxlength="10" minlegth="3">
                </div>
                <div class="form-group" class="form-group" class="text-center" *ngIf="!typesAddObj.Id">
                  <button type="add" class="btn btn-primary" [disabled]="!frm.valid" value="Submit" data-dismiss="modal"
                    (click)="addLeaveTypes()">Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="viewlvtyp" class="collapse">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Leave Type">
    </mat-form-field>
    <table mat-table [dataSource]="typeSource" matSort>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6 style="color:white; ">Type</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.type}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='typeColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:typeColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  <div class="container mt-3">
    <div *ngIf="rolename=='Student' || rolename=='ClassTeacher' || rolename=='Faculty'">
      <button type="button" class="btn btn-outline-info btn-lg" data-toggle="modal" data-target="#responsive" (click)="getIds()">Add
        Leave Details</button>
    </div>
    <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
      <div class="modal-dialog" id="box">
        <div class="modal-content bigModel">
          <div class="modal-header">
            <h4>Leave</h4>
            <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
            </button>
          </div>
          <div class="modal-body">
            <form #addLeaveForm="ngForm" novalidate>
              <div class="row">
                <div class="col-lg-12">
                  <h5 class="text-capitalize" style="color: #c3dfec">Select Date Range</h5>
                  <div class="form-group">
                    <input class="form-control" readonly #drp="bsDaterangepicker" [minDate]="minDate" name="date"
                      bsDaterangepicker [(ngModel)]="ld.leaveDate" [bsConfig]=" {containerClass: 'theme-dark-blue' } ">
                  </div>
                  <div class="form-group">
                    <label> Type of leave </label>
                    <span class="text-warning"> * </span>
                    <select class="form-control" #type="ngModel" required style="width:100%; height:2.625em"
                      placeholder="type" name='type' [(ngModel)]="ld.type">
                      <option value="0" selected>Select type of leave</option>
                      <option *ngFor="let lt of leaveTypeList" value="{{lt.id}}">{{lt.type}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="dsp">Leave Description:</label>
                    <span class="text-warning"> * </span>
                    <textarea autocomplete="off" style="resize:none" class="form-control" rows="5" id="dsp" name="description"
                      [(ngModel)]="ld.description" placeholder="description" #dsp="ngModel" required required minlength="4"
                      required maxlength="100"></textarea>
                    <span class="text-warning" *ngIf="dsp.invalid && (dsp.touched || dsp.dirty)" style="color:red">
                      <span class="text-warning" [hidden]="!dsp.errors.required" *ngIf="dsp.errors && (dsp.touched || dsp.dirty)">*Description
                        Required</span>
                      <span class="text-warning" [hidden]="!dsp.errors.minlength" *ngIf="dsp.errors && (dsp.touched || dsp.dirty)">*Description
                        Contains Minimum 4 letters</span>
                    </span>
                  </div>
                  <div class="text-center" class="form-group">
                    <button type="submit" class="btn btn-primary" (click)="frmSaveSubmit(drp)">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="viewalldetails" class="collapse">
      <button id="button-a" class="btn btn-success" (click)="getexcel()"> <span class="example-spacer"></span>Download</button>
      <h2>Leave Details</h2>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter User">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="UserName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> User</th>
          <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
        </ng-container>
        <ng-container matColumnDef="FromDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>From Date</th>
          <td mat-cell *matCellDef="let row">{{row.fromdate|date}}</td>
        </ng-container>
        <ng-container matColumnDef="ToDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>To Date</th>
          <td mat-cell *matCellDef="let row">{{row.todate|date}}</td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>type</th>
          <td mat-cell *matCellDef="let row">{{row.type}}</td>
        </ng-container>
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row">{{row.status}}</td>
        </ng-container>
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let row">{{row.description}}</td>
        </ng-container>
        <ng-container matColumnDef="ApprovedBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Approved By</th>
          <td mat-cell *matCellDef="let row">
            <div *ngIf="(row.status=='Accepted'||row.status=='Rejected')">
              {{row.approvedbyfirstname}} {{row.approvedbylastname}}</div>
            <div [hidden]="rolename=='Faculty'||rolename=='Student'||rolename=='Accountant'">
              <button #accept *ngIf="!(row.status=='Accepted'||row.status=='Rejected'||row.userid==userProfile.userid)"
                class="fa fa-check" (click)="acceptLeave(row.id,accept)" value="Accepted"></button> &nbsp;
              <button #reject *ngIf="!(row.status=='Accepted'||row.status=='Rejected'||row.userid==userProfile.userid)"
                class="fa fa-times" (click)="acceptLeave(row.id,reject)" value="Rejected"></button>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="Excel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
                aria-hidden="true"></i>
            </span></th>
          <td mat-cell *matCellDef="let row">
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
    <div id="responsive3" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
      <div class="modal-dialog" id="box">
        <div class="modal-content bigModel">
          <div class="modal-header">
            <h4>Leave</h4>
            <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
            </button>
          </div>
          <div class="modal-body">
            <form #addLeaveForm="ngForm" novalidate>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label> Requesting Time </label>
                    <span class="text-warning"> * </span>
                    <input type="time" maxlength="30" class="form-control" [(ngModel)]="halfLoginRequestObj.requestTime"
                      name="requestTime" required>
                  </div>
                  <div class="form-group">
                    <label for="dsp"> Description:</label>
                    <span class="text-warning"> * </span>
                    <textarea autocomplete="off" style="resize:none" class="form-control" rows="5" id="dsp" name="description"
                      [(ngModel)]="halfLoginRequestObj.description" placeholder="description" #dsp="ngModel" required
                      required minlength="4" required maxlength="100"></textarea>
                    <span class="text-warning" *ngIf="dsp.invalid && (dsp.touched || dsp.dirty)" style="color:red">
                      <span class="text-warning" [hidden]="!dsp.errors.required" *ngIf="dsp.errors && (dsp.touched || dsp.dirty)">*Description
                        Required</span>
                      <span class="text-warning" [hidden]="!dsp.errors.minlength" *ngIf="dsp.errors && (dsp.touched || dsp.dirty)">*Description
                        Contains Minimum 4 letters</span>
                    </span>
                  </div>
                  <div class="text-center" class="form-group">
                    <button type="submit" class="btn btn-primary" (click)="saveRequest()">Submit</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="HalfLogins" class="collapse">
      <h2>Leave Details</h2>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter User">
      </mat-form-field>
      <table mat-table [dataSource]="HalfLoginSource" matSort>
        <ng-container matColumnDef="UserName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> User</th>
          <td mat-cell *matCellDef="let row">{{row.userfirstname}} {{row.userlastname}}</td>
        </ng-container>
        <ng-container matColumnDef="Requesttime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Requested Time</th>
          <td mat-cell *matCellDef="let row">{{row.requesttime}}</td>
        </ng-container>
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let row">{{row.description}}</td>
        </ng-container>
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row">
            <div [hidden]="row.status=='Pending'">
              {{row.status}}
            </div>
            <div [hidden]="rolename=='Faculty'||rolename=='Student'||rolename=='Accountant'">
              <button #accept *ngIf="!(row.status=='Accepted'||row.status=='Rejected'||row.userid==userProfile.userid)"
                class="fa fa-check" (click)="acceptRequest(row.hid,accept)" value="Accepted"></button> &nbsp;
              <button #reject *ngIf="!(row.status=='Accepted'||row.status=='Rejected'||row.userid==userProfile.userid)"
                class="fa fa-times" (click)="acceptRequest(row.hid,reject)" value="Rejected"></button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='HalfLoginColumns'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:HalfLoginColumns"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>
<br />