=

<div class="container">
  <div class="jumbotron">
    <h2>Recruitment Application</h2>
   
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-graduation-cap"></i> Recruitments
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive">
            <i class="fa fa-plus-circle"></i> Add Employee Interview Details</a>
          <a class="dropdown-item" href="#vieworg" data-toggle="collapse" role="button" (click)="allApplicantsRating()">
            <i class="fa fa-th-list"></i>  <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span>  Candidate Rating && Status</a>
            <a class="dropdown-item" role="button" data-toggle="modal" href="#vieworg1" (click)="getAggredApplicants()">
              <i class="fa fa-th-list"></i>  <span *ngIf="show2">  View </span><span *ngIf="!show2">  Hide </span> Interested Candidates</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
  <div class="modal-dialog modal-lg" id="box">
    <div class="modal-content bigModel">
      <div class="modal-header">
        <h4>Jobs</h4>
        <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
        </button>
      </div>
      <div class="modal-body">
        <form #addjob="ngForm" novalidate>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="jbai">Applicants Name :</label>
              <select name="jobApplicantId" id="jbai" class="form-control" [(ngModel)]="recruitmentAddObj.jobApplicantId">
                <option value="0">Select Applicants</option>
                <option *ngFor="let ial of interestedApplicantsList" value="{{ial.jobapplicantid}}">{{ial.firstname}}
                  {{ial.lastname}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group ">
                <label for="per">Performance Rating :</label>
                <input type="number" class="form-control" id="per" name="performanceRating" placeholder="Performance Rating"
                  [(ngModel)]="recruitmentAddObj.performanceRating">
              </div>
              <div class="form-group ">
                <label for="behav">Behaviour Rating :</label>
                <input type="number" class="form-control" id="behav" name="behaviourRating" placeholder="Behaviour Rating"
                  [(ngModel)]="recruitmentAddObj.behaviourRating">
              </div>
              <div class="form-group ">
                <label for="com">Communication Rating :</label>
                <input type="number" class="form-control" id="com" name="communicationRating" placeholder="Communication Rating"
                  [(ngModel)]="recruitmentAddObj.communicationRating">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="ontim">On Time Rating :</label>
                <input type="number" class="form-control" id="ontim" name="onTimeRating" placeholder="On time Rating"
                  [(ngModel)]="recruitmentAddObj.onTimeRating">
              </div>
              <div class="form-group">
                <label for="">Appearence Rating :</label>
                <input type="number" class="form-control" name="appearenceRating" placeholder="Appearence Rating"
                  [(ngModel)]="recruitmentAddObj.appearenceRating">
              </div>
              <div class="form-group ">
                <label class="form-check-label" for="Gender">Interview Status :</label>
                <div class="radio-inline">
                  <input type="radio" id="selected" name="interviewStatus" [(ngModel)]="recruitmentAddObj.interviewStatus"
                    value="selected">&nbsp; <label>Selected</label>&nbsp;&nbsp;
                  <input type="radio" id="rejected" name="interviewStatus" [(ngModel)]="recruitmentAddObj.interviewStatus"
                    value="rejected">&nbsp;<label>Rejected</label>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <input type="button" value="Submit" (click)="addRecruitment()" class="btn btn-primary" data-dismiss="modal">
          </div>
          <div *ngIf="read==true && write==true || write==true">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<!-- <div class="container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource1" matSort>
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Applicants</th>
      <td mat-cell *matCellDef="let row">
        {{row.firstname}} {{row.lastname}}
      </td>
    </ng-container>
    <ng-container matColumnDef="jobtittle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job</th>
      <td mat-cell *matCellDef="let row">{{row.jobtittle}}</td>
    </ng-container>
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
      <td mat-cell *matCellDef="let row">
        {{row.designation}}
      </td>
    </ng-container>
    <ng-container matColumnDef="jobapplicantsstatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{row.jobapplicantsstatus}}</td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let row">
        {{row.location}}
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">
        {{row.email}}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef='displayedColumns1'>
    </tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns1"></tr>
  </table>
  <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div> -->
<div class="container" *ngIf="viewSelectedApplicant">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="AllratingSource" matSort>
    <ng-container matColumnDef="ApplicantsName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Applicant Name</th>
      <td mat-cell *matCellDef="let row">{{row.firstname}}{{row.lastname}}</td>
    </ng-container>
    <ng-container matColumnDef="jobtittle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Job</th>
      <td mat-cell *matCellDef="let row">
        {{row.jobtittle}}
      </td>
    </ng-container>
    <ng-container matColumnDef="interviewstatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
      <td mat-cell *matCellDef="let row">{{row.interviewstatus}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">
        {{row.email}}
      </td>
    </ng-container>
    <ng-container matColumnDef="Send">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Send</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.interviewstatus=='selected'">
          <button class="fa fa-thumbs-up" (click)="getSelectedApplicant(row.applicantid,row.recqruitmentid)" #rating
            data-toggle="modal" data-target="#aggrement" title="Send LOI"></button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef='displayedColumns2'>
    </tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns2"></tr>
  </table>
  <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>

<div class="container" *ngIf="rolename=='Trainee'">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="specificRatingSource" matSort>
    <ng-container matColumnDef="lasttname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Lastname</th>
      <td mat-cell *matCellDef="let row">{{row.lasttname}}</td>
    </ng-container>
    <ng-container matColumnDef="jobapplicantsstatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{row.jobapplicantsstatus}}</td>
    </ng-container>
    <ng-container matColumnDef="jobtittle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job</th>
      <td mat-cell *matCellDef="let row">{{row.jobtittle}}</td>
    </ng-container>
    <ng-container matColumnDef="designation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
      <td mat-cell *matCellDef="let row">
        {{row.designation}}
      </td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let row">
        {{row.location}}ssssssssss
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">
        {{row.email}}
      </td>
    </ng-container>
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Firstname</th>
      <td mat-cell *matCellDef="let row">
        {{row.firstname}}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef='displayedColumns3'>
    </tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns3"></tr>
  </table>
  <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
<div id="aggrement" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
  <div class="modal-dialog modal-lg" id="box">
    <div class="modal-content bigModel">
      <div class="modal-header">
        <h4>Events</h4>
        <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
        </button>
      </div>
      <div class="modal-body ">
        <form #addApplicantsAggrement="ngForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="appl">Select Applicant</label>
                <select name="applicantId" id="appl" #applicantId="ngModel" disabled [(ngModel)]="filterdApplicants.applicantId"
                  class="form-control">
                  <option value="0">Select Applicant</option>
                  <option *ngFor="let a of allApplicantsRatings" value="{{a.applicantid}}">{{a.firstname}}{{a.lastname}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="shifts">Select Shifts</label>
                <select name="shiftId" id="shifts" #shiftId="ngModel" [(ngModel)]="filterdApplicants.shiftId" class="form-control">
                  <option value="">Select Shifts</option>
                  <option *ngFor="let s of shiftList" value="{{s.shiftid}}">{{s.shiftname}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Annual CTC</label>
                <input type="number" name="annual" class="form-control" #annual="ngModel" [(ngModel)]="filterdApplicants.annualCTC">
              </div>
              <div class="form-group">
                <label for="jond">Select Joining Date</label>
                <input type="text" class="form-control" required #date="ngModel" placeholder="Date" id="jond" readonly
                  [minDate]="minDate" name="date" bsDatepicker [(ngModel)]="filterdApplicants.doj" [bsConfig]=" {containerClass: 'theme-dark-blue' } ">
              </div>
            </div>
            <div class="text-center">
              <input type="button" (click)="addAggrementsDetails()" value="Submit" class="btn btn-primary" data-dismiss="modal">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="offerLetterSource" matSort>
    <ng-container matColumnDef="jobtittle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
      <td mat-cell *matCellDef="let row">{{row.jobtittle}}</td>
    </ng-container>
    <ng-container matColumnDef="annualctc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Package</th>
      <td mat-cell *matCellDef="let row">{{row.annualctc}}</td>
    </ng-container>
    <ng-container matColumnDef="joiningdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
      <td mat-cell *matCellDef="let row">{{row.joiningdate|date}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact Email</th>
      <td mat-cell *matCellDef="let row">
        {{row.requiteremail}}
      </td>
    </ng-container>
    <ng-container matColumnDef="starttime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Login-Time</th>
      <td mat-cell *matCellDef="let row">
        {{row.starttime}}
      </td>
    </ng-container>
    <ng-container matColumnDef="endtime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Logout-Time</th>
      <td mat-cell *matCellDef="let row">
        {{row.endtime}}
      </td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>location</th>
      <td mat-cell *matCellDef="let row">
        {{row.location}}
      </td>
    </ng-container>
    <ng-container matColumnDef="acknowledgement">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Send</th>
      <td mat-cell *matCellDef="let row">
        <div>
          <button (click)="showInteresetInJoining(row.recruitmentid)">Accept</button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef='displayedColumns4'>
    </tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns4"></tr>
  </table>
  <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
<!-- ----------------- -->



<!-- Now using today -->
<div class="container"  *ngIf="viewAggredApplicants">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource2" matSort>
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Applicants</th>
      <td mat-cell *matCellDef="let row">
        {{row.firstname}} {{row.lastname}}
      </td>
    </ng-container>
    <ng-container matColumnDef="jobtittle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job</th>
      <td mat-cell *matCellDef="let row">{{row.jobtittle}}</td>
    </ng-container>
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
      <td mat-cell *matCellDef="let row">
        {{row.designation}}
      </td>
    </ng-container>
    <ng-container matColumnDef="jobapplicantsstatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">{{row.aggrementstatus}}</td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let row">
        {{row.location}}
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">
        {{row.email}}
      </td>
    </ng-container>
    <ng-container matColumnDef="option">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Send Offer Letter</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.aggrementstatus=='agreed'">
          <button class="fa fa-envelope"  (click)="OfferLetter(row.id,row.userid)" title="Send Offer Letter" ></button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef='displayedColumns1'>
    </tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns1"></tr>
  </table>
  <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
