$color-white :  #fff;
$color-black : #0a0a0a;
$color-black2 : #1a1a1a;
$color-grey : #252727;
$trans : transparent;
$none : none;
$shadow: 0 0 0 0.2rem rgba(10, 16, 17, 0.5);
table {
  width: 100%;
}
#box {
  top: 38.75em;
}
#responsive {
  margin-top: -15em;
}
label {
  color: white;
}
.btn-align {
  width: 100%;
  text-align: right;
}
.btn-outline-info {
  color: $color-black;
  background-color: $trans;
  background-image: $none;
  border-color: #131313;
  &:hover {
    color: $color-white;
    background-color: $color-black;
    border-color: #0c0c0c;
  }
  &.focus, &:focus {
    box-shadow: 0 0 0 0.2rem rgba(15, 20, 20, 0.5);
  }
  &.disabled, &:disabled {
    color: #3f3535;
    background-color: $trans;
  }
  &:not(:disabled):not(.disabled) {
    &.active, &:active {
      color: $color-white;
      background-color: $color-grey;
      border-color: $color-black2;
    }
  }
}
.show > .btn-outline-info.dropdown-toggle {
  color: $color-white;
  background-color: $color-grey;
  border-color: $color-black2;
}
.btn-outline-info:not(:disabled):not(.disabled) {
  &.active:focus, &:active:focus {
    box-shadow: $shadow;
  }
}
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: $shadow;
}
.jumbotron {
  padding: 1rem 1rem;
  margin-top: 79px
}
#cls{
  margin-top: 400px;
  background-color: white;
  border-radius: 5%;
  margin-left: 32%
}
/* 
================================================================================ */
.panel-heading, .panel-body {
  border-radius: 0em;
}
.panel-default > .panel-heading {
  background-color: #73c92d;
  text-transform: uppercase;
  font-weight: 500;
}
.nav-tabs {
  border-bottom: $none;
  > li {
    &.active {
      > a:after {
        position: absolute;
        content: " ";
        background: #73c92d;
        width: 0.75em;
        height: 0.75em;
        border-radius: 0.1875em 0 0 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        box-shadow: $none;
        bottom: -60%;
        right: 50%;
      }
      > a {
        color: black;
        cursor: pointer;
        background-color: $trans;
        border: 0.0625em solid $trans;
        border-right: 0.125em  solid white;
        &:hover, &:focus {
          color: black;
          cursor: pointer;
          background-color: $trans;
          border: 0.0625em solid $trans;
          border-right: 0.125em  solid white;
        }
      }
    }
    > a {
      color: white;
      border: 0.0625em solid $trans;
      border-right: 0.125em solid white;
      border-radius: 0em;
      padding: 0.1875em 1.25em;
      &:hover {
        background-color: $trans;
        border: 0.0625em solid $trans;
        border-right: 0.125em  solid white;
      }
    }
  }
}
ul.asset-list {
  margin: 1.25em 0em 0em 0em;
  padding: 0;
  position: relative;
  display: inline-block;
  li.photo {
    list-style: $none;
    box-shadow: 0 0 0.0625em $color-white;
    display: inline-block;
    margin: 0.625em;
    cursor: pointer;
    .asset-loading {
      width: 10.625em;
      position: relative;
      text-align: center;
      img {
        max-width: 10.625em;
      }
    }
    .cta-delete {
      position: absolute;
      z-index: 100;
      top: 0.3125em;
      right: 0.3125em;
      color: white;
      cursor: pointer;
      i {
        font-size: 1.25em;
      }
      &.video {
        top: 35%;
        left: 35%;
        color: #e40046;
        opacity: 0.7;
        height: 2.1875em;
        width: 2.1875em;
        border: 0.125em solid $trans;
        border-radius: 50%;
        padding-top: 0.3125em;
        padding-left: 0.3125em;
        background-color: #e40046;
        i {
          font-size: 1.25em;
          color: white;
        }
      }
    }
  }
}
.btn.flat {
  border: $none;
  color: white;
  text-shadow: $none;
  border-radius: 0em;
  min-width: 10em;
  &.btn-default {
    background: white;
    padding: 0.75em 3.125em;
    text-transform: uppercase;
    font-weight: bold;
  }
  &.btn-submit, &.btn-create {
    background: #e40046;
    padding: 0.75em 3.125em;
    text-transform: uppercase;
    font-weight: bold;
  }
}
.btn-small {
  padding: 0.75em 1.875em !important;
}
.btn {
  &.flat {
    &.btn-chat-submit, &.btn-pitch-chat-submit {
      background: #e40046;
      padding: 0.5em 1.25em;
      text-transform: uppercase;
      font-weight: bold;
      min-width: 3.125em;
    }
  }
  &.Previous {
    background: #eee !important;
    color: #333 !important;
    border: solid  0.0625em #aaa;
  }
  &.Next {
    width: 1.875em;
    border-radius: 0em !important;
  }
}
.btn-Upload-group {
  margin: 0.625em auto;
  padding: 0.3125em;
}
.btn.flat.Upload {
  background: white;
  border: solid  0.0625em #e40046;
  color: #e40046;
  font-size: 0.8125em;
  margin-left: 0.625em;
}
.actions {
  margin: 3.125em 0.625em;
}
.modal-body.payment {
  padding: 1.25em 1.875em;
  margin: 0 auto;
  h3.title {
    font-size: 1.8em;
    color: #e40046;
    text-align: center;
    font-weight: 500;
    margin: 1.25em 0;
  }
  button.close {
    color: #e40046;
    font-size: 1.4375em;
    padding-bottom: 0.9375em;
    width: 1.875em;
    height: 1.875em;
    border: solid 0.125em  #e40046;
    border-radius: 50%;
    margin-top: 0.3125em;
    margin-right: 0.3125em;
  }
  p {
    font-size: 1em;
    text-align: center;
    padding: 0 1.5em;
  }
  input.input-form {
    width: 100%;
    padding: 0.3125em 0;
    margin: 0.625em 0;
  }
  .add-link {
    text-align: left;
    a {
      color: #e40046;
      margin-left: -1.25em;
    }
  }
  .actions {
    text-align: center;
  }
}
ul.nav {
  list-style: $none;
  li {
    display: inline-block;
    &.message-nav {
      float: right;
      margin-right: 1.25em;
      a {
        color: black;
        background-color: white;
        &:hover, &.open, &.focus, &.active {
          cursor: pointer;
          color: #e40046;
          background-color: white;
        }
      }
      i {
        font-size: 1.25em;
      }
    }
    &.filter-sort {
      float: right;
      margin-right: 1.25em;
      a {
        font-size: 1.125em;
        color: black;
        background-color: white;
        &:hover, &.open, &.focus, &.active {
          cursor: pointer;
          color: #e40046;
          background-color: white;
          text-decoration: $none;
        }
      }
    }
  }
}
// .dropdown-menu {
//   padding: 0;
//   margin: 0;
//   background: white;
//   min-width: 12.5em;
//   width: 23.125em;
//   position: absolute;
//   top: 3.125em;
//   display: $none;
//   z-index: 100;
//   border-radius: 0em;
//   &.sorting {
//     width: 15.625em;
//   }
//   &:before {
//     position: absolute;
//     content: "";
//     background: $color-white;
//     width: 0.75em;
//     height: 0.75em;
//     border-radius: 0.1875em 0 0 0;
//     -webkit-transform: rotate(45deg);
//     -ms-transform: rotate(45deg);
//     transform: rotate(45deg);
//     box-shadow: (-0.0625em) (-0.0625em) 0.0625em rgba(2, 2, 4, 0.2);
//     top: -0.375em;
//     right: 0.75em;
//   }
//   li {
//     width: 100%;
//     &.notification-title {
//       text-transform: uppercase;
//       color: black;
//       font-weight: 500;
//       font-size: 1.125em;
//       padding: 0.3125em 1.25em;
//       margin: 0.3125em auto 0.3125em;
//     }
//     &.notification-footer {
//       text-transform: uppercase;
//       color: black;
//       font-weight: 500;
//       font-size: 1.125em;
//       padding: 0.3125em 1.25em;
//       margin: -0.3125em auto 0.3125em;
//       border-top: solid 0.0625em rgba(151, 151, 151, 0.8);
//       a:hover {
//         text-decoration: $none;
//       }
//     }
//   }
//   ul {
//     &.notification-list {
//       li.notification-item {
//         padding: 0.3125em 1.5625em;
//         margin-left: -2.1875em;
//         margin-right: 0em;
//         width: 22.5em;
//         border-top: solid 0.0625em rgba(151, 151, 151, 0.8);
//       }
//       a.notification-anchor {
//         display: block;
//         clear: both;
//         &:hover {
//           text-decoration: $none;
//         }
//       }
//       .notification-anchor {
//         span.notification-img {
//           float: left;
//           margin-right: 0.625em;
//           height: 5em;
//           padding-top: 0.3125em;
//           img {
//             border-radius: 50%;
//             width: 3.75em;
//             height: 3.75em;
//           }
//         }
//         p {
//           margin-bottom: 0em;
//           color: #8d8d8d;
//           font-size: 0.875em;
//           &.notification-type {
//             font-size: 0.375em;
//             color: #e63a45;
//           }
//           &.notification-project {
//             font-style: italic;
//           }
//         }
//       }
//     }
//     &.filter-sort-list {
//       padding: 0.625em;
//       li {
//         padding: 0.3125em;
//       }
//     }
//   }
// }
.skill-zone .label {
  margin-right: 0.3125em;
}
.nav-link {
  color: $color-white;
}
.elementer {
  display: inline-flex;
  align-items: center;
}
i {
  &.fa-camera {
    margin-left: -1.375em;
    cursor: pointer;
    font-size: 2em;
    color: black;
  }
  &:hover {
    opacity: 0.6;
  }
}
#container {
  display: $none;
}