<div class="container mt-3">
  <div class="jumbotron">
    <h2>Staff Details</h2>
    <a class="text-dark" style="float: right;" (click)="Redirect()">User Mapping</a>
    <br />
    <hr />
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          Staff Details
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)=getIds() *ngIf="read==true && write==true || write==true">
            <i class="fa fa-plus-circle"></i> Add Staff</a>
          <a class="dropdown-item" (click)=viewStaff() data-toggle="collapse" role="button"><i class="fa fa-th-list"></i>
            <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span> Staff</a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog modal-lg" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Staff</h4>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <button class="btn btn-debug" (click)="addStaffUser()">Add User
            </button>
          </div>
          <section id="tabs">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 ">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">Staff</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">Bank Details</a>
                      <a class="nav-item nav-link" id="navcontacttab" data-toggle="tab" href="#nav-contact" role="tab"
                        aria-controls="nav-contact" aria-selected="false">Salary Details</a>
                      <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
                        aria-controls="nav-about" aria-selected="false">Shift Details</a>
                    </div>
                  </nav>
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <form #addstaff="ngForm" novalidate>
                        <div class="row">
                          <figure class="col-lg-12">
                            <img style="background-color: whitesmoke;border-radius: 65%;padding: 0.7%;max-width: 41%;max-height: 135px;margin-left: 298px;"
                              [src]="image.URL" *ngIf="image.URL!=''" alt="Image" />
                            <div class="fa fa-user-circle" style="font-size: 650%;background-color: whitesmoke;padding: 2.5%;margin-left: 305px;"
                              *ngIf="image.URL==''">
                            </div>
                            <div class="elementer">
                              <label class="hand-cursor">
                                <div class="form-group col-sm-4">
                                  <input type="file" #fileUpload="ngModel" id="container" accept="image/gif, image/jpeg, image/png"
                                    class="form-control" (change)="fileChangeEvent($event)" name="image" [(ngModel)]="staff.image">
                                </div>
                                <i class="fa fa-camera"></i>
                              </label>
                            </div>
                          </figure>
                          <div class="col-lg-6">
                            <div class="form-group" [hidden]="staff.Id">
                              <label>Name</label>
                              <span class="text-warning"> * </span>
                              <select required #userId="ngModel" style="width:100%; height:2.625em" class="form-control"
                                placeholder="type" name='userId' [(ngModel)]="staff.userId">
                                <option value="0" selected>Select Name</option>
                                <option *ngFor="let user of userDetails" value={{user.userid}}>{{user.firstname}}
                                  {{user.lastname}}</option>
                              </select>
                              <span class="text-warning" *ngIf="userId.value=='0' && (userId.touched || userId.dirty)">Please
                                Select
                                Name</span>
                              <span class="text-warning" *ngIf="userId.value=='Select'">*Please Select</span>
                              <span class="text-warning" [hidden]="!userId.errors.required" *ngIf="userId.errors && (userId.touched || userId.dirty)">Name
                                Required </span>
                              <span class="text-warning" [hidden]="!userId.errors.value" *ngIf="userId.errors && (userId.touched || userId.dirty)">Please
                                Select
                              </span>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label for="Number">Date Of Joining</label>
                              <span class="text-warning"> * </span>
                              <input type="text" readonly autocomplete="off" required #doj="ngModel" bsDatepicker
                                [bsConfig]="bsConfig" [bsConfig]=" {containerClass: 'theme-dark-blue' }" [(ngModel)]="staff.doj"
                                name='doj' class="form-control" id="doj" [minDate]="minDate" [maxDate]="maxDate"
                                placeholder="Enter doj" bsDatepicker [bsConfig]="bsConfig" [bsConfig]=" {containerClass: 'theme-dark-blue' }">
                              <span class="text-warning" *ngIf="doj.errors && (doj.touched || doj.dirty)">Enter Date
                                Of Joining
                              </span>
                              <span class="text-warning" *ngIf="doj.value=='Invalid Date'">Only Selection is Allowed</span>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label>Location</label>
                              <span class="text-warning"> * </span>
                              <select #branchId="ngModel" required class="form-control" style="width:100%; height: 2.625em"
                                placeholder="type" name='branchId' [(ngModel)]="staff.branchId">
                                <option value="0" selected>Select Location</option>
                                <option *ngFor="let schoolb of schoolBranchDetails" value="{{schoolb.branchid}}">{{schoolb.branchname}}</option>
                              </select>
                              <span class="text-warning" *ngIf="branchId.value=='0' && (branchId.touched || branchId.dirty)">Please
                                Select
                                Location</span>
                              <span class="text-warning" *ngIf="branchId.value=='Select'">Please Select</span>
                              <span class="text-warning" [hidden]="!branchId.errors.required" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Location
                                Required </span>
                              <span class="text-warning" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Location
                                Required
                              </span>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label for="Number">User Role Name</label>
                              <span class="text-warning">* </span>
                              <select required #userroleid="ngModel" [(ngModel)]="staff.userRoleId" name='userRoleId'
                                class="form-control" id="Userroleid" placeholder="Enter Userroleid" (change)="verifyRole(staff.userRoleId,'true')">
                                <option value="0" selected>Select User Role Name</option>
                                <option *ngFor="let role of roleDetails" value={{role.id}}>{{role.rolename}}</option>
                              </select>
                              <span class="text-warning" *ngIf="userroleid.value=='Select'">*Please Select</span>
                              <span class="text-warning" *ngIf="userroleid.errors && (userroleid.touched || userroleid.dirty)">Enter
                                User Role Name</span>
                              <span class="text-warning" *ngIf="userroleid.value=='0' && (userroleid.touched || userroleid.dirty)">Please
                                Select
                                Role Name</span>
                            </div>
                          </div>
                          <div class="form-group col-lg-6">
                            <label>Experience years</label>
                            <span class="text-warning"> * </span>
                            <select class="form-control" required #dy="ngModel" placeholder="exprence" [(ngModel)]="staff.dy"
                              name="dy" (change)="ddlYears(dy)">
                              <option value="y" disabled selected>Select Years</option>
                              <option *ngFor="let item of arrayOne(41); let i = index;" value="{{i}}">{{i}}</option>
                            </select>
                            <span class="text-warning" *ngIf="dy.value=='Select'">Please select experience year</span>
                            <span class="text-warning" [hidden]="!dy.errors.required" *ngIf="dy.errors && (dy.touched || dy.dirty)">Please
                              select experience year</span>
                          </div>
                          <div class="form-group col-lg-6">
                            <label>Experience Months</label>
                            <span class="text-warning"> * </span>
                            <select class="form-control" #dm="ngModel" [(ngModel)]="staff.dm" required name="dm"
                              (change)="ddlMonths(dm)">
                              <option value="m" disabled selected>Select Months</option>
                              <option *ngFor="let item of arrayTwo(12); let j = index;" value="{{j}}">{{j}}</option>
                            </select>
                            <span class="text-warning" *ngIf="dm.value=='Select'">Please select experience months</span>
                            <span class="text-warning" [hidden]="!dm.errors.required" *ngIf="dm.errors && (dm.touched || dm.dirty)">Please
                              select experience months</span>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <form #addstaff="ngForm" novalidate>
                        <div class="row">
                          <div class="form-group col-lg-6">
                            <label>Bank Name</label>
                            <input type="text" class="form-control" minlength="3" maxlength="50" [typeahead]="banklist"
                              typeaheadOptionField="Bankname" pattern="^[^\d\W]+( [^\d\W]+)*$" id="BankName"
                              placeholder="Bank name " name='BankName' [(ngModel)]="AccountyDetails.bankName"
                              onkeypress="return (event.charCode >= 65 && event.charCode <= 90)||(event.charCode >= 97 && event.charCode <= 122)||event.charCode==32"
                              #BankName="ngModel">
                            <span *ngIf="BankName.invalid && (BankName.touched || BankName.dirty)">
                              <span class="text-warning" [hidden]="!BankName.errors.required" *ngIf="BankName.errors && (BankName.touched || BankName.dirty)">
                                Bank Name Required</span>
                              <span class="text-warning" [hidden]="!BankName.errors.pattern" *ngIf="BankName.errors && (BankName.touched || BankName.dirty)">
                                Bank Name Should Be Only In Alphabets</span>
                            </span>
                            <span class="text-warning" [hidden]="!BankName.errors.minlength || BankName.errors.pattern"
                              *ngIf="BankName.errors && (BankName.touched || BankName.dirty)">
                              BankName Should Be Minimun 3 chars
                            </span>
                          </div>
                          <div class="form-group col-lg-6">
                            <label>Bank Account number</label>
                            <input type="text" class="form-control" id="AccountNumber" minlength="10" maxlength="20"
                              pattern="[0-9]{10,20}" placeholder="Bank Account number" name='AccountNumber' (keyup)="verifyBankaccount('accountnumber')"
                              [(ngModel)]="AccountyDetails.accountNumber" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                              #AccountNumber="ngModel">
                            <span class="text-warning" [hidden]="bankvalidations==true " *ngIf="bankvalidations==false">
                              <i>Bank Account Number already exits </i>
                            </span>
                            <span *ngIf="AccountNumber.invalid && (AccountNumber.touched || AccountNumber.dirty)">
                              <span class="text-warning" [hidden]="!AccountNumber.errors.required" *ngIf="AccountNumber.errors && (AccountNumber.touched || AccountNumber.dirty)">
                                Account Number Required</span>
                              <span class="text-warning" [hidden]="!AccountNumber.errors.pattern" *ngIf="AccountNumber.errors && (AccountNumber.touched || AccountNumber.dirty)">
                                Please enter valid account number with Min 10 digits </span>
                            </span>
                          </div>
                          <div class="form-group col-lg-6">
                            <label>Pan number</label>
                            <span class="text-warning"> * </span>
                            <input type="text" class="form-control" id="PanNumber" maxlength="10" style="text-transform:uppercase"
                              required pattern="[A-Za-z]{5}\d{4}[A-Za-z]{1}" placeholder="Pan number" name='PanNumber'
                              [(ngModel)]="AccountyDetails.panNumber" #PanNumber="ngModel">
                            <span *ngIf="PanNumber.invalid && (PanNumber.touched || PanNumber.dirty)">
                              <span class="text-warning" [hidden]="!PanNumber.errors.required" *ngIf="PanNumber.errors && (PanNumber.touched || PanNumber.dirty)">
                                Pan Number Required</span>
                              <span class="text-warning" [hidden]="!PanNumber.errors.pattern" *ngIf="PanNumber.errors && (PanNumber.touched || PanNumber.dirty)">
                                Enter Valid Pan Details </span>
                            </span>
                          </div>
                          <div class="form-group col-lg-6">
                            <label>pf number</label>
                            <input type="text" class="form-control" id="PfAccountNumber" minlength="5" maxlength="15"
                              pattern="[0-9]{3,15}" placeholder="pf number" name='PfAccountNumber' [(ngModel)]="AccountyDetails.pfAccountNumber"
                              onkeypress="return event.charCode >= 48 && event.charCode <= 57" #PfAccountNumber="ngModel"
                              (keyup)="verifyPfnum('Pfnumber')">
                            <span class="text-warning" [hidden]="pfvalidation==true " *ngIf="pfvalidation==false">
                              <i>Pf Number already exits </i>
                            </span>
                            <span *ngIf="PfAccountNumber.invalid && (PfAccountNumber.touched || PfAccountNumber.dirty)">
                              <span class="text-warning" [hidden]="!PfAccountNumber.errors.required" *ngIf="PfAccountNumber.errors && (PfAccountNumber.touched || PfAccountNumber.dirty)">
                                Pf Account Number Required</span>
                              <span class="text-warning" [hidden]="!PfAccountNumber.errors.pattern" *ngIf="PfAccountNumber.errors && (PfAccountNumber.touched || PfAccountNumber.dirty)">
                                Please enter a valid Pf Account Number</span>
                              <span class="text-warning" [hidden]="!PfAccountNumber.errors.minlength || PfAccountNumber.errors.pattern"
                                *ngIf="PfAccountNumber.errors && (PfAccountNumber.touched || PfAccountNumber.dirty)">
                                Enter Min 5 digits</span>
                            </span>
                          </div>
                          <div class="form-group" class="col-lg-6">
                            <label>Department</label>
                            <span class="text-warning"> * </span>
                            <select class="form-control" #dpt="ngModel" ngModel required name="dpt" [(ngModel)]="staff.departmentId">
                              <option value="0" disabled selected>Select </option>
                              <option *ngFor="let item of departmentlist" value="{{item.dep_id}}">{{item.dep_name}}</option>
                            </select>
                            <span class="text-warning" *ngIf="dpt.value=='Select'">Please select department </span>
                            <span class="text-warning" [hidden]="!dpt.errors.required" *ngIf="dpt.errors && (dpt.touched || dpt.dirty)">Please
                              Select</span>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                      <form #addstaff="ngForm" novalidate>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group" style="width: 21.875em">
                              <label for="Number">Salary per month</label>
                              <span class="text-warning"> * </span>
                              <input type="text" minlength="0" maxlength="8" required #salary="ngModel" min="0"
                                [(ngModel)]="staff.salary" name='salary' onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                class="form-control" id="Salary" placeholder="Enter Salary" pattern="^(?:[1-9][0-9]{0,7}(?:\.\d{1,2})?|10000000|10000000.00)$">
                              <span class="text-warning" [hidden]="!salary.errors.required" *ngIf="salary.errors && (salary.touched || salary.dirty)">Enter
                                Salary Details
                              </span>
                              <span class="text-warning" [hidden]="!salary.errors.pattern" *ngIf="salary.errors && (salary.touched || salary.dirty)">please
                                enter only numbers</span>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group" style="width: 22.5em">
                              <label for="Number">Salary Pattern</label>
                              <span class="text-warning"> * </span>
                              <select #salaryPattern="ngModel" class="form-control" name='salaryPattern' [(ngModel)]="staff.salaryPattern">
                                <option value="0" selected>Select Salary Pattern</option>
                                <option *ngFor="let spd of salaryPatternDetails" value={{spd.id}}>{{spd.patternname}}
                                </option>
                              </select>
                              <span class="text-warning" *ngIf="salaryPattern.value=='0' && (salaryPattern.touched || salaryPattern.dirty)">Please
                                Select
                                Salary Pattern</span>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group" style="width: 21.875em">
                              <label for="Number">OTPay</label>
                              <span class="text-warning"> * </span>
                              <input type="text" minlength="0" required maxlength="8" required #otPay="ngModel"
                                onkeypress="return event.charCode >= 48 && event.charCode <= 57" min="0" [(ngModel)]="staff.otPay"
                                name='otPay' class="form-control" id="otPay" placeholder="Enter OTPay">
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                      <form #addstaff="ngForm" novalidate>
                        <div>
                          <div class="form-group" style="width:  43.75em">
                            <label>Current Shift </label>
                            <span class="text-warning"> * </span>
                            <select #ShiftName="ngModel" class="form-control" name='shiftId' [(ngModel)]="staff.shiftId">
                              <option value="0" selected>Select Shift Name</option>
                              <option *ngFor="let spd of shiftList" value={{spd.shiftid}}>{{spd.shiftname}} </option>
                            </select>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="text-center actions">
                    <input type="button" [disabled]="!addstaff.valid||userId.value==0||branchId.value==0||salaryPattern.value==0||userroleid.value==0 || ShiftName.value==0 || dy.value=='y' || dm.value=='m'"
                      *ngIf="!staff.Id" value="Submit" (click)="addStaff(salaryPattern)" class="btn flat btn-create"
                      data-dismiss="modal">
                  </div>
                  <div class="text-center actions">
                    <input type="button" *ngIf="staff.Id" value="Update staff" (click)="updateStaff()" class="btn flat btn-create"
                      data-dismiss="modal">
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="viewstaff">
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Location">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By User">
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="UserName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
      </ng-container>
      <ng-container matColumnDef="doj">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DOJ</th>
        <td mat-cell *matCellDef="let row">{{row.doj|date}}</td>
      </ng-container>
      <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Experience</th>
        <td mat-cell *matCellDef="let row">{{row.experience}}</td>
      </ng-container>
      <ng-container matColumnDef="realsalary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
        <td mat-cell *matCellDef="let row">{{row.realsalary}}</td>
      </ng-container>
      <ng-container matColumnDef="rolename">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role </th>
        <td mat-cell *matCellDef="let row">{{row.rolename}}</td>
      </ng-container>
      <ng-container matColumnDef="branchname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
        <td mat-cell *matCellDef="let row">{{row.branchname}}</td>
      </ng-container>
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit <span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
          <div id="Edit" data-toggle="modal" data-target="#responsive" (click)=editStaff(row.id)><i class="fa fa-pencil-square-o"></i></div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
<div id="mdlSample" class="modal fade" role="dialog" [ngStyle]="{'display': mdlSampleIsOpen ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog modal-lg" id="cls">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="color:blue">Permissions Not Assigned</h4>
      </div>
      <div class="modal-body" style="color:blue">Assign Permissions</div>
      <div class="modal-footer">
        <button type="button" id="btnOK" class="btn btn-success" (click)="btnOKClick()"><i class="fa fa-check fa-fw"></i>
          Ok</button>
      </div>
    </div>
  </div>
</div>