<div>
  <form novalidate>
    <div class="container">
      <div class="jumbotron">
        <h2>Fee structure</h2>
        <hr />
        
        <div class="btn-align">
            <div class="dropdown">
              <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> 
                <i  class="fa fa-money"></i>  Fee structure Type
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" role="button" data-toggle="modal" href="#viewfeestruct">
                  <i class="fa fa-th-list"></i>  View feestructure</a>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
        <div class=" col-lg-6">
          Session Name
          <select required #classId="ngModel" name="classId" class="form-control" [(ngModel)]="feepatternObj.sessionId">
            <option value="0" selected>Select Session Name</option>
            <option *ngFor="let cl of classList" value="{{cl.id}}">{{cl.sessionname}}</option>
          </select>
          <span class="text-warning" [hidden]="!classId.errors.required" *ngIf="classId.value=='0'  && (classId.touched || classId.dirty)">Please
            Select Session Name</span>
          <span class="text-warning" [hidden]="!classId.errors.required" *ngIf="classId.errors && (classId.touched || classId.dirty)">Session
            Required</span>
          <span class="text-warning" [hidden]="!classId.errors.value" *ngIf="classId.errors && (classId.touched || classId.dirty)">Please
            Select</span>
        </div>
      </div>
      <div class="row">
        <div class=" col-lg-2">
          Fee Name
          <input type="text" class="form-control" pattern="^[^\d\W]+( [^\d\W]+)*$" placeholder="Fee Name" name='FeeName'
            [(ngModel)]="feepatternObj.feeName" #FeeName="ngModel" required minlength="2" maxlength="30" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32">
          <span class="text-danger" [hidden]="!FeeName.errors.pattern" *ngIf="FeeName.errors && (FeeName.touched || FeeName.dirty)">
            Fee Name accepts only alphabets</span>
          <span class="text-danger" [hidden]="!FeeName.errors.required" *ngIf="FeeName.errors && (FeeName.touched || FeeName.dirty)">Fee
            Name Required</span>
          <span class="text-danger" [hidden]="!FeeName.errors.minlength || FeeName.errors.pattern" *ngIf="FeeName.errors && (FeeName.touched || FeeName.dirty)">
            Fee Name is with 2 characters</span>
        </div>
        <div class=" col-lg-2">
          Amount
          <input type="text" required class="form-control" placeholder="Amount" name='Amount' [(ngModel)]="feepatternObj.amount"
            #Amount="ngModel">
          <span class="text-danger" [hidden]="!Amount.errors.pattern" *ngIf="Amount.errors && (Amount.touched || Amount.dirty)">
            Amount accepts only alphabets</span>
          <span class="text-danger" [hidden]="!Amount.errors.required" *ngIf="Amount.errors && (Amount.touched || Amount.dirty)">Amount
            Required</span>
        </div>
        <div class=" col-lg-2">
          Optional<br>
          <input type="checkbox" name="optional" [(ngModel)]="feepatternObj.optional" #optional="ngModel">
        </div>
        <div class=" col-lg-2">
          EMI (Optional)<br>
          <input type="checkbox" name="emi" [(ngModel)]="feepatternObj.emi" #emi="ngModel">
        </div>
      </div>
      <div class="row">
        <div class=" col-lg-2">
          <button class="btn btn-success" value="Add" (click)="addLocalstorage()">Add</button>
        </div>
        <div class=" col-lg-2">
          <input type="button" value="Submit" (click)=addfee(classId) class="btn btn-primary">
        </div>
        <div *ngIf="read==true && write==true || write==true">
        </div>
      </div>
    </div>
  </form>
</div>
<br>
<br>
<br>
<div id="viewfeestruct" class="collapse">
  <div class="container">
    <h2>fee structure</h2>
    <table class='table'>
      <tr>
        <th>Fee Type</th>
        <th>Amount</th>
        <th>Optional</th>
        <th>Session name</th>
        <th>EMI</th>
      
      </tr>
      <tr *ngFor="let fsl of feestructureList">
        <td>{{fsl.feename}}</td>
        <td>{{fsl.amount}}</td>
        <td>{{fsl.optional}}</td>
        <td>{{fsl.sessionname}}</td>
        <td>{{fsl.emi}}</td>
       
      </tr>
    </table>
  </div>
</div>
<div class="container">
  <h2>fee structure pattern</h2>
  <table class='table'>
    <tr>
      <th>Fee Type</th>
      <th>Amount</th>
      <th>Optional</th>
    </tr>
    <tr *ngFor="let fsl of feestructurepatternList">
      <td>{{fsl.feename}}</td>
      <td>{{fsl.amount}}</td>
      <td>{{fsl.optional}}</td>
    </tr>
  </table>
</div>