<div class="container">
  <div class="jumbotron">
    <h2><i> Department Details </i></h2>
    <hr />
<div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> <span style="font-size:1em;"
            class="fa fa-sitemap"></span> Departments Type
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive2" (click)="getDepartments()"
            *ngIf="read==true && write==true || write==true"><small class="fa fa-plus-circle"></small>  Add</a>
          <a class="dropdown-item" href="#vieworg" data-toggle="collapse" role="button" (click)=viewDepartment()><small
              class="fa fa-th-list"></small> <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span> </a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive2" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Departments</h4>
          <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #adddepartmentForm="ngForm">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="dt">Department:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" maxlength="100" autocomplete="off" required #name="ngModel" pattern="^[^\d\W]+( [^\d\W]+)*$"
                    minlength="3" class="form-control" name="name" [(ngModel)]="departmentobject.name" placeholder="Department Name"
                    onkeypress="return (event.charCode >= 65 && event.charCode <= 90) ||(event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32">
                  <span class="text-warning" *ngIf="name.errors?.required && (name.touched || name.dirty)">Department
                    Required</span>
                  <span class="text-warning" *ngIf="name.errors?.pattern && (name.touched || name.dirty)">
                    Department Accepts only Alphabets.</span>
                  <span class="text-warning" [hidden]="name.errors.pattern" *ngIf="name.errors?.minlength && (name.touched || name.dirty)">
                    Enter department min 3 characters.</span>
                </div>
                <div class="form-group">
                  <label>Branch</label>
                  <span class="text-warning"> * </span>
                  <br>
                  <select class="form-control" id="brnid" name="branchId" [(ngModel)]="departmentobject.branchId"
                    #brnid="ngModel" required>
                    <option value="0" disabled selected>Select Branch</option>
                    <option *ngFor="let bL of branchList" value="{{bL.branchid}}">{{bL.branchname}}</option>
                  </select>
                  <span class="text-warning" *ngIf="brnid.value=='Select'">*Please Select</span>
                  <span class="text-warning" *ngIf="brnid.errors && (brnid.touched || brnid.dirty)" [hidden]="!brnid.errors.required">Branch
                    Required..</span>
                  <span class="text-warning" *ngIf="brnid.errors && (brnid.touched || brnid.dirty)" [hidden]="!brnid.errors.value">*Please
                    Select</span>
                </div>
                <div class="form-group" class="text-center" *ngIf="!departmentobject.Id">
                  <button type="submit" (click)="adddepartments()" [disabled]="!adddepartmentForm.valid||this.courseid==0||this.name==0"
                    class="btn btn-primary" data-dismiss="modal">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="viewdepartment">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter Department Name">
    </mat-form-field>
    <table mat-table [dataSource]="dataSoursesDept" matSort>
      <ng-container matColumnDef="DepartmentsName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Departments</th>
        <td *matCellDef="let row">{{row.dep_name}}</td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumndept'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumndept"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>