<br>
<div class="row" *ngIf="read==true && write==true || write==true" >
    <div class="col-md-3">
        <div ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" (fileOver)="fileOverAnother($event)"
            [uploader]="uploader" class="well my-drop-zone">
            &nbsp; Drag your Files Here
        </div>
        Choose Images
        <span style="color:red"> (allowed types JPEG/JPG/GIF/PNG/MP4)</span>
        <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br />
    </div>
    <div class="col-md-9" style="margin-bottom: 2.5em">
        <form class="form-group">
            Album Name <input type="text" class='form-control' value={{albumName}} #album (keyup)="setAlbum(album.value)" />
        </form>
        <h3>Gallery upload List</h3>
        <p>Queue length: {{ uploader?.queue?.length }}</p>
        <table class="table">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td nowrap>
                        <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <div>
                Upload progress:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
        </div>
    </div>
</div>
<div *ngIf="read==true && write==true || write==true">
<button type="button" class="btn btn-outline-info btn-lg" 
title="Delete Folder" (click)="showList()">
<i class="fa fa-trash" aria-hidden="true"  ></i></button>
</div>
<button type="button" (click)="refreshGallery()" class="btn btn-outline-info btn-lg">
        <i class="fa fa-refresh"></i>
    </button>
<div class="text-center" *ngIf='show'>
    <p-tree [value]="filesTree0" data-toggle="modal" data-target="#responsive" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="holdDeleteNodeSelect($event)"></p-tree>
</div>
<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
        <div class="modal-dialog" id="box">
            <div class="modal-content bigModel">
                <div class="modal-header">
                    <h4>Alert! Delete Folder Permanantly</h4>
                    <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div>
                                <button type="button" class="btn btn-danger btn-xs" (click)='delete()'>
                                     Delete Folder
                                    </button>
                                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
<div class="row">
        <div class="col-md-3">
                <p-tree [value]="filesTree0" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)"></p-tree>
            </div>
        <div class="col-md-9">
                <p-galleria [images]="list" panelWidth="800" panelHeight="450" [showCaption]="true"></p-galleria>
            </div>
</div>
<br>




<div class='col-md-4 example-box'>
       
<video *ngIf='source' width="320" height="240" controls>
    <source src="{{source}}" type="video/mp4">
       
    Your browser does not support the video.
  </video>
    
 
</div>
