.header-section {
    height: 5em;
    line-height: 5em;
    color: beige;
    background-color: rgb(46, 43, 43);
    font-size: 1.5em;
    padding-left: 1.25em;
  }
  .card {
    background-color: white;
    box-shadow: 0 0.1875em 0.3125em -0.0625em rgba(0, 0, 0, 0.2), 0 0.375em 0.625em 0 rgba(0, 0, 0, 0.14), 0 0.0625em 1.125em 0 rgba(0, 0, 0, 0.12);
    color: black;
    margin: 1.25em;
    padding: 0.625em;
  }
  .uploadList {
    padding: 0.625em;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
  }
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: Arial;
  }
  .header {
    text-align: center;
    padding: 2em;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    img {
      margin-top: 0.5em;
      vertical-align: middle;
    }
  }
  @media screen and (max-width: 50em) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 37.5em) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 50%;
    }
  }
  .my-drop-zone {
    border: dotted  0.1875em lightgray;
    height: 12.5em;
    width: 13.125em;
  }
  .nv-file-over {
    border: dotted  0.1875em red;
  }
  /* Default class applied to drop zones on over */
  .another-file-over-class {
    border: dotted 0.1875em green;
  }
  html, body {
    height: 100%;
  }