<div class="container">
  <div class="jumbotron">
    <h2> Gate pass </h2>
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"><span style="font-size:1em;"
            class="fa fa-ticket"> Gate Pass</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#viewgate" data-toggle="collapse" role="button"><i class="fa fa-th-list"></i><i class="fa fa-th-list" > </i><span id='showdata'>  View </span><span id='datahide'>  Hide</span></a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <form *ngIf="read==true && write==true || write==true">
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label for="octn">Description</label>
            <span class="text-warning"> * </span>
            <textarea type="text" autocomplete="off" maxlength="30" pattern="^[^\d\W]+( [^\d\W]+)*$" required
              #description="ngModel" [(ngModel)]="gateobject.description" name="description" class="form-control"
              onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32"></textarea>
            <span class="text-warning" [hidden]="!description.errors.required" *ngIf="description.errors && (description.touched || description.dirty)">Enter
              Description
            </span>
            <span class="text-warning" *ngIf="description.errors?.pattern && (description.touched || description.dirty)">Enter
              Valid
              Description
            </span>
          </div>

        </div>
        <div class="form-group">
          <div class="col-md-4">
            <label for="pay ">Date:</label>
            <span class="text-warning"> * </span>
            <input type="text" readonly class="form-control" placeholder="MM/DD/YYYY" bsDatepicker [bsConfig]="bsConfig"
              autocomplete="off" #fromDate="ngModel" required style="width:100%; height:42px " [(ngModel)]="gateobject.inDate"
              name="indate">
            <span class="text-warning" *ngIf="fromDate.value=='Invalid Date'">Only Selection is Allowed
            </span>
            <span class="text-warning" *ngIf="fromDate.errors && (fromDate.touched ||  fromDate.dirty)">Enter Date</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4">
            <label for="bi">Time</label>
            <span class="text-warning"> * </span>
            <input type="Time" maxlength="30" class="form-control" [(ngModel)]="gateobject.inTime" name="inTime" id="octn">
          </div>
          <div class="form-group">
            <label for="branchid">Branch</label>
            <span class="text-warning"> * </span>
            <select #branchid="ngModel" class="form-control" required style="width:100%; height:42px" placeholder="type"
              [(ngModel)]="gateobject.branchId" name='branchid'>
              <option disabled selected>Select Branch</option>
              <option *ngFor="let cl of branchList" value="{{cl.branchid}}">{{cl.branchname}}</option>
            </select>
          </div>
        </div>


      </div>
      <div class="form-group" class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]="branchid.value==0" (click)="addGatePass()"
          data-dismiss="modal">Submit</button>
      </div>
    </form>
  </div>
  <div id="viewgate" class="collapse">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By User">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
        <td *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td *matCellDef="let row">{{row.description}}</td>
      </ng-container>
      <ng-container matColumnDef="intime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>InTime</th>
        <td *matCellDef="let row">{{row.intime}}</td>
      </ng-container>
      <ng-container matColumnDef="indate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>InDate</th>
        <td *matCellDef="let row">{{row.indate|date}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td *matCellDef="let row">{{row.status}}</td>
      </ng-container>
      <ng-container matColumnDef="Approve">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td *matCellDef="let row">
          <div [hidden]="rolename!='BranchAdmin'">
            <div [hidden]="row.status=='Accepted'||row.status=='Rejected'">
              <button #accept class="fa fa-check" data-toggle="modal" (click)="acceptLeave(row.id,accept)" value="Accepted"></button>
              &nbsp;
              <button #reject class="fa fa-times" (click)="acceptLeave(row.id,reject)" value="Rejected"></button>
            </div>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>