<div class="container mt-3">
  <div class="jumbotron">
      <h2>Divisions Details</h2>
      <hr/>

  <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> <span style="font-size:1em;" class="fa fa-list-ol"></span>  Branch-Session
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal"  data-target="#responsive" (click)=getIds()><small class="fa fa-plus-circle"></small>  Add Division</a>
          <a class="dropdown-item" href="#viewbrn" data-toggle="collapse" role="button"><small class="fa fa-th-list"></small> <span id='showdata'>  View </span><span id='datahide'>  Hide </span>   Division</a>
        </div>
      </div>
      </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
      <div class="modal-dialog" id="box">
        <div class="modal-content bigModel">
          <div class="modal-header">
            <h4>Session Details</h4>
            <button type="button" class="close btn-danger"  style="color:white;"  data-dismiss="modal">X
            </button>
          </div>
          <div class="modal-body">
              <form #addschoolbranch="ngForm">
              <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Domain</label>
                        <span class="text-warning"> * </span>
                        <select class="form-control"#departments="ngModel" required style="width:100%; height:2.625em" placeholder="type" name='DepId' [(ngModel)]="branchSession.departmentid">
                          <option value="0"  selected>Select Domain</option>
                          <option *ngFor="let cl of departmentsList" value="{{cl.id}}">{{cl.departmentname}}</option>
                        </select>
                        <span class="text-warning" *ngIf="departments.value=='0' && (departments.touched || departments.dirty)">Please Select
                            Domain</span>
                        <span [hidden]="!departments.errors.required" class="text-warning" *ngIf="departments.errors && (departments.touched || departments.dirty)">Domain Required</span>
                      </div>
                    <div class="form-group">
                        <label >Session Name</label>
                        <span class="text-warning"> * </span>
                        <select class="form-control"#classId="ngModel" required style="width:100%; height:2.625em" placeholder="type" name='classId' [(ngModel)]="branchSession.sessionId">
                          <option value="0"  selected>Select Session </option>
                          <option *ngFor="let cl of classList" value="{{cl.id}}">{{cl.sessionname}}</option>
                        </select>
                        <span class="text-warning" *ngIf="classId.value=='0' && (classId.touched || classId.dirty)">Please Select
                          Class</span>
                        <span  class="text-warning" *ngIf="classId.value=='Select'">*Please Select</span>
                        <span [hidden]="!classId.errors.required" class="text-warning" *ngIf="classId.errors && (classId.touched || classId.dirty)">Session Required</span>
                      </div>
                      <div class="form-group">
                        <label>Branch</label>
                        <span class="text-warning"> * </span>
                        <select class="form-control"#branchId="ngModel" (change)="getAllMediums()" required style="width:100%; height:2.625em" placeholder="type " name='branchId' [(ngModel)]="branchSession.branchId">
                          <option value="0"  selected>Select Branch</option>
                          <option *ngFor="let bid of branchList" value="{{bid.branchid}}">{{bid.branchname}}</option>
                        </select>
                        <span class="text-warning" *ngIf="branchId.value=='0' && (branchId.touched || branchId.dirty)">Please Select
                          Branch</span>
                        <span  class="text-warning" *ngIf="branchId.value=='Select'">*Please Select</span>
                        <span [hidden]="!branchId.errors.required" class="text-warning" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Branch Required</span>
                        <span [hidden]="!branchId.errors.values" class="text-warning" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Branch Required</span>
                      </div>
                      <div class="form-group">
                        <label>Medium</label>
                        <span class="text-warning"> * </span>
                        <select class="form-control"required   autocomplete="off"  
                         #medium="ngModel" style="width:100%; height:2.625em"  name='medium' [(ngModel)]="branchSession.medium">
                         <option value="0" disabled selected>Select Medium</option>
                          <option *ngFor="let md of  mediumlist" value="{{md.id}}">{{md.name}}</option>
                         </select>
                         <span class="text-warning" *ngIf="medium.value=='0' && (medium.touched || medium.dirty)">Please Select
                          Medium</span>
                        <span  class="text-warning" *ngIf="medium.value=='Select'">*Please Select</span>
                        <span [hidden]="!medium.errors.required" class="text-warning" *ngIf="medium.errors && (medium.touched || medium.dirty)">Medium Required</span>
                      </div>
                      <div class="form-group">
                        <label for="Number">Number of Trainees</label>
                        <span class="text-warning"> * </span>
                        <input type="text" #numofstudents="ngModel" min="0" maxlength="4" pattern="[0-9]{0,4}" required [(ngModel)]="branchSession.numOfTrainees"    onkeypress="return (event.charCode >= 48 && event.charCode <= 57) "
                          name='numOfStudents' class="form-control" id="numOfStudents" placeholder="Enter Number Of Students">
                        <span [hidden]="!numofstudents.errors.required" class="text-warning" *ngIf="numofstudents.errors && (numofstudents.touched || numofstudents.dirty)">Number of Trainees Required</span>
                        <span [hidden]="!numofstudents.errors.pattern" class="text-warning" *ngIf="numofstudents.errors && (numofstudents.touched || numofstudents.dirty)">Trainees count should contain only numbers</span>
                      </div>
                      <div class="form-group" class="text-center" *ngIf="!branchSession.Id">
                        <button type="button" [disabled]="!addschoolbranch.valid||departments.value==0||classId.value==0||branchId.value==0||medium.value==0"  class="btn btn-primary" value="submit" (click)="addBranchClass()" data-dismiss="modal">Submit</button>
                      </div>
 <div *ngIf="read==true && write==true || write==true">
</div>
                      <div class="form-group" class="text-center" *ngIf="branchSession.Id">
                        <button  type="button" class="btn btn-primary" value="update" (click)="updateBranchClass()" data-dismiss="modal">Update</button>
                      </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <div id="viewbrn" class="collapse">
  <mat-form-field  >
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Class">
    </mat-form-field>
      <table  mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="classname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Session</th>
          <td mat-cell *matCellDef="let row">{{row.sessionname}}</td>
        </ng-container>
        <ng-container matColumnDef="medium">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Medium</th>
          <td mat-cell *matCellDef="let row">{{row.mediumname}}</td>
        </ng-container>
        <ng-container matColumnDef="numofstudents">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of Trainees</th>
          <td mat-cell *matCellDef="let row">{{row.numoftrainees}}</td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="rolename!='BranchAdmin' " >Edit </th>
            <td mat-cell *matCellDef="let row">
              <div [hidden]="rolename!='BranchAdmin' " id="Edit" data-toggle="modal" data-target="#responsive"
              (click)=editBranchClass(row.id)><i  class="fa fa-pencil-square-o"></i></div>
            </td>
          </ng-container>
 <ng-container matColumnDef="Excel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
    </span></th>
    <td mat-cell *matCellDef="let row">
    </td>
  </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns'>
        </tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>  
      </table>
      <mat-paginator [length]="100"  #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
    </div>
    </div>
