<div class="container">
  <div class="jumbotron">
    <h2>Institute Details</h2>
    <hr />
    <div style="width:100%;text-align:right;">
      <div class="btn-align">
        <!-- <div class="dropdown">
          <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sitemap"></i>
            Organization Type
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" role="button" data-toggle="modal" href="#responsive1"><i class="fa fa-plus"></i>
              Add</a>
            <a class="dropdown-item" href="#vieworg" data-toggle="collapse" role="button"><i class="fa fa-th-list"></i>
                <span id='showdata1'>  View </span><span id='datahide1'>  Hide </span>  </a>
          </div>
        </div> -->

        <div class="dropdown">
          <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-sitemap"></i>
            Organization Type
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" role="button" data-toggle="modal" href="#responsive1"><i class="fa fa-plus"></i>
              Add</a>
            <a class="dropdown-item" href="#vieworg" data-toggle="collapse" role="button"><i class="fa fa-th-list"></i>
              <span id='showdata1'>  View </span><span id='datahide1'>  Hide </span> </a>
          </div>
        </div>

        <div class="dropdown">
          <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-graduation-cap"></i>Board
            Type
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" role="button" data-toggle="modal" href="#responsive2"><i class="fa fa-plus"></i>
              Add</a>
            <a class="dropdown-item" href="#viewaffl" data-toggle="collapse" role="button"><i class="fa fa-th-list"></i>
              <span id='showdata2'>  View </span><span id='datahide2'>  Hide </span> </a>
          </div>
        </div>
        <div class="dropdown">
          <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-building-o"></i>Firm
            Category
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" role="button" data-toggle="modal" href="#responsive3"><i class="fa fa-plus"></i>
              Add</a>
            <a class="dropdown-item" href="#viewinstyp" data-toggle="collapse" role="button"><i class="fa fa-th-list"></i>
              <span id='showdata3'>  View </span><span id='datahide3'>  Hide </span>  </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive1" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Organization</h4>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #institute="ngForm" novalidate>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="nam">Organization Type:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" #institutename="ngModel" autocomplete="off" class="form-control" pattern="^[^\d\W]+( [^\d\W]+)*$"
                    placeholder="Enter name" name="instituteNamee" maxlength="70" [(ngModel)]="institution.instituteName"
                    minlength="3" required (keyup)="verifyInstitute('name')" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32">
                  <span class="text-warning" [hidden]="institutename.errors.required" *ngIf="institutename.errors?.required && (institutename.touched || institutename.dirty)">Organization
                    Type Required
                  </span>
                </div>
                <div class="text-center">
                  <input type="button" class="btn btn-primary" [disabled]="!institute.valid " data-dismiss="modal"
                    value="Submit" (click)="addInstitute()">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive2" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Board</h4>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #board="ngForm" novalidate>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="nam">Organization Type:</label>
                  <span class="text-warning"> * </span>
                  <select type="text" #instituteid="ngModel" autocomplete="off" class="form-control" pattern="[a-zA-Z][a-zA-Z. 
]{0,70}"
                    placeholder="Enter Organization Type" name="instituteid" maxlength="70" [(ngModel)]="institution.organizationTypeId"
                    minlength="3" required>
                    <option value="0" selected>Select Organization
                      Type</option>
                    <option *ngFor="let clst of instituteList" value={{clst.id}}>{{clst.organizationtypename}}
                    </option>
                  </select>
                  <span class="text-warning" [hidden]="!instituteid.errors.required" *ngIf="instituteid.value=='0' && 
(instituteid.touched || instituteid.dirty) ">Please
                    Select</span>
                  <span class="text-warning" [hidden]="!instituteid.errors.required" *ngIf="instituteid.errors && 
(instituteid.touched || instituteid.dirty)">Organization
                    Name Required </span>
                  <span class="text-warning" [hidden]="!instituteid.errors.value" *ngIf="instituteid.errors && 
(instituteid.touched || instituteid.dirty)">Please
                    Select
                  </span>
                </div>
                <div class="form-group">
                  <label for="nam">Board/Affiliated Type:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" #boardName="ngModel" autocomplete="off" class="form-control" pattern="^[^\d\W]+( [^\d\W]+)*$"
                    placeholder="Enter name" name="boardName" maxlength="70" [(ngModel)]="institution.boardName"
                    minlength="3" required (keyup)="verifyBoard('boardName')" onkeypress="return (event.charCode >= 
65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode 
<= 122)  || event.charCode==32">
                  <span class="text-warning" [hidden]="!boardName.errors.required" *ngIf="boardName.errors?.required 
&& (boardName.touched || boardName.dirty)">Board/Affiliated
                    Type Required
                  </span>
                  <span class="text-warning" *ngIf="boardName.errors?.pattern && (boardName.touched || 
boardName.dirty)">Board/Affiliated
                    Name Should Be Only Alphabets</span><br/>
                  <div class="text-center">
                    <input type="button" class="btn btn-primary" data-dismiss="modal" value="Submit" (click)="addBoard()">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive3" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>InstituteType</h4>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #institutetype="ngForm" novalidate>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="nam">Organization Type:</label>
                  <span class="text-warning"> * </span>
                  <select type="text" #instituteid="ngModel" autocomplete="off" class="form-control" pattern="[a-zA-Z][a-zA-Z. 
]{0,70}"
                    placeholder="Enter name" name="instituteid" maxlength="70" [(ngModel)]="institutiontype.organizationTypeId"
                    minlength="3" required>
                    <option value="0" selected>Select</option>
                    <option *ngFor="let clst of instituteList" value={{clst.id}}>{{clst.organizationtypename}}
                    </option>
                  </select>
                  <span class="text-warning" [hidden]="!instituteid.errors.required" *ngIf="instituteid.value=='0' && 
(instituteid.touched || instituteid.dirty)">Please
                    Select</span>
                  <span class="text-warning" [hidden]="!instituteid.errors.required" *ngIf="instituteid.errors && 
(instituteid.touched || instituteid.dirty)">Organization
                    Name Required </span>
                  <span class="text-warning" [hidden]="!instituteid.errors.value" *ngIf="instituteid.errors && 
(instituteid.touched || instituteid.dirty)">Please
                    Select
                  </span>
                </div>
                <div class="form-group">
                  <label for="nam">Firm Category :</label>
                  <span class="text-warning"> * </span>
                  <input type="text" #institutetypename="ngModel" autocomplete="off" class="form-control" pattern="^[^\d\W]+( [^\d\W]+)*$"
                    placeholder="Enter name" name="institutetypename" maxlength="70" [(ngModel)]="institutiontype.name"
                    minlength="3" required onkeypress="return 
(event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 
&& event.charCode <= 122)  || event.charCode==32">
                  <span class="text-warning" *ngIf="institutetypename.errors?.required && (institutetypename.touched 
|| institutetypename.dirty)">Firm
                    Type Required
                  </span>
                  <span class="text-warning" *ngIf="institutetypename.errors?.pattern && (institutetypename.touched 
|| institutetypename.dirty)">Firm
                    Type Should Be Only Alphabets</span>
                  <span class="text-warning" [hidden]="institutetypename.errors.pattern" *ngIf="institutetypename.errors?.minlength && (institutetypename.touched 
|| institutetypename.dirty)">Firm
                    Type Should Be Min 3 Characters</span>
                </div>
                <div class="text-center">
                  <input type="button" class="btn btn-primary" value="Submit" (click)="addInstitutetype()" data-dismiss="modal">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="vieworg" class="collapse">
    <div class="container">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Organization Type">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="instituteName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <h6>Organization Type</h6>
          </th>
          <td mat-cell *matCellDef="let 
row">{{row.organizationtypename}}</td>
        </ng-container>
        <ng-container matColumnDef="Excel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
                aria-hidden="true"></i>
            </span></th>
          <td mat-cell *matCellDef="let row">
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
  <div id="viewaffl" class="collapse">
    <div class="container">
      <mat-form-field>
        <input matInput (keyup)="applyFilter1($event.target.value)" placeholder="Enter Board Name">
      </mat-form-field>
      <table mat-table [dataSource]="dataSources" matSort>
        <ng-container matColumnDef="Organizations">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <h6>Organizations type</h6>
          </th>
          <td mat-cell *matCellDef="let row">{{row.organization}}</td>
        </ng-container>
        <ng-container matColumnDef="boardName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <h6>Board/Affiliated Type</h6>
          </th>
          <td mat-cell *matCellDef="let row">{{row.boardname}}</td>
        </ng-container>
        <ng-container matColumnDef="Excel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getInstituteTypeexcel()"><i class="fa fa-file-excel-o"
                aria-hidden="true"></i>
            </span></th>
          <td mat-cell *matCellDef="let row">
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns1'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns1"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
  <div id="viewinstyp" class="collapse">
    <div class="container">
      <mat-form-field>
        <input matInput (keyup)="applyFilter2($event.target.value)" placeholder="Enter Institue Name">
      </mat-form-field>
      <table mat-table [dataSource]="dataSourcess" matSort>
        <ng-container matColumnDef="Organization">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <h6>Organization Categories</h6>
          </th>
          <td mat-cell *matCellDef="let row">{{row.organization}}</td>
        </ng-container>
        <ng-container matColumnDef="InstitueName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <h6>Firm Categories</h6>
          </th>
          <td mat-cell *matCellDef="let 
row">{{row.institutetypename}}</td>
        </ng-container>
        <ng-container matColumnDef="Excel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getOrgCategoryexcel()"><i class="fa fa-file-excel-o"
                aria-hidden="true"></i>
            </span></th>
          <td mat-cell *matCellDef="let row">
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns2'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns2"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>
<br /><br />