<div class="container mt-3" id="signup">
  <br /><br />
  <!-- ==============stepper1 terms & conditions================ -->
  <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>
    <!-- ==============================end of stepper1================ -->
    <mat-step label="Add Users Details" [stepControl]="adduserForm">
      <div *ngIf="hideformOne">
        <form #adduserForm="ngForm">
          <div class="row">
            <div class="form-group col-sm-4">
              <label for="fn">First Name:
                <span class="text-danger"> * </span>
              </label>
              <input type="text" maxlength="20" autocomplete="off" required #firstName="ngModel" pattern="[A-Za-z]{0,30}"
                minlength="3" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)"
                class="form-control" name="firstName" [(ngModel)]="usr.firstName" placeholder="First Name">
              <span class="text-danger" [hidden]="!firstName.errors.required" *ngIf="firstName.errors && (firstName.touched || firstName.dirty)">First
                Name Required</span>
              <span class="text-danger" [hidden]="!firstName.errors.pattern" *ngIf="firstName.errors && (firstName.touched || firstName.dirty)">Please
                enter only alphabets</span>
              <span class="text-danger" [hidden]="!firstName.errors.minlength || firstName.errors.pattern" *ngIf="firstName.errors">
                Enter First Name with min 3 characters.</span>
            </div>
            <div class="form-group col-sm-4">
              <label for="ln">Last Name:
                <span class="text-danger"> * </span>
              </label>
              <input type="text" autocomplete="off" [disabled]="!firstName.valid" required #lastName="ngModel" pattern="[A-Za-z]{0,30}"
                maxlength="30" minlength="3" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)"
                class="form-control" name="lastName" [(ngModel)]="usr.lastName" placeholder="Last Name">
              <span class="text-danger" [hidden]="!lastName.errors.required" *ngIf="lastName.errors && (lastName.touched || lastName.dirty)">Last
                Name Required</span>
              <span class="text-danger" [hidden]="!lastName.errors.pattern" *ngIf="lastName.errors && (lastName.touched || lastName.dirty)">Last
                Name accepts only alphabets</span>
              <span class="text-danger" [hidden]="!lastName.errors.minlength || lastName.errors.pattern" *ngIf="lastName.errors">
                Enter Last Name with min 3 characters.</span>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <label for="dob">DOB (MM/DD/YYYY):
                <span class="text-danger"> * </span>
              </label>
              <div class="form-group">
                <input type="text" readonly autocomplete="off" [minDate]="minDate" [maxDate]="maxDate" bsDatepicker
                  [bsConfig]="bsConfig" [bsConfig]=" {containerClass: 'theme-dark-blue'} " name="dob" placeholder="MM/DD/YYYY"
                  class="form-control" #dob="ngModel" bsDatepicker [(ngModel)]="usr.dob" required [bsConfig]="bsConfig">
                <span class="text-danger" [hidden]="!dob.errors.required" *ngIf="dob.errors && (dob.touched || dob.dirty)">Date
                  of birth Required</span>
                <span class="text-danger" *ngIf="dob.value=='Invalid Date'">Only Selection is Allowed</span>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <label class="form-check-label" for="Gender">Gender:</label>
              <span class="text-danger"> * </span>
              <div class="radio-inline">
                <input type="radio" id="male" name="gender" [(ngModel)]="usr.gender" value="m"> Male
                <input type="radio" id="female" name="gender" [(ngModel)]="usr.gender" value="f"> Female
                <input type="radio" id="other" name="gender" [(ngModel)]="usr.gender" value="o"> Others
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
              <input type="hidden" class="form-control" name="role" [(ngModel)]="usr.role">
            </div>
            <div class="form-group col-sm-4">
              <button class="btn btn-primary" [disabled]="!adduserForm.valid" (click)="addUser()">Save
                and Continue
              </button>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf='nextStep'>
        <form #addcontactdetails="ngForm">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="country">Country:</label>
                <mat-select class="form-control" placeholder="Country" required #country="ngModel" (ngModelChange)="getStates(country.value)"
                  [(ngModel)]="cdi.country" name="country">
                  <mat-option value='0' disabled selected>Select Country</mat-option>
                  <mat-option *ngFor="let ucl of usercountryList" value="{{ucl.id}}">
                    {{ucl.name}}
                  </mat-option>
                </mat-select>
                <span class="text-danger" *ngIf="country.value=='0' && (country.touched || country.dirty)">Please
                  select
                  country</span>
                <span class="text-danger" [hidden]="!country.errors.required" *ngIf="country.errors && (country.touched || country.dirty)">Country
                  Required
                </span>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="state">State:</label>
              <mat-select class="form-control" placeholder="State" required #state="ngModel" (ngModelChange)="getCities(state.value)"
                [(ngModel)]="cdi.state" name="state">
                <mat-option value='0' disabled selected>Select State</mat-option>
                <mat-option *ngFor="let usl of userstateList" value="{{usl.id}}">
                  {{usl.name}}
                </mat-option>
              </mat-select>
              <span class="text-danger" *ngIf="state.value=='0' && (state.touched || state.dirty)">Please select
                state</span>
              <span class="text-danger" [hidden]="!state.errors.required" *ngIf="state.errors && (state.touched || state.dirty)">State
                Required
              </span>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="city">City:</label>
                <mat-select class="form-control" required #city="ngModel" placeholder="City" [(ngModel)]="cdi.city"
                  name="city" (ngModelChange)="getAllPlaces()">
                  <mat-option value='0' disabled selected>Select City</mat-option>
                  <mat-option *ngFor="let ucl of usercitiesList" value="{{ucl.id}}">
                    {{ucl.name}}
                  </mat-option>
                </mat-select>
                <span class="text-danger" *ngIf="city.value=='0' && (city.touched || city.dirty)">Please Select city</span>
                <span class="text-danger" [hidden]="!city.errors.required" *ngIf="city.errors && (city.touched || city.dirty)">City
                  Required
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="plc">Place:</label>
                <span class="text-danger"> * </span>
                <input type="text" autocomplete="off" [typeahead]="placeList" typeaheadOptionField="locationname"
                  [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="3" maxlength="50" class="form-control"
                  required #place="ngModel" [(ngModel)]="cdi.place" name="place" placeholder="Place" (keyup)="onKeydown($event)"
                  pattern="^\w+( (\- ){0,3}\w+)*$" />
                <span class="text-danger" [hidden]="!place.errors.required" *ngIf="place.errors && (place.touched || place.dirty)">Place
                  Required
                </span>
                <span class="text-danger" [hidden]="!place.errors.pattern" *ngIf="place.errors && (place.touched || place.dirty)">Enter
                  valid place
                </span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="ads">Address(optional):</label>
                <span class="text-danger"> * </span>
                <textarea pInputTextarea autoResize="autoResize" autocomplete="off" class="form-control" maxlength="100"
                  style="resize:none" required rows="1" #address="ngModel" [(ngModel)]="cdi.address" name="address"
                  pattern="^[\w&.,/\-]+([ \w&.,/\-]+)*$" placeholder="Address"></textarea>
                <span class="text-danger" [hidden]="!address.errors.required" *ngIf="address.errors && (address.touched || address.dirty)">Address
                  is Required
                </span>
                <span class="text-danger" [hidden]="!address.errors.pattern" *ngIf="address.errors && (address.touched || address.dirty)">Enter
                  valid Address
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="mobile">Mobile Number:</label>
                <span class="text-danger"> * </span>
                <input type="tel" minlength="10" maxlength="10" autocomplete="off" pattern="((?:6|7|8|9)[0-9])+(?:-?\d){8,15}"
                  required class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                  #mobile="ngModel" [(ngModel)]="cdi.mobile" name="mobile" placeholder="Mobile Number" (keyup)="verifyMobile('mobile',mobile)">
                <span class="text-danger" [hidden]="!mobile.errors.required" *ngIf="mobile.errors && (mobile.touched || mobile.dirty)">Mobile
                  Number Required
                </span>
                <span class="text-danger" [hidden]="!mobile.errors.pattern" *ngIf="mobile.errors && (mobile.touched || mobile.dirty)">Please
                  enter a valid mobile number(min 10 digits)</span>
                <span class="text-danger" [hidden]="mobilevalidation==true" *ngIf="mobilevalidation==false">
                  <i>Mobile Number already exits </i>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Email:</label>
                <span class="text-danger"> * </span>
                <input type="email" required maxlength="40" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z]+\.[a-zA-Z]{2,3}$" class="form-control"
                  #email="ngModel" [(ngModel)]="cdi.email" name="email" placeholder="Email" (keyup)="verifyEmail('email')">
                <span class="text-danger" [hidden]="!email.errors.required" *ngIf="email.errors && (email.touched || email.dirty)">Email
                  Required
                </span>
                <span class="text-danger" [hidden]="!email.errors.pattern" *ngIf="email.errors && (email.touched || email.dirty)">Please
                  Enter Valid Email</span>
                <span class="text-danger" [hidden]="Emailvalidation==true " *ngIf="Emailvalidation==false">
                  <i>Email already exits </i>
                </span>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                <label for="uniqueIdentificationNo">Unique Id: (
                  <span *ngIf="usr.role!='Driver'">Aadhaar</span>
                  <span *ngIf="usr.role=='Driver'">Driving Licence without statecode</span>)(optional)</label>
                <span class="text-danger"> * </span>
                <input type="text" autocomplete="off" class="form-control" required minlength="12" maxlength="14"
                  pattern="[0-9]{12,14}" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                  #uniqueIdentificationNo="ngModel" [(ngModel)]='cdi.uniqueIdentificationNo' name="uniqueIdentificationNo"
                  placeholder="Unique Identification Number" (keyup)="verifyAuthencation('UniqueIdentificationNo',uniqueIdentificationNo)">
                <span class="text-danger" [hidden]="!uniqueIdentificationNo.errors.pattern" *ngIf="uniqueIdentificationNo.errors && (uniqueIdentificationNo.touched || uniqueIdentificationNo.dirty)">
                  Enter a valid Unique Identification number</span>
                <span class="text-danger" [hidden]="!uniqueIdentificationNo.errors.required" *ngIf="uniqueIdentificationNo.errors && (uniqueIdentificationNo.touched || uniqueIdentificationNo.dirty)">Unique
                  Identification Number Required
                </span>
                <span class="text-danger" [hidden]="aadhaarevalidation==true" *ngIf="aadhaarevalidation==false">
                  <i> Unique Identification Number already exits </i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <button type="submit" class="btn btn-primary" (click)="backTo()">Back</button>
            <button type="submit" class="btn btn-primary" matStepperNext (click)="addContactDetails(addcontactdetails)">Submit</button>
          </div>
        </form>
      </div>
    </mat-step>
    <mat-step label="Fill out your details" [stepControl]="adduserForm">
      <form #adduserForm="ngForm">
        <form #addstaff="ngForm" novalidate>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label>Name</label>
                <span class="text-warning"> * </span>
                <select required #userId="ngModel" style="width:100%; height:2.625em" class="form-control" placeholder="type"
                  name='userId' [(ngModel)]="staff.userId">
                  <option value="0" selected>Select Name</option>
                  <option *ngFor="let user of userDetails" value={{user.userid}}>{{user.firstname}}
                    {{user.lastname}}</option>
                </select>
                <span class="text-warning" *ngIf="userId.value=='0' && (userId.touched || userId.dirty)">Please
                  Select
                  Name</span>
                <span class="text-warning" *ngIf="userId.value=='Select'">*Please Select</span>
                <span class="text-warning" [hidden]="!userId.errors.required" *ngIf="userId.errors && (userId.touched || userId.dirty)">Name
                  Required </span>
                <span class="text-warning" [hidden]="!userId.errors.value" *ngIf="userId.errors && (userId.touched || userId.dirty)">Please
                  Select
                </span>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="Number">Date Of Joining</label>
                <span class="text-warning"> * </span>
                <input type="text" readonly autocomplete="off" required #doj="ngModel" bsDatepicker [bsConfig]="bsConfig"
                  [bsConfig]=" {containerClass: 'theme-dark-blue' }" [(ngModel)]="staff.doj" name='doj' class="form-control"
                  id="doj" [minDate]="minDate" [maxDate]="maxDate" placeholder="Enter doj" bsDatepicker [bsConfig]="bsConfig"
                  [bsConfig]=" {containerClass: 'theme-dark-blue' }">
                <span class="text-warning" *ngIf="doj.errors && (doj.touched || doj.dirty)">Enter Date
                  Of Joining
                </span>
                <span class="text-warning" *ngIf="doj.value=='Invalid Date'">Only Selection is Allowed</span>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label>Location</label>
                <span class="text-warning"> * </span>
                <select #branchId="ngModel" required class="form-control" style="width:100%; height: 2.625em"
                  placeholder="type" name='branchId' [(ngModel)]="staff.branchId">
                  <option value="0" selected>Select Location</option>
                  <option *ngFor="let schoolb of schoolBranchDetails" value="{{schoolb.branchid}}">{{schoolb.branchname}}</option>
                </select>
                <span class="text-warning" *ngIf="branchId.value=='0' && (branchId.touched || branchId.dirty)">Please
                  Select Location</span>
                <span class="text-warning" *ngIf="branchId.value=='Select'">Please Select</span>
                <span class="text-warning" [hidden]="!branchId.errors.required" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Location
                  Required </span>
                <span class="text-warning" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Location
                  Required
                </span>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label for="Number">User Role Name</label>
                <span class="text-warning">* </span>
                <select required #userroleid="ngModel" [(ngModel)]="staff.userRoleId" name='userRoleId' class="form-control"
                  id="Userroleid" placeholder="Enter Userroleid">
                  <option value="0" selected>Select User Role Name</option>
                  <option *ngFor="let role of roleDetails" value={{role.id}}>{{role.rolename}}</option>
                </select>
                <span class="text-warning" *ngIf="userroleid.value=='Select'">*Please Select</span>
                <span class="text-warning" *ngIf="userroleid.errors && (userroleid.touched || userroleid.dirty)">Enter
                  User Role Name</span>
                <span class="text-warning" *ngIf="userroleid.value=='0' && (userroleid.touched || userroleid.dirty)">Please
                  Select
                  Role Name</span>
              </div>
            </div>
            <div class="form-group col-lg-4">
              <label>Experience years</label>
              <span class="text-warning"> * </span>
              <select class="form-control" required #dy="ngModel" placeholder="exprence" [(ngModel)]="staff.dy" name="dy"
                (change)="ddlYears(dy)">
                <option value="y" disabled selected>Select Years</option>
                <option *ngFor="let item of arrayOne(41); let i = index;" value="{{i}}">{{i}}</option>
              </select>
              <span class="text-warning" *ngIf="dy.value=='Select'">Please select experience year</span>
              <span class="text-warning" [hidden]="!dy.errors.required" *ngIf="dy.errors && (dy.touched || dy.dirty)">Please
                select experience year</span>
            </div>
            <div class="form-group col-lg-4">
              <label>Experience Months</label>
              <span class="text-warning"> * </span>
              <select class="form-control" #dm="ngModel" [(ngModel)]="staff.dm" required name="dm" (change)="ddlMonths(dm)">
                <option value="m" disabled selected>Select Months</option>
                <option *ngFor="let item of arrayTwo(12); let j = index;" value="{{j}}">{{j}}</option>
              </select>
              <span class="text-warning" *ngIf="dm.value=='Select'">Please select experience months</span>
              <span class="text-warning" [hidden]="!dm.errors.required" *ngIf="dm.errors && (dm.touched || dm.dirty)">Please
                select experience months</span>
            </div>
          </div>
          <figure>
            <img style="background-color: whitesmoke;border-radius:50%;padding: 1.8%;max-width: 40%;" [src]="image.URL"
              *ngIf="image.URL!=''" alt="Image" />
          </figure>
          <div class="fa fa-user-circle" style="font-size: 650%;background-color: whitesmoke;;padding: 2.5%" *ngIf="image.URL==''">
          </div>
          <div class="elementer">
            <label class="hand-cursor">
              <div class="form-group col-sm-4">
                <input type="file" #fileUpload="ngModel" id="container" accept="image/gif, image/jpeg, image/png" class="form-control"
                  (change)="fileChangeEvent($event)" name="image" [(ngModel)]="staff.image">
              </div>
              <i class="fa fa-camera"></i>
            </label>
          </div>
        </form>
      </form>
    </mat-step>
    <mat-step label="Fill out your details" [stepControl]="adduserForm">
      <form #adduserForm="ngForm">
        <form #addstaff="ngForm" novalidate>
          <div class="row">
            <div class="form-group col-lg-6">
              <label>Bank Name</label>
              <input type="text" class="form-control" minlength="3" maxlength="50" [typeahead]="banklist"
                typeaheadOptionField="Bankname" pattern="^[^\d\W]+( [^\d\W]+)*$" id="BankName" placeholder="Bank name "
                name='BankName' [(ngModel)]="AccountyDetails.bankName" onkeypress="return (event.charCode >= 65 && event.charCode <= 90)||(event.charCode >= 97 && event.charCode <= 122)||event.charCode==32"
                #BankName="ngModel">
              <span *ngIf="BankName.invalid && (BankName.touched || BankName.dirty)">
                <span class="text-warning" [hidden]="!BankName.errors.required" *ngIf="BankName.errors && (BankName.touched || BankName.dirty)">
                  Bank Name Required</span>
                <span class="text-warning" [hidden]="!BankName.errors.pattern" *ngIf="BankName.errors && (BankName.touched || BankName.dirty)">
                  Bank Name Should Be Only In Alphabets</span>
              </span>
              <span class="text-warning" [hidden]="!BankName.errors.minlength || BankName.errors.pattern" *ngIf="BankName.errors && (BankName.touched || BankName.dirty)">
                BankName Should Be Minimun 3 chars
              </span>
            </div>
            <div class="form-group col-lg-6">
              <label>Bank Account number</label>
              <input type="text" class="form-control" id="AccountNumber" minlength="10" maxlength="20" pattern="[0-9]{10,20}"
                placeholder="Bank Account number" name='AccountNumber' (keyup)="verifyBankaccount('accountnumber')"
                [(ngModel)]="AccountyDetails.accountNumber" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                #AccountNumber="ngModel">
              <span class="text-warning" [hidden]="bankvalidations==true " *ngIf="bankvalidations==false">
                <i>Bank Account Number already exits </i>
              </span>
              <span *ngIf="AccountNumber.invalid && (AccountNumber.touched || AccountNumber.dirty)">
                <span class="text-warning" [hidden]="!AccountNumber.errors.required" *ngIf="AccountNumber.errors && (AccountNumber.touched || AccountNumber.dirty)">
                  Account Number Required</span>
                <span class="text-warning" [hidden]="!AccountNumber.errors.pattern" *ngIf="AccountNumber.errors && (AccountNumber.touched || AccountNumber.dirty)">
                  Please enter valid account number with Min 10 digits </span>
              </span>
            </div>
            <div class="form-group col-lg-6">
              <label>Pan number</label>
              <span class="text-warning"> * </span>
              <input type="text" class="form-control" id="PanNumber" maxlength="10" style="text-transform:uppercase"
                required pattern="[A-Za-z]{5}\d{4}[A-Za-z]{1}" placeholder="Pan number" name='PanNumber' [(ngModel)]="AccountyDetails.panNumber"
                #PanNumber="ngModel">
              <span *ngIf="PanNumber.invalid && (PanNumber.touched || PanNumber.dirty)">
                <span class="text-warning" [hidden]="!PanNumber.errors.required" *ngIf="PanNumber.errors && (PanNumber.touched || PanNumber.dirty)">
                  Pan Number Required</span>
                <span class="text-warning" [hidden]="!PanNumber.errors.pattern" *ngIf="PanNumber.errors && (PanNumber.touched || PanNumber.dirty)">
                  Enter Valid Pan Details </span>
              </span>
            </div>
            <div class="form-group col-lg-4">
              <label>pf number</label>
              <input type="text" class="form-control" id="PfAccountNumber" minlength="5" maxlength="15" pattern="[0-9]{3,15}"
                placeholder="pf number" name='PfAccountNumber' [(ngModel)]="AccountyDetails.pfAccountNumber" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                #PfAccountNumber="ngModel" (keyup)="verifyPfnum('Pfnumber')">
              <span class="text-warning" [hidden]="pfvalidation==true " *ngIf="pfvalidation==false">
                <i>Pf Number already exits </i>
              </span>
              <span *ngIf="PfAccountNumber.invalid && (PfAccountNumber.touched || PfAccountNumber.dirty)">
                <span class="text-warning" [hidden]="!PfAccountNumber.errors.required" *ngIf="PfAccountNumber.errors && (PfAccountNumber.touched || PfAccountNumber.dirty)">
                  Pf Account Number Required</span>
                <span class="text-warning" [hidden]="!PfAccountNumber.errors.pattern" *ngIf="PfAccountNumber.errors && (PfAccountNumber.touched || PfAccountNumber.dirty)">
                  Please enter a valid Pf Account Number</span>
                <span class="text-warning" [hidden]="!PfAccountNumber.errors.minlength || PfAccountNumber.errors.pattern"
                  *ngIf="PfAccountNumber.errors && (PfAccountNumber.touched || PfAccountNumber.dirty)">
                  Enter Min 5 digits</span>
              </span>
            </div>
            <div class="form-group" class="col-lg-4">
              <label>Department</label>
              <span class="text-warning"> * </span>
              <select class="form-control" #dpt="ngModel" ngModel required name="dpt" [(ngModel)]="staff.departmentId">
                <option value="0" disabled selected>Select </option>
                <option *ngFor="let item of departmentlist" value="{{item.dep_id}}">{{item.dep_name}}</option>
              </select>
              <span class="text-warning" *ngIf="dpt.value=='Select'">Please select department </span>
              <span class="text-warning" [hidden]="!dpt.errors.required" *ngIf="dpt.errors && (dpt.touched || dpt.dirty)">Please
                Select</span>
            </div>
          </div>
        </form>
      </form>
    </mat-step>
    <mat-step label="Fill out your details" [stepControl]="adduserForm">
      <form #adduserForm="ngForm">
        <form #addstaff="ngForm" novalidate>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" style="width: 21.875em">
                <label for="Number">Salary per month</label>
                <span class="text-warning"> * </span>
                <input type="text" minlength="0" maxlength="8" required #salary="ngModel" min="0" [(ngModel)]="staff.salary"
                  name='salary' onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control"
                  id="Salary" placeholder="Enter Salary" pattern="^(?:[1-9][0-9]{0,7}(?:\.\d{1,2})?|10000000|10000000.00)$">
                <span class="text-warning" [hidden]="!salary.errors.required" *ngIf="salary.errors && (salary.touched || salary.dirty)">Enter
                  Salary Details
                </span>
                <span class="text-warning" [hidden]="!salary.errors.pattern" *ngIf="salary.errors && (salary.touched || salary.dirty)">please
                  enter only numbers</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" style="width: 22.5em">
                <label for="Number">Salary Pattern</label>
                <span class="text-warning"> * </span>
                <select #salaryPattern="ngModel" class="form-control" (change)="getShifts()" name='salaryPattern'
                  [(ngModel)]="staff.salaryPattern">
                  <option value="0" selected>Select Salary Pattern</option>
                  <option *ngFor="let spd of salaryPatternDetails" value={{spd.id}}>{{spd.patternname}}
                  </option>
                </select>
                <span class="text-warning" *ngIf="salaryPattern.value=='0' && (salaryPattern.touched || salaryPattern.dirty)">Please
                  Select
                  Salary Pattern</span>
              </div>
            </div>
          </div>
        </form>
      </form>
    </mat-step>
    <mat-step label="Final Step" [stepControl]="adduserForm">
      <form #adduserForm="ngForm">
        <form #addstaff="ngForm" novalidate>
          <div>
            <div class="form-group" style="width:  43.75em">
              <label>Current Shift </label>
              <span class="text-warning"> * </span>
              <select #ShiftName="ngModel" class="form-control" name='shiftId' [(ngModel)]="staff.shiftId">
                <option value="0" selected>Select Shift Name</option>
                <option *ngFor="let spd of shiftList" value={{spd.shiftid}}>{{spd.shiftname}} </option>
              </select>
              <input type="checkbox" value='Yes I agreee' #agree required>I here by declare that the above information is correct and true to my knowledge.
              <div class="text-center actions">
                <input type="button" [disabled]="!addstaff.valid||userId.value==0||branchId.value==0||salaryPattern.value==0||userroleid.value==0 || ShiftName.value==0 || dy.value=='y' || dm.value=='m'"
                  *ngIf="!staff.Id" value="Submit" (click)="addStaff(salaryPattern)" class="btn flat btn-create"
                  data-dismiss="modal">
              </div>
            </div>
          </div>
        </form>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
  <br />
  <br />
</div>