$color-white :  #fff;
$none : none;


.nav-tabs .nav-link {
  border-radius: 0em !important;
}
.contact-form {
  background: $color-white;
  margin-bottom: 5%;
  width: 70%;
  .form-control {
    border-radius: 1rem;
  }
}
.contact-image {
  text-align: center;
  img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
  }
}
.contact-form {
  form {
    padding: 14%;
    .row {
      margin-bottom: -7%;
    }
  }
  h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
  }
  .btnContact {
    width: 50%;
    border: $none;
    border-radius: 1rem;
    padding: 1.5%;
    font-weight: 600;
    cursor: pointer;
  }
}
.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: $color-white;
  background-color: #0062cc;
  border: $none;
  cursor: pointer;
}
.bg-gradient {
  background: rgb(159, 168, 194);
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}
ul li {
  margin-bottom: 1.4rem;
}
.pricing-divider {
  border-radius: 1.25em;
  background: rgb(204, 197, 197);
  padding: 1em 0 4em;
  position: relative;
}
.blue .pricing-divider, .green .pricing-divider {
  background: rgb(177, 170, 170);
}
.red b {
  color: rgb(177, 170, 170);
}
.blue b {
  color: rgb(175, 181, 185);
}
.green b {
  color: rgb(177, 189, 182);
}
.pricing-divider-img {
  position: absolute;
  bottom: -0.125em;
  left: 0;
  width: 100%;
  height: 5em;
}
.deco-layer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.btn-custom {
  background: #C64545;
  color: $color-white;
  border-radius: 1.25em;
}
.img-float {
  width: 3.125em;
  position: absolute;
  top: -3.5rem;
  right: 1rem;
}
.princing-item {
  transition: all 150ms ease-out;
  &:hover {
    transform: scale(1.05);
    .deco-layer--1 {
      -webkit-transform: translate3d(0.9375em, 0, 0);
      transform: translate3d(0.9375em, 0, 0);
    }
    .deco-layer--2 {
      -webkit-transform: translate3d(-0.9375em, 0, 0);
      transform: translate3d(-0.9375em, 0, 0);
    }
  }
}
label {
  color: black;
}