<div class="container">
  <br>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Billing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">Offers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">Payment</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu3">Renewal</a>
      </li>
  </ul>

  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <h3>Billing</h3>
        <div class="container-fluid bg-gradient p-5">
          <div class="row m-auto text-center w-75">
            <div class="col-lg-4 princing-item red">
              <div class="pricing-divider ">
                <h3 class="text-light">BASIC</h3>
                <h4 class="my-0 display-3 text-light font-weight-normal mb-4"><span class="h3">$</span> Free <span class="h5">/mo</span></h4>
                <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='6.25em' id='Layer_1'
                  preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='18.75em' x='0em' xml:space='preserve'
                  xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0em'>
                  <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
           c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z'
                    fill='#FFFFFF' opacity='0.6'></path>
                  <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
           c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z'
                    fill='#FFFFFF' opacity='0.6'></path>
                  <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
           H42.401L43.415,98.342z'
                    fill='#FFFFFF' opacity='0.7'></path>
                  <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
           c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z'
                    fill='#FFFFFF'></path>
                </svg>
              </div>
              <div class="card-body bg-white mt-0 shadow">
                <ul class="list-unstyled mb-4 position-relative">
                  <li><b>10</b> users included</li>
                  <li><b>2 GB</b> of storage</li>
                  <li><b>Free </b>Email support</li>
                  <li><b>Help center access</b></li>
                </ul>
                <button type="button" class="btn btn-lg btn-block  btn-custom " (click)=free(0)>Sign up for free</button>
              </div>
            </div>
            <div class="col-lg-4 princing-item blue">
              <div class="pricing-divider ">
                <h3 class="text-light">SILVER</h3>
                <h4 class="my-0 display-2 text-light font-weight-normal mb-3"><span class="h3">$</span> 250 <span class="h5">/mo</span></h4>
                <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='6.25em' id='Layer_1'
                  preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='18.75em' x='0em' xml:space='preserve'
                  xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0em'>
                  <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
           c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z'
                    fill='#FFFFFF' opacity='0.6'></path>
                  <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
           c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z'
                    fill='#FFFFFF' opacity='0.6'></path>
                  <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
           H42.401L43.415,98.342z'
                    fill='#FFFFFF' opacity='0.7'></path>
                  <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
           c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z'
                    fill='#FFFFFF'></path>
                </svg>
              </div>
              <div class="card-body bg-white mt-0 shadow">
                <ul class="list-unstyled mb-4 position-relative">
                  <li><b>100 </b>users included</li>
                  <li><b>10 GB</b> of storage</li>
                  <li><b>Free</b>Email support</li>
                  <li><b>Help center access</b></li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-custom" (click)=buy1(50)>Sign up for free</button>
              </div>
            </div>
            <div class="col-lg-4 princing-item green">
              <div class="pricing-divider ">
                <h3 class="text-light">GOLD</h3>
                <h4 class="my-0 display-3 text-light font-weight-normal mb-3"><span class="h3">$</span> 450 <span class="h5">/mo</span></h4>
                <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='6.25em' id='Layer_1'
                  preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width=' 18.75em' x='0em' xml:space='preserve'
                  xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0em'>
                  <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
           c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z'
                    fill='#FFFFFF' opacity='0.6'></path>
                  <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
           c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z'
                    fill='#FFFFFF' opacity='0.6'></path>
                  <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
           H42.401L43.415,98.342z'
                    fill='#FFFFFF' opacity='0.7'></path>
                  <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
           c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z'
                    fill='#FFFFFF'></path>
                </svg>
              </div>
              <div class="card-body bg-white mt-0 shadow">
                <ul class="list-unstyled mb-4 position-relative">
                  <li><b>300</b> users included</li>
                  <li><b>20 GB</b> of storage</li>
                  <li><b>Free</b> Email support</li>
                  <li><b>Help center access</b></li>
                </ul>
                <button type="button" class="btn btn-lg btn-block  btn-custom " (click)=buy2(100)>Sign up for free</button>
              </div>
            </div>
          </div>
        </div>
      <br>
      <div class="col-md-6 offset-md-3">
          <span class="anchor" id="formPayment"></span>
          <hr class="my-5">
          
          <div class="card card-outline-secondary">
            <div class="card-body">
              <h3 class="text-center"> Billing Details</h3> <button class="btn-primary" (click)=editBill()>Upgrade to nextlevel package</button>
              <hr>
                  <form #frm="ngForm" autocomplete="off" >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="cc_name"> Name</label>
                      <select class="form-control" style="width:100%; height:2.625em" placeholder="Name"name="userId" [(ngModel)]="bill.userId">
        <option>Select</option>
        <option *ngFor="let sid of scAdminDetails" value="{{sid.id}}">{{sid.firstname}} {{sid.lastname}}</option>
      </select>
                    </div>
                    <div class="form-group">
                      <label>Current Billing Start Date</label>
                      <input type="text" readonly class="form-control" name="startDate" [(ngModel)]="bill.startDate"  autocomplete="off" maxlength="20" pattern="\d{16}" 
                        required="">
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <input type="text" readonly class="form-control" name="status" [(ngModel)]="bill.status"  autocomplete="off" maxlength="20" pattern="\d{16}" 
                          required="">
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="form-group">
                          <label>School/College</label>
                          <select class="form-control" style="width:100%; height: 2.625em" placeholder="Name"name="organizationId" [(ngModel)]="bill.organizationId">
                            <option>Select</option>
                            <option *ngFor="let sid of scAdminDetails" value="{{sid.organizationid}}">{{sid.name}}</option>
                          </select>
                        </div>
                        <div class="form-group">
                            <label>Next Payment Date</label>
                            <input type="text" readonly class="form-control" name="endDate" [(ngModel)]="bill.endDate" autocomplete="off" maxlength="20" pattern="\d{16}"
                              required="">
                          </div>
                    <div class="form-group">
                      <label>Tax</label>
                      <input type="text" readonly class="form-control" autocomplete="off" maxlength="20" pattern="\d{16}" value="GST-9%    CGST-9%"  required="">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <label style="margin-left:12px;">Amount</label>
                </div>
                <div class="form-inline">
                  <div class="input-group">
                    <div class="input-group-prepend"><span  class="input-group-text">Rs</span></div>
                    <input type="text" readonly class="form-control text-right" name="amount" [(ngModel)]="bill.amount"  placeholder="">
                    <div class="input-group-append"><span  class="input-group-text">.00</span></div>
                  </div>
                </div>
                <hr>
                <div class="form-group row">
                  <div class="col-md-12">
                    <a href="#menu1">Next</a>
                  </div>
                  <div class="col-md-6"  >
                    <button type="submit" (click)="saveBil()" class="btn btn-success btn-lg  btn-block">Submit</button>
                  </div>   
                  <div class="col-md-6"  >
                    <button type="submit" (click)="updateBill()" class="btn btn-success btn-lg  btn-block">Update Package</button>
                  </div>       
                           </div>
              </form>
            </div>
          </div>
          
    </div>
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
      <h3>Offers</h3>
      <form #frm="ngForm">
          <div class="card">
              <div class="card-body">
                  <input type="radio" name="offer" [(ngModel)]="bill.offer" value="10">&nbsp;&nbsp;Offer 10% <br><hr/>
                When Learning Perl 6 was published and the paper versions were available, I owed about 100 people a signed copy. From my years of publishing a print Perl magazine, I know that physically shipping stuff is an exercise in pain and memory. Did I send the book? When did I send it? I’m never quite sure the task is finished because a parcel might go missing without the recipient realizing they are missing something. 
                    Months later I get a complaint. 
                    No big whoop—that’s life in retail.
                    No big whoop—that’s life in retail.
                    No big whoop—that’s life in retail.
              </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <input type="radio" name="offer" [(ngModel)]="bill.offer" value="20">&nbsp;&nbsp;Offer 20% <br><hr/>
                  When Learning Perl 6 was published and the paper versions were available, I owed about 100 people a signed copy. From my years of publishing a print Perl magazine, I know that physically shipping stuff is an exercise in pain and memory. Did I send the book? When did I send it? I’m never quite sure the task is finished because a parcel might go missing without the recipient realizing they are missing something. 
                      Months later I get a complaint. 
                      No big whoop—that’s life in retail.
                </div>
              </div>
              <br>
              <div>
                <button (click)="offer()" class="btn btn-info">Next</button>
              </div>
              <br>
      </form>
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
      <h3>Payment</h3>
      <div class="container contact-form">
          <form>
            <h3>Acount Details</h3>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="email" class="form-control" placeholder="Your Email" value="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="number" name="phone" class="form-control" placeholder="Your Phone Number" value="" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" placeholder="Name on Card" value="" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="number" name="number" class="form-control" placeholder="Card Number" value="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="date" class="form-control" placeholder="Expery Date" value="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="cvv" class="form-control" placeholder="Cvv" value=""/>
                </div>
              </div>
              <div class="col-md-12 text-center">
              <div class="form-group">
                  <input type="submit" name="btnSubmit" class="btnContact" value="Make Payment of {{x}}"/>
                  </div>
            </div>
          </div>
          </form>
        </div>
    </div>
    <div id="menu3" class="container tab-pane fade"><br>
      <h3>Renewal</h3>
    </div>
  </div>
</div>
