
<div class="container">
  <div class="jumbotron"><h2>Salary Dashboard</h2>
    <hr/>
    
  <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"><i class="fas fa-money-bill-alt">  <span style="font-size:1em;" class="fa fa-money"></span></i> Salary Details
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" href="#viewallSal" ><i class="fa fa-th-list" > </i><span id='showdata1'>  View Allsalaries</span><span id='datahide1'>  Hide Allsalaries</span></a>
          <a class="dropdown-item" href="#ViewSal" data-toggle="collapse"  role="button"><i class="fa fa-th-list" > </i><span id='showdata2'>  View Salary</span><span id='datahide2'>  Hide Salary</span> </a>
        </div>
      </div>
      </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Salary</h4>
          <button type="button" class="close btn-danger"  style="color:white;"  data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #salary="ngForm" novalidate>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="sid">Staff:</label>
                  <span class="text-warning"> * </span>
                  <select  name="staffId" [(ngModel)]="sl.staffId" class="form-control" id="sid" #staffId="ngModel" required>
                    <option [ngValue]="undefined" disabled  selected>Select Staff</option>
                    <option *ngFor="let staff of staffDetails" value={{staff.id}}>{{staff.firstname}}</option>
                  </select>
                  <span class="text-warning" *ngIf="staffId.value=='Select'">*Please Select</span>
                  <span class="text-warning" [hidden]="!staffId.errors.required" class="text-warning" *ngIf="staffId.errors && (staffId.touched || staffId.dirty)">*Staff
                     Required</span>
                  <span class="text-warning" [hidden]="!staffId.errors.value" *ngIf="staffId.errors && (staffId.touched || staffId.dirty)">*Please
                    Select
                  </span>
                </div>
                <div class="form-group">
                  <label for="sal">Salary:</label>
                  <span class="text-warning"> * </span>
                  <input class="form-control" type="number" name="salary" max="10000000" [(ngModel)]="sl.salary" class="form-control" id="sal" #salary="ngModel"
                    required min=0 onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                  <span class="text-warning" [hidden]="!salary.errors.required" class="text-warning" *ngIf="salary.errors && (salary.touched || salary.dirty)">*Salary
                    Amount Required..</span>
                    <span class="text-warning" [hidden]="!salary.errors.max" class="text-warning" *ngIf="salary.errors && (salary.touched || salary.dirty)">*Salary
                      Amount cannot be overlimit</span>
                </div>
                <div class="form-group">
                  <label for="spl">Special Allowances:</label>
                  <span class="text-warning"> * </span>
                  <input class="form-control" type="number" name="specialAllowances" [(ngModel)]="sl.specialAllowances" class="form-control"
                    id="spl" #specialAllowances="ngModel" required min=0 onkeypress="return event.charCode >= 48 && event.charCode <= 57"> 
                  <span class="text-warning" [hidden]="!specialAllowances.errors.required" class="text-warning" *ngIf="specialAllowances.errors && (specialAllowances.touched || specialAllowances.dirty)">*Spl.Allowences
                    Amount Required</span>
                </div>
                <div class="form-group" class="text-center" *ngIf="!sl.Id">
                  <button class="text-center" type="submit" class="btn btn-primary" data-dismiss="modal" (click)="addSalary()">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<div>
    <div id="viewallSal" class="collapse">
        <button id="button-a" class="btn btn-success"  (click)="getexcel()"> <span class="example-spacer"></span>Download</button>
  
          <div *ngIf="rolename=='BranchAdmin'">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Staff">
      </mat-form-field>
              </div>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="StaffName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Staff</th>
        <td mat-cell *matCellDef="let row">{{row.firstname}}  {{row.lastname}}</td>
      </ng-container>
      <ng-container matColumnDef="Salary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
        <td mat-cell *matCellDef="let row">{{row.salary}}</td>
      </ng-container>
      <ng-container matColumnDef="AllowancesPattern">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Allowances Pattern</th>
          <td mat-cell *matCellDef="let row">{{row.patternname}}</td>
        </ng-container>
        <ng-container matColumnDef="branch">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
            <td mat-cell *matCellDef="let row">{{row.branchname}}</td>
          </ng-container>
          <ng-container matColumnDef="Excel">
              <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
              </span></th>
              <td mat-cell *matCellDef="let row">
              </td>
            </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
  <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>  
    </table>
    <mat-paginator [length]="100"  #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
</div>
<div id="ViewSal" class="collapse">
<div>
  <table class="table">
    <h2>Salary Transactions</h2>
    <tr>
      <th>Salary </th>
      <th>Special allowances</th>
      <th> Status </th>
      <th> Salary pattern </th>
    </tr>
    <tr *ngFor="let s of salarytransactionList">
      <td>
        {{s.salary}}
      </td>
      <td>
        {{s.splallowances}}
      </td>
      <td>
        {{s.status}}
      </td>
      <td>
        {{s.patternname}}
      </td>
    </tr>
  </table>
</div>
</div>
</div>
<br>
