$color-white:#FFFFFF;
$color-black:#000000;
$relative:relative;
$pointer:pointer;
$transparent:transparent;
$absolute:absolute;
$none:none;
$auto:auto;
$zero:0;
$memtwo:-0.2em;
$emfive:0.5em;
$oneem:1.5em;
$emzero:0em;
$emoe:0.1875em;
$emsix:0.625em;
$em:0.75em;
$nineem:0.9375em;
$percent:50%;
$hundred:100%;
$no-repeat:no-repeat;
$capitalize:capitalize;

@import url('../node_modules/font-awesome/css/font-awesome.min.css');
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
.bg-company-blue {
  background-color: #053B4C;
  background-image: $none;
  background-repeat: $no-repeat;
}
.fakeimg {
  height: 12.5em;
  background: #aaa;
}
.carousel slide {
  max-width: $hundred;
}
.site-header {
  margin-bottom: $zero;
  border-radius: $emzero;
  color: aliceblue;
}
.header-title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  transform: scale(3, 2);
}
html {
  overflow-x: hidden;
}
.modal-backdrop {
  /* bug fix - no overlay */
  display: $none;
}
.header-title::first-letter {
  text-decoration: underline;
}
.one,
.two,
.three {
  position: $relative;
}
.ctrl {
  max-width: 1.875em ;
  position: $absolute;
  bottom: $emsix;
  color: #000;
  text-align: left;
  padding-left: 1%;
}
/* position */
.toast-center-center {
  top: $percent;
  left: $percent;
  transform: translate(-$percent, -$percent);
}
.toast-top-center {
  top: $zero;
  right: $zero;
  width: $hundred;
}
.toast-bottom-center {
  bottom: $zero;
  right: $zero;
  width: $hundred;
}
.toast-top-full-width {
  top: $zero;
  right: $zero;
  width: $hundred;
}
.toast-bottom-full-width {
  bottom: $zero;
  right: $zero;
  width: $hundred;
}
.toast-top-left {
  top: $em;
  left: $em;
}
.toast-top-right {
  top: $em;
  right: $em;
}
.toast-bottom-right {
  right: $em;
  bottom: $em;
}
.toast-bottom-left {
  bottom: $em;
  left: $em;
}
/* toast styles */
.toast-title {
  font-weight: bold;
}
.toast-message {
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: $color-white;
}
.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: $none;
}
.toast-close-button {
  position: $relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: $em;
  font-weight: bold;
  color: $color-white;
  text-shadow: $zero 0.0625em $zero #ffffff;
  /* opacity: 0.8; */
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: $color-black;
  text-decoration: $none;
  cursor: $pointer;
  opacity: 0.4;
}
button.toast-close-button {
  padding: $zero;
  cursor: $pointer;
  background: $transparent;
  border: $zero;
}
.toast-container {
  $pointer-events: $none;
  position: fixed;
  z-index: 999999;
}
.toast-container * {
  box-sizing: border-box;
}
.toast-container .toast {
  position: $relative;
  overflow: hidden;
  margin: $zero $zero 0.375em;
  padding: $nineem $nineem $nineem 3.125em;
  width: 18.75em;
  border-radius: $emoe $emoe $emoe $emoe;
  background-position: $nineem center;
  background-repeat: $no-repeat;
  background-size: $oneem;
  box-shadow: $zero $zero $em #999999;
  color: $color-white;
}
.toast-container .toast:hover {
  box-shadow: $zero $zero $em $color-black;
  opacity: 1;
  cursor: $pointer;
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
}
.toast-container.toast-top-center .toast,
.toast-container.toast-bottom-center .toast {
  width: 18.75em;
  margin-left: $auto;
  margin-right: $auto;
}
.toast-container.toast-top-full-width .toast,
.toast-container.toast-bottom-full-width .toast {
  width: 96%;
  margin-left: $auto;
  margin-right: $auto;
}
.toast {
  background-color: #030303;
  $pointer-events: $auto;
}
.toast-success {
  top: 31.25em;
  background-color: rgb(16, 131, 224)
}
.toast-error {
  top: 31.25em;
  background-color: #BD362F;
}
.toast-info {
  background-color: rgb(32, 160, 100);
}
.toast-warning {
  background-color: #F89406;
}
.toast-progress {
  position: $absolute;
  left: $zero;
  bottom: $zero;
  height:  0.25em;
  background-color: $color-black;
  opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 15em) {
  .toast-container .toast.div {
    padding: $emfive $emfive $emfive 3.125em;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: $memtwo;
    top: $memtwo;
  }
}
@media all and (min-width: 15.0625em) and (max-width: 17.5em) {
  .toast-container .toast.div {
    padding:  $emfive  $emfive  $emfive  3.125em;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: $memtwo;
    top: $memtwo;
  }
}
@media all and (min-width: 30.0625em) and (max-width: 48em) {
  .toast-container .toast.div {
    padding: $nineem $nineem $nineem 3.125em;
    width: 25em;
  }
}
/* ==================================== */
#Edit:hover {
  text-decoration: underline;
  color: blue
}
.col-12 {
  width: $hundred;
  height:  5.625em;
}
.lab1 {
  width: 45%;
  float: left;
  margin-left: -$emsix;
}
.lab2 {
  width: 45%;
  float: left;
  margin-left: 3.3125em;
}
.bigModel {
  width: 70%;
  height: $percent;
}
.modal-content {
  background-repeat: $no-repeat;
  background-position: center;
  opacity: 0.9;
  background-size: cover;
  width: $hundred;
  height: $auto;
  max-width: $hundred !important;
  /* background-color: rgba(177, 52, 189, 0.8); */
  background-color: $transparent !important;
}
.modal-dialog {
  max-width: 80%;
  width: 50em !important;
  height: $auto;
}
#box {
  position: $absolute;
  top:  18.75em;
  left: 55%;
  transform: translate(-$percent, -$percent);
  width: 28.125em;
  padding: $emsix;
  background: rgb(69, 72, 73);
  box-sizing: border-box;
  box-shadow: $zero $nineem 1.5625em rgba(40, 34, 54, 0.5);
  border-radius: 1.25em;
  opacity: 0.9;
  /* background-color: $transparent !important; */
}
#responsive {
  margin-top: 6.25em;
}
#info {
  width: 40%;
}
.info {
  width: 40%
}
/* ==========================footer css====================== */
.extraLinks a small{
  font-size: 0.7rem;
  padding-left: $oneem;
  padding-right: $oneem;
}
.btn-floating {
  color: rgb(255,255,255);
  font-size: $oneem;
}
.btn-d{
  font-size: 2em;
}.btn-d:hover{
  color: rgb(255,255,255);
}
.fa-facebook:hover {
  color: #3b5998;
}
.fa-twitter:hover {
  color: #00aced;
}
.fa-google-plus:hover {
  color: #dd4b39;
}
.fa-linkedin:hover {
  color: #007bb6;
}
.fa-instagram:hover {
  color: #bc2a8d;
}
.fa-android:hover{
  color: #76c45e;
}
.fa-apple:hover{
  color: #837373;
}
.cid-qzaqwpHEDD {
  padding-top:  3.75em;
  background-color: #000000dd;
  color: rgba(255,255,255, 0.877);
}
.mbr-text {
  font-size: $nineem;
}
.mat-cell {
  color: rgb(133, 128, 128);
}
.mat-header-cell {
  background-color: #0e0d0dea;
  text-transform: $capitalize;
  font-size:  1em;
  color: rgb(145, 130, 130);
}
.mat-header-cell h6 {
  font-weight: bold;
  text-transform: $capitalize;
}
.mat-paginator {
  background-color: #2122228a;
  color: rgb($zero, $zero, $zero);
  font: weight 1;
}
.mat-table {
  background-color: #00000000;
}
.modal-header {
  color: #c3dfec;
}
.big-icon {
  font-size: 1.5625em;}
@keyframes springy-text {
  0% {
    letter-spacing: 1.2em;
    color: $color-black;
  }
}
@keyframes springy-text {
  0% {
    letter-spacing: 1.2em;
    color: white;
  }
  100% {
    letter-spacing: 0.1em;
    color: #2d4652;
  }
}
table.mat-table {
  border-spacing: $emzero;
  width: $hundred;
}
/* -----------------------------------for capital text---------------------------------- */
label {
  text-transform: $capitalize;
}
button {
  text-transform: $capitalize;
}
h1,
h2,
h3,{
  text-transform: $capitalize;
}
th {
  text-transform: $capitalize;
}
@media (min-width:  20em) and (max-width:  20em) {
  #frMob .text-center{
    text-align: left;
  }
}
@media (min-width:  20em) and (max-width:  20em) {
  #frMo .text-center{
    text-align: left;
  }
}
.btn-align{
  width:$hundred;
  text-align: right;
}
.btn-outline-info {
  color: $color-black;
  background-color: $transparent;
  background-image: $none;
  border-color: $color-black
}
.btn-outline-info:hover {
  color: #fff;
  background-color: $color-black;
  border-color: #1f1c1e
}
.btn-outline-info.focus, .btn-outline-info:focus {
  box-shadow: $zero $zero $zero .2rem rgba(29, 26, 28, 0.5)
}
.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #2b282a;
  background-color: $transparent
}
.btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show>.btn-outline-info.dropdown-toggle {
  color: rgb(255,255,255);
  background-color: #000000ef;
  border-color: $color-black
}
.btn-outline-info:not(:disabled):not(.disabled).active:focus, .btn-outline-info:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-info.dropdown-toggle:focus {
  box-shadow: $zero $zero $zero .2rem rgba(20, 19, 20, 0.5)
}.jumbotron{
  padding: 1rem 1rem;
}
