<div class="container">
  <div class="jumbotron">
    <h2>KIT ALLOCATION </h2>
    <hr />
     
          <div class="btn-align">   
          <div class="dropdown">
                <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"><i class="fa fa-futbol-o" aria-hidden="true">  Kit</i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" role="button" data-toggle="modal"   data-target="#responsive"><small class="fa fa-plus-circle" >  Add Sports Kit</small></a>
                  <a class="dropdown-item"  href="#viewsports"  data-toggle="collapse" role="button"><small class="fa fa-th-list" (click)="allocatedSports()">  <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span>   Details</small></a>
                </div>
              </div>
              </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog modal-lg" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Sports Kits</h4>
          <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body ">
          <form #addsportskit="ngForm" novalidate>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group ">
                  <label>Sports Type</label>
                  <select type="text" required class="form-control" #sportskitId="ngModel" [(ngModel)]="kitInfo.sportsId"
                    name="sportskitId">
                    <option value="0" disabled selected>Select</option>
                    <option *ngFor="let s of sport" value="{{s.ids}}">{{s.sportstypes}}</option>
                  </select>
                  <span class="text-danger" *ngIf="sportskitId.value=='0'">*Please Select</span>
                  <span class="text-danger" *ngIf="sportskitId.errors?.required && (sportskitId.touched || sportskitId.dirty)">Please
                    select a Sport
                  </span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group ">
                  <label>Kit Id</label>
                  <input type="text" required class="form-control" pattern="[0-9]{0,3}" #kitId="ngModel" [(ngModel)]="kitInfo.kitId"
                    name="kitId" />
                  <span class="text-danger" *ngIf="kitId.errors?.required && (kitId.touched || kitId.dirty)">Please
                    Give Kit Id
                  </span>
                  <span class="text-danger" *ngIf="kitId.errors?.pattern && (kitId.touched || kitId.dirty)">Kit Id
                    cannot have alphabets
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Branch Name</label>
                  <select #branchId="ngModel" required class="form-control" style="width:100%; height:42px" placeholder="type"
                    name='branchId' [(ngModel)]="kitInfo.branchId">
                    <option value="0" disabled selected>select Branch Name</option>
                    <option *ngFor="let schoolb of schoolBranchDetails" value="{{schoolb.branchid}}">{{schoolb.branchname}}</option>
                  </select>
                  <span class="text-warning" *ngIf="branchId.value=='Select'">*Please Select</span>
                  <span class="text-warning" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Branch
                    Name Required
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group" class="form-group" class="text-center">
              <button type="submit" [disabled]="!addsportskit.valid||sportskitId.value==0||branchId.value==0" class="btn btn-primary"
                value="Submit" data-dismiss="modal" (click)=" addSportsKit()">Submit </button>
               
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 class="text-center">Sports </h2>
<div class="container mt-3">
  <div>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#responsive1">ADD SPORTS</button>
  </div>
  <div id="responsive1" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog modal-lg" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Sports</h4>
          <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body ">
          <form #addsports="ngForm" novalidate>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group ">
                  <label>Sports Type</label>
                  <select type="text" required class="form-control" #sportsId="ngModel" [(ngModel)]="sportsInfo.sportsId"
                    name="sportsId">
                    <option value="0" disabled selected>Select Sports Type</option>
                    <option *ngFor="let s of sport" value="{{s.ids}}">{{s.sportstypes}}</option>
                  </select>
                  <span class="text-danger" *ngIf="sportsId.value=='0'">*Please Select</span>
                  <span class="text-danger" *ngIf="sportsId.errors?.required && (sportsId.touched || sportsId.dirty)">Please
                    select
                  </span>
                </div>
                <div class="form-group">
                  <label>Session Name</label>
                  <select type="text" required class="form-control" #classId="ngModel" [(ngModel)]="sportsInfo.sessionId"
                    name="classId">
                    <option value="0" disabled selected>Select Session Name</option>
                    <option *ngFor="let bcl of branchclassList" value="{{bcl.id}}">{{bcl.sessionname}}</option>
                  </select>
                  <span class="text-danger" *ngIf="classId.value=='Select'">*Please Select</span>
                  <span class="text-danger" *ngIf="classId.errors?.required && (classId.touched || classId.dirty)">Please
                    select
                  </span>
                </div>
               
                <div class="form-group col-lg-6 ">
                  <label>
                    Start Time:
                    <input #startTime name="startTime" autocomplete="off" required  [(ngModel)]="selectedMoments2" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5">
                    <owl-date-time [pickerType]="'timer'" #dt5></owl-date-time>
                </label>
              </div>
                <div class="form-group">
                  <label>toDate</label>
                  <input type="text" readonly autocomplete="off" bsDatepicker [bsConfig]="bsConfig" name="endDate"
                    placeholder="MM/DD/YYYY" class="form-control" #endDate="ngModel" required [maxDate]="maxDate"
                    [minDate]="minDate" [bsConfig]="bsConfig" [(ngModel)]="sportsInfo.endDate">
                  <span class="text-danger" [hidden]="!endDate.errors.required" *ngIf="endDate.errors && (endDate.touched || endDate.dirty)">End
                    Date required..</span>
                  <span class="text-danger" *ngIf="endDate.value=='Invalid Date'">Only Selection is Allowed</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Department Name</label>
                  <select type="text" required class="form-control" #departmentId="ngModel" [(ngModel)]="sportsInfo.departmentId"
                    name="departmentId">
                    <option value="0" disabled selected>Select Department Name</option>
                    <option *ngFor="let d of department" value="{{d.dep_id}}">{{d.dep_name}}</option>
                  </select>
                  <span class="text-danger" *ngIf="departmentId.value=='Select'">*Please Select</span>
                  <span class="text-danger" *ngIf="departmentId.errors?.required && (departmentId.touched || departmentId.dirty)">Please
                    select
                  </span>
                </div>
                <div class="form-group">
                  <label>From Date</label>
                  <input type="text" readonly autocomplete="off" bsDatepicker [bsConfig]="bsConfig" name="fromDate"
                    placeholder="MM/DD/YYYY" class="form-control" #fromDate="ngModel" required [maxDate]="maxDate"
                    [minDate]="minDate" [bsConfig]="bsConfig" [(ngModel)]="sportsInfo.fromDate">
                  <span class="text-danger" [hidden]="!fromDate.errors.required" *ngIf="fromDate.errors && (fromDate.touched || fromDate.dirty)">Start
                    Date required..</span>
                  <span class="text-danger" *ngIf="fromDate.value=='Invalid Date'">Only Selection is Allowed</span>
                </div>
               
                <div class="form-group col-lg-6 ">
                    <label>
                    End Time:
                      <input  #endTime name="endTime" autocomplete="off" required  [(ngModel)]="selectedMoments1" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
                      <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
                  </label>
                </div>
               
  
                <div class="form-group">
                  <label>KitId</label>
                  <select style="width:100%; height:42px" type="text" required class="form-control" #kitId="ngModel"
                    [(ngModel)]="sportsInfo.kitId" name="kitId">
                    <option value="0" disabled selected>Select KitId</option>
                    <option *ngFor="let sk of kits" [value]="sk.ids">{{sk.ids}}</option>
                  </select>
                  <span class="text-danger" *ngIf="kitId.value=='Select'">*Please Select</span>
                  <span class="text-danger" *ngIf="kitId.errors?.required && (kitId.touched || kitId.dirty)">Please
                    select
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group" class="form-group" class="text-center" *ngIf="!sportsInfo.Id">
              <button type="add" [disabled]="!addsports.valid||sportsId.value==0||classId.value==0||departmentId.value==0||kitId.value==0"
                class="btn btn-primary" value="Submit" data-dismiss="modal" (click)="addSportsDetails(startTime.value,endTime.value)">Submit
              </button>
            </div>
            <div class="form-group" class="form-group" class="text-center" *ngIf="sportsInfo.Id">
              <button type="add" class="btn btn-primary" value="update" data-dismiss="modal" (click)="updateSportsmanagement(startTime.value,endTime.value)">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="viewsports" class="collapse">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Department">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="sportsid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sport type</th>
        <td mat-cell *matCellDef="let row">{{row.sportstype}}</td>
      </ng-container>
      <ng-container matColumnDef="departmentid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <ng-container matColumnDef="fromdate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
        <td mat-cell *matCellDef="let row">{{row.fromdate}}</td>
      </ng-container>
      <ng-container matColumnDef="starttime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</th>
        <td mat-cell *matCellDef="let row">{{row.starttime}}</td>
      </ng-container>
      <ng-container matColumnDef="endtime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
        <td mat-cell *matCellDef="let row">{{row.endtime}}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit </th>
        <td mat-cell *matCellDef="let row">
          <div id="Edit" data-toggle="modal" data-target="#responsive1" (click)=editAllocatedSports(row.id)>
            <i class="fa fa-pencil-square-o"></i>
          </div>
        </td>
      </ng-container>
 <ng-container matColumnDef="Excel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
    </span></th>
    <td mat-cell *matCellDef="let row">
    </td>
  </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>