<br>
<br>

<div class="container">
  <div class="btn-align">
  <div class="dropdown">
    <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-user"></i>  Dashboard
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#viewtrainerlog" data-toggle="collapse" role="button" (click)="getAllStaffLogins()">
        <i class="fa fa-th-list"></i>  View Trainer loggedTime</a>
      <a class="dropdown-item" role="button" data-toggle="modal" href="#viewtraineelog" (click)=" getAllStudentLogins()">
        <i class="fa fa-th-list"></i>  View Trainee loggedTime</a>
    </div>
  </div>
</div>
  <div>
    <button id="button-a" class="btn btn-success"> <span class="example-spacer"></span>Download</button>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>
      <ng-container matColumnDef="Mobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile number</th>
        <td mat-cell *matCellDef="let row">{{row.mobile}}</td>
      </ng-container>
      <ng-container matColumnDef="Message">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
        <td mat-cell *matCellDef="let row">{{row.message}}</td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
