.navbar {
    background-color: #f1f1f1;
    height: 3.875em;
    .container {
      margin-top: 0em;
    }
    input {
      min-width: 22.5em;
      border-radius: 0;
      border-right-width: 0;
      height: 2.125em;
    }
    button {
      border-radius: 0;
      border-right-width: 0;
      height: 2.125em;
    }
  }
  .container {
    margin-top: 1.25em;
  }
  .list-group-item {
    padding: .25rem 1.25rem;
  }
  .fullname {
    min-width: 7.5em;
    display: inline-block;
  }
  label {
    color: rgb(190, 209, 226);
  }