<!-- NavBar -->
<nav class="navbar navbar-toggleable-md navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
       <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <form class="form-inline my-2 my-lg-0">
      <div class="btn-group" role="group">
       <input class="form-control ml-sm-4" type="text" placeholder="Search">
       <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </div>
     </form>
     <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
       <a class="nav-link" href="#">&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;</a>
      </li>
      <li class="nav-item active">
       <a class="nav-link" href="#">&nbsp;<i class="fa fa-th" aria-hidden="true"></i>&nbsp;</a>
      </li>
      <li class="nav-item active">
       <a class="nav-link" href="#">vadillo.jon@gmail.com <span class="sr-only">(current)</span><i class="fa fa-angle-down" aria-hidden="true"></i></a>
      </li>
     </ul>
    </div>
       </div>
   </nav>
   <div class="container">
    <div class="row">
     <div class="col-12 col-sm-12 col-md-3 col-lg-2">
      <a href="" class="btn btn-danger btn-primary btn-block"  data-toggle="modal" data-target="#responsive">
       <i class="fa fa-edit"></i> Compose
      </a>
      <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="box">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Compose</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">To</label>
                            <div class="col-lg-10">
                                <select name="toUser" [(ngModel)]="mailbox.toUser" >
                                    <option>Select</option>
                                    <option class="form-control" id="inputEmail1" *ngFor="let t of toList" value={{t.id}}>{{t.loginid}}@infobyt.com  {{t.firstname}} {{t.lastname}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>subject</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="subject" [(ngModel)]="mailbox.subject" id="inputPassword1" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <div class="col-lg-10">
                                <textarea name="" id="" class="form-control" name="mail" [(ngModel)]="mailbox.mail" cols="30" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button type="submit" class="btn btn-info" data-original-title="" title="" (click)="addMail()">Send</button>
                            </div>
                            <div *ngIf="read==true && write==true || write==true">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
     </div>
     <div class="col-12 col-sm-12 col-md-9 col-lg-10">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
       <button type="button" class="btn btn-secondary">&nbsp;<i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;</button>
       <button type="button" class="btn btn-secondary">&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp;</button>
      </div>
      <div class="btn-group" role="group">
       <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       More
                   </button>
       <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
       </div>
      </div>
      <div class="pull-right">
       <button type="button" class="btn btn-secondary">&nbsp;<i class="fa fa-cog" aria-hidden="true"></i>&nbsp;</button>
       <button type="button" class="btn btn-secondary">&nbsp;<i class="fa fa-bars" aria-hidden="true"></i>&nbsp;</button>
      </div>
     </div>
    </div>
    <hr>
    <div class="row">   
     <div class="col-12 col-sm-12 col-md-3 col-lg-2">
      <ul class="list-group">
       <li class="list-group-item justify-content-between active" (click)="getMail('Inbox')">
        Inbox
       </li>
       <li class="list-group-item justify-content-between">
        Important
        <span class="badge badge-default badge-pill">2</span>
       </li>
       <li class="list-group-item justify-content-between" (click)="getMail('Sent')">
        Sent
        <span class="badge badge-default badge-pill">1</span>
       </li>
       <li class="list-group-item justify-content-between">
        Spam
        <span class="badge badge-default badge-pill">1</span>
       </li>
      </ul>
     </div>
     <div class="col-12 col-sm-12 col-md-9 col-lg-10">
      <ul class="nav nav-tabs">
       <li class="nav-item">
        <a class="nav-link active" href="#"><i class="fa fa-inbox"></i>&nbsp;&nbsp;Inbox</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-users"></i>&nbsp;&nbsp;Social</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-tags"></i>&nbsp;&nbsp;Notifications</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-th-list"></i>&nbsp;&nbsp;Updates</a>
       </li>
      </ul>
      <div class="list-group">
       <li class="list-group-item d-flex justify-content-start" *ngFor="let m of mailList">
        <div class="checkbox">
         <input type="checkbox">
        </div>
        &nbsp;&nbsp;<span class="fa fa-star-o"></span>&nbsp;&nbsp;
        <span class="name fullname">{{m.firstname}} {{m.lastname}}</span>
        <span class="">{{m.mail}}</span>
        <span class="ml-auto p-2">
        <span class="fa fa-paperclip"></span>
        <span class="badge badge-default badge-pill">{{m.sentdate|date}}</span>
        </span>
       </li> 
      </div>
     </div>
    </div>
   </div>
