<div class="container">
  <div class="jumbotron">
    <h2>Post A Message </h2>
    <hr />
   
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-commenting-o"></i> BulkMessage
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive1" (click)='getIds()'>
            <i class="fa fa-plus-circle"></i> Add Message</a>
          <a class="dropdown-item" href="#viewbulk" data-toggle="collapse" role="button">
            <i class="fa fa-th-list"></i> View Message</a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive1" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog modal-lg" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Bulk Message</h4>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #message="ngForm" novalidate>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Department :</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" style="width:100%; height: 2.625em" placeholder="type" (change)='getAllClasses(departmentId.value)'
                    name="departmentId" [(ngModel)]="bulkMessage.departmentId" #departmentId="ngModel" required>
                    <option value="0" selected>Select Department</option>
                    <option *ngFor="let dl of departmentList" value={{dl.id}}>{{dl.departmentname}} </option>
                  </select>
                  <span class="text-warning" [hidden]="!departmentId.errors.required" *ngIf="departmentId.value=='0'  && (departmentId.touched || departmentId.dirty)">Department
                    Required
                  </span>
                </div>
                <div class="form-group">
                  <label>Batch:</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" style="width:100%; height: 2.625em
                  " placeholder="type"
                    name="batchId" [(ngModel)]="bulkMessage.batchId" #batchId="ngModel" required>
                    <option value="0" disabled selected>Select Batch</option>
                    <option *ngFor="let batchlst of batchList" value={{batchlst.batchid}}>{{batchlst.batchname}}
                    </option>
                  </select>
                  <span class="text-warning" [hidden]="!batchId.errors.required" *ngIf="batchId.value=='0' &&  (batchId.touched || batchId.dirty)">Please
                    Select Batch </span>
                  <span class="text-warning" *ngIf="batchId.errors && (batchId.touched || batchId.dirty)" [hidden]="!batchId.errors.required">Batch
                    Required
                  </span>
                  <span class="text-warning" *ngIf="batchId.errors && (batchId.touched || batchId.dirty)" [hidden]="!batchId.errors.value">Please
                    Select
                  </span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Session:</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" style="width:100%; height: 2.625em
                  " placeholder="type"
                    (change)='getBatches(classId.value)' name="classId" [(ngModel)]="bulkMessage.sessionId" #classId="ngModel"
                    required>
                    <option value="0" disabled selected>Select Session Name</option>
                    <option *ngFor="let cl of classList" value={{cl.sessionid}}>{{cl.sessionname}} </option>
                  </select>
                  <span class="text-warning" [hidden]="!classId.errors.required" *ngIf="classId.value=='0' && (classId.touched || classId.dirty)">Please
                    Select Session</span>
                  <span class="text-warning" *ngIf="classId.errors && (classId.touched || classId.dirty)" [hidden]="!classId.errors.required">Session
                    Required
                  </span>
                  <span class="text-warning" *ngIf="classId.errors && (classId.touched || classId.dirty)" [hidden]="!classId.errors.value">Please
                    Select
                  </span>
                </div>
                <div class="form-group">
                  <label>Message Type:</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" style="width:100%; height: 2.625em
                  " placeholder="type"
                    name="messageType" [(ngModel)]="bulkMessage.messageType" #messageType="ngModel" required>
                    <option value="0" disabled selected>Select Message Type</option>
                    <option>Email</option>
                    <option>Message</option>
                  </select>
                  <span class="text-warning" [hidden]="!messageType.errors.required" *ngIf="messageType.value=='0' && (messageType.touched || messageType.dirty)">Please
                    Select Message Type</span>
                  <span class="text-warning" *ngIf="messageType.errors && (messageType.touched || messageType.dirty)"
                    [hidden]="!messageType.errors.required">Message
                    Type Required
                  </span>
                  <span class="text-warning" *ngIf="messageType.errors && (messageType.touched || messageType.dirty)"
                    [hidden]="!messageType.errors.value">Please
                    Select
                  </span>
                </div>
              </div>
              <div class="col-md-12">
                <label>Message </label>
                <span class="text-warning"> * </span>
                <div class="form-group">
                  <textarea name="message" class="form-control" placeholder="Your Message" name='message' required
                    [(ngModel)]="bulkMessage.message" #message="ngModel" style="width: 100%; height:  9.375em;"></textarea>
                </div>
                <span class="text-warning" [hidden]="!message.errors.required" *ngIf="message.errors && (message.touched || message.dirty)">
                  Message Required</span>
                <span class="text-warning" [hidden]="!message.errors.pattern" *ngIf="message.errors && (message.touched || message.dirty)">
                  Message accepts only alphabets.</span>
                <span class="text-warning" [hidden]="!message.errors.minlength || message.errors.pattern" *ngIf="message.errors">
                  Enter Message with min 3 characters.</span>
              </div>
              <div class="col-lg-12">
                <div class="text-center">
                  <input type="button" class="btn btn-primary" data-dismiss="modal" value="Submit" (click)="addBulkMessage()"
                    [disabled]="!message.valid||departmentId.value==0||batchId.value==0||classId.value==0">
                </div>
                <div *ngIf="read==true && write==true || write==true">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="viewbulk" class="collapse">
    <button id="button-a" class="btn btn-success"> <span class="example-spacer"></span>Download</button>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Class Name">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="departmentName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Department</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.departmentname}}</td>
      </ng-container>
      <ng-container matColumnDef="className">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Session</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.classname}}</td>
      </ng-container>
      <ng-container matColumnDef="batchName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Batch</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.batchname}}</td>
      </ng-container>
      <ng-container matColumnDef="messageType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Message Type</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.messagetype}}</td>
      </ng-container>
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Message</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.message}}</td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>