
<div class="container1" id="sri">
  <div class="carousel" data-slide="1">
    <div class="carousel__slide">
        <img src="assets/images/Optimized-girl-kids.jpg" style="height: 500px;width: 1000px"/>
    </div>
    <div class="carousel__slide">
        <img src="assets/images/Optimized-imag.jpg" style="height: 500px;width: 1000px"/>
    </div>
    <div class="carousel__slide">
      <img src="assets/images/Optimized-image123.jpg" style="height: 500px;width: 1000px"/>
    </div>
    <div class="carousel__slide">
      <img src="assets/images/Optimized-pexels.jpg" style="height: 500px;width: 1000px"/>
    </div>
  </div>
  <div class="next">next</div>
  <div class="prev">previous</div>
</div>
<br>
<br>
<br>
<br><br>
<br><br>
<br><br>
<br>
<body data-spy="scroll" data-target=".navbar" data-offset="90">
    <!--Some Feature -->
    <section id="our-feature" class="padding_bottom padding_top_half single-feature">
    <div class="container">
    <div class="row">
    <div class="col-md-6 col-sm-7 text-md-left text-center wow fadeInLeft" data-wow-delay="300ms">
    <div class="heading-title heading_space">
    <span i18n>Unic Sol's</span>
    <h2 i18n class="darkcolor bottom30">About Infobyt</h2>
    <h4 i18n class="text-justify"><strong >Unic Sol,</strong> a unique software solutions firm which strives to
    provide
    ultimate seamless and user friendly product and services. Our Aim is to simplify and aid our users
    relationship with technology,where we work meticulously towards a future which
    is seamless easy to operate and connected.At UnicSol our client's needs and comfort are our
    priority for which we fearlessly work to deliver top notch service to our clientele.</h4><br>
    </div>
    <a i18n href="#our-team" class="button btnsecondary pagescroll">OUR Team</a>
    </div>
    <div class="col-md-6 col-sm-5 wow fadeInRight" data-wow-delay="300ms">
    <div class="image top50"><img alt="SEO" src="assets/images/Optimized-aboutus_image.jpg"></div>
    </div>
    </div>
    </div>
    </section>
    <!--Some Feature ends-->
    <!-- WOrk Process-->
    <section id="our-process" class="padding gradient_bg_default">
    <div class="container">
    <div class="row">
    <div class="col-md-12 col-sm-12 text-center">
    <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
    <h2 class="whitecolor">
    <span i18n class="fontregular">SERVICES</span> </h2>
    </div>
    </div>
    </div>
    <div class="row">
    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
    &nbsp;&nbsp;
    <ul class="process-wrapp">
    <li class="whitecolor wow fadeIn" data-wow-delay="300ms">
    <span class="pro-step bottom20"> <i class="fa fa-book logo-small" aria-hidden="true"></i></span>
    <p i18n class="fontbold bottom25">Home Work
    </p>
    <p i18n>Get all Notifications </p>
    </li>
    <li class="whitecolor wow fadeIn" data-wow-delay="400ms">
    <span class="pro-step bottom20"><i class="fa fa-picture-o logo-small" aria-hidden="true"></i></span>
    <p i18n class="fontbold bottom25">Gallery</p>
    <p i18n>Get closer to your World</p>
    </li>
    <li class="whitecolor wow fadeIn" data-wow-delay="500ms">
    <span class="pro-step bottom20"><i class="fa fa-line-chart logo-small" aria-hidden="true"></i>
    </span>
    <p i18n class="fontbold bottom25">Reports
    </p>
    <p i18n>Exams / Progress Reports
    <p>
    </li>
    <li class="whitecolor wow fadeIn" data-wow-delay="600ms">
    <span class="pro-step bottom20"><i class="fa fa fa-bus logo-small" aria-hidden="true"></i>
    </span>
    <p i18n class="fontbold bottom25">Transport</p>
    <p i18n> Bus Tracking System
    </p>
    </li>
    <li class="whitecolor wow fadeIn" data-wow-delay="700ms">
    <span class="pro-step bottom20"><i class="fa fa-clock-o logo-small" aria-hidden="true"></i>
    </span>
    <p i18n class="fontbold bottom25"> Time Tables
    </p>
    <p i18n>Get Planned Before </p>
    </li>
    <li class="whitecolor wow fadeIn" data-wow-delay="300ms">
    <span class="pro-step bottom20"><i class="fa fa-calendar logo-small" aria-hidden="true"></i></span>
    <p i18n class="fontbold bottom25">Calendar
    </p>
    <p i18n>Holiday Calendar</p>
    </li>
    </ul>
    </div>
    </div>
    </section>
    <!--WOrk Process ends-->
    <!-- Video Click -->
    <section id="video-bg" class="video-parallax padding_top">
    <div class="container">
    <div class="row">
    <div class="col-md-7 col-sm-7 wow fadeInLeft" data-wow-delay="300ms">
    <div class="heading-title text-md-left text-center padding_bottom">
    <span i18n>We have an excellent story</span>
    <h2 i18n class="fontregular bottom20 darkcolor">Watch Our Product</h2>
    <p i18n>Isn’t our lives moving so fast just like an alarming time machine that sounds high for an every
    unnecessary
    thing to know about? Now, time has arrived to explore the reality with the real information all at your
    fingertips with our application that may have its powerful roots in today’s world.</p>
    <a i18n href="#contactus" class="button btnprimary top20 pagescroll">Buy Now</a>
    </div>
    </div>
    <div class="col-md-5 col-sm-5 padding_bottom wow fadeInRight" data-wow-delay="350ms">
    <div class="image hover-effect">
    <img alt="video img" src="assets/images/pexels-photo-132699.jpg">
    <a data-fancybox href="https://www.youtube-nocookie.com/embed/EaTpt5CLlkk?start=27" class="button-play fontmedium"><i
    class="fa fa-play"></i></a>
    </div>
    </div>
    </div>
    </div>
    </section>
   <section id="our-apps" class="padding">
    <div class="container">
    <div class="row">
    <div class="col-md-12 col-sm-12 text-center">
    <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
    <span i18n>We Also Provide Mobile Apps</span>
    <h2 i18n class="darkcolor heading_space">Mobile Applications</h2>
    </div>
    </div>
    </div>
    <div class="row" id="app-feature">
    <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="content-left clearfix">
    <div class="feature-item left top30 bottom30 wow fadeInUp" data-wow-delay="300ms">
    <span class="icon"><i class="fa fa-mobile-phone"></i></span>
    <div class="text">
    <h4 i18n>GPS
    </h4>
    <p i18n>Is your child’s school bus is late or stuck somewhere in traffic, wherever it is, we give you the latest updates of your child’s whereabouts through live GPS tracking.</p>
    </div>
    </div>
    <div class="feature-item left top30 bottom30 wow fadeInUp" data-wow-delay="350ms">
    <span class="icon"><i class="fa fa-cog"></i></span>
    <div class="text">
    <h4 i18n>Surveilance
    </h4>
    <p i18n>In Reports, you can check the updates about upcoming exams and about the progress cards.</p>
    </div>
    </div>
    <div class="feature-item left top30 bottom30 wow fadeInUp" data-wow-delay="400ms">
    <span class="icon"><i class="fa fa-picture-o"></i></span>
    <div class="text">
    <h4 i18n>Gallery</h4>
    <p i18n>Gallery presents an enlarged picture of photos.</p>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="image feature-item text-center wow fadeIn" data-wow-delay="500ms">
    <img src="assets/images/pexels-photo-289796.jpeg" alt="Mobile App">
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="content-right clearfix">
    <div class="feature-item right top30 bottom30 wow fadeInUp" data-wow-delay="300ms">
    <span class="icon"><i class="fa fa-file-pdf-o"></i></span>
    <div class="text">
    <h4 i18n>Payslip</h4>
    <p i18n>Now, you can access your monthly payslip with our automated payslip generation and get right to your registered email ids.</p>
    </div>
    </div>
    <div class="feature-item right top30 bottom30 wow fadeInUp" data-wow-delay="350ms">
    <span class="icon"><i class="fa fa-folder-o"></i></span>
    <div class="text">
    <h4 i18n>Post Jobs</h4>
    <p i18n>We have introduced the Post Jobs feature where you can post and apply for the various job positions in IT field or any other.</p>
    </div>
    </div>
    <div class="feature-item right top30 bottom30 wow fadeInUp" data-wow-delay="400ms">
    <span class="icon"><i class="fa fa-support"></i></span>
    <div class="text">
    <h4 i18n>Chat 24/7 Support</h4>
    <p i18n>The chat support is provided all the dayt</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <!--Mobile Apps ends-->
    <!-- Counters -->
    <section id="funfacts" class="padding_top fact-iconic gradient_bg">
    <div class="container">
    <div class="row">
    <div class="col-md-5 col-sm-12 margin_bottom whitecolor text-md-left text-center wow fadeInUp" data-wow-delay="300ms">
    <h3 i18n class="bottom25">Our many years of experience in
    numbers</h3>
    <p i18n class="title">We show you our professional
    achievements in numbers, which show the acquired skills
    and trust of many clients.</p>
    </div>
    <div class="col-md-7 col-sm-12 text-center">
    <div class="row">
    <div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom wow fadeInUp" data-wow-delay="350ms">
    <div class="img-icon bottom15">
    <i class="fa fa-smile-o"></i>
    </div>
    <div class="counters">
    <span class="count_nums" data-to="2500" data-speed="2500"> </span> <i class="fa fa-plus"></i>
    </div>
    <p i18n class="title">Satisfied customers</p>
    </div>
    <div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom wow fadeInUp" data-wow-delay="400ms">
    <div class="img-icon bottom15">
    <i class="fa fa-language"> </i>
    </div>
    <div class="counters">
    <span class="count_nums" data-to="9500" data-speed="2500"> </span> <i class="fa fa-plus"></i>
    </div>
    <p i18n class="title">Completed consultations</p>
    </div>
    <div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom wow fadeInUp" data-wow-delay="500ms">
    <div class="img-icon bottom15">
    <i class="fa fa-desktop"></i>
    </div>
    <div class="counters">
    <span class="count_nums" data-to="6000" data-speed="2500"> </span> <i class="fa fa-plus"></i>
    </div>
    <p i18n class="title">Carried out training</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <!--Counters ends-->
    <!-- Pricing Tables -->
    <section id="our-pricings" class="padding bglight">
    <div class="container">
    <div class="row">
    <div class="col-md-8 offset-md-2 col-sm-12 text-center">
    <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
    <span i18n>Choose The Best One</span>
    <h2 i18n class="darkcolor bottom30">Our Packages</h2>
    <p i18n>Curabitur mollis bibendum luctus. Duis suscipit
    vitae dui sed suscipit. Vestibulum auctor nunc
    vitae diam eleifend, in maximus metus sollicitudin.
    Quisque vitae sodales lectus. </p>
    </div>
    </div>
    </div>
    <div class="row three-col-pricing">
    <div class="col-lg-4 col-sm-12">
    <div class="price-table top60 wow fadeIn" data-wow-delay="350ms">
    <h3 i18n class="bottom20 darkcolor">Start plan</h3>
    <p i18n>If you are a small business and you are interested
    in small rebranding then this is a perfect plan
    for you</p>
    <div class="ammount">
    <h2 class="defaultcolor"><i class="fa fa-dollar"></i> 29.99 <span i18n class="dur">/ month</span></h2>
    </div>
    <ul class="top20">
    <li><span i18n>Designing a small brand</span></li>
    <li><span i18n>Redesign the company logo</span></li>
    <li><span i18n>Deploying a website</span></li>
    <li class="not-support"><span i18n>Studio and product
    photography</span></li>
    <li class="not-support"><span i18n>Professional project
    support</span></li>
    </ul>
    <div class="clearfix"></div>
    <a i18n href="javascript:void(0)" class="button btnprimary top50">Get Started </a>
    </div>
    </div>
    <div class="col-lg-4 col-sm-12">
    <div class="price-table active top60 wow fadeIn" data-wow-delay="400ms">
    <h3 i18n class="bottom20 darkcolor">Business plan</h3>
    <p i18n>If you are a small business and you are interested
    in small rebranding then this is a perfect plan
    for you</p>
    <div class="ammount">
    <h2 class="defaultcolor"><i class="fa fa-dollar"></i> 29.99 <span i18n class="dur">/ month</span></h2>
    </div>
    <ul class="top20">
    <li><span i18n>Designing a small brand</span></li>
    <li><span i18n>Redesign the company logo</span></li>
    <li><span i18n>New visual design of the
    website</span></li>
    <li><span i18n>Deploying a website</span></li>
    <li><span i18n>Studio and product
    photography</span></li>
    </ul>
    <div class="clearfix"></div>
    <a i18n href="javascript:void(0)" class="button btnsecondary top50">Get Started </a>
    </div>
    </div>
    <div class="col-lg-4 col-sm-12">
    <div class="price-table top60 wow fadeIn" data-wow-delay="450ms">
    <h3 i18n class="bottom20 darkcolor">Business plan</h3>
    <p i18n>If you are a small business and you are interested
    in small rebranding then this is a perfect plan
    for you</p>
    <div class="ammount">
    <h2 class="defaultcolor"><i class="fa fa-dollar"></i> 29.99 <span i18n class="dur">/ month</span></h2>
    </div>
    <ul class="top20">
    <li><span i18n>Designing a small brand</span></li>
    <li><span i18n>Redesign the company logo</span></li>
    <li><span i18n>New visual design of the
    website</span></li>
    <li><span i18n>Deploying a website</span></li>
    <li><span i18n>Studio and product
    photography</span></li>
    </ul>
    <div class="clearfix"></div>
    <a i18n href="javascript:void(0)" class="button btnprimary top50">Get Started </a>
    </div>
    </div>
    </div>
    </div>
    </section>
    <!--Pricing Tables ends-->
    <!-- Contact US -->
    <section id="contactus" class="padding_top">
    <div class="container">
    <div class="row">
    <div class="col-md-12 col-sm-12">
    <div class="heading-title heading_space wow fadeInUp" data-wow-delay="300ms">
    <span i18n>Lets Get In Touch</span>
    <h2 i18n class="darkcolor">Contact Infobyt</h2>
    </div>
    </div>
    <div class="col-md-6 col-sm-12 margin_bottom wow fadeInUp" data-wow-delay="350ms">
    <p i18n>Infobyt is not just about Data Management; it's more than
    that. We offer integral communication services,
    and we're responsible for our process and results. We
    thank each client and their projects.</p>
    <div class="row">
    <div class="col-md-6 col-sm-6 our-address top40">
    <h5 i18n class="bottom25">Our Address</h5>
    <p class="bottom15"> Plot# 60,61,62,
    <span i18n class="block"> Nagarjuna Hills, Punjagutta,</span>
    <span i18n class="block"> Hyderabad, India.</span></p>
    <a i18n class="pickus" href="#." data-text="Get Directions">Get Directions</a>
    </div>
    <div class="col-md-6 col-sm-6 our-address top40">
    <h5 i18n class="bottom25">Our Phone</h5>
    <p i18n class="bottom15">Office Telephone :+91 4066107755
    <span class="block">Mobile : +91-8121577755</span>
    <span class="block">Mobile : +91-8121277755</span>
    </p>
    <a class="pickus" href="#." data-text="Call Us">Call Us</a>
    </div>
    <div class="col-md-6 col-sm-6 our-address top40">
    <h5 i18n class="bottom25">Our Email</h5>
    <p i18n class="bottom15">Main Email : info@infobyt.com
    <span class="block">Inquiries : support@infobyt.com</span> </p>
    <a i18n class="pickus" href="#." data-text="Send a Message">Send a Message</a>
    </div>
    <div class="col-md-6 col-sm-6 our-address top40">
    <h5 i18n class="bottom25">Our Support</h5>
    <p i18n class="bottom15">Main Support : help@infobyt.com
    <span >Sales : support@infobyt.com</span> </p>
    <a i18n class="pickus" href="#." data-text="Open a Ticket">Open a Ticket</a>
    </div>
    </div>
    </div>
    <div class="col-md-6 col-sm-12 margin_bottom">
    <form class="getin_form wow fadeInUp" data-wow-delay="400ms" onsubmit="return false;">
    <div class="row">
    <div class="col-sm-12" id="result"></div>
    <div class="col-md-6 col-sm-6">
    <div class="form-group bottom35">
    <input class="form-control" type="text" placeholder="First Name:" required id="first_name" name="first_name">
    </div>
    </div>
    <div class="col-md-6 col-sm-6">
    <div class="form-group bottom35">
    <input class="form-control" type="text" placeholder="Last Name:" required id="last_name" name="last_name">
    </div>
    </div>
    <div class="col-md-6 col-sm-6">
    <div class="form-group bottom35">
    <input class="form-control" type="email" placeholder="Email:" required id="email" name="email">
    </div>
    </div>
    <div class="col-md-6 col-sm-6">
    <div class="form-group bottom35">
    <input class="form-control" type="tel" placeholder="Phone:" id="phone" name="phone">
    </div>
    </div>
    <div class="col-md-12 col-sm-12">
    <div class="form-group bottom35">
    <textarea class="form-control" placeholder="Message" id="message" name="message"></textarea>
    </div>
    </div>
    <div class="col-sm-12">
    <button i18n type="submit" class="button btnprimary" id="submit_btn">submit request</button>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    <!--Location Map here-->
    <!-- <div id="map-container"></div> -->
    </section>
    <!--Contact US Ends-->
    <!--Revolution SLider-->
    <script src="http://www.themesindustry.com/html/xeone/js/revolution/jquery.themepunch.tools.min.js"></script>
    <script src="http://www.themesindustry.com/html/xeone/js/revolution/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS (Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading) -->
    <script src="http://www.themesindustry.com/html/xeone/js/revolution/extensions/revolution.extension.actions.min.js"></script>
    <script src="http://www.themesindustry.com/html/xeone/js/revolution/extensions/revolution.extension.carousel.min.js"></script>
    <script src="http://www.themesindustry.com/html/xeone/js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="http://www.themesindustry.com/html/xeone/js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="http://www.themesindustry.com/html/xeone/js/revolution/extensions/revolution.extension.migration.min.js"></script>
    <script src="http://www.themesindustry.com/html/xeone/js/revolution/extensions/revolution.extension.navigation.min.js"></script>
    <script src="http://www.themesindustry.com/html/xeone/js/revolution/extensions/revolution.extension.parallax.min.js"></script>
    <script src="http://www.themesindustry.com/html/xeone/js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="http://www.themesindustry.com/html/xeone/js/revolution/extensions/revolution.extension.video.min.js"></script>
    <!--Google Map API-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJnKEvlwpyjXfS_h-J1Cne2fPMqeb44Mk"></script>
    <script src="js/functions.js"></script>
    <svg id="zcomponents__svg" style="display: none;"></svg><a href="#" class="back-top"><i class="fa fa-angle-up"></i></a>
   </body>
   