<br><br>
<div class="row" *ngIf="userSession">
  <div class="form-group">
    <div class="col-md-4" style="display:inline-block;">
      <button i18n class="btn btn-danger" (click)="signInWithGoogle()"><span class='fa fa-google fa-lg'></span>
        &nbsp;|&nbsp; Link with Google</button>
    </div>
    <div class="col-md-4" style="display:inline-block;">
      <button i18n class="btn btn-primary" (click)="signInWithFB()"><span class='fa fa-facebook fa-lg'></span>
        &nbsp;|&nbsp; Link with Facebook</button>
    </div>
    <div class="col-md-4" style="display:inline-block;">
      <button i18n class="btn btn-info" (click)="signInWithLinkedIn()"><span class='fa fa-linkedin fa-lg'></span>
        &nbsp;|&nbsp; Link with LinkedIn</button>
    </div>
  </div>
</div>
<div *ngIf="!userSession" class="container mt-3" id="signup">
  <br /><br />
  <!-- ==============stepper1 terms & conditions================ -->
  <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>
    <mat-step label="Terms and Conditions" [stepControl]="aduserForm" [editable]="isEditable">
      <form #aduserForm="ngForm">
        <div class="row">
          <div class="col-md-6">
            <img src="../../../assets/infobytextpng.png" style="max-width: 100%" />
          </div>
          <div class="col-md-6">
            <div class="row">
              <div id="terms" class="col-md-12 col-sm-12" style="font-size: 15px;font-family: 'Times New Roman', Times, serif;max-height: 300px;overflow-y:scroll;padding: 0% 10%">
                <b>
                  <h6 i18n style="text-align:center">PLEASE READ THE INSTRUCTIONS BELOW</h6>
                </b>
                <p i18n style="text-align:justify">
                  Unauthorized violation & its attempt to violate website security
                  Every user undertakes Infobyt.com to use for his/her own purposes and the usage or replication of
                  website
                  content for commercial purposes is strictly prohibited. The services offered by infobyt.com cannot be
                  misused to upload, post, email, bulk e-mail or for others as it is considered to be unlawful.
                  It is clearly stated that the added or updated information, imposed into the database by a user is
                  legal
                  and complete, hence does not contain any false, misleading facts.
                </p>
                <br />
                <h4 i18n style="text-decoration:underline;font-size:20px;">User Privacy</h4>
                <p i18n style="text-align:justify">
                  Admin/Class Teacher become a user here. He/she owns every right to add/ update/edit relevant
                  information
                  in
                  the database. We shall not be responsible for any loss or harm activity that owes to any
                  misinformation
                  published here.
                  A user may not use the service to store, host, or send unrequested email (spam) or SMS messages.
                  You are wholly responsible for all the activities occurring under User or Customer account and
                  equally
                  shall
                  abide by all applicable local, state, national and foreign laws, treaties that are connected with our
                  services.
                  A notification can be sent to Infobyt immediately if you find any (1) unauthorised use of any
                  password or
                  account or suspected breach of security (2) A reasonable usage to stop any copying or distribution of
                  content
                  that is known or suspected by You or other users in turn violating this Agreement or the intellectual
                  property rights of third parties (3) Not pretend as an another Infobyt user or provide false
                  information
                  to
                  get access to our use of service.
                </p>
                <br />
                <h4 i18n style="text-decoration:underline;font-size:20px;">Registration </h4>
                <p i18n style="text-align:justify">
                  Firstly, Infobyt registration process happens from the school side. A school that is interested in
                  this
                  software have to agree with our Terms & Conditions. Once, they accept, it is officially allowed the
                  users
                  to
                  register.
                  In this scenario, Infobyt can accept or reject the request and if a school does not respond within
                  the 12
                  days,
                  their agreement gets inactivated.
                  If a user is registered, a user can avail free services.
                  There is a branch registration and it should be handled by the school itself.We are not responsible
                  in
                  evaluating content, any third-party materials or websites
                  Before you make any transaction complaints, concerns or questions regarding Third-party products &
                  services,
                  please review carefully the third-party’s policies and practices.
                </p>
                <br />
                <h4 i18n style="text-decoration:underline;font-size:20px;">Use of Infobyt services</h4>
                <p i18n style="text-align:justify">
                  Through our website, we make our products and services online. Infobyt application is more
                  useful to
                  schools,
                  students, staff and parents and it owes an exclusive feature, Surveillances that permits parents to
                  get
                  the
                  complete panorama of their child’s classroom view and observe their activities.
                  Fetching data from the site through screen scraping, crawling or use of software operated by a third
                  party
                  is
                  strictly prohibited is routed to unauthorized data extraction. Our transport security- route map
                  service
                  helps to follow your child’s whereabouts.
                </p>
                <br />
                <h4 i18n style="text-decoration:underline;font-size:20px;">Prohibited Users</h4>
                <p i18n style="text-align:justify">
                  A user is prohibited to use content for any unlawful purpose that include (a) violation of any
                  international,
                  federal, provincial or state regulations, rules, laws, or local ordinances (b) to violate our
                  intellectual
                  property rights or of the others (c) to harass, abuse, insult, harm based on gender, sexual
                  orientation,
                  religion, ethnicity, race, age, national origin, or disability; (d) to pass on the misleading
                  information
                  (E)
                  to collect or track the personal information of others; (f) to interfere with our security features
                  of
                  the
                  Service or any related website, other websites, or the Internet.
                  If the above points are not obeyed, a user can be terminated at all the circumstances.
                  Infobyt may reject or remove any update/service and may disable Admin account for any or no reason
                  without
                  intimation.
                  User content & submission.
                  The contentgenerated by our service provider is not copied,distributed, modified or given for rent,
                  lease
                  without the copywriter’s license.
                  Through our service, you can post, link, store, share and make specific information available. A
                  complete
                  responsibility is ensured by a user in using the information that is displayed on our website and for
                  any
                  other materials posted.
                  It is strictly prohibited to post any user content that contains identified information such as
                  passport
                  number, insurance number, security number or any similar details. Infobyt holds right to detect and
                  delete
                  any User Content that speaks violation.
                  Used to be in conformity with the purpose.
                  The users who are registered or subscribed to Infobyt can have a legal right to use our database and
                  its
                  specialized services.Accepting the purposes of Infobyt services, branch admin/admin/faculty are set
                  to be
                  confirmed as our main users.
                  It is not liable for the other person or an outsider involvement to be officially part of our
                  services.
                </p>
                <br />
                <h4 i18n style="text-decoration:underline;font-size:20px;">Security</h4>
                <p i18n style="text-align:justify">
                  Your security is important to us but it is to be remembered that no method of transmission over the
                  Internet,
                  or
                  method of electronic storage, is 100% secure.
                  Communication, Feedback, Review & Submissions
                  All reviews, suggestions, ideas, and other submissions submitted or offered to Infobyt on or by this
                  Site
                  or
                  otherwise placed in connection with your use of this Site shall be and will remain as Infobyt
                  property.
                  Hence, Infobyt owns exclusive rights, titles and interests.
                  Copyright & Trademark
                  These include all content present on the website, such as text, graphics, logos, button icons,
                  images,
                  audio
                  clips, digital downloads, data compilations, and software. It is a licensed property of Infobyt only
                  and
                  is
                  according to database laws. All software used on this website is the property of Infobyt . You are
                  not
                  allowed to consistently extract or reuse parts of the contents of the website without expressing a
                  written
                  consent to Infobyt.
                  Errors, inaccuracies and Omissions
                  There may be information on our site or in the Service that contains typographical errors,
                  inaccuracies
                  or
                  omissions that may be related to product descriptions and promotions. We only reserve the right to
                  correct
                  any errors.
                </p>
              </div>
            </div>
            <br /><br />
            <br /><br />
            <p-toast [style]="{marginTop: '150px'}" position="top-left"></p-toast>
            <div class="row">
              <div class="form-group col-md-12 text-center">
                <p i18n><input type="checkbox" required #agreement="ngModel" [(ngModel)]="iagree" id="iagree" class="form-check-input no-border"
                    name="agreement" (click)="iagreed(agreement,stepper)" />
                  <span style="font-size: 80%;"> Yes, I have read, understand and accept the Terms & Conditions and
                    Privacy Policy.</span></p>
              </div>
            </div>
          </div>
          <br /><br />
          <br /><br />
        </div>
      </form>
    </mat-step>
    <!-- ==============================end of stepper1================ -->
    <mat-step label="Fill out your details" [stepControl]="adduserForm">
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/infobytextpng.png" style="max-width: 100%" />
        </div>
        <div class="col-md-6">
          <form #adduserForm="ngForm">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="fn">First Name:
                  <span class="text-danger"> * </span>
                </label>
                <input type="text" maxlength="20" autocomplete="off" required #firstName="ngModel" pattern="[A-Za-z]{0,30}"
                  onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)"
                  minlength="3" class="form-control" name="firstName" [(ngModel)]="usr.firstName" placeholder="First Name">
                <span class="text-danger" [hidden]="!firstName.errors.required" *ngIf="firstName.errors && (firstName.touched || firstName.dirty)">First
                  Name Required</span>
                <span class="text-danger" [hidden]="!firstName.errors.pattern" *ngIf="firstName.errors && (firstName.touched || firstName.dirty)">
                  First Name accepts only alphabets.</span>
                <span class="text-danger" [hidden]="!firstName.errors.minlength || firstName.errors.pattern" *ngIf="firstName.errors">
                  Enter First Name with min 3 characters.</span>
              </div>
              <div class="form-group col-md-6">
                <label for="ln">Last Name:
                  <span class="text-danger"> * </span>
                </label>
                <input type="text a" autocomplete="off" required #lastName="ngModel" pattern="[A-Za-z]{0,30}" maxlength="30"
                  onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122 )"
                  minlength="3" class="form-control" name="lastName" [(ngModel)]="usr.lastName" placeholder="Last Name">
                <span class="text-danger" [hidden]="!lastName.errors.required" *ngIf="lastName.errors && (lastName.touched || lastName.dirty)">
                  Last Name Required</span>
                <span class="text-danger" [hidden]="!lastName.errors.pattern" *ngIf="lastName.errors && (lastName.touched || lastName.dirty)">
                  Last Name accepts only alphabets.</span>
                <span class="text-danger" [hidden]="!lastName.errors.minlength || lastName.errors.pattern" *ngIf="lastName.errors">
                  Enter Last Name with min 3 characters.</span>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="dob">DOB: (MM/DD/YYYY)
                  <span class="text-danger"> * </span>
                </label>
                <div class="form-group">
                  <input type="text" readonly autocomplete="off" bsDatepicker [bsConfig]="bsConfig" [bsConfig]=" {containerClass: 'theme-dark-blue' } "
                    name="dob" placeholder="MM/DD/YYYY" class="form-control" #dob="ngModel" bsDatepicker [(ngModel)]="usr.dob"
                    required [maxDate]="maxDate" [minDate]="minDate" [bsConfig]="bsConfig">
                  <span class="text-danger" [hidden]="!dob.errors.required" *ngIf="dob.errors && (dob.touched || dob.dirty)">Date
                    of birth Required</span>
                  <span class="text-danger" *ngIf="dob.value=='Invalid Date'">Only Selection is Allowed</span>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label class="form-check-label" for="Gender">Gender:
                  <span class="text-danger"> * </span>
                </label>
                <div class="radio-inline">
                  <input type="radio" id="male" name="gender" [(ngModel)]="usr.gender" value="m"> Male
                  <input type="radio" id="female" name="gender" [(ngModel)]="usr.gender" value="f"> Female
                  <input type="radio" id="other" name="gender" [(ngModel)]="usr.gender" value="o"> Others
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label for="fo"> Occupation:</label>
                <mat-select class="form-control" #fatherOccupation="ngModel" [(ngModel)]="usr.fatherOccupation" name="fatherOccupation">
                  <mat-option value='0' disabled selected>Select Occupation</mat-option>
                  <mat-option *ngFor="let unl of occupationList" value="{{unl.id}}">
                    {{unl.name}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-3">
                <input type="hidden" class="form-control" name="role" [(ngModel)]="usr.role">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="rgn">Religion:</label>
                <mat-select class="form-control" #religion="ngModel" [(ngModel)]="usr.religion" name="religion">
                  <mat-option value='0' disabled selected>Select Religion</mat-option>
                  <mat-option *ngFor="let rl of userreligionList" value="{{rl.id}}">
                    {{rl.name}}
                  </mat-option>
                </mat-select>
              </div>
              <div class="form-group col-md-6">
                <label for="nationality">Nationality:</label>
                <mat-select class="form-control" #nationality="ngModel" [(ngModel)]="usr.nationality" name="nationality">
                  <mat-option value='0' disabled selected>Select Nationality</mat-option>
                  <mat-option *ngFor="let unl of nationalitiesList" value="{{unl.id}}">
                    {{unl.name}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6"></div>
              <div class="form-group col-md-6" id="btn-custom">
                <button class='btn btn-success' mat-button matStepperNext [disabled]="!adduserForm.valid" (click)="addUser(adduserForm)">Save
                  and Continue</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </mat-step>
    <!------------------------ step 2 end -->
    <mat-step label="Fill out your address" [stepControl]="signup" [editable]="isEditable">
      <form #signup="ngForm">
        <div class="row">
          <div class="col-md-6">
            <img src="../../../assets/infobytextpng.png" style="max-width: 100%" />
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="country">Country:</label>
                  <span class="text-danger"> * </span>
                  <mat-select class="form-control" required #country="ngModel" placeholder="Country" (ngModelChange)="getStates(country.value)"
                    [(ngModel)]="cdi.country" name="country">
                    <mat-option value='0' disabled selected>Select Country</mat-option>
                    <mat-option *ngFor="let ucl of usercountryList" value="{{ucl.id}}">
                      {{ucl.name}}
                    </mat-option>
                  </mat-select>
                  <span class="text-danger" *ngIf="country.value=='0' && (country.touched || country.dirty || address.touched)">Please
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="state">State:</label>
                  <span class="text-danger"> * </span>
                  <mat-select class="form-control" placeholder="State" required #state="ngModel" (ngModelChange)="getCities(state.value)"
                    [(ngModel)]="cdi.state" name="state">
                    <mat-option value='0' disabled selected>Select State</mat-option>
                    <mat-option *ngFor="let usl of userstateList" value="{{usl.id}}">
                      {{usl.name}}
                    </mat-option>
                  </mat-select>
                  <span class="text-danger" *ngIf="state.value=='0' && (state.touched || state.dirty ||address.touched)">Please
                    select state</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="city">City:</label>
                  <span class="text-danger"> * </span>
                  <mat-select class="form-control" placeholder="City" required #city="ngModel" [(ngModel)]="cdi.city"
                    name="city" (ngModelChange)="getAllPlaces()">
                    <mat-option value='0' disabled selected>Select City</mat-option>
                    <mat-option *ngFor="let ucl of usercitiesList" value="{{ucl.id}}">
                      {{ucl.name}}
                    </mat-option>
                  </mat-select>
                  <span class="text-danger" *ngIf="city.value=='0' && (city.touched || city.dirty || address.touched)">Please
                    select city</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="plc">Place:</label>
                  <span class="text-danger"> * </span>
                  <input type="text" [readonly]="!city.valid ||city.value==0||state.value==0||country.value==0"
                    autocomplete="off" [typeahead]="placeList" typeaheadOptionField="locationname"
                    [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="3" maxlength="50" class="form-control"
                    required #place="ngModel" [(ngModel)]="cdi.place" name="place" placeholder="Place" (keyup)="onKeydown($event)"
                    pattern="^\w+( (\- ){0,3}\w+)*$" />
                  <span class="text-danger" [hidden]="!place.errors.required" *ngIf="place.errors && (place.touched || place.dirty)">Place
                    Required
                  </span>
                  <span class="text-danger" [hidden]="!place.errors.pattern" *ngIf="place.errors && (place.touched || place.dirty)">Enter
                    valid place
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="ads">Address:</label>
                  <span class="text-danger"> * </span>
                  <textarea pInputTextarea autoResize="autoResize" autocomplete="off" class="form-control" maxlength="100"
                    style="resize:none" required rows="2" #address="ngModel" [(ngModel)]="cdi.address" name="address"
                    pattern="^[\w&.,/\-]+([ \w&.,/\-]+)*$" placeholder="Address"></textarea>
                  <span class="text-danger" [hidden]="!address.errors.required" *ngIf="address.errors && (address.touched || address.dirty)">Address
                    is
                    Required
                  </span>
                  <span class="text-danger" [hidden]="!address.errors.pattern" *ngIf="address.errors && (address.touched || address.dirty)">Enter
                    valid Address
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="mobile">Mobile Number:</label>
                  <span class="text-danger"> * </span>
                  <input type="tel" minlength="10" maxlength="10" pattern="((?:6|7|8|9)[0-9])+(?:-?\d){8,15}" required
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" #mobile="ngModel"
                    [(ngModel)]="cdi.mobile" name="mobile" placeholder="Mobile Number" (keyup)="verifyMobile('mobile')">
                  <span class="text-danger" [hidden]="!mobile.errors.required" *ngIf="mobile.errors && (mobile.touched || mobile.dirty)">Mobile
                    Number Required
                  </span>
                  <span class="text-danger" [hidden]="!mobile.errors.pattern" *ngIf="mobile.errors && (mobile.touched || mobile.dirty)">Please
                    enter a valid mobile number(min 10 digits)</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="email">Email:</label>
                  <span class="text-danger"> * </span>
                  <input type="email" required maxlength="40" pattern="[a-zA-Z0-9._]{3,}@[a-zA-Z]{2,}\.[a-zA-Z]{2,3}$"
                    class="form-control" #email="ngModel" [(ngModel)]="cdi.email" name="email" placeholder="Email"
                    (keyup)="verifyEmail('email')">
                  <span class="text-danger" [hidden]="!email.errors.required" *ngIf="email.errors && (email.touched || email.dirty)">Email
                    Required
                  </span>
                  <span class="text-danger" [hidden]="!email.errors.pattern" *ngIf="email.errors && (email.touched || email.dirty)">Please
                    Enter Valid Email
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="uniqueIdentificationNo">Unique Id: <span *ngIf="usr.rolename!='Driver'">Aadhaar</span><span
                      *ngIf="usr.rolename=='Driver'">Driving Licence without statecode</span>)</label>
                  <span class="text-danger"> * </span>
                  <input type="text" autocomplete="off" class="form-control" required minlength="12" maxlength="14"
                    pattern="[0-9]{12,14}" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                    #uniqueIdentificationNo="ngModel" [(ngModel)]='cdi.uniqueIdentificationNo' name="uniqueIdentificationNo"
                    placeholder="Unique Identification Number" (keyup)="verifyAuthencation('UniqueIdentificationNo',uniqueIdentificationNo)">
                  <span class="text-danger" [hidden]="!uniqueIdentificationNo.errors.pattern" *ngIf="uniqueIdentificationNo.errors && (uniqueIdentificationNo.touched || uniqueIdentificationNo.dirty)">
                    Enter a valid Unique Identification number</span>
                  <span class="text-danger" [hidden]="!uniqueIdentificationNo.errors.required" *ngIf="uniqueIdentificationNo.errors && (uniqueIdentificationNo.touched || uniqueIdentificationNo.dirty)">Unique
                    Identification Number Required
                  </span>
                  <span class="text-danger" [hidden]="aadhaarevalidation==true" *ngIf="aadhaarevalidation==false">
                    <i> Unique Identification Number already exits </i>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6"></div>
              <div class="form-group col-md-6">
                <button class="btn btn-primary" mat-button matStepperPrevious>Back</button> &nbsp; &nbsp;
                <button class="btn btn-success" mat-button matStepperNext [disabled]="!signup.valid ||city.value==0||state.value==0||country.value==0"
                  (click)="addContactdetails(addcontactdetails)">Register</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step label='Done' [editable]="isEditable">
      <div class="row">
        <div class="col-md-6">
          <img src="../../../assets/infobytextpng.png" style="max-width: 100%" />
        </div>
        <div class="col-md-6">
          <div class="row" *ngIf="registerSuccess">
            <div class="col-md-12 text-center">
              <div style="background-color: rgba(160, 159, 211, 0.452);">
                Registration Successful !!
              </div>
              <i class="fa fa-smile-o" aria-hidden="true" style="font-size: 650%;color:#62bba8"></i>
            </div>
          </div>
          <div class="row" *ngIf="registerSuccess">
            <div class="col-md-12 text-center">
              <p> Checkout your login credentials at your registered email </p>
            </div>
          </div>
          <div class="row" *ngIf="registerSuccess">
            <div class="col-md-12 text-center">
              <button mat-button (click)="onRegstr()" class="btn btn-success">Login</button>
            </div>
          </div>
          <div class="row" *ngIf="!registerSuccess">
            <div class="col-md-12 text-center">
              <p> Sign Up falied please contact our Technical team for support </p>
              <i class="fa fa-frown-o" aria-hidden="true" style="font-size: 850%;color:#d66e6e"></i>
            </div>
          </div>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <br />
  <br />
</div>
<div *ngIf="userSession && !viewAcademicForm">
  <div>
    <div class="container emp-profile">
      <form #form="ngForm">
        <div class="row">
          <div class="col-md-6">
            <div class="profile-head" style="width: 200%;">
              <h5 style="font-size:20px; font-weight:bold;">
                {{userDetails?.firstname}}&nbsp;{{userDetails?.lastname}}
              </h5>
              <h6 style="font-size:14px; font-weight:bold;">
                {{userDetails?.rolename}}
              </h6>
              <p class="proile-rating" style="font-size:12px; font-weight:bold;">RANKINGS :
                <span>8/10</span>
              </p>
              <br>
              <ul class="nav nav-tabs" id="myTab" role="tablist" style="width:100%;">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                    aria-selected="false">Timeline</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="academic-tab" data-toggle="tab" href="#academic" role="tab" aria-controls="academic"
                    aria-selected="false" (click)="viewsubmit()" >Add Academic Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="academic-tab" data-toggle="tab" href="#academic" role="tab" aria-controls="editAcademic"
                    aria-selected="false" (click)='editAcademic()'>Edit Academic Details</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="editprofile-tab1" data-toggle="tab" href="#editprofile1" role="tab"
                    aria-controls="editprofile" aria-selected="false" (click)='editProfile()'>Edit Profile Details</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-8">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane  active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row">
                <div class="col-md-6">
                  <label id="lab">Name</label>
                </div>
                <div class="col-md-6">
                  <p>{{userDetails?.firstname}}&nbsp;{{userDetails?.lastname}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label id="lab">Email</label>
                </div>
                <div class="col-md-6">
                  <p>{{userDetails?.email}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label id="lab">Phone</label>
                </div>
                <div class="col-md-6">
                  <p>{{userDetails?.mobile}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label id="lab">Profession</label>
                </div>
                <div class="col-md-6">
                  <p>{{userDetails?.rolename}}</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row">
                <div class="col-md-6">
                  <label id="lab">Experience</label>
                </div>
                <div class="col-md-6">
                  <p>{{acadedetails?.experience}} yr</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label id="lab">SSC Percentage</label>
                </div>
                <div class="col-md-6">
                  <p>{{acadedetails?.sscpercentage}} %</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label id="lab">Inter Percentage</label>
                </div>
                <div class="col-md-6">
                  <p>{{acadedetails?.interpercentage}} %</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label id="lab">Graduation Percentage</label>
                </div>
                <div class="col-md-6">
                  <p>{{acadedetails?.ugpercentage}} %</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="academic" role="tabpanel" aria-labelledby="academic-tab">
              <form #addacademicdetails="ngForm">
                <div class="container">
                  <div class="row">
                    <div class="form-group col-md-6 ">
                      <label for="ctc">User Name</label>
                      <select class="form-control" required #userId="ngModel" placeholder="User name" [(ngModel)]="acade.userId"
                        name="userId">
                        <option value="0" disabled>User Name</option>
                        <option *ngFor="let su of selecteduser" value="{{su.userid}}">{{su.firstname}} {{su.lastname}}</option>
                      </select>
                      <span class="text-danger" [hidden]="!userId.errors.required" *ngIf="userId.errors && (userId.touched || userId.dirty)">Username
                        is Required </span>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="ssc">SSC Percentage</label>
                      <span class="text-danger">*</span>
                      <input type="number" class="form-control" required minlength="3" #sscPercentage="ngModel" id="ssc"
                        name="sscPercentage" placeholder="Enter SSC Percentage" [(ngModel)]="acade.sscPercentage">
                      <span class="text-danger" [hidden]="!sscPercentage.errors.required" *ngIf="sscPercentage.errors && (sscPercentage.touched || sscPercentage.dirty)">SSC
                        Percentage is Required </span>
                      <span class="text-danger" [hidden]="!sscPercentage.errors.minlength" *ngIf="sscPercentage.errors && (sscPercentage.touched || sscPercentage.dirty)">SSC
                        Percentage is Required </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="inter">Inter Percentage</label>
                      <span class="text-danger">*</span>
                      <input type="number" class="form-control" required minlength="3" #interPercentage="ngModel" id="inter"
                        name="interPercentage" placeholder="Enter Inter Percentage" [(ngModel)]="acade.interPercentage">
                      <span class="text-danger" [hidden]="!interPercentage.errors.required" *ngIf="interPercentage.errors && (interPercentage.touched || interPercentage.dirty)">Inter
                        Percentage is Required </span>
                      <span class="text-danger" [hidden]="!interPercentage.errors.minlength" *ngIf="interPercentage.errors && (interPercentage.touched || interPercentage.dirty)">Inter
                        Percentage is Required </span>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="ugp">Graduation Percentage</label>
                      <input type="number" class="form-control" required minlength="3" #ugPercentage="ngModel" id="ugp"
                        name="ugPercentage" placeholder="Enter Graduation Percentage" [(ngModel)]="acade.ugPercentage">
                      <span class="text-danger" [hidden]="!ugPercentage.errors.required" *ngIf="ugPercentage.errors && (ugPercentage.touched || ugPercentage.dirty)">Annual
                        CTC is Required </span>
                      <span class="text-danger" [hidden]="!ugPercentage.errors.minlength" *ngIf="ugPercentage.errors && (ugPercentage.touched || ugPercentage.dirty)">Annual
                        CTC is Required </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="posgp">Post Graduation Percenatage</label>
                      <input type="number" class="form-control" required minlength="3" #pgPercentage="ngModel" id="posgp"
                        name="pgPercentage" placeholder="Enter Post Graduation percentage" [(ngModel)]="acade.pgPercentage">
                    
                    </div>
                    <div class="form-group col-md-6">
                      <label for="ctc">Other Graduation Percentage</label>
                      <input type="number" class="form-control" required minlength="3" #otherPercentage="ngModel" id="othrg"
                        name="otherPercentage" placeholder="Enter Other Graduation Percentage" [(ngModel)]="acade.otherPercentage">
                    
                    </div>
                    <div class="form-group col-md-6 ">
                      <label for="ex">Experience</label>
                      <select class="form-control" required #dy="ngModel" placeholder="exprence" id="ex" [(ngModel)]="acade.experience"
                        name="acade">
                        <option value="0" disabled selected>Experience</option>
                        <option *ngFor="let item of arrayOne(41); let i = index;" value="{{i}}">{{i}}</option>
                      </select>
                      <span class="text-danger" [hidden]="!dy.errors.required" *ngIf="dy.errors && (dy.touched || dy.dirty)">Experience
                        is Required </span>
                    </div>
                  </div>
                  <!-- <div class="text-center" >
                    <input type="button" value="update" (click)=upDateAcademicdetails() class="btn btn-primary"
                      data-dismiss="modal">
                    <button class="btn btn-primary" (click)="upDateAcademicdetails()">Back</button>
                  </div> -->
                  <div class="text-center" *ngIf="showSubmit" >
                    <input type="button" value="Submit" (click)="addAcdemicMark()" class="btn btn-primary" data-dismiss="modal">
            
                    
                  </div>
                  <div class="text-center" *ngIf="!showSubmit" >
                    <input type="button" value="update" (click)=upDateAcademicdetails() class="btn btn-primary" data-dismiss="modal">
            
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="editprofile1" role="tabpanel" aria-labelledby="editprofile-tab1">
              <form #editUserForm="ngForm">
                <div class="row">
                  <div class="form-group col-sm-4 offset col-sm-4" style="float: right;">
                    <label for="fn">First Name:</label>
                    <input type="text" autocomplete="off" required #firstName="ngModel" pattern="[A-Za-z]{1,30}"
                      minlength="2" class="form-control" name="firstName" [(ngModel)]="usr.firstName" readonly>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="mn">Middle Name:</label>
                    <input type="text" autocomplete="off" class="form-control" #middleName="ngModel" name="middleName"
                      pattern="[A-Za-z]{1,30}" [(ngModel)]="usr.middleName">
                    <span class="text-danger" [hidden]="!middleName.errors.pattern" *ngIf="middleName.errors && (middleName.touched || middleName.dirty)">(aaaaaaa
                      field)Name should not contain Numbers</span>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="ln">Last Name:</label>
                    <input type="text" readonly autocomplete="off" required #lastName="ngModel" pattern="[A-Za-z]{1,30}"
                      minlength="2" class="form-control" name="lastName" [(ngModel)]="usr.lastName">
                    <span class="text-danger" [hidden]="!lastName.errors.required" *ngIf="lastName.errors && (lastName.touched || lastName.dirty)">Last
                      Name Required</span>
                    <span class="text-danger" [hidden]="!lastName.errors.pattern" *ngIf="lastName.errors && (lastName.touched || lastName.dirty)">Name
                      should not contain Number</span>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="dob">DOB:</label>
                    <br>
                    <input type="text" id="dob" readonly autocomplete="off" placeholder="MM/DD/YYYY" bsDatepicker
                      [bsConfig]="bsConfig" [bsConfig]="{containerClass: 'theme-dark-blue' }" required #dob="ngModel"
                      class="form-control" name="dob" [(ngModel)]="usr.dob">
                  </div>
                  <div class="form-group col-sm-6">
                    <label class="form-check-label" for="Gender">Gender:</label>
                    <div class="radio">
                      <input type="radio" id="male" name="gender" [(ngModel)]="usr.gender" value="m"> Male
                      <input type="radio" id="female" name="gender" [(ngModel)]="usr.gender" value="f"> Female
                      <input type="radio" id="other" name="gender" [(ngModel)]="usr.gender" value="o"> Others
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="fn">Father Name:</label>
                    <input type="text" autocomplete="off" required #fatherName="ngModel" pattern="[A-Za-z][A-Za-z ]{1,30}"
                      minlength="2" class="form-control" id="fn" name="fatherName" [(ngModel)]="usr.fatherName">
                    <span class="text-danger" [hidden]="!fatherName.errors.required" *ngIf="fatherName.errors && (fatherName.touched || fatherName.dirty)">FatherName
                      Required
                    </span>
                    <span class="text-danger" [hidden]="!fatherName.errors.pattern" *ngIf="fatherName.errors && (fatherName.touched || fatherName.dirty)">Name
                      should not contain number</span>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="momn">Mother Name:</label>
                    <input type="text" autocomplete="off" #mothername="ngModel" required pattern="[A-Za-z][A-Za-z ]{1,27}"
                      minlength="2" maxlength="30" class="form-control" id="momn" name="mothername" [(ngModel)]="usr.motherName">
                    <span class="text-danger" [hidden]="!mothername.errors.pattern" *ngIf="mothername.errors && (mothername.touched || mothername.dirty)">Name
                      should not contain number</span>
                    <span class="text-danger" [hidden]="!mothername.errors.required" *ngIf="mothername.errors && (mothername.touched || mothername.dirty)">Mother
                      Name Required
                    </span>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="fo"> Occupation:
                      <span class="text-danger"> * </span>
                    </label>
                    <select class="form-control" required #fatherOccupation="ngModel" [(ngModel)]="usr.fatherOccupation"
                      name="fatherOccupation">
                      <option value="0" disabled selected>Select Occupation</option>
                      <option *ngFor="let unl of occupationList" value="{{unl.id}}">{{unl.name}} </option>
                    </select>
                    <span class="text-danger" [hidden]="!fatherOccupation.errors.pattern" *ngIf="fatherOccupation.errors && (fatherOccupation.touched || fatherOccupation.dirty)">
                      Enter Valid Occupation</span>
                    <span class="text-danger" [hidden]="!fatherOccupation.errors.required" *ngIf="fatherOccupation.errors && (fatherOccupation.touched || fatherOccupation.dirty)">
                      Occupation Required..</span>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="cst">Caste (optional):</label>
                    <input type="text" autocomplete="off" pattern="[A-Za-z]{1,20}" #caste="ngModel" class="form-control"
                      id="cst" name="caste" [(ngModel)]="usr.caste">
                    <span class="text-danger" [hidden]="!caste.errors.pattern" *ngIf="caste.errors && (caste.touched || caste.dirty)">Name
                      should not contain Numbers</span>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="scst">SubCaste (optional):</label>
                    <input type="text" autocomplete="off" #subcaste="ngModel" pattern="[A-Za-z]{1,20}" class="form-control"
                      name="subcaste" [(ngModel)]="usr.subCaste">
                    <span class="text-danger" [hidden]="!subcaste.errors.pattern" *ngIf="subcaste.errors && (subcaste.touched || subcaste.dirty)">Name
                      should not contain Numbers</span>
                  </div>
                  <div class="form-group col-sm-4">
                    <input type="hidden" class="form-control" name="role" [(ngModel)]="usr.role">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="rgn">Religion:</label>
                    <span class="text-danger"> * </span>
                    <select class="form-control" required #religion="ngModel" [(ngModel)]="usr.religion" name="religion">
                      <option value='0'>Select Religion</option>
                      <option *ngFor="let rl of userreligionList" value="{{rl.id}}">{{rl.name}} </option>
                    </select>
                    <span class="text-danger" *ngIf="religion.value=='0' && (religion.touched || religion.dirty)">Please
                      Select
                      Religion
                    </span>
                    <span class="text-danger" [hidden]="!religion.errors.required" *ngIf="religion.errors && (religion.touched || religion.dirty)">Religion
                      Required
                    </span>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="nationality">Nationality:</label>
                      <span class="text-danger"> * </span>
                      <select class="form-control" required #nationality="ngModel" [(ngModel)]="usr.nationality" name="nationality">
                        <option value='0' disabled selected>Select Nationality</option>
                        <option *ngFor="let unl of nationalitiesList" value="{{unl.id}}">{{unl.name}} </option>
                      </select>
                      <span class="text-danger" *ngIf="nationality.value=='0' && (nationality.touched || nationality.dirty)">Please
                        Select Nationality
                      </span>
                      <span class="text-danger" [hidden]="!nationality.errors.required" *ngIf="nationality.errors && (nationality.touched || nationality.dirty)">Nationality
                        Required
                      </span>
                    </div>
                  </div>
                  <div class="container">
                    <div class="form-group">
                      <button class="btn btn-info" (click)="updateProfileUser(editUserForm)" style="margin-top:33px;">Update</button>
                    </div>
                  </div>
                  <div class="container" *ngIf="loginid == userName">
                    <div class="signIn" (click)=editUserName() style="width:100%"  >
                      <h3>Edit UserName</h3>
                    </div>
                    <div class="fold">
                      <form>
                        <div class="form-group col-sm-6">
                          <label for="cst">User Name:</label>
                          <input type="text" autocomplete="off" minlength="6" pattern="[A-Za-z]{1,20}" #loginid="ngModel"
                            class="form-control" name="userName" [(ngModel)]="user.userName"><button class="btn btn-warning"
                            (click)="verifyloginid('username')">Check
                            Availabilty</button>
                          <span class="text-danger" [hidden]="!loginid.errors.required" *ngIf="loginid.errors && (loginid.touched || loginid.dirty)">loginid
                            Required
                          </span>
                          <span class="text-danger" [hidden]="!loginid.errors.minlength" *ngIf="loginid.errors && (loginid.touched || loginid.dirty)">least
                            9characters
                            Required
                          </span>
                        </div>
                        <div class="form-group col-sm-6">
                          <label for="cst">Confirm User Name:</label>
                          <input type="text" autocomplete="off" minlength="6" pattern="[A-Za-z]{1,20}" #loginid="ngModel"
                            class="form-control" name="cuserName" [(ngModel)]="user.cuserName">
                          <span class="text-danger" [hidden]="!loginid.errors.required" *ngIf="loginid.errors && (loginid.touched || loginid.dirty)">loginid
                            Required
                          </span>
                          <span class="text-danger" [hidden]="!loginid.errors.minlength" *ngIf="loginid.errors && (loginid.touched || loginid.dirty)">latleast
                            9characters
                            Required
                          </span>
                        </div>
                        <div class="form-group col-sm-6">
                          <label for="cst">Password:</label>
                          <input type="password" autocomplete="off" minlength="5" pattern="[A-Za-z]{1,20}" #loginid="ngModel"
                            class="form-control" name="Password" [(ngModel)]="user.Password">
                          <span class="text-danger" [hidden]="!loginid.errors.required" *ngIf="loginid.errors && (loginid.touched || loginid.dirty)">loginid
                            Required
                          </span>
                          <span class="text-danger" [hidden]="!loginid.errors.minlength" *ngIf="loginid.errors && (loginid.touched || loginid.dirty)">latleast
                            9characters
                            Required
                          </span>
                        </div>
                        <div>
                          <input type="submit" class="btn btn-primary" (click)=updateUserName() value="Update UserName" />
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
