
$color-white :  #fff;
$none : none;
$absolute:absolute;

#Edit:hover {
  text-decoration: underline;
  color: blue;
}
.modal {
  position: $absolute;
  top: 185px;
  right: 100px;
}
label {
  color: black;
}
.no-border {
  width: 15px;
  height: 15px;
  border: 0;
  box-shadow: $none;
}
.select {
  height: 100px;
  overflow: scroll;
}
.center {
  position: $absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
}
a {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: $none;
  text-transform: uppercase;
  transform-style: preserve-3d;
  position: relative;
  transition: .5s;
  &:before {
    content: attr(title);
    position: $absolute;
    top: 0;
    left: 0;
    padding: 15px 40px;
    // background: $color-white;
    // color: #000;
    // border: 3px solid #000;
    transition: .5s;
    transform-origin: right;
    transform: translateX(-100%) rotateY(90deg);
  }
  &:after {
    content: attr(title);
    position: $absolute;
    top: 0;
    left: 0;
    padding: 15px 40px;
    // background: #000;
    // color: $color-white;
    // border: 3px solid #000;
    transition: .5s;
    transform-origin: left;
    transform: translateX(0) rotateY(0deg);
  }
  &:hover {
    &:before {
      transform: translateX(0) rotateY(0deg);
    }
    &:after {
      transform: translateX(100%) rotateY(90deg);
    }
  }
}
/*today added by anif*/
.profile-head {
  h5 {
    color: #333;
    font-size: 50px;
  }
  h6 {
    color: #0062cc;
  }
}
.profile-edit-btn {
  border: $none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
  span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
  }
}
.profile-head .nav-tabs {
  margin-bottom: 5%;
  width: 100%;
  .nav-link {
    font-weight: 600;
    border: $none;
    &.active {
      border: $none;
      border-bottom: 2px solid #0062cc;
    }
  }
}
.profile-work {
  padding: 14%;
  margin-top: -15%;
  p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
  }
  a {
    text-decoration: $none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
  }
  ul {
    list-style: $none;
  }
}
.profile-tab {
  label {
    font-weight: 600;
  }
  p {
    font-weight: 600;
    color: #0062cc;
  }
}
#lab {
  font-size: 20px;
}
.body {
  margin: 0;
  padding: 0;
  /* background: url(); */
  background-size: cover;
  font-family: sans-serif;
}.signIn {
  position: relative;
  width: 100px;
  height: 50px;
  background: $color-white;
  color:#0062cc;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(5, 5, 5, 0);
}
.fold {
  position: relative;
  background:$color-white;
    transform-origin: top;
  padding: 30px 20px;
  box-sizing: border-box;
  transition: 1s;
  transform: perspective(2000px) rotateX(90deg);
  &.active {
    transform: perspective(2000px) rotateX(0deg);
  }
  form {
    input {
      &[type="text"], &[type="password"] {
        margin-bottom: 20px;
        height: 40px;
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 40px;
        box-shadow: $none;
        outline: $none;
        color: $color-white;
        background: transparent;
        border: 1px solid rgb(8, 8, 8);
      }
      &[type="submit"] {
        display: block;
        padding: 12px 40px;
        border-radius: 40px;
        box-shadow: $none;
        border: $none;
        outline: $none;
        cursor: pointer;
        background: #257dcf;
        color: $color-white;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 5);
        &:hover {
          background: #247ebf;
        }
      }
    }
    a {
      color: $color-white;
      margin-top: 20px;
      display: block;
      font-size: 14px;
      text-align: right;
      text-decoration: $none;
      font-weight: bold;
    }
  }
}
mat-option {
  font-family: Arial, Helvetica, sans-serif;
}