<div class="container">
  <div class="jumbotron">
    <h2>Session Subject </h2>
    <hr />
  </div>
  <div class="btn-align">
    <form #frm="ngForm" *ngIf="read==true && write==true || write==true">
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label>Branch Session :</label>
            <span class="text-danger"> * </span>
            <select required #branchClassId="ngModel" name="branchClassId" class="form-control" [(ngModel)]="classSubjectAddObj.branchSessionId"
              (change)="getBatchbyClass()">
              <option value="0" selected>Select Session </option>
              <option *ngFor='let cl of classList' value='{{cl.branchsessionid}}'>{{cl.sessionname}}</option>
            </select>
            <span class="text-danger" [hidden]="!branchClassId.errors.required" *ngIf="branchClassId.value=='0' && (branchClassId.touched || branchClassId.dirty) ">Please
              Select Branch Session </span>
            <span class="text-danger" *ngIf="branchClassId.errors && (branchClassId.touched || branchClassId.dirty)"
              [hidden]="!branchClassId.errors.required">Branch Session Required</span>
            <span class="text-danger" *ngIf="branchClassId.errors && (branchClassId.touched || branchClassId.dirty)"
              [hidden]="!branchClassId.errors.value">Please Select
            </span>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label>Batch :</label>
            <span class="text-danger"> * </span>
            <select required #batchId="ngModel" name="batchId" class="form-control" [(ngModel)]="classSubjectAddObj.batchId">
              <option value="0" selected>Select</option>
              <option *ngFor='let bl of batchList' value='{{bl.id}}'>{{bl.batchname}}</option>
            </select>
            <span class="text-danger" [hidden]="!batchId.errors.required" *ngIf="batchId.value=='0' && (batchId.touched || batchId.dirty)">Please
              Select Batch </span>
            <span class="text-danger" *ngIf="batchId.errors && (batchId.touched || batchId.dirty)" [hidden]="!batchId.errors.required">Batch
              Required</span>
            <span class="text-danger" *ngIf="batchId.errors && (batchId.touched || batchId.dirty)" [hidden]="!batchId.errors.value">Please
              Select
            </span>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="classSubjectAddObj.batchId">
        <div class="col-md-5">
          <label>Subject Name:</label>
          <select required #batchId="ngModel" name="batchId" class="form-control" [(ngModel)]="subjectId" (change)="getFacultyBySubject()">
            <option value="0" selected>Select Subject Name</option>
            <option *ngFor='let sub of subjectList' value={{sub.id}}>{{sub.name}}</option>
          </select>
          <span class="text-danger" [hidden]="!batchId.errors.required" *ngIf="batchId.value=='0' && (batchId.touched || batchId.dirty)">Please
            Selec Subject Name</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label>Trainer Name:</label>
            <span class="text-danger"> * </span>
            <select placeholder="staffid" name='staffId' style="width:100%" id="staffId" [(ngModel)]="classSubjectAddObj.subjectId"
              #staffId="ngModel" required class="form-control">
              <option value="0" selected>Select Trainer Name</option>
              <option *ngFor='let stf of trainerList' value='{{stf.id}}'>{{stf.firstname}} {{stf.lastname}}</option>
            </select>
            <span class="text-danger" [hidden]="!staffId.errors.required" *ngIf="staffId.value=='0' && (staffId.touched || staffId.dirty)">Please
              Select Trainer Name</span>
            <span class="text-danger" *ngIf="staffId.errors && (staffId.touched || staffId.dirty)" [hidden]="!staffId.errors.required">Staff
              Name Required</span>
            <span class="text-danger" *ngIf="staffId.errors && (staffId.touched || staffId.dirty)" [hidden]="!staffId.errors.value">Please
              Select
            </span>
          </div>
        </div>
      </div>
      <div class="fa fa-file-pdf-o" style="font-size: 650%;background-color: whitesmoke;;padding: 2.5%" *ngIf="image.URL==''">
      </div>
      <div class="elementer">
        <label class="hand-cursor">
          <div class="form-group col-sm-4">
            <input type="file" required #fileUpload="ngModel" id="syllabus" accept="application/pdf" class="form-control"
              (change)="fileChangeEvent($event)" placeholder="Upload file(only pdf)" name="fileUpload" [(ngModel)]="classSubjectAddObj.fileUpload">
          </div>
          <i class="fa fa-camera"></i>
        </label>
      </div>
      <div class="col-lg-12">
        <div *ngIf="!classSubjectAddObj.Id" style="margin-left: 21.875em">
          <input type="button" value="Submit" [disabled]="!frm.valid || branchClassId.value==0||batchId.value==0||staffId.value==0"
            (click)="addClassSubject()" class="btn btn-primary">
        </div>
      </div>
      <div class="text-center" *ngIf="classSubjectAddObj.Id">
        <input type="button" value="Update" (click)=" updateClassSubject()" class="btn btn-primary">
      </div>
    </form>
    <br>
    <br>
  </div>
  <div>
    <button id="button-a" class="btn btn-success" (click)="getexcel()"> <span class="example-spacer"></span>Download</button>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Subject Name">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="subjectname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject Name</th>
        <td mat-cell *matCellDef="let row">{{row.subjectname}}</td>
      </ng-container>
      <ng-container matColumnDef="syllabus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date and Time</th>
        <td mat-cell *matCellDef="let row">{{row.syllabus}}</td>
      </ng-container>
      <ng-container matColumnDef="classname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Session Name</th>
        <td mat-cell *matCellDef="let row">{{row.sessionname}}</td>
      </ng-container>
      <ng-container matColumnDef="download">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Download</th>
        <td mat-cell *matCellDef="let row">
          <div>
            <a href="{{myurl+'/Misc/'+'Files/'+'syllabus/'+row.id}}" class="fa fa-download"></a>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>