<div class="container">
  <div class="jumbotron">
    <h2>Hostel Details</h2>
    <hr />

    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"><i class="fa fa-hotel">
            Hostel Details</i>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" data-toggle="collapse" role="button" *ngIf="read==true && write==true || write==true"
            data-target="#responsive" (click)="getid()"><small class="fa fa-plus-circle"> Add Hostel</small></a>
          <a class="dropdown-item" href="#viewhst1" data-toggle="collapse" role="button"><small class="fa fa-th-list">
              <span id='showdata1'> View </span><span id='datahide1'> Hide </span> Applied Applicants</small></a>
          <a class="dropdown-item" href="#viewhst2" data-toggle="collapse" role="button"><small class="fa fa-th-list">
              <span id='showdata2'> View </span><span id='datahide2'> Hide </span> All Applicants</small></a>
          <a class="dropdown-item" href="#viewhst3" data-toggle="collapse" role="button" *ngIf="rolename!='BranchAdmin'"><small
              class="fa fa-th-list"> <span id='showdata3'> View </span><span id='datahide3'> Hide </span> Apply</small></a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog modal-lg" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Hostel</h4>
          <button type="button" class="close btn-danger" data-dismiss="modal">&times;
          </button>
        </div>
        <div class="modal-body">
          <form #addhostel="ngForm" novalidate>
            <div class="row">
              <div class="form-group" class="col-lg-6">
                <label>User</label> &nbsp;&nbsp;
                <select required #userId="ngModel" style="width:100%; height:42px" class="form-control" placeholder="type"
                  name='userId' [(ngModel)]="hst.userId">
                  <option value="0" disabled selected>select User</option>
                  <option *ngFor="let user of userDetails" value={{user.userid}}>{{user.firstname}} {{user.lastname}}</option>
                </select>
                <span class="text-warning" *ngIf="userId.value=='Select'">*Please Select</span>
                <span class="text-warning" [hidden]="!userId.errors.required" *ngIf="userId.errors && (userId.touched || userId.dirty)">User
                  Required </span>
                <span class="text-warning" [hidden]="!userId.errors.value" *ngIf="userId.errors && (userId.touched || userId.dirty)">Please
                  Select
                </span>
              </div>
              <div class="form-group" class="col-lg-6">
                <label>Branch: </label>
                <select #branchId="ngModel" required class="form-control" style="width:100%; height:42px" placeholder="type"
                  name='branchId' [(ngModel)]="hst.branchId">
                  <option value="0" disabled selected>select Branch </option>
                  <option *ngFor="let schoolb of schoolBranchDetails" value="{{schoolb.branchid}}">{{schoolb.branchname}}</option>
                </select>
                <span class="text-warning" *ngIf="branchId.value=='Select'">*Please Select</span>
                <span class="text-warning" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Branch
                  Required
                </span>
              </div>
              <div class="form-group col-lg-6">
                <label>Type:</label>
                <span class="text-warning"> * </span>
                <select class="form-control" required placeholder="type" #type="ngModel" name="type" [(ngModel)]="hst.type">
                  <option value="0" disabled selected>Select Type</option>
                  <option>girls</option>
                  <option>boys</option>
                </select>
                <span class="text-warning" *ngIf="type.value=='Select'">*Please Select</span>
                <span class="text-warning" [hidden]="!type.errors.required" *ngIf="type.errors && (type.touched || type.dirty)">Please
                  select
                </span>
              </div>
              <div class="form-group col-lg-6">
                <label for="pwd">Facilities:</label>
                <span class="text-warning"> * </span>
                <select class="form-control" required #facilities="ngModel" name="facilities" [(ngModel)]="hst.facilities">
                  <option>A/c </option>
                  <option>Non A/c </option>
                </select>
                <span class="text-warning" *ngIf="facilities.value=='Select'">*Please Select</span>
                <span class="text-warning" [hidden]="!facilities.errors.required" *ngIf="facilities.errors && (facilities.touched || facilities.dirty)">Please
                  select
                </span>
              </div>
              <div class="form-group col-lg-6">
                <label for="pwd">Room sharing:</label>
                <span class="text-warning"> * </span>
                <input type="text" maxlength="2" class="form-control" name="Sharing" [(ngModel)]="hst.sharing" #Sharing="ngModel"
                  pattern="[0-9]{1}" min="0" required>
                <span class="text-warning" [hidden]="!Sharing.errors.required" *ngIf="Sharing.errors && (Sharing.touched || Sharing.dirty)">sharing
                  details
                  Required..
                </span>
              </div>
              <div class="form-group col-lg-6">
                <label for="pwd">Block:</label>
                <span class="text-warning"> * </span>
                <input type="text" maxlength="4" class="form-control" name="Block" [(ngModel)]="hst.blockName" #Block="ngModel"
                  pattern="^[^\d\W]+( [^\d\W]+)*$" min="0" required onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32">
                <span class="text-warning" [hidden]="!Block.errors.required" *ngIf="Block.errors && (Block.touched || Block.dirty)">Block
                  details
                  Required..
                </span>
              </div>
              <div class="form-group col-lg-6">
                <label for="pwd">Room number:</label>
                <span class="text-warning"> * </span>
                <input type="text" maxlength="3" class="form-control" name="Room" [(ngModel)]="hst.roomNum" #Room="ngModel"
                  pattern="[0-9]{0,2}" min="0" required>
                <span class="text-warning" [hidden]="!Room.errors.required" *ngIf="Room.errors && (Room.touched || Room.dirty)">Room
                  Number
                  Required..
                </span>
              </div>
              <div class="form-group col-lg-6">
                <label for="pwd">Allocaton Date:</label>
                <span class="text-warning"> * </span>
                <div class="form-group">
                  <input type="text" placeholder="MM/DD/YYYY" autocomplete="off" name="registrationDate" class="form-control"
                    bsDatepicker [bsConfig]="bsConfig" [bsConfig]=" {containerClass: 'theme-dark-blue' }" [(ngModel)]="hst.allocationDate"
                    #registrationDate="ngModel" required [maxDate]="maxDate" [minDate]="minDate">
                  <span class="text-warning" *ngIf="registrationDate.value=='Invalid Date'">Only Selection is Allowed</span>
                  <span class="text-warning" [hidden]="!registrationDate.errors.required" *ngIf="registrationDate.errors && (registrationDate.touched || registrationDate.dirty)">Registration
                    Date required..</span>
                </div>
              </div>
              <div class="form-group col-lg-6">
                <label for="pwd">Rental Period:</label>
                <span class="text-warning"> * </span>
                <input type="text" maxlength="4" class="form-control" name="Rentalperiod" [(ngModel)]="hst.rentalPeriod"
                  #Rentalperiod="ngModel" min="0" required>
                <span class="text-warning" [hidden]="!Rentalperiod.errors.required" *ngIf="Rentalperiod.errors && (Rentalperiod.touched || Rentalperiod.dirty)">Rental
                  period
                  Required..
                </span>
              </div>
              <div class="form-group col-lg-6">
                <label>Representative</label> &nbsp;&nbsp;
                <select required #Representative="ngModel" style="width:100%; height:42px" class="form-control"
                  placeholder="type" name='Representative' [(ngModel)]="hst.representativeId">
                  <option value="0" disabled selected>select Representative</option>
                  <option *ngFor="let allstfrep of allStaffList" value={{allstfrep.userid}}>{{allstfrep.firstname}}
                    {{allstfrep.lastname}}</option>
                </select>
                <span class="text-warning" *ngIf="Representative.value=='Select'">*Please Select</span>
                <span class="text-warning" [hidden]="!Representative.errors.required" *ngIf="Representative.errors && (Representative.touched || Representative.dirty)">User
                  Required </span>
                <span class="text-warning" [hidden]="!Representative.errors.value" *ngIf="Representative.errors && (Representative.touched || Representative.dirty)">Please
                  Select
                </span>
              </div>
            </div>
            <div class="text-center">
              <input type="button" value="Submit" *ngIf="!hst.Id" class="btn btn-primary" (click)="addhostel()"
                data-dismiss="modal">
            </div>
            <div class="text-center">
              <input type="button" *ngIf="hst.Id" value="Update" (click)="updateHostel()" class="btn btn-primary"
                data-dismiss="modal">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="viewhst1" class="collapse">
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <mat-table [dataSource]="dataSource1" matSort>
        <ng-container matColumnDef="UserName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.firstname}}{{row.lastname}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Mobile">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.mobile}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Rolename">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.rolename}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Approve">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Approve</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div> <button class="fa fa-check" (click)="approveHostel(row.userid)">Approve for Hostel</button>
            </div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef='displayedColumns1'>
        </mat-header-row>
        <mat-row *matRowDef="let row;columns:displayedColumns1"></mat-row>
      </mat-table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
  <div id="viewhst2" class="collapse">
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="UserName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.traineefirstname}} {{row.traineelastname}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.type}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="BlockName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Block</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.blockname}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="RoomNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Room Number</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.roomnum}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="RepresentativeName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Representative </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.representativefirstname}}{{row.representativelastname}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Edit </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div id="Edit" data-toggle="modal" data-target="#responsive" (click)=editHostel(row.hostelid)><i class="fa fa-pencil-square-o"></i></div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Excel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
                aria-hidden="true"></i>
            </span></th>
          <td mat-cell *matCellDef="let row">
          </td>
        </ng-container>
        <mat-header-row *matHeaderRowDef='displayedColumns'>
        </mat-header-row>
        <mat-row *matRowDef="let row;columns:displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
  <div id="viewhst3" class="collapse">
    <div *ngIf="rolename!='BranchAdmin'">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <mat-table [dataSource]="dataSource2" matSort>
        <ng-container matColumnDef="UserName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.firstname}}{{row.lastname}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Mobile">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.mobile}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="hostel">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>
            <h6>Apply</h6>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div> <button class="fa fa-check" (click)="applyHostel()">Apply for Hostel</button>
            </div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef='displayedColumns2'>
        </mat-header-row>
        <mat-row *matRowDef="let row;columns:displayedColumns2"></mat-row>
      </mat-table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>
<div> <button class="fa fa-check" (click)="applyHostel()">Apply for Hostel</button>
</div>
<!-- <button class="fa fa-check" (click)="approveHostel(userid)">Approve for Hostel</button> -->