<div class="container">
  <div class="jumbotron">
  <h2>Transport Stops</h2>
  <hr/>
 
  <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bus"></i>   Transport Stop Details
       </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" href="#responsive1"  *ngIf="read==true && write==true || write==true" data-target="#responsive" (click)=getIds()><small class="fa fa-plus-circle">  Add Transport Stops</small></a>
          <a class="dropdown-item" href="#vieworg" data-toggle="collapse" role="button"  (click)=viewStops() ><small class="fa fa-th-list" > <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span> Transport Stops</small></a>
        </div>
      </div>
</div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog modal-lg" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Transport-Stops</h4>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #frm="ngForm" novalidate>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group ">
                  <label for="name">Route</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" name="routeId" [(ngModel)]="transStop.routeId" id="name" #name="ngModel"
                    required>
                    <option value="0"   selected>Select Route</option>
                    <option *ngFor="let tr of transportRouteDetails" value="{{tr.id}}">{{tr.name}}</option>
                  </select>
                  <span class="text-warning" [hidden]="!name.errors.required" *ngIf="name.value=='0' && (name.touched || name.dirty)">Please Select</span>
                  <span class="text-warning" [hidden]="!name.errors.required" *ngIf="name.errors && (name.touched || name.dirty)">Route
                     Required..</span>
                  <span class="text-warning" [hidden]="!name.errors.value" *ngIf="name.errors && (name.touched || name.dirty)">Please
                    Select
                  </span>
                </div>
              <div class="form-group col-lg-8 ">
                <label>Timings:</label>
                <input #timeranger [(ngModel)]="selectedMoments"  [selectMode]="'range'"
                       [owlDateTimeTrigger]="dtPicker3" [owlDateTime]="dtPicker3"  >
                <owl-date-time #dtPicker3 [pickerType]="'timer'" ></owl-date-time>
            </div>
                <div class="form-group ">
                  <label for="dt"> Latitude</label>
                  <span class="text-warning"> * </span>
                  <button type="submit" (click)="btnGetMapClick()" class="btn btn-debug">Add Stop</button>
                  <input class="form-control" required placeholder="Latitude" #lt="ngModel" type="text" name="latitude"
                    [(ngModel)]="transStop.latitude">
                    <span class="text-warning" [hidden]="!lt.errors.required" *ngIf="lt.errors && (lt.touched || lt.dirty)">Latitude
                        Required</span>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group ">
                  <label for="stpname">Stop</label>
                  <span class="text-warning"> * </span>
                  <input type="text" autocomplete="off" maxlength="30" minlength="3"  pattern="^[^\d\W]+( [^\d\W]+)*$" class="form-control" id="stpname" name="name"
                    [(ngModel)]="transStop.name" placeholder="Stop Name" required #stpname="ngModel"  
                    onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32">
                  <span class="text-warning" [hidden]="!stpname.errors.required" *ngIf="stpname.errors && (stpname.touched || stpname.dirty)">Stop
                     required</span>
                    <span class="text-warning" [hidden]="!stpname.errors.minlength || stpname.errors.pattern" *ngIf="stpname.errors && (stpname.touched || stpname.dirty)">Stop
                       Should Contain Min 3 Chars</span>
                </div>
                <div class="form-group " style="margin-top: 2.125em;">
                  <label for="dt">Longitude</label>
                  <span class="text-warning"> * </span>
                  <input class="form-control" readonly required placeholder="Longitude" #lg="ngModel" type="text" name="longitude"
                    [(ngModel)]="transStop.longitude">
                    <span class="text-warning" [hidden]="!lg.errors.required" *ngIf="lg.errors && (lg.touched || lg.dirty)">Longitude
                        Required</span>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group " >
                  <div *ngIf="showMap" >
                    <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onMapClick($event)">
                      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class=" form-group" class="text-center" *ngIf="!transStop.Id">
                  <button class="btn btn-primary" [disabled]="!frm.valid || name.value==0 " (click)="addTransportStops(timeranger.value)" data-dismiss="modal"
                    type="submit">Submit</button>
                </div>
                <div class=" form-group" class="text-center" *ngIf="transStop.Id">
                  <input type="button" value="Update" class="btn btn-primary" (click)="updateTransportStops()"
                    data-dismiss="modal">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="viewstops">
    <div *ngIf="rolename=='SchoolAdmin'" >
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Branch Name">
        </mat-form-field>
            </div>
            <div *ngIf="rolename=='BranchAdmin'">
      <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Stop Name">
        </mat-form-field>
                </div>
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="RouteName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Route</th>
    <td mat-cell *matCellDef="let row">{{row.routename}}</td>
  </ng-container>
  <ng-container matColumnDef="StopName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Stop</th>
    <td mat-cell *matCellDef="let row">{{row.stopname}}</td>
  </ng-container>
  <ng-container matColumnDef="Arrivaltime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Arrival time</th>
    <td mat-cell *matCellDef="let row">{{row.arrivaltime}}</td>
  </ng-container>
  <ng-container matColumnDef="departuretime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Departure time</th>
    <td mat-cell *matCellDef="let row">{{row.departuretime}}</td>
  </ng-container>
  <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
      <td mat-cell *matCellDef="let row">{{row.branchname}}</td>
    </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><span [hidden]="rolename!='BranchAdmin' ">edit</span></th>
    <td mat-cell *matCellDef="let row">
      <div [hidden]="rolename!='BranchAdmin' " id="Edit" data-toggle="modal" data-target="#responsive"
        (click)="editTransrouteStops(row.id)">
        <i class="fa fa-pencil-square-o"></i>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="Excel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
      </span></th>
      <td mat-cell *matCellDef="let row">   
      </td>
    </ng-container>
  <tr mat-header-row *matHeaderRowDef='displayedColumns'>
  </tr>
  <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
</table>
<mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
  </div>
</div>
