<div class="container">
  <div class="jumbotron">
    <h2>Events Management </h2>
    <hr />
    <br>
    
    <div class="btn-align">
        <div class="dropdown">
          <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar"></i>  Event Details
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" role="button" data-toggle="modal"  (click)="getAllParticipationRequests()" ><i class="fa fa-user"></i>   Events Requests</a>
            <a class="dropdown-item" data-toggle="collapse" role="button" data-toggle="modal" data-target="#responsive" ><small class="fa fa-plus-circle"></small>   Add Events </a>
              <a class="dropdown-item" role="button" data-toggle="modal"href="#viewevnt" (click)="getAllEventsByBranchId()"><small class="fa fa-th-list" ></small>   <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span> View Events</a>
          </div>
        </div>
        </div>
     </div>
  <div class="container mt-3">
    <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
      <div class="modal-dialog modal-lg" id="box">
        <div class="modal-content bigModel">
          <div class="modal-header">
            <h4>Events</h4>
            <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
            </button>
          </div>
          <div class="modal-body ">
            <form #addevents="ngForm" novalidate>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group ">
                    <label for="mn">Event Name:</label>
                    <span class="text-warning"> * </span>
                    <input type="text" autocomplete="off" class="form-control" [(ngModel)]="eventdetailsInfo.name"
                      #name="ngModel" maxlength="30" minlength="3" name="name" required  pattern="^[^\d\W]+( [^\d\W]+)*$"
                      placeholder="Events Name" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32"
                      class="form-control" id="octn" placeholder="occasion">
                    <span class="text-warning" [hidden]="!name.errors.required" *ngIf="name.errors && (name.touched || name.dirty)">Event
                      Name Required
                    </span>
                    <span class="text-warning" [hidden]="!name.errors?.pattern" *ngIf="name.errors && (name.touched || name.dirty)">Event
                      Name Contains Minimum 3 letters</span>
                  </div>
                  <div >
                    <label>Date and Time:</label>
                    <input #dateTime readonly [owlDateTimeTrigger]="dt10" class="form-control" [owlDateTime]="dt10" [selectMode]="'range'">
                    <owl-date-time #dt10></owl-date-time>
                  </div>
                  <div class="form-group " style="margin-top: 1.25em;">
                    <label>Description:</label>
                    <span class="text-warning"> * </span>
                    <textarea style="resize:none" class="form-control" name="description" #description="ngModel"
                      placeholder="Description" [(ngModel)]="eventdetailsInfo.description" minlength="2" maxlength="100"
                      required pattern="[A-Za-z0-9][A-Za-z -.,/0-9]{2,20}" minlength="3" maxlength="150" placeholder="Enter Description">  </textarea>
                    <span class="text-warning" *ngIf="description.invalid && (description.touched || description.dirty)">
                      <span class="text-warning" [hidden]="!description.errors.required" *ngIf="description.errors && (description.touched || description.dirty)">Description
                        Required</span>
                      <span class="text-warning" [hidden]="!description.errors.minlength" *ngIf="description.errors && (description.touched || description.dirty)">Description
                        Details Contains Minimum 3 letters</span>
                    </span>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Department Name:</label>
                    <span class="text-warning"> * </span>
                    <select style="width:100%; height:2.625em" type="text" required class="form-control" #departmentId="ngModel"
                      [(ngModel)]="eventdetailsInfo.departmentId" name="departmentId">
                      <option value="0" disabled selected> Select</option>
                      <option *ngFor="let d of department" value="{{d.dep_id}}">{{d.dep_name}}</option>
                    </select><span class="text-warning" [hidden]="departmentId.errors.required" *ngIf="departmentId.value=='0'  && (departmentId.touched || departmentId.dirty)">Select
                      Department Name</span>
                    <span class="text-warning" *ngIf="departmentId.errors && (departmentId.touched || departmentId.dirty)">Department
                      Name Required
                    </span>
                  </div>
                  <div class="form-group ">
                    <label>Co-Ordinator:</label>
                    <span class="text-warning"> * </span>
                    <select style="width:100%; height:2.625em" (change)="contact()" type="text" required class="form-control"
                      #userId="ngModel" [(ngModel)]="eventdetailsInfo.userId" name="userId">
                      <option value="0" disabled selected> Select Co-Ordinato</option>
                      <option *ngFor="let ul of userList" value="{{ul.userid}}">{{ul.firstname}}{{ul.lastname}}</option>
                    </select>
                    <span class="text-warning" [hidden]="userId.errors.required" *ngIf="userId.value=='0'  && (userId.touched || userId.dirty)">Select
                      User Name</span>
                  </div>
                  <div class="form-group ">
                    <label>Venue:</label>
                    <span class="text-warning"> * </span>
                    <textarea class="form-control" name="venue" #venue="ngModel" [(ngModel)]="eventdetailsInfo.venue"
                      placeholder="Venue" style="resize:none" required pattern="[A-Za-z0-9][A-Za-z -.,/0-9]{2,20}"
                      minlength="3" maxlength="150" placeholder="Enter Venue"></textarea>
                    <span class="text-warning" *ngIf="venue.invalid && (venue.touched || venue.dirty)">
                      <span class="text-warning" [hidden]="!venue.errors.required" *ngIf="venue.errors && (venue.touched || venue.dirty)">Venue
                        Details Required</span>
                      <span class="text-warning" [hidden]="!venue.errors.minlength" *ngIf="venue.errors && (venue.touched || venue.dirty)">Venue
                        Details Contains Minimum 3 letters</span>
                    </span>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Location:</label>
                    <span class="text-warning"> * </span>
                    <select #branchId="ngModel" required class="form-control" style="width:100%; height:2.625em"
                      placeholder="type" name='branchId' [(ngModel)]="eventdetailsInfo.branchId">
                      <option value="0" disabled selected>select</option>
                      <option *ngFor="let college of collegeBranchDetails" value="{{college.branchid}}">{{college.branchname}}</option>
                    </select>
                    <span class="text-warning" [hidden]="branchId.errors.required" *ngIf="branchId.value=='0'  && (branchId.touched || branchId.dirty)">Select
                      Location</span>
                    <span class="text-warning" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Branch
                      Name Required
                    </span>
                  </div>
                  <div class="form-group ">
                    <label>Contact details:</label>
                    <span class="text-warning"> * </span>
                    <select style="width:100%; height:2.625em" type="text" required class="form-control" #usercontact="ngModel"
                      [(ngModel)]="eventdetailsInfo.contactdetailsId" name="usercontact">
                      <option value="0" disabled selected> Select</option>
                      <option>{{userConctact.mobile}}{{userConctact.email}}</option>
                    </select>
                    <span class="text-warning" [hidden]="usercontact.errors.required" *ngIf="usercontact.value=='0'  && (usercontact.touched || usercontact.dirty)">Select
                      User Contact Name</span>
                  </div>
                </div>
              </div>
              <div class="form-group" class="text-center" *ngIf="!eventdetailsInfo.Id">
                <button type="add" [disabled]="addevents.invalid" class="btn btn-primary" value="Submit" data-dismiss="modal"
                  (click)="addEvent(dateTime.value)">Submit </button>
              </div>
 <div *ngIf="read==true && write==true || write==true">
</div>
              <div class="form-group" class="text-center" *ngIf="eventdetailsInfo.Id">
                <button type="button" [disabled]="addevents.invalid" class="btn btn-primary" value="update" (click)="updateEventsDetails()"
                  data-dismiss="modal">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="viewevnt" class="collapse">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Event Details">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Event</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>
        <ng-container matColumnDef="departmentid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
          <td mat-cell *matCellDef="let row">{{row.departmentname}}</td>
        </ng-container>
        <ng-container matColumnDef="fromdate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
          <td mat-cell *matCellDef="let row">{{row.fromdate|date}}</td>
        </ng-container>
        <ng-container matColumnDef="starttime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</th>
          <td mat-cell *matCellDef="let row">{{row.starttime}}</td>
        </ng-container>
        <ng-container matColumnDef="endtime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>End Time</th>
          <td mat-cell *matCellDef="let row">{{row.endtime}}</td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit </th>
          <td mat-cell *matCellDef="let row">
            <div id="Edit" data-toggle="modal" data-target="#responsive" (click)=editEvents(row.id)><i class="fa fa-pencil-square-o"></i></div>
          </td>
        </ng-container>
        <ng-container matColumnDef="option">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span *ngIf="rolename=='Trainee'">option</span></th>
          <td mat-cell *matCellDef="let row">
            <div *ngIf="row.status==null">
            <input type="button" value="apply" (click)='sendparticipationRequest(row.id)' *ngIf="rolename=='Trainee'">
          </div>
          <div *ngIf="row.status==null">
{{row.status}}
          </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="Excel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
                aria-hidden="true"></i>
            </span></th>
          <td mat-cell *matCellDef="let row">
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
  <br>
  <br />
</div>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Event Details">
</mat-form-field>
<table mat-table [dataSource]="dataSource1" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit </th>
    <td mat-cell *matCellDef="let row">
      {{row.id}}
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
      <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}
      </td>
    </ng-container>
  <ng-container matColumnDef="departmentid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Event Name </th>
    <td mat-cell *matCellDef="let row">{{row.name}}
    </td>
  </ng-container>
  <ng-container matColumnDef="fromdate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>From Date </th>
    <td mat-cell *matCellDef="let row">{{row.fromdate|date}}
    </td>
  </ng-container>
  <ng-container matColumnDef="starttime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time </th>
    <td mat-cell *matCellDef="let row">{{row.starttime}}
    </td>
  </ng-container>
  <ng-container matColumnDef="endtime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>EndTime </th>
    <td mat-cell *matCellDef="let row">{{row.endtime}}
    </td>
  </ng-container>
  <ng-container matColumnDef="option">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let row">
      <div *ngIf="row.requeststatus=='Pending'">
      <input type="button" value="Approve" (click)="eventResponse(row.userid,'Approved')">
      <input type="button" value="Reject" (click)="eventResponse(row.userid,'Rejected')">
    </div>
    <div *ngIf="row.requeststatus!='Pending'">
        {{row.requeststatus}}
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef='displayedColumns1'>
  </tr>
  <tr mat-row *matRowDef="let row;columns:displayedColumns1"></tr>
</table>
<mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
