$hunder:100%;
$center:center;

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body, html {
  height: $hunder;
  width: $hunder;
}
body {
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}
/* ========== Universal Stylings ========== */
h1, h2, h3, h4, h5 {
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
h6 {
  position: relative;
  text-transform: uppercase;
}
.bg-primary {
  background-color: #35CBDF !important;
}
.text-inverse {
  color: #074052;
}
.text-primary {
  color: #35CBDF !important;
}
.btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.btn-primary {
  background-color: #35CBDF;
  border-color: #35CBDF;
  text-shadow: 0.0625em 0.0625em 0.125em rgba(0, 0, 0, 0.4);
  &:hover, &:focus {
    background-color: #00BED7;
    border-color: #00BED7;
  }
}
.btn-capsul {
  border-radius: 3.125em;
}
i {
  &.box-circle-outline {
    border-color: inherit;
    border-width: 0.0625em;
    border-style: solid;
    border-radius: 50%;
    height: 3.125em;
    line-height: 3.125em;
    text-align: $center;
    width: 3.125em;
  }
  &.box-circle-solid {
    background-color: #35CBDF;
    border-radius: 50%;
    color: grey;
    font-size: 1.375em;
    height: 3.4375em;
    line-height: 3.4375em;
    text-align: $center;
    width: 3.4375em;
  }
}
.text-underline-white:before {
  content: "";
  position: absolute;
  width: 6.25em;
  height: 0.25em;
  left: 50%;
  margin-left: -3.125em;
  background: rgb(255, 255, 255);
  bottom: -0.9375em;
  border-radius: 0.625em;
}
.text-underline-rb-white:before {
  content: "";
  position: absolute;
  width: 6.25em;
  height: 0.25em;
  left: 0;
  background: rgb(160, 126, 76);
  bottom: -0.9375em;
  border-radius: 0.625em;
}
.text-underline-primary:before {
  content: "";
  position: absolute;
  width: 3.125em;
  height: 0.25em;
  left: 50%;
  margin-left: -1.5625em;
  background: #35CBDF;
  bottom: -0.9375em;
  border-radius: 0.625em;
}
.text-underline-rb-primary:before {
  content: "";
  position: absolute;
  width: 6.25em;
  height: 0.25em;
  left: 0;
  background: #35CBDF;
  bottom: -0.9375em;
  border-radius: 0.625em;
}
.bg-overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: $hunder;
  width: $hunder;
  left: 0;
  top: 0;
  z-index: -1;
}
.bg-overlay-light:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  height: $hunder;
  width: $hunder;
  left: 0;
  top: 0;
  z-index: -1;
}
.parallax {
  background-attachment: fixed !important;
}
/* ========== Loader ========== */
.loaders {
  width: $hunder;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  .loader {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
    height: 12.5em;
    align-items: $center;
    justify-content: $center;
  }
}
.loader {
  display: table;
  height: $hunder;
  position: fixed;
  width: $hunder;
  z-index: 1200;
}
.loader-bg {
  background: #35CBDF;
}
.loader-inner {
  display: table-cell;
  text-align: $center;
  vertical-align: middle;
}
.loader .ball-clip-rotate-pulse {
  left: 50%;
  position: absolute;
  top: 50%;
}
/* ========== Top Navigation ========== */
.top-nav {
  border-bottom: 0.0625em solid rgba(255, 255, 255, 0.2);
  height: 5em;
  transition: 0.5s ease-in;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  .navbar-nav li .nav-link {
    color: #fff;
    font-size: 0.875em;
    padding: 1.8125em 0.9375em;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
  }
  li a.nav-link:hover, .nav-item.active a.nav-link {
    border-bottom: 0.1875em solid #35cbdf;
    color: #35cbdf;
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
  }
  .navbar-brand {
    font-size: 1.75em;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }
  &.light-header {
    height: 3.75em;
    background: #fff;
    box-shadow: 0 0 0.625em black;
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    .navbar-brand {
      color: #212121;
    }
    .navbar-nav li .nav-link {
      color: #212121;
      padding: 1.1875em 0.9375em;
      transition: 0.5s ease-in;
      -webkit-transition: 0.5s ease-in;
      -moz-transition: 0.5s ease-in;
    }
    li a.nav-link:hover, .nav-item.active a.nav-link {
      border-bottom: 0.1875em solid #35cbdf;
      color: #35cbdf;
      transition: 0.5s ease-in;
      -webkit-transition: 0.5s ease-in;
      -moz-transition: 0.5s ease-in;
    }
  }
}
/* ========== Intro Header ========== */
.intro {
  float: left;
  width: $hunder;
  display: flex;
  align-items: $center;
  height: $hunder;
  position: relative;
  z-index: 1;
  &.intro-small {
    height: 60%;
  }
}
.intro-bg {
  background: url();
  background-repeat: no-repeat;
  background-position: $center $center;
  background-size: cover;
}
.caption-container {
  width: 50rem;
  margin: 0 auto;
}
.caption-two-panel {
  display: flex;
  align-items: $center;
}
.intro h1 {
  font-weight: 700;
}
.intro-caption .btn i {
  float: left;
  margin-right: 0.9375em;
}
.intro {
  .carousel-item {
    height: 100vh;
    &::before {
      content: "";
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      width: $hunder;
      height: 100vh;
    }
  }
  .carousel-caption {
    top: 25%;
  }
}
/* ========== Who We Are ========== */
.info-section {
  float: left;
  width: $hunder;
  padding: 2rem 0;
  position: relative;
  z-index: 1;
  h2 {
    font-weight: 400;
    font-size: 2rem;
  }
  .head-sec {
    float: left;
    width: $hunder;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .box {
    h2 {
      font-size: 1rem;
      margin-bottom: 0.625em;
      margin-top: 0;
    }
    i {
      font-size: 1rem;
    }
    display: flex;
  }
  .text-box {
    flex: 1 1 0;
    text-align: left;
  }
  .icon-box {
    line-height: 1.2;
    width: 4.375em;
  }
  .service-block-overlay {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    &:hover {
      background: #fff none repeat scroll 0 0;
      border-radius: 0.3125em;
      box-shadow: 0 0 5.625em black;
      float: left;
      margin-top: -0.625em;
      position: relative;
      width: $hunder;
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
    }
  }
}
.content-half {
  color: #fff;
  ul {
    padding: 0;
    list-style: none;
    li {
      margin: 0.9375em 0;
      float: left;
      width: $hunder;
      i {
        float: left;
        font-size: 1.875em;
        padding-top: 0.625em;
        padding-bottom: 0.625em;
      }
      .list-content {
        float: left;
        margin-left: 1.25em;
      }
      strong {
        font-size: 1.1875em;
        font-weight: 700;
      }
    }
  }
  .btn {
    margin-top: 1.25em;
  }
}
/*--- three Block Panel ---*/
.three-panel-block {
  float: left;
  width: $hunder;
  i {
    font-size: 1.5rem;
    margin-bottom: 0.9375em;
    &.box-round {
      border-color: inherit;
      border-width: 0.0625em;
      border-style: solid;
      padding: 1em;
      border-radius: 50%;
    }
  }
}
/*--- Two Block Panel ---*/
.two-panel-block {
  float: left;
  width: $hunder;
  p {
    font-size: 1em;
  }
}
/*--- Two Block Panel ---*/
.four-panel-block {
  float: left;
  width: $hunder;
}
/* ========== Who We Are ========== */
.widget {
  float: left;
  width: $hunder;
  position: relative;
  z-index: 1;
}
/* ========== Copy Content Styles ========== */
.copy-content-sec {
  float: left;
  width: $hunder;
  padding: 5rem 0;
  position: relative;
  z-index: 1;
}
.copy-container {
  display: flex;
  align-items: $center;
}
.copy-content {
  float: left;
  width: $hunder;
  li i {
    float: left;
    width: 1.875em;
    margin-top: 0.3125em;
    color: #5CB85C;
  }
}
/* ========== Team Section ========== */
.member-box {
  width: $hunder;
  float: left;
  position: relative;
  overflow: hidden;
}
.team-section {
  float: left;
  width: $hunder;
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.team-footer {
  float: left;
  width: $hunder;
  padding: 0.9375em;
  h3 {
    font-size: 1.5rem;
    text-transform: capitalize;
  }
}
.member-box {
  &:hover > img {
    transform: scale(1.05);
    transition: 1s ease-in;
  }
  img {
    transition: 0.3s ease-in;
  }
  &.t-bottom .overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &.t-center .overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: $center;
    align-items: $center;
  }
  i.box-circle-solid {
    padding: 0;
    width: 2.5em;
    height: 2.5em;
    text-align: $center;
    line-height: 2.5em;
  }
  &.anim-lf {
    .overlay-content {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.6);
      left: -$hunder;
      bottom: 0;
      width: $hunder;
      height: $hunder;
      transition: 0.4s ease-in;
    }
    &:hover > .overlay-content {
      left: 0;
      transition: 0.4s ease-in;
    }
  }
}
/* style 1 */
.copy-content-sec {
  float: left;
  width: $hunder;
  padding: 5rem 0;
  position: relative;
  z-index: 1;
}
.copy-container {
  display: flex;
  align-items: $center;
}
.copy-content {
  float: left;
  width: $hunder;
  li i {
    float: left;
    width: 1.875em;
    margin-top: 0.3125em;
    color: #5CB85C;
  }
}
.faq-box {
  .card {
    border-color: #35CBDF;
    margin-top: 0.625em;
  }
  .card-header {
    background-color: #35CBDF;
    color: #fff;
  }
}
/* ========== Responsive Stylings ========== */
@media (max-width: 61.9375em) {
  .container {
    width: $hunder;
  }
  .intro .intro-box {
    padding-left: 0;
    margin-bottom: 0;
    span {
      margin-right: 0.625em;
    }
    .list-item {
      width: 85%;
    }
  }
  .content-half ul li {
    i {
      font-size: 1.25em;
    }
    .list-content {
      width: 77%;
    }
    strong {
      line-height: 0;
    }
  }
  .testimonial-section .single-testimonial .carousel-item {
    width: $hunder;
    margin-left: 0;
    margin-right: 0;
  }
  .widget {
    h2 {
      font-size: 1.5rem;
    }
    .counter {
      line-height: 0;
      font-size: 1.7rem;
    }
    .fa-3x {
      font-size: 2rem;
    }
    .stat-content h4 {
      font-size: 1.2rem;
    }
  }
}
@media (max-width: 47.9375em) {
  .container {
    width: $hunder;
  }
  .intro {
    .intro-form-small input {
      &[type="text"], &[type="password"] {
        width: 36%;
      }
    }
    .carousel-caption {
      top: 10%;
    }
  }
  .widget.widget-counter .container {
    width: $hunder;
  }
  .contact-section #map {
    height: 25em;
  }
  .intro {
    .display-4 {
      font-size: 2rem;
    }
    p {
      display: none;
    }
    img {
      height: $hunder;
    }
    .btn-primary {
      margin-top: 1.25em;
    }
  }
  .top-nav {
    .navbar-toggler i {
      color: #fff;
      margin-top: 0.375em;
    }
    &.light-header .navbar-toggler i {
      color: #00BED7;
    }
    .navbar-collapse.show {
      background-color: #fff;
      text-align: $center;
      padding: 0.75em 0;
      a {
        color: #000;
      }
    }
  }
}
.btn-theme {
  background-color: #35CBDF;
  color: #fff;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
}
ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  li {
    list-style: none;
    margin: 0 2.5em;
    .fa {
      font-size: 2.5em;
      color: #262626;
      line-height: 5em;
      transition: .5s;
    }
    a {
      position: relative;
      display: block;
      width: 5em;
      height: 5em;
      background-color: #fff;
      text-align: $center;
      transform: perspective(6.25em) rotate(-30deg) skew(25deg) translate(0, 0);
      transition: .5s;
      box-shadow: -1.25em 1.25em 0.625em black;
      &::before {
        content: "";
        position: absolute;
        top: 0.625em;
        left: -1.25em;
        height: $hunder;
        width: 1.25em;
        background: #b1b1b1;
        transition: .5s;
        transform: rotate(0deg) skewY(-45deg);
      }
      &::after {
        content: "";
        position: absolute;
        top: 5em;
        left: -0.6875em;
        height: 1.25em;
        width: $hunder;
        background: #b1b1b1;
        transition: .5s;
        transform: rotate(0deg) skewX(-45deg);
      }
      &:hover {
        transform: perspective(62.5em) rotate(-30deg) skew(25deg) translate(1.25em, -1.25em);
        box-shadow: (-3.125em) 3.125em 3.125em black;
      }
    }
    &:hover .fa {
      color: grey;
    }
    a:hover {
      transform: perspective(62.5em) rotate(-30deg) skew(25deg) translate(1.25em, -1.25em);
      box-shadow: (-3.125em) 3.125em 3.125em black;
    }
    &:hover {
      &:nth-child(1) a {
        background: #3b5999;
        &:before {
          background: #2e4a86;
        }
        &:after {
          background: #4a69ad;
        }
      }
      &:nth-child(2) a {
        background: #55acee;
        &:before {
          background: #4184b7;
        }
        &:after {
          background: #4d9fde;
        }
      }
      &:nth-child(3) a {
        background: #dd4b39;
        &:before {
          background: #c13929;
        }
        &:after {
          background: #e83322;
        }
      }
      &:nth-child(4) a {
        background: #0077B5;
        &:before {
          background: #036aa0;
        }
        &:after {
          background: #0d82bf;
        }
      }
      &:nth-child(5) a {
        background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
        &:before, &:after {
          background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
        }
      }
    }
  }
}
/* ========================================video sai================================= */
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: $hunder;
  overflow: hidden;
  background: grey;
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: $hunder;
    min-height: $hunder;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .container {
    position: relative;
    z-index: 2;
    font-family: sans-serif;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $hunder;
    width: $hunder;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
  }
}
@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    video {
      display: none;
    }
  }
}
.fa-volume-off, .fa-volume-up, .fa-volume-down {
  cursor: pointer;
  font-size: 1.5em;
}