<header>
  <div class="overlay"></div>
  <figure class="pop">
  <video playsinline="playsinline" autoplay loop="loop" muted>
    <source src="{{myUrl+'/Organization/assets/saikiran123.mp4'}}" type="video/mp4" alt="NoVideo">
  </video>
  </figure>
  <div class="container h-100">
    <div class="d-flex text-center h-100">
      <div class="my-auto w-100 text-white">
        <h1 class="display-3">Welcome</h1><h3>to</h3>
        <h3><strong>INFOBYT</strong> </h3>
        <i class="fa fa-volume-down" id='audioControl' aria-hidden="true"></i>
      </div>
    </div>
  </div>
</header>
<section class="info-section">
  <div class="container">
    <div class="head-box text-center mb-5">
      <h2>Who We Are</h2>
      <h6 class="text-underline-primary">This is information panel</h6>
    </div>
    <div class="three-panel-block mt-5">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-block-overlay text-center mb-5 p-lg-3">
            <i class="fa fa-university box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
            <br/>
            <a (click)="navigate1()"><h3>Manage institute</h3></a>
            <p class="px-4">Never in all their history have men been able truly to conceive of the
              world as
              one a single sphere</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-block-overlay text-center mb-5 p-lg-3">
            <i class="fa fa-sitemap box-circle-solid mt-3 mb-3" aria-hidden="true">
            </i>
            <br/>
            <a (click)="navigate2()"> <h3>Manage Organization</h3></a>
            <p class="px-4">Never in all their history have men been able truly to conceive of the
              world as
              one a single sphere</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-block-overlay text-center mb-5 p-lg-3">
            <i class="fa fa-address-card box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
            <br/>
            <a (click)="navigate3()"> <h3>View Admission</h3></a> 
            <p class="px-4">Never in all their history have men been able truly to conceive of the
              world as
              one a single sphere</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-block-overlay text-center p-lg-3">
            <i class="fa fa-thumbs-o-up box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
            <br/>
            <a (click)="navigate4()"> <h3>View Jobs</h3></a>
            <p class="px-4">Never in all their history have men been able truly to conceive of the
              world as
              one a single sphere</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-block-overlay text-center p-lg-3">
            <i class="fa fa-calendar box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
           <br/>
            <a (click)="navigate5()"> <h3>View Holliday Schedule</h3></a>
            <p class="px-4">Never in all their history have men been able truly to conceive of the
              world as
              one a single sphere</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="service-block-overlay text-center p-lg-3">
            <i class="fa fa-comments box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
           <br/>
            <a (click)="navigate6()"> <h3>24/7 Support</h3></a>
            <p class="px-4">Never in all their history have men been able truly to conceive of the
              world as
              one a single sphere</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="team-section py-5">
  <div class="container">
    <div class="row mb-5">
      <div class="head-box text-center mb-5 col-md-12">
        <h2></h2>
        <h6 class="text-underline-primary mb-5" style="font-style: italic">This is information panel</h6>
      </div>
      <div class="col-md-4 mb-md-0 mb-sm-4">
        <div class="member-box anim-lf t-bottom">
          <img class="img-fluid" src="{{myUrl+'/school/assets/infobytextpng.png'}}" alt="Image">
          <div class="overlay-content">
            <h3 class="text-white ml-3 my-0">Upcoming Events</h3>
            <span class="socail-l ml-3 mb-3">
              <a href="#" class="mr-2"><i class="fa fa-facebook box-circle-solid"></i></a>
              <a href="#" class="mr-2"><i class="fa fa-twitter box-circle-solid"></i></a>
              <a href="#"><i class="fa fa-dribbble box-circle-solid"></i></a>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-sm-4">
        <div class="member-box anim-lf t-bottom">
          <img class="img-fluid" src="{{myUrl+'/school/assets/infobytextpng.png'}}" alt="Image">
          <div class="overlay-content">
            <h3 class="text-white ml-3 my-0">latest news</h3>
            <p class="text-white ml-3 mb-3"></p>
            <span class="socail-l ml-3 mb-3">
              <a href="#" class="mr-2"><i class="fa fa-facebook box-circle-solid"></i></a>
              <a href="#" class="mr-2"><i class="fa fa-twitter box-circle-solid"></i></a>
              <a href="#"><i class="fa fa-dribbble box-circle-solid"></i></a>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-md-0 mb-sm-4">
        <div class="member-box anim-lf t-bottom">
          <img class="img-fluid" src="{{myUrl+'/school/assets/infobytextpng.png'}}" alt="Image">
          <div class="overlay-content">
            <h3 class="text-white ml-3 my-0">Achievements</h3>
            <p class="text-white ml-3 mb-3"></p>
            <span class="socail-l ml-3 mb-3">
              <a href="#" class="mr-2"><i class="fa fa-facebook box-circle-solid"></i></a>
              <a href="#" class="mr-2"><i class="fa fa-twitter box-circle-solid"></i></a>
              <a href="#"><i class="fa fa-dribbble box-circle-solid"></i></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
