<div class="container">
  <div class="jumbotron">
    <h2>Divisions </h2>
    <hr />
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-list-ol"></i>  Divisions
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" *ngIf="read==true && write==true || write==true">
            <i class="fa fa-plus-circle"></i>  Add Divisions</a>
          <a class="dropdown-item" data-toggle="collapse" role="button" (click)=viewSession()>
            <i class="fa fa-th-list"></i>  <span *ngIf="show1">  View Divisions</span><span *ngIf="!show1">  Hide Divisions</span> </a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Divisions</h4>
          <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #frm="ngForm" novalidate>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Division Name:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" autocomplete="off" name="classname" id="name" placeholder="Enter Division" class="form-control"
                    pattern="^[^\d\W]+( [^\d\W]+)*$" onkeypress="return (event.charCode >= 65 && event.charCode <= 90)||(event.charCode >= 97 && event.charCode <= 122) ||event.charCode==32"
                    required [(ngModel)]="sessionAddObj.name" #classname="ngModel" required pattern="^(X?I{0,2}|IX|IV|V?I{0,3})$"
                    maxlength="4" minlegth="1">
                  <span class="text-warning" *ngIf="classname.invalid && (classname.touched || classname.dirty)">
                    <span class="text-warning" [hidden]="!classname.errors.required" *ngIf="classname.errors && (classname.touched || classname.dirty)"
                      class="text text-warning">Name Required..</span>
                    <span class="text-warning" [hidden]="!classname.errors.pattern" *ngIf="classname.errors && (classname.touched || classname.dirty)"
                      class="text text-warning">Division Name Should Be Only In Roman Letters (Max XII Division) </span>
                  </span>
                </div>
                <div class="form-group" class="form-group" class="text-center" *ngIf="!sessionAddObj.Id">
                  <button type="add" [disabled]="!frm.valid" class="btn btn-primary" value="Submit" data-dismiss="modal"
                    (click)="addSession()">Submit </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="viewsession">
    <button id="button-a" class="btn btn-success" (click)="getexcel()"> <span class="example-spacer"></span>Download</button>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Class">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6 style="color:white;font-weight: bold ">Name</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.sessionname}}</td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
<br>