<div class="container-fluid" id="about">
  <figure>
    <img src="http://www.conejousd.org/portals/0/Images/2016/instructional-services-banner1.jpg" class='grey-image' alt="About US">
  </figure>
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h1 i18n class="align-center">INFOBYT</h1>
          <p i18n class="text-justify"><strong style="text-decoration:underline;">Infobyt</strong>,<sub style="font-style: italic">
              Anytime. Anywhere.</sub><br />
            Isn’t our lives moving so fast just like an alarming time machine that sounds high for an every unnecessary
            thing to know about?
            Now, time has arrived to explore the reality with the real information all at your fingertips with our
            application that may have its powerful roots in today’s world.
            It is none other than, “Infobyt”. A smart web and Android/IOS supported mobile application that works on
            three platforms Schools, Colleges and organizations. Infobyt is loaded with the most happening and useful
            features…
            To start with schools…
            A school manages branch, student information and payroll management for the faculty where the pay slips are
            sent across the concerned mails.
            Sitting at home or having a healthy conversation over coffee, a parent can know about their child
            whereabouts
            through GPS that involves live bus tracking, classroom and school premises surveillance. You can know about
            academic status of your kid through attendance updates, notifications about fee dues and it makes much
            simpler to download the exam syllabus and time tables. A school and parent can exclusively be part of
            Customer Support chat 24/7.
          </p>
        </div>
        <div class="col-md-6">
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="" style="width:100%;text-align: center">
            <img src="{{myurl+'/organization/assets/images/aboutus/a2.jpg'}}" alt="AboutUs" title="AboutUs" class="grey-image">
          </div>
          <br />
          <div style="width:100%;text-align: center">
            <button i18n type="button" class="btn btn-outline-info" id="collapseExample1" data-toggle="collapse" data-target="#demo">Read
              More</button>
          </div>
          <br />
        </div>
      </div>
    </div>
  </section>
  <section class="collapse" id="demo">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <p i18n class="align-center" style="text-align: justify">
            Are you dragged upon or feel like missing out any top news about the new book arrival in your college
            library, a recent placement drive or an event update ongoing in your college… Don’t worry…Infobyt, gathers
            everything at one place managing updates on college library database and timely alerts about the
            placements.
            Moving to our yet another platform, organization…
            It is a prestigious place where you can fully get equipped with the payroll management, meeting updates
            about
            an employee. At the same time, you can also manage your leaves through Leave Management and be updated with
            HRMS activities.
            So…Don’t be late to know your next phases of professional needs in your life with Infobyt.
            <strong>Unic Sol,</strong> a unique software solutions firm which strives to provide ultimate seamless and
            user friendly
            product and services.
            Our Aim is to simplify and aid our users relationship with technology,
            where we work meticulously towards a future which is seamless
            easy to operate and connected.
            At UnicSol our client's needs and comfort are our priority for which
            we fearlessly work to deliver top notch service to our clientele.
            With our undisputed commitment to quality and unmatched technical know how our team continuously upgrades
            and
            polishes
            itself to give you better than the best.
            Salute to you! Wonder Woman ! Because No, It Isn't easy to do what you do every day and to help you do it
            in
            a better way Infobyt is here,
            armed with information to make sure you slay.
            Now let's get to the crux of it, we know parents are worried about their child and his/her super busy
            schedule. So the next time they are stressed
            about the syllabus or the colour of uniform the next day, we are here to make their worries go away.
            You can access in easily presentable & intelligent updates about the school in a timely way. We have
            everything smart you need and these are what we have in store for you.
          </p>
          <ol>
            <li i18n>Events,attendance, performance updates</li>
            <li i18n>Biometric system</li>
            <li i18n>Fee modifications</li>
            <li i18n>Class room & school premises surveillances</li>
            <li i18n>GPS tracking</li>
            <li i18n>Download exam syllabus/time tables, payslips.</li>
          </ol>
          <p i18n class="align-center" style="text-align: justify">
            We help you seamlessly manage your employees, staff and teachers with easy and accountable features like
            biometric access, generating of pay-slips technologically, passing of information and events about the
            organisation etc.
            Our team at Infobyt works in sync with the school to ensure that parents are prepared for all upcoming
            events
            and examinations at the school.
            We strive to deliver all information required by them in a fast, easy synchronised and organised way, so
            that
            you all are always prepared
            for the child and its future. With features like GPS & surveillance we have put the child's safety first.
            So no more stress and fear as Infobyt is always here.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid text-center">
    <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <h3 i18n class="first"><strong>Meet Our Team</strong></h3>
    <hr />
    <p-organizationChart [value]="data" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
      styleClass="company">
      <ng-template let-node pTemplate="person">
        <div i18n class="node-header ui-corner-top ui-grid ui-grid-responsive">{{node.label}}</div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
          <img src="{{myurl+'/organization/assets/images/aboutus/'+ node.data.avatar}}" width="32">
            </div>
          <div i18n>{{node.data.name}}</div>
        </div>
      </ng-template>
      <ng-template i18n let-node pTemplate="department">
        {{node.label}}
      </ng-template>
    </p-organizationChart>
  </section>
  <section class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <p-galleria [images]="images" panelWidth="100%" panelHeight="700" [showCaption]="true"></p-galleria>
      </div>
      <div class="col-md-1"></div>
    </div>
  </section>
  <div class="container-fluid text-center parallax2 text-white" [ngStyle]="{ 'background-image': 'url(' + pattern1 + ')'}">
  </div>
  <!-- <section class="container-fluid Clients">
    <div class="row">
      <div class="col-md-12 col-sm-12 align-center">
        <h3>
          Our Clients
        </h3>
        <h4>Thank you for choosing us.</h4>
      </div>
    </div>
    <p-carousel headerText="Clients" [value]="cars">
      <ng-template let-car pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12"><img src="{{myurl+'/organization/assets/images/aboutus/'+ car.image}}" style="max-width: 100%;height: 18.75em;"></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12 text-center">{{car.name}}</div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </section> -->
</div>