<div class="container">
  <div class="jumbotron">
    <h2>Organization Locations</h2>
    <hr />
    <div class="btn-align">
     
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-map-marker"></i> Branch
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)=getIds()><i class="fa fa-plus-circle"></i>  Add</a>
          <a class="dropdown-item" href="#viewallBranch" data-toggle="collapse" role="button" ><i class="fa fa-th-list"></i><span id='showdata'>  View </span><span id='datahide'>  Hide</span></a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog modal-lg" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Organization Location</h4>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <button class="btn btn-debug" (click)="addBranchAdmin()">
            Add Admin
          </button>
          <form #schbrn="ngForm">
            <div class="row">
              <div class="col-lg-5">
                <div class="form-group">
                  <label for="std">Location started on:</label>
                  <span class="text-warning"> * </span>
                  <div class="form-group">
                    <input type="text" readonly autocomplete="off" placeholder="date" name="startDate" class="form-control"
                      bsDatepicker [bsConfig]="bsConfig" [bsConfig]=" {containerClass: 'theme-dark-blue' } "
                      [(ngModel)]="branchmaster.startDate" #startDate="ngModel" required [maxDate]="maxDate" [minDate]="minDate">
                    <span class="text-warning" [hidden]="!startDate.errors.required" *ngIf="startDate.errors && (startDate.touched || startDate.dirty)">Start
                      Date Required..</span>
                    <span class="text-warning" *ngIf="startDate.value=='Invalid Date'">Only Selection is Allowed</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Organization:</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" style="width:100%; height:2.625em" placeholder="type" name="organizationId"
                    [(ngModel)]="branchmaster.organizationId" #organizationId="ngModel" required>
                    <option value="0" disabled selected>Select Organization Name</option>
                    <option *ngFor="let sml of MasterList" value={{sml.id}}>{{sml.name}} </option>
                  </select>
                  <span class="text-warning" [hidden]="!organizationId.errors.required" *ngIf="organizationId.value=='0' && (organizationId.touched || organizationId.dirty)">Please
                    Select Organization Name</span>
                  <span class="text-warning" [hidden]="!organizationId.errors.required" *ngIf="organizationId.errors && (organizationId.touched || organizationId.dirty)">Organization
                    Name Required </span>
                  <span class="text-warning" [hidden]="!organizationId.errors.value" *ngIf="organizationId.errors && (organizationId.touched || organizationId.dirty)">Please
                    Select
                  </span>
                </div>
                <div class="form-group ">
                  <label>Contact Details:</label>
                  <span class="text-warning"> * </span>
                  <select style="width:100%; height:2.625em" class="form-control" placeholder="type " name="contactDetailsId"
                    [(ngModel)]="branchmaster.contactDetailsId" #contactDetailsId="ngModel" required>
                    <option value="0" disabled selected>Select Contact Details</option>
                    <option *ngFor="let c of contactdetailsList" value={{c.contactid}}> {{c.firstname}} {{c.lastname}}
                      {{c.email}} {{c.mobile}}
                    </option>
                  </select>
                  <span class="text-warning" [hidden]="!contactDetailsId.errors.required" *ngIf="contactDetailsId.value=='0'  && (contactDetailsId.touched || contactDetailsId.dirty)">Please
                    Select Contact Details</span>
                  <span class="text-warning" *ngIf="contactDetailsId.errors && (contactDetailsId.touched || contactDetailsId.dirty)"
                    [hidden]="!contactDetailsId.errors.required">Contact Details Required..</span>
                  <span class="text-warning" *ngIf="contactDetailsId.errors && (contactDetailsId.touched || contactDetailsId.dirty)"
                    [hidden]="!contactDetailsId.errors.value">Please Select
                  </span>
                </div>
              </div>
              <div class="col-lg-4" style="margin-top: -3.125em">
                <div class="form-group">
                  <div class="row">
                    <button type="submit" (click)="btnGetMapClick()" class="btn btn-debug">Add Stop</button>
                  </div>
                  <div>
                    <label> Latitude:</label>
                    <span class="text-warning"> * </span>
                    <input class="form-control" readonly placeholder="Latitude" #lt="ngModel" type="text" name="latitude"
                      [(ngModel)]="branchmaster.latitude" required>
                    <span class="text-warning" [hidden]="!lt.errors.required" *ngIf="lt.errors && (lt.touched || lt.dirty)">Latitude
                      Required..</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="row">
                  <div class="form-group">
                    <label for="dt">Longitude:</label>
                    <span class="text-warning"> * </span>
                    <input class="form-control" readonly placeholder="Longitude" #lg="ngModel" type="text" name="longitude"
                      [(ngModel)]="branchmaster.longitude" required>
                    <span class="text-warning" [hidden]="!lg.errors.required" *ngIf="lg.errors && (lg.touched || lg.dirty)">Longitude
                      Required..</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="form-group" style="margin-left: 20em">
                  <div *ngIf="showMap" style="margin-top:-10.625em;float: left;">
                    <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onMapClick($event)">
                      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="text-center" *ngIf="!branchmaster.Id">
                  <input type="button" value="Submit" [disabled]="!schbrn.valid||organizationId.value==0||contactDetailsId.value==0"
                    data-dismiss="modal" (click)="addBranch()" class="btn btn-primary" />
                </div>
                <div *ngIf="read==true && write==true || write==true">
                </div>
                <div class="text-center" *ngIf="branchmaster.Id">
                  <input type="button" value="Update" (click)="updateBranch()" data-dismiss="modal" class="btn btn-primary">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="show">
    <div id="viewallBranch" class="collapse">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Location">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Location Name</th>
          <td mat-cell *matCellDef="let row">{{row.branchname}}</td>
        </ng-container>
        <ng-container matColumnDef="startdate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
          <td mat-cell *matCellDef="let row">{{row.startdate|date}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row">
            <mat-slide-toggle *ngIf="rolename=='SchoolAdmin'" (change)="onChange($event,row.branchid)" class="example-margin"
              [color]="color" checked="{{row.branchstatus}}" [disabled]="rolename!='SchoolAdmin' ">
            </mat-slide-toggle>
            <span *ngIf="row.branchstatus" style="color:black">Active</span>
            <span *ngIf="!row.branchstatus" style="color:black">In Active</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="map">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Map</th>
          <td mat-cell *matCellDef="let row">
            <div class="form-group" style="max-width: 50%">
              <agm-map [latitude]="origin.lat" [longitude]="origin.lng">
                <agm-marker [latitude]="origin.lat" [longitude]="origin.lng"></agm-marker>
              </agm-map>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="rolename=='SchoolAdmin' ">Edit </th>
          <td mat-cell *matCellDef="let row">
            <div [hidden]="rolename=='SchoolAdmin' " id="Edit" data-toggle="modal" data-target="#responsive" (click)=editBranch(row.branchid)>
              <i class="fa fa-pencil-square-o"></i>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="Excel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
                aria-hidden="true"></i>
            </span></th>
          <td mat-cell *matCellDef="let row">
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
    <br />
    <br />
  </div>
</div>
