<div class="jumbotron">
  <h2>Reports Dashboard</h2>
  <hr/>

  <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"><i class="fa fa-registered"></i>
          Reports
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" href="#ViewPfReports" ><i class="fa fa-th-list"><span id='showdata1'>  View PF Reports</span><span id='datahide1'>  Hide PF Reports</span>   </i></a>
          <a class="dropdown-item" role="button" data-toggle="collapse" href="#ViewEsiReports"><i class="fa fa-th-list"> <span id='showdata2'>  View ESI Reports</span><span id='datahide2'>  Hide ESI Reports</span>  </i></a>
          <a class="dropdown-item" role="button" data-toggle="modal" href="#ViewPTReports"><i class="fa fa-th-list"> <span id='showdata3'>  View PT Reports</span><span id='datahide3'>  Hide PT Reports</span>  </i></a>
          <a class="dropdown-item" href="#ViewTdsReports" data-toggle="collapse"  role="button" >  <i class="fa fa-th-list">  <span id='showdata4'>  View TDS Reports</span><span id='datahide4'>  Hide payroll</span> </i></a>
        </div>
      </div>
      </div>
  </div>
<div id="ViewPfReports" class="collapse">
  <button id="button-a" class="btn btn-success" (click)="getexcel()"> <span class="example-spacer"></span>Download</button>
  <h4>PF Report</h4>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Staff">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
      <td mat-cell *matCellDef="let row">{{row.branchname}}</td>
    </ng-container>
    <ng-container matColumnDef="StaffName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Staff Name</th>
      <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
    </ng-container>
    <ng-container matColumnDef="pf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pf Report</th>
      <td mat-cell *matCellDef="let row">{{row.pf}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef='displayedColumns'>
    </tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
  </table>
  <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
<div id="ViewEsiReports" class="collapse">
  <h4>ESI Report</h4>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Staff">
  </mat-form-field>
  <table mat-table [dataSource]="ESISource" matSort>
    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
      <td mat-cell *matCellDef="let row">{{row.branchname}}</td>
    </ng-container>
    <ng-container matColumnDef="StaffName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Staff Name</th>
      <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
    </ng-container>
    <ng-container matColumnDef="esi">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ESI Report</th>
      <td mat-cell *matCellDef="let row">{{row.esi}}</td>
    </ng-container>
    <ng-container matColumnDef="Excel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
            aria-hidden="true"></i>
        </span></th>
      <td mat-cell *matCellDef="let row">
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef='EsiColumns'>
    </tr>
    <tr mat-row *matRowDef="let row;columns:EsiColumns"></tr>
  </table>
  <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
<div id="ViewPTReports" class="collapse">
  <h4>PT Report</h4>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Staff">
  </mat-form-field>
  <table mat-table [dataSource]="PTSource" matSort>
    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
      <td mat-cell *matCellDef="let row">{{row.branchname}}</td>
    </ng-container>
    <ng-container matColumnDef="StaffName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Staff Name</th>
      <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
    </ng-container>
    <ng-container matColumnDef="PT">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PT Report</th>
      <td mat-cell *matCellDef="let row">{{row.pt}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef='displayedPtColumns'>
    </tr>
    <tr mat-row *matRowDef="let row;columns:displayedPtColumns"></tr>
  </table>
  <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
<div id="ViewTdsReports" class="collapse">
  <h4>TDS Report</h4>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Staff">
  </mat-form-field>
  <table mat-table [dataSource]="TdsSource" matSort>
    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
      <td mat-cell *matCellDef="let row">{{row.branchname}}</td>
    </ng-container>
    <ng-container matColumnDef="StaffName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Staff Name</th>
      <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
    </ng-container>
    <ng-container matColumnDef="TDS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TDS Report</th>
      <td mat-cell *matCellDef="let row">{{row.tds}}</td>
    </ng-container>
    <ng-container matColumnDef="Excel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
            aria-hidden="true"></i>
        </span></th>
      <td mat-cell *matCellDef="let row">
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef='TdsColumns'>
    </tr>
    <tr mat-row *matRowDef="let row;columns:TdsColumns"></tr>
  </table>
  <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>