<div>
  <div class="jumbotron">
    <h2>Trainee Batch</h2>
    <hr />
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-users"></i> Trainee Batch
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" href="#responsive" (click)='viewAllteamAllocation()'>
            <i class="fa fa-th-list"></i> <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span> teamallocation</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <form #studentsBatchList2="ngForm" (submit)="addBulkMembers()">
    <div class="row">
      <div class="form-group col-md-2">
        <label>Select</label> &nbsp;
        <input type="radio" value="faculty" name="select" (change)="showTrainer()" [(ngModel)]="showFilter">Staff
        <input type="radio" value="student" name="select" (change)="showTrainer()" [(ngModel)]="showFilter">Trainee
      </div>
      <div class="col-md-2">
        <label>Select Department</label>
        <span class="text-danger"> * </span>
        <select class="form-control" required style="width:100%; height:2.625em" name='departmentname' (change)="getTeams()"
          #departmentname="ngModel" [(ngModel)]="teamAllocationObj.departmentId">
          <option value="0" disabled selected>Select To Department</option>
          <option *ngFor='let a of departmentlist' value="{{a.dep_id}}">{{a.dep_name}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <label>To Team</label>
        <span class="text-danger"> * </span>
        <select class="form-control" required style="width:100%; height:2.625em" name='batchId2' #batchId2="ngModel"
          [(ngModel)]="teamAllocationObj.teamId">
          <option value="0" disabled selected>Select To Team</option>
          <option *ngFor='let a of teamList' value="{{a.id}}">{{a.name}}</option>
        </select>
      </div>
      <div class="col-md-2" *ngIf="showFilter=='student'">
        <label for="Number">Salary per month</label>
        <span class="text-warning"> * </span>
        <input type="text" minlength="0" maxlength="8" required #salary="ngModel" min="0" [(ngModel)]="teamAllocationObj.salary"
          name='salary' onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" id="Salary"
          placeholder="Enter Salary" pattern="^(?:[1-9][0-9]{0,7}(?:\.\d{1,2})?|10000000|10000000.00)$">
        <span class="text-warning" [hidden]="!salary.errors.required" *ngIf="salary.errors && (salary.touched || salary.dirty)">Enter
          Salary Details
        </span>
        <span class="text-warning" [hidden]="!salary.errors.pattern" *ngIf="salary.errors && (salary.touched || salary.dirty)">please
          enter only numbers</span>
      </div>
      <div class="col-md-2" *ngIf="showFilter=='student'">
        <label>Role</label>
        <label for="Number">User Role Name</label>
        <span class="text-warning">* </span>
        <select required #userroleid="ngModel" [(ngModel)]="teamAllocationObj.userRoleId" name='userRoleId' class="form-control"
          id="Userroleid" placeholder="Enter Userroleid">
          <option value="0" selected>Select User Role Name</option>
          <option *ngFor="let role of roleDetails" value={{role.id}}>{{role.rolename}}</option>
        </select>
        <span class="text-warning" *ngIf="userroleid.value=='Select'">*Please Select</span>
        <span class="text-warning" *ngIf="userroleid.errors && (userroleid.touched || userroleid.dirty)">Enter
          User Role Name</span>
        <span class="text-warning" *ngIf="userroleid.value=='0' && (userroleid.touched || userroleid.dirty)">Please
          Select
          Role Name</span>
      </div>
      <div class="col-sm-2" *ngIf="showFilter=='student'">
        <div class="form-group" style="width: 22.5em">
          <label for="Number">Salary Pattern</label>
          <span class="text-warning"> * </span>
          <select #salaryPattern="ngModel" class="form-control" name='salaryPattern' [(ngModel)]="teamAllocationObj.salaryPattern">
            <option value="0" selected>Select Salary Pattern</option>
            <option *ngFor="let spd of salaryPatternDetails" value={{spd.id}}>{{spd.patternname}}
            </option>
          </select>
          <span class="text-warning" *ngIf="salaryPattern.value=='0' && (salaryPattern.touched || salaryPattern.dirty)">Please
            Select
            Salary Pattern</span>
        </div>
      </div>
    </div>
    <div class="text-center">
      <input type="Submit" value="Transfer" class="btn btn-primary">
    </div>
  </form>
  <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Trainee Name">
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}} </td>
    </ng-container>
    <ng-container matColumnDef="modify">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>modify</th>
      <td mat-cell *matCellDef="let row">
        <div>
          <input type="checkbox" name="checkbox" [(ngModel)]="row.checkboxStatus">
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="Excel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
            aria-hidden="true"></i>
        </span></th>
      <td mat-cell *matCellDef="let row">
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef='displayedColumns'>
    </tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
  </table>
  <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
  <div *ngIf="teamallocation">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSources" matSort>
      <ng-container matColumnDef="TeamName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6 style="color:white;font-weight: bold ">Team Name</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <ng-container matColumnDef="UserName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6 style="color:white;font-weight: bold ">Team Member Name</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
      </ng-container>
      <ng-container matColumnDef="Departmentname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6 style="color:white;font-weight: bold ">Department Name</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.departmentname}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumn'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumn"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>