<div class="container" style="width:100%;">
  <div class="jumbotron">
    <h2>Salary Pattern</h2>
  </div>
<br/>
<div class="worko-tabs">
  <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked />
  <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" />
  <input class="state" type="radio" title="tab-three" name="tabs-state" id="tab-three" />
  <div class="tabs flex-tabs">
    <label for="tab-one" id="tab-one-label" class="tab">Add Structure</label>
    <label for="tab-two" id="tab-two-label" class="tab"><span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span>  Allowance</label>
    <label for="tab-three" id="tab-three-label" class="tab"><span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span>  No Of Leaves</label>
    <div id="tab-one-panel" class="panel active">
      <div class="btn-align">
        <form #salarypattern="ngForm">
          <div class="container">
            <div class="row">
              <div class="col-md-3" style="margin-left:-1.25em; margin-top: 0.625em">
                <p>SALARY STRUCTURE NAME :</p>
              </div>
              <div class="col-md-4" style="margin-left:4.0625em;">
                <input placeholder="Structure Name" pattern="^[^\d\W]+( [^\d\W]+)*$" type="text" class="form-control" name="structureName"
                  #structureName="ngModel" (keyup)=toster(structureName) ngModel required>
              </div>
              <div class="col-md-4">
                <span class="text-danger" *ngIf="msg">Name already exists!</span>
                <span class="text-danger" [hidden]="!structureName.errors.required" *ngIf="structureName.errors && (structureName.touched || structureName.dirty)">Salary
                  structure name required
                </span>
                <span class="text-danger" [hidden]="!structureName.errors.pattern" *ngIf="structureName.errors && (structureName.touched || structureName.dirty)">Salary
                  Structure Name accepts only alphabets</span>
              </div>
            </div>
            <div class="row">
              <div class='col-md-6'>
                <table class="table">
                  <tr>
                    <th>Allowance</th>
                    <th>Allowance percentage</th>
                  </tr>
                  <tr *ngFor="let aObj of allowancesLocalList">
                    <td>{{aObj.AlloanceName}}</td>
                    <td #table="ngModel" ngModel name="table">{{aObj.AllowancePercentage}}
                      <a class='fa fa-times' (click)=deleteAllowance(aObj.AlloanceName,aObj.AllowancePercentage)></a>
                    </td>
                  </tr>
                </table>
              </div>
              <div class='col-md-6'>
                <table class="table">
                  <tr>
                    <th>Deduction </th>
                    <th>Deduction percentage</th>
                  </tr>
                  <tr *ngFor="let dObj of deductionsLocalList">
                    <td>{{dObj.DeductionName}}</td>
                    <td>{{dObj.DeductionPercentage}}
                      <a class='fa fa-times' (click)=deleteDeduction(dObj.DeductionName,dObj.DeductionPercentage)></a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">Allowances</div>
              <div class="col-md-2">Enter the percentage</div>
              <div class="col-md-2" ></div>
              <div class="col-md-3">Deductions</div>
              <div class="col-md-2">Enter the percentage</div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <input type="text" readonly #allowanceName1 class="form-control" ngModel autocomplete="off" [(ngModel)]="Basic"
                  name="allowanceName1" maxlength="3" required #allowanceName1="ngModel">
              </div>
              <div class="col-md-2">
                <input type="number" min="35" max="60" class="form-control" ngModel autocomplete="off" name="aPercentage1"
                  maxlength="3" required #aPercentage1="ngModel" (blur)="calculateAll(aPercentage1)">
                <span class="text-danger" [hidden]="!aPercentage1.errors.required" *ngIf="aPercentage1.errors && (aPercentage1.touched || aPercentage1.dirty)">Percentage
                  required
                </span>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-3" style="margin-left:-4.6875em">
                <input type="text" readonly #deductionName1 class="form-control" ngModel autocomplete="off" [(ngModel)]="PF"
                  name="deductionName1" maxlength="3" required #deductionName1="ngModel">
              </div>
              <div class="col-md-2">
                <input type="text" readonly class="form-control" autocomplete="off" #dPercentage1="ngModel" ngModel
                  [(ngModel)]="PfValue" name="dPercentage1" maxlength="3" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <input type="text" readonly #allowanceName2 class="form-control" ngModel autocomplete="off" [(ngModel)]="HRA"
                  name="allowanceName2" maxlength="3" required #allowanceName2="ngModel">
              </div>
              <div class="col-md-2">
                <input type="number" readonly class="form-control" ngModel autocomplete="off" [(ngModel)]="HraValue"
                  name="aPercentage2" maxlength="3" required #aPercentage2="ngModel">
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-3" style="margin-left:-4.6875em">
                <input type="text" readonly #deductionName3 class="form-control" ngModel autocomplete="off" [(ngModel)]="ESI"
                  name="deductionName3" maxlength="3" required #deductionName3="ngModel">
              </div>
              <div class="col-md-2">
                <input type="number" readonly class="form-control" ngModel autocomplete="off" [(ngModel)]="EsiValue"
                  name="dPercentage3" maxlength="3" required #dPercentage3="ngModel">
              </div>
            </div>
            <div class="row" style="margin-left: 26.875em">
              <button  *ngIf="showAdd" class="btn btn-success" value="Add" (click)="setPrimaryAllowances(allowanceName1,aPercentage1,allowanceName2,aPercentage2,deductionName3,dPercentage3,deductionName1,dPercentage1)">
                Add
              </button>
              <button *ngIf="!showAdd" class="btn btn-success" value="Reset" (click)="reset()">Reset</button>
          </div>
            <hr />
            <div class="row">
              <div class="col-md-2">
                <select #allowanceName style="width:9.375em;" class="form-control">
                  <option value="0" selected>Select Allowance</option>
                  <option *ngFor="let aL of allowancesList">{{aL}}</option>
                </select>
                <span class="text-warning" *ngIf="allowanceName.value=='0' && (allowanceName.touched || allowanceName.dirty)">Please
                  Select Allowance Name</span>
                <span [hidden]="!allowanceName.errors.required" class="text-warning" *ngIf="allowanceName.errors && (allowanceName.touched || allowanceName.dirty)">
                  Allowance Name Required</span>
              </div>
              <div class="col-md-2">
                <input type="number" min="1" [max]="remain" class="form-control" ngModel autocomplete="off" name="aPercentage"
                  required #aPercentage="ngModel" [(ngModel)]="OValue">
                <span class="text-danger" [hidden]="aPercentage.errors.pattern" *ngIf="aPercentage.errors && (aPercentage.touched || aPercentage.dirty)">
                  percentage Required</span>
                <span class="text-danger" [hidden]="!aPercentage.errors.pattern" *ngIf="aPercentage.errors && (aPercentage.touched || aPercentage.dirty)">Allowances
                  should not exceed 100%</span>
              </div>
              <div class="col-md-2">
                <button class="btn btn-success" value="Add" [disabled]="remain>45" (click)="setAllowancePatternDetails(allowanceName,aPercentage)">Add</button>
              </div>
              <div class="col-md-2">
                <select #deductionName class="form-control" style="width:9.375em;">
                  <option value="" disabled selected>Select Deduction</option>
                  <option *ngFor="let dL of deductionsList">{{dL}}</option>
                </select>
              </div>
              <div class="col-md-2">
                <input type="number" class="form-control" min="1" [max]="remainv" autocomplete="off" #dPercentage="ngModel"
                 ngModel [(ngModel)]="OValue1" name="dPercentage" maxlength="3" required>
                <span class="text-danger" [hidden]="dPercentage.errors.pattern" *ngIf="dPercentage.errors && (dPercentage.touched || dPercentage.dirty)">
                  Percentage Required</span>
              </div>
              <div class="col-md-2">
                <button class="btn btn-success" value="Add" [disabled]="remain>45" (click)="setDeductionsPatternDetails(deductionName,dPercentage)">Add</button>
              </div>
            </div>
             <hr />
            <div class="row" style="margin-left:18.75em;">
                <div class="col-md-3">
                  <input type="text" readonly #allowanceName4 class="form-control" ngModel autocomplete="off" [(ngModel)]="Others"
                    name="allowanceName4" maxlength="3" required #allowanceName4="ngModel">
                </div>
                <div class="col-md-2">
                  <input type="number"  min="35" max="60" class="form-control" ngModel autocomplete="off" name="aPercentage4"
                    maxlength="3" required #aPercentage4="ngModel" [(ngModel)]="remain">
                </div>
                <div class="col-md-2">
                  <button class="btn btn-success" value="Add" [disabled]="remain>45" (click)="setAllowancePatternDetails(allowanceName4,aPercentage4)">Add</button>
                </div>
              </div>
            <div class="row" style="margin-left:18.75em;">
              <div class='col-md-6'>
                <table class="table">
                  <tr>
                    <th>leave types</th>
                    <th>No of days</th>
                  </tr>
                  <tr *ngFor="let lObj of leaveMasterLocalList">
                    <td>{{lObj.type}}</td>
                    <td #tables="ngModel" ngModel name="tables">{{lObj.numOfDays}}
                      <a class='fa fa-times' (click)=deleteLeaveType(lObj.type,lObj.numOfDays)></a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row" style="margin-left:18.75em;">
              <div class="col-md-3">leave types</div>
              <div class="col-md-3">No of days</div>
            </div>
            <div class="row" style="margin-left:18.75em;">
              <div class="col-md-3">
                <select #leaveType style="width:9.375em;" class="form-control">
                  <option>Select</option>
                  <option *ngFor="let tL of typesList">{{tL.type}}</option>
                </select>
              </div>
              <div class="col-md-2">
                <input type="text" name="numOfDays" ngModel autocomplete="off" pattern="^([0-9]{1,2}([\.][0-9]{1,})?$|100([\.][0]{1,})?)$"
                  class="form-control" maxlength="3" required #numOfDays="ngModel">
              </div>
              <div class="col-md-2">
                <button class="btn btn-success" value="Add" (click)="setLeavePatternDetails(leaveType,numOfDays)">Add</button>
              </div>
            </div>
            <div class='col-md-2' style="margin-left:26.25em;">
                <button type="submit" (click)="addSalaryPattern(structureName,salarypattern)" class="btn btn-primary">Submit</button>
              </div>
          </div>
        </form>
      </div>
    </div>
    <div id="tab-two-panel" class="panel">
      <div class="col-md-3">
        <select #patternname class="form-control" [(ngModel)]="patternId" (change)="getallowances()">
          <option value="0" disabled selected>Select Pattern</option>
          <option *ngFor="let dsp of patternList" value={{dsp.id}}>{{dsp.patternname}}</option>
        </select>
      </div>
      <div class="container">
        <button id="button-a" class="btn btn-success" (click)="getexcel()"> <span class="example-spacer"></span>Download</button>
        <mat-form-field>
          <input matInput class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Enter allowances Type">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="AllowanceType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Allowance Type</th>
            <td mat-cell *matCellDef="let row">{{row.allowancestype}}</td>
          </ng-container>
          <ng-container matColumnDef="Percentage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Percentage</th>
            <td mat-cell *matCellDef="let row">{{row.percentage}}</td>
          </ng-container>
          <ng-container matColumnDef="Excel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
                  aria-hidden="true"></i>
              </span></th>
            <td mat-cell *matCellDef="let row">
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef='displayedColumns'>
          </tr>
          <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
        </table>
        <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>
    <div id="tab-three-panel" class="panel">
      <div class="col-md-3">
        <select #patternname class="form-control" [(ngModel)]="patternId" (change)="getallowances()">
          <option value="0" disabled selected>Select Pattern</option>
          <option *ngFor="let dsp of patternList" value={{dsp.id}}>{{dsp.patternname}}</option>
        </select>
      </div>
      <div class="container">
        <mat-form-field>
          <input matInput class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Enter No. of Days">
        </mat-form-field>
        <table mat-table [dataSource]="typeSource" matSort>
          <ng-container matColumnDef="LeaveType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>LeaveType</th>
            <td mat-cell *matCellDef="let row">{{row.leavetype}}</td>
          </ng-container>
          <ng-container matColumnDef="No.of.Days">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>No.of.Days</th>
            <td mat-cell *matCellDef="let row">{{row.numofdays}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef='typeColumns'>
          </tr>
          <tr mat-row *matRowDef="let row;columns:typeColumns"></tr>
        </table>
        <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
