$color-white :  #fff;
$color-black : #0a0a0a;
$color-black2 : #1a1a1a;
$color-grey : #252727;
$trans : transparent;
$none : none;
$shadow: 0 0 0 0.2rem rgba(10, 16, 17, 0.5);

.btn-success {
  margin-top: -0.1875em;
}
.row {
  padding: 0.3125em;
}
table {
  width: 100%;
}
.btn-align {
  width: 100%;
  text-align: left;
}
.btn-outline-info {
  color: $color-black;
  background-color: $trans;
  background-image: $none;
  border-color: #131313;
  &:hover {
    color: $color-white;
    background-color: $color-black;
    border-color: #0c0c0c;
  }
  &.focus, &:focus {
    box-shadow: 0 0 0 0.2rem rgba(15, 20, 20, 0.5);
  }
  &.disabled, &:disabled {
    color: #3f3535;
    background-color: $trans;
  }
  &:not(:disabled):not(.disabled) {
    &.active, &:active {
      color: $color-white;
      background-color: $color-grey;
      border-color: $color-black2;
    }
  }
}
.show > .btn-outline-info.dropdown-toggle {
  color: $color-white;
  background-color: $color-grey;
  border-color: $color-black2;
}
.btn-outline-info:not(:disabled):not(.disabled) {
  &.active:focus, &:active:focus {
    box-shadow: $shadow;
  }
}
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: $shadow;
}
.jumbotron {
  padding: 1rem 1rem;
  margin-top: 79px
}
/* integrated on 30 nov */
@keyframes fake {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
body {
  animation: fake 1s infinite;
}
.worko-tabs {
  margin: 1.25em;
  width: 100%;
}
.state {
  position: absolute;
  left: -625em;
}
.flex-tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tab {
  flex-grow: 1;
  max-height: 2.5em;
}
.panel {
  background-color: $color-white;
  padding: 1.25em;
  min-height: 18.75em;
  display: $none;
  width: 100%;
  flex-basis: auto;
}
.tab {
  display: inline-block;
  padding: 0.625em;
  vertical-align: top;
  background-color: #eee;
  cursor: hand;
  cursor: pointer;
  border-left: 0.625em solid #ccc;
  &:hover {
    background-color: $color-white;
  }
}
#tab-one:checked ~ .tabs #tab-one-label, #tab-two:checked ~ .tabs #tab-two-label, #tab-three:checked ~ .tabs #tab-three-label, #tab-four:checked ~ .tabs #tab-four-label {
  background-color: $color-white;
  cursor: default;
  border-left-color: #69be28;
}
#tab-one:checked ~ .tabs #tab-one-panel, #tab-two:checked ~ .tabs #tab-two-panel, #tab-three:checked ~ .tabs #tab-three-panel, #tab-four:checked ~ .tabs #tab-four-panel {
  display: block;
}
@media (max-width: 37.5em) {
  .flex-tabs {
    flex-direction: column;
  }
  .tab {
    background: $color-white;
    border-bottom: 0.0625em solid #ccc;
  }
  tab:last-of-type {
    border-bottom: $none;
  }
  #tab-one-label {
    order: 1;
  }
  #tab-two-label {
    order: 3;
  }
  #tab-three-label {
    order: 5;
  }
  #tab-four-label {
    order: 7;
  }
  #tab-one-panel {
    order: 2;
  }
  #tab-two-panel {
    order: 4;
  }
  #tab-three-panel {
    order: 6;
  }
  #tab-four-panel {
    order: 8;
  }
}
#tab-one:checked ~ .tabs #tab-one-label, #tab-two:checked ~ .tabs #tab-two-label, #tab-three:checked ~ .tabs #tab-three-label, #tab-four:checked ~ .tabs #tab-four-label {
  border-bottom: $none;
}
#tab-one:checked ~ .tabs #tab-one-panel, #tab-two:checked ~ .tabs #tab-two-panel, #tab-three:checked ~ .tabs #tab-three-panel, #tab-four:checked ~ .tabs #tab-four-panel {
  border-bottom: 0.0625em solid #ccc;
}