<div class="container">
  <div class="jumbotron">
    <h2>Bus Driver Details</h2>
    
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bus">  Drivers</i>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" *ngIf="read==true && write==true || write==true"
            data-target="#responsive" (click)=getIds()><small class="fa fa-plus-circle">  Add Driver</small></a>
          <a class="dropdown-item" data-toggle="collapse" role="button" (click)=viewDriver()><small class="fa fa-th-list"> <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span>
              Driver</small></a>
        </div>
      </div>
    </div>
    <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
      <div class="modal-dialog" id="box">
        <div class="modal-content bigModel">
          <div class="modal-header">
            <h4>Driver</h4>
            <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
            </button>
          </div>
          <div class="modal-body">
            <form #busDriverForm="ngForm" novalidate>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="busId">Bus Number:</label>&nbsp;&nbsp;
                    <span class="text-warning"> * </span>
                    <button class="btn btn-warning" (click)="addStaffUser()">
                      Add Driver
                    </button>
                    <select class="form-control" name="busId" id="busId" [(ngModel)]="busDriver.busId" #busId="ngModel"
                      required>
                      <option value="0" disabled selected>Select Bus Number</option>
                      <option *ngFor="let busess of busDetails" value={{busess.id}}>{{busess.regnum}}</option>
                    </select>
                    <span class="text-warning" *ngIf="busId.value=='Select'">Please Select</span>
                    <span class="text-warning" [hidden]="!busId.errors.required" *ngIf="busId.errors && (busId.touched || busId.dirty)">Bus
                      Number
                      Required
                    </span>
                    <span class="text-warning" [hidden]="!busId.errors.value" *ngIf="busId.errors && (busId.touched || busId.dirty)">Please
                      Select
                    </span>
                  </div>
                  <div class="form-group">
                    <label for="driverId">Driver:</label>
                    <span class="text-warning"> * </span>
                    <select class="form-control" name="driverId" id="driverId" [(ngModel)]="busDriver.driverId"
                      #driverId="ngModel" required>
                      <option value="0" disabled selected>Select Driver</option>
                      <option *ngFor="let driver of driverDetails" value={{driver.userid}}>{{driver.firstname}}
                        {{driver.lastname}}</option>
                    </select>
                    <span class="text-warning" *ngIf="driverId.value=='Select'">Please Select</span>
                    <span class="text-warning" [hidden]="!driverId.errors.required" *ngIf="driverId.errors && (driverId.touched || driverId.dirty)">Driver
                      Required</span>
                  </div>
                  <div class="form-group">
                    <label for="allocationDate">Allocation Date:</label>
                    <span class="text-warning"> * </span>
                    <input class="form-control" readonly type="text" autocomplete="off" bsDatepicker [minDate]="minDate"
                      [maxDate]="maxDate" [bsConfig]="bsConfig" [bsConfig]=" {containerClass: 'theme-dark-blue' } "
                      name="date" id="date" placeholder="date" [(ngModel)]="busDriver.date" #date="ngModel" required>
                    <span class="text-warning" *ngIf="date.invalid && (date.touched || date.dirty)">
                      <span class="text-warning" *ngIf="date.value=='Invalid Date'">Only Selection is Allowed</span>
                      <span class="text-warning" [hidden]="!date.errors.required" *ngIf="date.errors && (date.touched || date.dirty)">Allocation
                        Date Required</span>
                    </span>
                  </div>
                  <div class="form-group" class="text-center" *ngIf="!busDriver.Id">
                    <input type="button" (click)="addDriver()" class="btn btn-primary" [disabled]="!busDriverForm.valid || busId.value==0 || driverId.value==0"
                      value="submit" data-dismiss="modal">
                  </div>
                  <div class="form-group" class="text-center" *ngIf="busDriver.Id">
                    <input type="button" class="btn btn-primary" value="Update" (click)="updateBusDriver()"
                      data-dismiss="modal">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="viewdriver">
      <div *ngIf="rolename=='BranchAdmin'">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Bus Number">
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="BusNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Bus Number</th>
          <td mat-cell *matCellDef="let row">{{row.regnum}}</td>
        </ng-container>
        <ng-container matColumnDef="DriverName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Driver Name</th>
          <td mat-cell *matCellDef="let row">{{row.firstname}} {{rowlastname}}</td>
        </ng-container>
        <ng-container matColumnDef="branch">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>branch Name</th>
          <td mat-cell *matCellDef="let row">{{row.branchname}}</td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span [hidden]="rolename!='BranchAdmin' ">Edit</span>
          </th>
          <td mat-cell *matCellDef="let row">
            <div [hidden]="rolename!='BranchAdmin' " id="Edit" data-toggle="modal" data-target="#responsive" (click)="editDriver(row.id)"
              (click)=getIds()><i class="fa fa-pencil-square-o"></i></div>
          </td>
        </ng-container>
        <ng-container matColumnDef="Excel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
                aria-hidden="true"></i>
            </span></th>
          <td mat-cell *matCellDef="let row">
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
      <div *ngIf="rolename=='Driver'">
        <div>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Bus Number">
          </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource1" matSort>
          <ng-container matColumnDef="DriverName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Driver Name</th>
            <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.astname}}</td>
          </ng-container>
          <ng-container matColumnDef="BusNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Bus Number</th>
            <td mat-cell *matCellDef="let row">{{row.regnum}}</td>
          </ng-container>
          <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
            <td mat-cell *matCellDef="let row">{{row.address}}</td>
          </ng-container>
          <ng-container matColumnDef="Mobile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
            <td mat-cell *matCellDef="let row">{{row.mobile}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef='displayedColumns1'>
          </tr>
          <tr mat-row *matRowDef="let row;columns:displayedColumns1"></tr>
        </table>
        <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>