<div class="container">

  <div class="jumbotron">
    <h2>Transport Fee</h2>
    <hr />
 
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bus">Transport
            Fee</i></button>
        <div class="dropdown-menu">
        
          <a class="dropdown-item" data-toggle="collapse" role="button" *ngIf="read==true && write==true || write==true"
            (click)=transportFee()><small class="fa fa-th-list"> <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span> Transport Fee</small> </a>
        </div>
      </div>
    </div>
  </div>



  <div>
    <form #addtransportfeeForm="ngForm" novalidate>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="ri">Route</label>
            <span class="text-danger"> * </span>
            <select name="routeId" [(ngModel)]="stopFee.routeId" (change)="getStops()" class="form-control" id="ri"
              required #routeId="ngModel">
              <option value="0" disabled selected>Select Route</option>
              <option *ngFor="let trd of transportRouteDetails" value="{{trd.id}}">{{trd.name}}</option>
            </select>
            <span class="text-danger" *ngIf="routeId.value=='Select'">*Please Select</span>
            <span class="text-danger" [hidden]="!routeId.errors.required" *ngIf="routeId.errors && (routeId.touched || routeId.dirty)">*Route
              Required..</span>
            <span class="text-danger" [hidden]="!routeId.errors.value" *ngIf="routeId.errors && (routeId.touched || routeId.dirty)">*Please
              Select</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="ri">Stop</label>
            <span class="text-danger"> * </span>
            <select name="stopId" [(ngModel)]="stopFee.stopId" class="form-control" id="ri" required #stopId="ngModel">
              <option value="0" disabled selected>Select Stop</option>
              <option *ngFor="let sl of stopsList" value="{{sl.id}}">{{sl.stopname}}</option>
            </select>
            <span class="text-danger" [hidden]="!stopId.errors.required" *ngIf="stopId.value=='0' && (stopId.touched || stopId.dirty)">Please
              Select Stop</span>
            <span class="text-danger" [hidden]="!stopId.errors.required" *ngIf="stopId.errors && (stopId.touched || stopId.dirty)">*Stop
              Required..</span>
            <span class="text-danger" [hidden]="!stopId.errors.value" *ngIf="stopId.errors && (stopId.touched || stopId.dirty)">*Please
              Select</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="chrg">Transport Charge</label>
            <span class="text-danger"> * </span>
            <input type="text" pattern="[0-9][0-9.,]{0,12}" placeholder="Transport Charge" maxlength="12" required
              #chrg="ngModel" name="amount" [(ngModel)]="stopFee.amount" class="form-control" id="chrg" min="0">
            <span class="text-danger" *ngIf="chrg.invalid && (chrg.touched || chrg.dirty)">
              <span class="text-danger" [hidden]="!chrg.errors.required" *ngIf="chrg.errors && (chrg.touched || chrg.dirty)">Amount
                Required..</span>
              <span class="text-danger" [hidden]="!chrg.errors.pattern" *ngIf="chrg.errors && (chrg.touched || chrg.dirty)">please
                enter only numbers
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="text-center" *ngIf="!stopFee.Id" class="form-group">
        <input type="button" (click)="addTransportFee()" value="Submit" data-dismiss="modal" [disabled]="!addtransportfeeForm.valid || routeId.value==0 || stopId.value==0"
          class="btn btn-primary">
      </div>
      <div *ngIf="stopFee.Id" class="text-center" >
        <input type="button" class="btn btn-primary" (click)="updateTransportFee()" data-dismiss="modal" value="Update">
      </div>
    </form>
  </div>
  <div *ngIf="transportfee">
    <div class="container">
      <div *ngIf="rolename=='SchoolAdmin'">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Branch Name">
        </mat-form-field>
      </div>
      <div *ngIf="rolename=='BranchAdmin'">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Route Name">
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="routename">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Route</th>
          <td mat-cell *matCellDef="let row">{{row.routename}}</td>
        </ng-container>
        <ng-container matColumnDef="stopname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Stop</th>
          <td mat-cell *matCellDef="let row">{{row.stopname}}</td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Charge</th>
          <td mat-cell *matCellDef="let row">{{row.amount}}</td>
        </ng-container>
        <ng-container matColumnDef="branch">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
          <td mat-cell *matCellDef="let row">{{row.branchname}}</td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span [hidden]="rolename!='Accountant' ">Edit</span>
          </th>
          <td mat-cell *matCellDef="let row">
            <div [hidden]="rolename!='Accountant' " id="Edit" (click)="editTransportFee(row.id)"><i class="fa fa-pencil-square-o"></i></div>
          </td>
        </ng-container>
        <ng-container matColumnDef="Excel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
                aria-hidden="true"></i>
            </span></th>
          <td mat-cell *matCellDef="let row">
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>

</div>