<div class="container">
  <div class="jumbotron">
    <h2>Fee Master Details</h2>
    <hr />
   
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-money"></i> Fee Master Type
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)="getIds()">
            <i class="fa fa-plus-circle"></i> Add Fee</a>
          <a class="dropdown-item" href="#viewfee" data-toggle="collapse" role="button">
            <i class="fa fa-th-list"></i> View Fee</a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Fee</h4>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #feemasterform="ngForm">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="name">Fee Name:</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" name="feeName" (change)="getFeePatternById(feeName)" [(ngModel)]="feemaster.feeName"
                    id="feeName" placeholder="name" #feeName="ngModel" required>
                    <option value="0" selected>Select Fee Name</option>
                    <option *ngFor="let cl of feestructurepatternList" value="{{cl.id}}">{{cl.feepattern}}</option>
                  </select>
                  <span class="text-warning" [hidden]="!feeName.errors.required" *ngIf="feeName.value=='0'  && (feeName.touched || feeName.dirty)">Please
                    Select Fee Name</span>
                  <span class="text-warning" [hidden]="!feeName.errors.required" *ngIf="feeName.errors && (feeName.touched || feeName.dirty)">Fee
                    Required</span>
                  <span class="text-warning" [hidden]="!feeName.errors.value" *ngIf="feeName.errors && (feeName.touched || feeName.dirty)">Please
                    Select</span>
                </div>
                <div class="form-group">
                  <label for="id">Branch:</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" style="width:100%; height:2.625em" for="id" placeholder="type" name="branchId"
                    [(ngModel)]="feemaster.branchId" #branchId="ngModel" required>
                    <option value="0" selected>Select Branch</option>
                    <option *ngFor="let bid of branchList" value="{{bid.branchid}}">{{bid.branchname}}</option>
                  </select>
                  <span class="text-warning" [hidden]="!branchId.errors.required" *ngIf="branchId.value=='0'  && (branchId.touched || branchId.dirty)">Please
                    Select Branch</span>
                  <span class="text-warning" [hidden]="!branchId.errors.required" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Branch
                    Required</span>
                  <span class="text-warning" [hidden]="!branchId.errors.value" *ngIf="branchId.errors && (branchId.touched || branchId.dirty)">Please
                    Select</span>
                </div>
                <div class="form-group">
                  <label for="schclsid">Branch Session:</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" style="width:100%; height:2.625em" placeholder="type " id="schclsid"
                    name="branchClassId" [(ngModel)]="feemaster.branchSessionId" #schclsid="ngModel" required>
                    <option value="0" selected>Select Branch Session</option>
                    <option *ngFor="let cl of classList" value="{{cl.id}}">{{cl.sessionname}}</option>
                  </select>
                  <span class="text-warning" [hidden]="!schclsid.errors.required" *ngIf="schclsid.value=='0'  && (schclsid.touched || schclsid.dirty)">Please
                    Select Branch Session</span>
                  <span class="text-warning" [hidden]="!schclsid.errors.required" *ngIf="schclsid.errors && (schclsid.touched || schclsid.dirty)">Session
                    Required</span>
                  <span class="text-warning" [hidden]="!schclsid.errors.value" *ngIf="schclsid.errors && (schclsid.touched || schclsid.dirty)">Please
                    Select</span>
                </div>
                <div class="form-group">
                  <label for="std">Fee Amount:</label>
                  <span class="text-warning"> * </span>
                  <input #amount disabled class="form-control" id="amount" name="amount" type="text" *ngFor="let cl of feestructurepatternList1"
                    value="{{cl.amount}}">
                </div>
                <div *ngIf="!feemaster.Id" class="text-center">
                  <input type="button" [disabled]="!feemasterform.valid||branchId.value==0||schclsid.value==0" class="btn btn-primary"
                    value="Submit" data-dismiss="modal" (click)=addFees()>
                </div>
                <div *ngIf="read==true && write==true || write==true">
                </div>
                <div *ngIf="feemaster.Id" class="text-center">
                  <input type="button" class="btn btn-primary" value="Update Fee" data-dismiss="modal" (click)=updateFees(amount)>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div id="viewfee" class="collapse">
      <div *ngIf="rolename=='SchoolAdmin'">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Branch Name">
        </mat-form-field>
      </div>
      <div *ngIf="rolename=='BranchAdmin'">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Class Name">
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="FeeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fee</th>
          <td mat-cell *matCellDef="let row">{{row.feename}}</td>
        </ng-container>
        <ng-container matColumnDef="BranchName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Branch</th>
          <td mat-cell *matCellDef="let row">{{row.place}}</td>
        </ng-container>
        <ng-container matColumnDef="Classname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Session</th>
          <td mat-cell *matCellDef="let row">{{row.sessionname}}</td>
        </ng-container>
        <ng-container matColumnDef="FeeAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fee Amount</th>
          <td mat-cell *matCellDef="let row">{{row.feeamount}}</td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="rolename!='Accountant' ">Edit </th>
          <td mat-cell *matCellDef="let row">
            <div [hidden]="rolename!='Accountant' " id="Edit" data-toggle="modal" data-target="#responsive" (click)=editFees(row.id)><i
                class="fa fa-pencil-square-o"></i></div>
          </td>
        </ng-container>
        <ng-container matColumnDef="Excel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
                aria-hidden="true"></i>
            </span></th>
          <td mat-cell *matCellDef="let row">
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
</div>