$color-white :  #fff;
$color-black : #0a0a0a;
$color-black2 : #1a1a1a;
$color-grey : #252727;
$trans : transparent;
$none : none;
$shadow: 0 0 0 0.2rem rgba(10, 16, 17, 0.5);


label {
  color: black;
}
.btn-align {
  width: 100%;
  text-align: right;
}
.btn-outline-info {
  color: $color-black;
  background-color: $trans;
  background-image: $none;
  border-color: #131313;
  text-transform: uppercase;
  &:hover {
    color: $color-white;
    background-color: $color-black;
    border-color: #0c0c0c;
  }
  &.focus, &:focus {
    box-shadow: 0 0 0 0.2rem rgba(15, 20, 20, 0.5);
  }
  &.disabled, &:disabled {
    color: #3f3535;
    background-color: $trans;
  }
  &:not(:disabled):not(.disabled) {
    &.active, &:active {
      color: $color-white;
      background-color: $color-grey;
      border-color: $color-black2;
    }
  }
}
.show > .btn-outline-info.dropdown-toggle {
  color: $color-white;
  background-color: $color-grey;
  border-color: $color-black2;
}
.btn-outline-info:not(:disabled):not(.disabled) {
  &.active:focus, &:active:focus {
    box-shadow:$shadow;
  }
}
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow:$shadow;
}
.jumbotron {
  padding: 1rem 1rem;
  margin-top: 79px

}