

<div class="container">
  <div class="jumbotron">
    <h2>Allocate Project</h2>
  
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-graduation-cap"></i>  Allocate-Project
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" href="#prjallo">
            <i class="fa fa-plus-circle"></i>  Student Project Allocation</a>
          <a class="dropdown-item"  data-toggle="collapse" role="button" (click)=viewProjectAllocation()>
            <i class="fa fa-th-list"></i> <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span> projectallocation</a>
        </div>
      </div>
    </div>
  </div>
  <div id="prjallo" class="collapse">
    <form #frm="ngForm" (submit)="addBulkMembers()">
      <div class="form-group">
        <label>Select</label> &nbsp;
        <input type="radio" value="Batch" name="select" (change)="showBatch()" [(ngModel)]="showFilter">Batch
        <input type="radio" value="Team" name="select" (change)="showBatch()" [(ngModel)]="showFilter">Team
      </div>
      <div class="row">
        <div class="form-group col-lg-6" *ngIf="showFilter=='Batch'">
          <label>Batch Name:</label>
          <span class="text-danger"> * </span>
          <select required name="batchId" id="id" class="form-control" style="width:50%; height:2.625em" [(ngModel)]="alproj.batchId"
            #ddlBatchId (change)="getStudentByBatch(ddlBatchId)">
            <option value="0" disabled selected>Select Batch Name</option>
            <option *ngFor="let bat of selectList" value="{{bat.id}}">{{bat.batchname}}</option>
          </select>
        </div>
        <div class="form-group col-lg-6" *ngIf="showFilter=='Team'">
          <label>Team Name:</label>
          <span class="text-danger"> * </span>
          <select required name="batchId" id="id" class="form-control" style="width:50%; height:2.625em" [(ngModel)]="alproj.batchId"
            #ddlBatchId (change)="getTeamMembersByteam(ddlBatchId)">
            <option value="0" disabled selected>Select Team Name</option>
            <option *ngFor="let bat of selectList" value="{{bat.teamid}}">{{bat.teamname}}</option>
          </select>
        </div>
        <div class="form-group col-lg-6">
          <label>Project Name:</label>
          <span class="text-danger"> * </span>
          <select required name="batchId" id="id" class="form-control" style="width:50%; height:2.625em" [(ngModel)]="alproj.projectId">
            <option value="0" disabled selected>Select Project Name</option>
            <option *ngFor="let bat of prjList" value="{{bat.id}}">{{bat.projectname}}</option>
          </select>
        </div>
      </div>
      <div class="text-center">
        <input type="Submit" value="Submit" class="btn btn-primary">
      </div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Trainee Name">
      </mat-form-field>
      <table mat-table [dataSource]="listSource" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
          <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}} </td>
        </ng-container>
        <ng-container matColumnDef="modify">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>modify</th>
          <td mat-cell *matCellDef="let row">
            <div>
              <input type="checkbox" name="checkbox" [(ngModel)]="row.checkboxStatus">
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="Excel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
                aria-hidden="true"></i>
            </span></th>
          <td mat-cell *matCellDef="let row">
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='listColumns'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:listColumns"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
      <div class="container">
        <div *ngIf="viewprojectallocation">
          <button id="button-a" class="btn btn-success" (click)="getexcel()"> <span class="example-spacer"></span>Download</button>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Project">
          </mat-form-field>
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="StudentName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Trainee</th>
              <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
            </ng-container>
            <ng-container matColumnDef="ProjectName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Project</th>
              <td mat-cell *matCellDef="let row">{{row.projectname}}</td>
            </ng-container>
            <ng-container matColumnDef="ProjectType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Type</th>
              <td mat-cell *matCellDef="let row">{{row.type}}</td>
            </ng-container>
            <ng-container matColumnDef="AssignedDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Assigned Date</th>
              <td mat-cell *matCellDef="let row">{{row.assigneddate|date}}<td>
            </ng-container>
            <ng-container matColumnDef="SubmissionDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Submission Date</th>
              <td mat-cell *matCellDef="let row">{{row.submissiondate|date}}</td>
            </ng-container>
            <ng-container matColumnDef="TeamSize">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Team Size</th>
              <td mat-cell *matCellDef="let row">{{row.teamsize}}</td>
            </ng-container>
            <ng-container matColumnDef="ProjectFee">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Fee</th>
              <td mat-cell *matCellDef="let row">{{row.fee}}</td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef='displayedColumns'>
            </tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
          </table>
          <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
      </div>
    </form>
  </div>
</div>
