<div class="container">
  <div class="jumbotron">
    <h2>Trainer Subject </h2>
    <hr />
  </div>
  <div>
    <form *ngIf="read==true && write==true || write==true" #frm="ngForm">
      <div class="form-group">
        <label>Staff Name</label>
        <span class="text-danger"> * </span>
        <br />
        <br />
        <mat-select name="staffId" required id="staffId" class="form-control" [(ngModel)]="TrainerAddObj.staffId" #staffId="ngModel"
          id="info">
          <mat-option value="0" disabled selected>Select Staff Name</mat-option>
          <mat-option *ngFor="let st of staff" value={{st.staffid}}>{{st.firstname}}</mat-option>
          <mat-option *ngFor="let sl of ClassTeacher" value={{sl.id}}>{{sl.firstname}}</mat-option>
        </mat-select>
        <span class="text-danger" *ngIf="staffId.value=='Select'">*Please Select</span>
        <span class="text-danger" *ngIf="staffId.errors && (staffId.touched || staffId.dirty)" [hidden]="!staffId.errors.required">Staff
          Name Required</span>
      </div>
      <div *ngFor='let sub of Subj'>
        <div><input type="checkbox" #checkbox="ngModel" name="checkbox" [(ngModel)]="sub.status">{{sub.name}}</div>
      </div>
      <div class="form-group" *ngIf="!TrainerAddObj.Id">
        <input type="button" [disabled]="!frm.valid||staffId.value==0" class="btn btn-primary" (click)="addTrainerSubject()"
          value="Submit">
      </div>
      <div class="form-group" class="text-center" *ngIf="TrainerAddObj.Id">
        <input type="button" class="btn btn-primary" (click)="updateFacultySubject()" value="Update">
      </div>
    </form>
  </div>
  <div class="container">
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Subject Name">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="SubjectName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>
        <ng-container matColumnDef="StaffName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Staff Name</th>
          <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
        </ng-container>
        <ng-container matColumnDef="experience">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Experience</th>
          <td mat-cell *matCellDef="let row">{{row.experience}}</td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="rolename!='BranchAdmin' ">Edit
          </th>
          <td mat-cell *matCellDef="let row">
            <div [hidden]="rolename!='BranchAdmin' " id="Edit" data-toggle="modal" data-target="#responsive" (click)=editFacultySubject(row.id)><i
                class="fa fa-pencil-square-o"></i></div>
          </td>
        </ng-container>
 <ng-container matColumnDef="Excel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
    </span></th>
    <td mat-cell *matCellDef="let row">
    </td>
  </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
  <br />
