<br>
<br>
<br>
<br>

<div class="text-center" >
  Select Month:    <p-calendar #month name= "date1" [(ngModel)]="date1" view="month" dateFormat="mm-yy" [yearNavigator]="true"
  yearRange="2000:2030" [readonlyInput]="true" (onSelect)="getAllUsersByBranch()"></p-calendar>
</div>

<div class="container">
  <div id="accordion" class="accordion" *ngFor="let ltlg of latelogin">
    <div class="card mb-0">
      <div class="card-header collapsed" data-toggle="collapse" attr.href="{{'#collapseOne'+ltlg.id}}">
        <a class="card-title" (click)="viewLateLoginsofUser(ltlg.id,month.value)">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Name: {{ltlg.firstname}} {{ltlg.lastname}}</th>
                <th scope="col"></th>
                <th scope="col">Role Name: {{ltlg.rolename}}</th>
              </tr>
            </thead>
          </table>
        </a>
      </div>
      <div id="{{'collapseOne'+ltlg.id}}" class="card-body collapse" data-parent="#accordion">
        <br>
        <table class="table  table-striped">
          <thead>
            <tr>
              <th scope="col"> Attendancedate</th>
              <th scope="col">Status</th>
              <th scope="col">In Time</th>
              <th scope="col">Out Time</th>
              <th scope="col">Approval</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list1 of attendanceList">
              <td>{{list1.attendancedate|date}}</td>
              <td>{{list1.approvedstatus}}</td>
              <td>{{list1.intime}}</td>
              <td>{{list1.outtime}}</td>
              <td><button class='btn btn-success' *ngIf="list1.approvalstatus=='Pending'" (click)="editLateLoginStatus(list1.usrcode,list1.attendancedate,'Accepted')" value='Accept'>?</button><button class='btn btn-danger' *ngIf="list1.approvalstatus=='Pending'" (click)="editLateLoginStatus(list1.usrcode,list1.attendancedate,'Rejected')" value='Rejected'>X</button><label *ngIf="list1.approvalstatus!='Pending'">{{list1.approvalstatus}}</label></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>