.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1.125em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 0.9375em;
    transition: 0.4s;
  }
  .active {
    background-color: #ccc;
  }
  .accordion {
    &:hover {
      background-color: #ccc;
    }
    &:after {
      content: '\002B';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 0.3125em;
    }
  }
  .active:after {
    content: "\2212";
  }
  .panel {
    padding: 0 1.125em;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }