<div class="container text-center" >
  <form #changePasswordForm="ngForm"  *ngIf="read==true && write==true || write==true">
    <div class="row">
      <div>
        <br/>
        <h3>Change Password</h3>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <input #oldpassword="ngModel" required ngModel name="oldpassword" class="form-control" type="password"
          placeholder="Current Password">
      </div>
      <div class="form-group col-md-4">
        <span [hidden]="!oldpassword.errors.required" class="text-danger" *ngIf="oldpassword.errors && (oldpassword.touched || oldpassword.dirty)">Current
          Password is must</span>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="form-group col-md-4">
        <input #newpassword="ngModel" pPassword style="letter-spacing: 0.1875em;font-weight: 400;padding-left: 0.9375em;" ngModel class="form-control" name="newpassword" required type="password"
          minlength="6" maxlength="14" placeholder="New Password">
      </div>
      <div class="form-group col-md-4">
        <span [hidden]="!newpassword.errors.required" class="text-danger" *ngIf="newpassword.errors && (newpassword.touched || newpassword.dirty)">New
          Password Required</span>
        <span [hidden]="!newpassword.errors.minlength" class="text-danger" *ngIf="newpassword.errors && (newpassword.touched || newpassword.dirty)">New
          Password should be min 6 char</span>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="form-group col-md-4">
        <input class="form-control" minlength="6" #changed="ngModel" ngModel name="classname" required type="password"
          placeholder="Confirm Password">
      </div>
      <div class="form-group col-md-4">
        <span class="text-danger" *ngIf="changed.value!=newpassword.value && changed.value.length > 5">confirm password
          does not match</span>
        <span class="text-danger" [hidden]="!changed.errors.minlength" *ngIf="changed.errors && (changed.touched || changed.dirty)">confirm
          password should be min 6 char</span>
        <span class="text-danger" [hidden]="!changed.errors.required" *ngIf="changed.errors && (changed.touched || changed.dirty)">confirm
          password required</span>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="form-group col-md-4">
        <button (click)="changePassword(oldpassword,newpassword)" [disabled]="!changePasswordForm.valid || changed.value!=newpassword.value"
          class="btn icon-btn-save btn-success" type="submit">
          save</button>
      </div>
    </div>
  </form>
</div>
