<div class="container">
  <div class="jumbotron">
    <h2>Trainee Batch</h2>
    <hr/>
  </div>
  <br>
  <form #studentsBatchList2="ngForm"  *ngIf="read==true && write==true || write==true" (submit)="addBulkTrainees(batchId2)">
    <div class="row">
      <div class="col-md-4">
        <label>From Batch</label>
        <span class="text-danger"> * </span>
        <select class="form-control" required style="width:100%; height:2.625em" (change)="getList()" name='batchId'
          #batchId="ngModel" [(ngModel)]="traineeBatchMaster.batchId">
          <option value="Select"  selected> Select From Batch</option>
          <option value=0>non allocated Trainees</option>
          <option *ngFor='let b of batchList' value="{{b.id}}">{{b.batchname}}</option>
        </select>
        <span class="text-warning" [hidden]="batchId.errors.required" *ngIf="batchId.value=='Select' && (batchId.touched || batchId.dirty)">Please
          Select Batch</span>
      </div>
      <div class="col-md-4">
        <label>To Batch</label>
        <span class="text-danger"> * </span>
        <select class="form-control" required style="width:100%; height:2.625em" name='batchId2' #batchId2="ngModel"
          [(ngModel)]="traineeBatchMaster.batchId">
          <option value="0" disabled selected>Select To Batch</option>
          <option *ngFor='let b of batchList' value="{{b.id}}">{{b.batchname}}</option>
        </select>
      </div>
      <div class="form-group col-md-4" style="margin-top: -0.5em">
        <label for="Number">Start Date</label>
        <span class="text-danger"> * </span>
        <input type="text" readonly autocomplete="off" required [bsConfig]="bsConfig" [bsConfig]=" {containerClass: 'theme-dark-blue' }"
          bsDatepicker [minDate]="minDate" [maxDate]="maxDate" name='startDate' #startDate="ngModel" class="form-control"
          id="startdate" placeholder="Enter StartDate" [(ngModel)]="traineeBatchMaster.startDate">
        <span class="text-danger" *ngIf="startDate.value=='Invalid Date'">Only Selection is Allowed</span>
      </div>
    </div>
    <div class="text-center">
      <input type="Submit" value="Transfer" [disabled]="!studentsBatchList2.valid||batchId.value==0||batchId2.value==0" class="btn btn-primary">
    </div>
  </form>
<div>
  <div *ngIf="rolename=='SchoolAdmin'">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Batch Name">
    </mat-form-field>
  </div>
  <div *ngIf="rolename=='BranchAdmin'">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Trainee Name">
    </mat-form-field>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="BatchName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Batch Name</th>
      <td mat-cell *matCellDef="let row">{{row.batchname}}</td>
    </ng-container>
    <ng-container matColumnDef="StudentName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Trainee Name</th>
      <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}} </td>
    </ng-container>
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>status</th>
      <td mat-cell *matCellDef="let row">{{row.stdbatchstatus}}</td>
    </ng-container>
    <ng-container matColumnDef="StartDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
      <td mat-cell *matCellDef="let row">{{row.startdate |date}} </td>
    </ng-container>
    <ng-container matColumnDef="Modify">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="rolename!='BranchAdmin'">modify</th>
      <td mat-cell *matCellDef="let row">
        <div [hidden]="rolename!='BranchAdmin'">
          <input type="checkbox" name="checkbox" [(ngModel)]="row.checkboxStatus">
        </div>
      </td>
    </ng-container>
 <ng-container matColumnDef="Excel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
    </span></th>
    <td mat-cell *matCellDef="let row">
    </td>
  </ng-container>
    <tr mat-header-row *matHeaderRowDef='displayedColumns'>
    </tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
  </table>
  <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
<br>
<br>
<div class="card-columns" *ngIf="rolename=='Student' ">
  <div *ngFor="let bl of studentBatchGetList" class="card-columns" style="text-align: center">
    <div class="card" style="width:18.75em; height:21.875em">
      <div class="card-body">
        <h4 class="card-title">Name: {{bl.firstname}} {{bl.middlename}} {{bl.lastname}}</h4>
        <img class="card-img-top" src="{{myurl+'/Misc/Images/'+bl.batchid}}" alt="No Image" style="width:12.5em; height:12.5em">
      </div>
    </div>
  </div>
</div>