<div class="container">
  <div *ngIf="userSession!=''">
    <div class="jumbotron btn-align">
      <div *ngIf="!res">
        
        <div class="dropdown">
          <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-phone-square">  Contact Detail</i>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" role="button" data-toggle="modal" (click)="newcontact()"> <i class="fa fa-plus-circle">  Add Contact</i></a>
          </div>
        </div>
      </div>
    </div>
    <form #editContactDetails="ngForm" *ngIf="show">
      <div class="row" id="contactone">
        <div class="form-group col-md-3">
          <label for="country">Country:</label>
          <span class="text-danger"> * </span>
          <select class="form-control" required #country="ngModel" (change)="getStates(country.value)" [(ngModel)]="contactDetail.country"
            name="country">
            <option value="0" disabled selected>Select Country</option>
            <option *ngFor="let ucl of usercountryList" value="{{ucl.id}}">{{ucl.name}} </option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="state">State:</label>
          <span class="text-danger"> * </span>
          <select class="form-control" required #state="ngModel" (change)="getCities(state.value)" [(ngModel)]="contactDetail.state"
            name="state">
            <option value="0"  selected>Select State</option>
            <option *ngFor="let usl of userstateList" value="{{usl.id}}">{{usl.name}} </option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="city">City:</label>
          <span class="text-danger"> * </span>
          <select class="form-control" required #city="ngModel" [(ngModel)]="contactDetail.city" name="city">
            <option value="0"  selected>Select City</option>
            <option *ngFor="let ucl of usercitiesList" value="{{ucl.id}}">{{ucl.name}} </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="plc">Place:</label>
          <span class="text-danger"> * </span>
          <textarea autocomplete="off" #place="ngModel" required class="form-control" rows="3" [(ngModel)]="contactDetail.place"
            name="place"></textarea>
          <span class="text-danger" [hidden]="!place.errors.required" *ngIf="place.errors && (place.touched || place.dirty)">Location
            Required
          </span>
        </div>
        <div class="form-group col-md-6">
          <label for="ads">Address:</label>
          <span class="text-danger"> * </span>
          <textarea autocomplete="off" pattern="^[#.0-9a-zA-Z,-/:][#.0-9a-zA-Z,-/: ]+$" maxlength="100" #address="ngModel"
            placeholder="address" required style="resize:none" class="form-control" rows="5" [(ngModel)]="contactDetail.address"
            name="address"></textarea>
          <span class="text-danger" [hidden]="!address.errors.required" *ngIf="address.errors && (address.touched || address.dirty)">Address
            Required..
          </span>
          <span class="text-danger" [hidden]="!address.errors.pattern" *ngIf="address.errors && (address.touched || address.dirty)">Initial
            values Should not contain space and special characters</span>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="uniqueIdentificationNo">Unique identification number:</label>
          <span class="text-danger"> * </span>
          <input type="text" readonly autocomplete="off" required minlength="6" maxlength="16" pattern="[A-Za-z0-9]{6,16}"
            #uniqueIdentificationNo="ngModel" class="form-control" [(ngModel)]="contactDetail.uniqueIdentificationNo"
            name="uniqueIdentificationNo">
          <span class="text-danger" [hidden]="!uniqueIdentificationNo.errors.pattern" *ngIf="uniqueIdentificationNo.errors && (uniqueIdentificationNo.touched || uniqueIdentificationNo.dirty)">
            Enter a valid Unique Identification number</span>
          <span class="text-danger" [hidden]="!uniqueIdentificationNo.errors.required" *ngIf="uniqueIdentificationNo.errors && (uniqueIdentificationNo.touched || uniqueIdentificationNo.dirty)">UniqueIdentificationNo
            Required..
          </span>
        </div>
        <div class="form-group col-md-3">
          <label for="email">Email:</label>
          <span class="text-danger"> * </span>
          <input type="email" readonly required maxlength="40" pattern="[a-zA-Z0-9._%+-]+@[a-z]+\.[a-zA-Z]{2,3}$"
            #email="ngModel" placeholder="Email" class="form-control" [(ngModel)]="contactDetail.email" name="email">
          <span class="text-danger" [hidden]="!email.errors.required" *ngIf="email.errors && (email.touched || email.dirty)">Email
            Required..
          </span>
          <span class="text-danger" [hidden]="!email.errors.pattern" *ngIf="email.errors && (email.touched || email.dirty)">
            Enter a valid Email</span>
        </div>
        <div class="form-group col-md-3">
          <label for="mobile">Mobile Number:</label>
          <span class="text-danger"> * </span>
          <input type="tel" readonly autocomplete="off" minlength="10" maxlength="10" pattern="((?:6|7|8|9)[0-9])+(?:-?\d){8,15}"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57" required class="form-control" #mobile="ngModel"
            [(ngModel)]="contactDetail.mobile" name="mobile">
          <span class="text-danger" [hidden]="!mobile.errors.required" *ngIf="mobile.errors && (mobile.touched || mobile.dirty)">Mobile
            Required
          </span>
          <span class="text-danger" [hidden]="!mobile.errors.pattern" *ngIf="mobile.errors && (mobile.touched || mobile.dirty)">
            Enter a valid Mobile number with min 10 digits</span>
        </div>
      </div>
      <div class="row" *ngIf="userProfile.contactid || !res">
        <div class="col-md-9 text-center">
          <button type="submit" class="btn btn-warning" (click)="updateContactDetails()">Update</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 text-center" *ngIf="!userProfile.contactid || res">
          <button type="submit" class="btn btn-primary" [disabled]="!addcontactdetails.valid ||city.value==0 ||state.value==0||country.value==0"
            (click)="moreConatcts()">Submit</button>
        </div>
      </div>
    </form>
  </div>


<!-- contact two -->
<div *ngIf="Show">
  <form #editContactDetails="ngForm" style="background-color: aqua;">
    <div class="row" id="contacttwo">
      <div class="form-group col-md-3">
        <label for="country">Country:</label>
        <span class="text-danger"> * </span>
        <select class="form-control" required #country="ngModel" (change)="getStates(country.value)" [(ngModel)]="contactDetail.country"
          name="country">
          <option value="0" disabled selected>Select Country</option>
          <option *ngFor="let ucl of usercountryList" value="{{ucl.id}}"></option>
        </select>
        <span class="text-danger" *ngIf="country.value=='0' && (country.touched || country.dirty)">Please Select</span>
        <span class="text-danger" [hidden]="!country.errors.required" *ngIf="country.errors && (country.touched || country.dirty)">Country
          Required
        </span>
      </div>
      <div class="form-group col-md-3">
        <label for="state">State:</label>
        <span class="text-danger"> * </span>
        <select class="form-control" required #state="ngModel" (change)="getCities(state.value)" [(ngModel)]="contactDetail.state"
          name="state">
          <option value="0"  selected>Select State</option>
          <option *ngFor="let usl of userstateList" value="{{usl.id}}"></option>
        </select>
        <span class="text-danger" *ngIf="state.value=='0' && (state.touched || state.dirty)">Please Select</span>
        <span class="text-danger" [hidden]="!state.errors.required" *ngIf="state.errors && (state.touched || state.dirty)">State
          Required
        </span>
      </div>
      <div class="form-group col-md-3">
        <label for="city">City:</label>
        <span class="text-danger"> * </span>
        <select class="form-control" required #city="ngModel" [(ngModel)]="contactDetail.city" name="city">
          <option value="0"  selected>Select City</option>
          <option *ngFor="let ucl of usercitiesList" value="{{ucl.id}}"></option>
        </select>
        <span class="text-danger" *ngIf="city.value=='0' && (city.touched || city.dirty)">Please Select</span>
        <span class="text-danger" [hidden]="!city.errors.required" *ngIf="city.errors && (city.touched || city.dirty)">City
          Required
        </span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="plc">Place:</label>
        <span class="text-danger"> * </span>
        <textarea autocomplete="off" #place="ngModel" required class="form-control" rows="3" [(ngModel)]="contactDetail.place"
          name="place"></textarea>
        <span class="text-danger" [hidden]="!place.errors.required" *ngIf="place.errors && (place.touched || place.dirty)">Location
          Required
        </span>
      </div>
      <div class="form-group col-md-6">
        <label for="ads">Address:</label>
        <span class="text-danger"> * </span>
        <textarea autocomplete="off" pattern="^[#.0-9a-zA-Z,-/:][#.0-9a-zA-Z,-/: ]+$" maxlength="100" #address="ngModel"
          placeholder="address" required style="resize:none" class="form-control" rows="5" [(ngModel)]="contactDetail.address"
          name="address"></textarea>
        <span class="text-danger" [hidden]="!address.errors.required" *ngIf="address.errors && (address.touched || address.dirty)">Address
          Required..
        </span>
        <span class="text-danger" [hidden]="!address.errors.pattern" *ngIf="address.errors && (address.touched || address.dirty)">Initial
          values Should not contain space and special characters</span>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="uniqueIdentificationNo">Unique identification number:</label>
        <span class="text-danger"> * </span>
        <input type="text" readonly autocomplete="off" required minlength="6" maxlength="16" pattern="[A-Za-z0-9]{6,16}"
          #uniqueIdentificationNo="ngModel" class="form-control" [(ngModel)]="contactDetail.uniqueIdentificationNo"
          name="uniqueIdentificationNo">
        <span class="text-danger" [hidden]="!uniqueIdentificationNo.errors.pattern" *ngIf="uniqueIdentificationNo.errors && (uniqueIdentificationNo.touched || uniqueIdentificationNo.dirty)">
          Enter a valid Unique Identification number</span>
        <span class="text-danger" [hidden]="!uniqueIdentificationNo.errors.required" *ngIf="uniqueIdentificationNo.errors && (uniqueIdentificationNo.touched || uniqueIdentificationNo.dirty)">UniqueIdentificationNo
          Required..
        </span>
      </div>
      <div class="form-group col-md-3">
        <label for="email">Email:</label>
        <span class="text-danger"> * </span>
        <input type="email" readonly required maxlength="40" pattern="[a-zA-Z0-9._%+-]+@[a-z]+\.[a-zA-Z]{2,3}$"
          #email="ngModel" placeholder="Email" class="form-control" [(ngModel)]="contactDetail.email" name="email">
        <span class="text-danger" [hidden]="!email.errors.required" *ngIf="email.errors && (email.touched || email.dirty)">Email
          Required..
        </span>
        <span class="text-danger" [hidden]="!email.errors.pattern" *ngIf="email.errors && (email.touched || email.dirty)">
          Enter a valid Email</span>
      </div>
      <div class="form-group col-md-3">
        <label for="mobile">Mobile Number:</label>
        <span class="text-danger"> * </span>
        <input type="tel" readonly autocomplete="off" minlength="10" maxlength="10" pattern="((?:6|7|8|9)[0-9])+(?:-?\d){8,15}"
          onkeypress="return event.charCode >= 48 && event.charCode <= 57" required class="form-control" #mobile="ngModel"
          [(ngModel)]="contactDetail.mobile" name="mobile">
        <span class="text-danger" [hidden]="!mobile.errors.required" *ngIf="mobile.errors && (mobile.touched || mobile.dirty)">Mobile
          Required
        </span>
        <span class="text-danger" [hidden]="!mobile.errors.pattern" *ngIf="mobile.errors && (mobile.touched || mobile.dirty)">
          Enter a valid Mobile number with min 10 digits</span>
      </div>
    </div>
    <div class="row" *ngIf="userProfile.contactid || !res">
      <div class="col-md-9 text-center">
        <button type="submit" class="btn btn-warning" (click)="updateContactDetails()">Update</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 text-center" *ngIf="!userProfile.contactid || res">
        <button type="submit" class="btn btn-primary" [disabled]="!addcontactdetails.valid ||city.value==0 ||state.value==0||country.value==0"
          (click)="moreConatcts()">Submit</button>
      </div>
    </div>
  </form>
</div>


<div>
  <ul class="nav nav-tabs" id="myTab" role="tablist" style="width:100%;">
    <li class="nav-item">
      <a class="nav-link active" (click)="openthis()" id="contact-tab" data-toggle="tab" href="#contactone" role="tab" aria-controls="contactone"
        aria-selected="true">Contact Details 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="open()" id="contact-tab" data-toggle="tab" href="#contacttwo" role="tab" aria-controls="contacttwo"
        aria-selected="false">Contact Details 2</a>
    </li>
    </ul>
</div>
</div>