<div class="container">
  <div class="jumbotron">
    <h2>Appraisal Time Table</h2>
    <hr />
<div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-calendar"></i>  Appraisal TimeTable
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#viewallExamTimeTable" data-toggle="collapse" role="button"><i class="fa fa-th-list"></i>
            <span id='showdata'>  View  ExamTimeTable </span><span id='datahide'>  Hide  ExamTimeTable </span>  </a>
        </div>
      </div>
    </div>
  </div>
  <form name="form" #ett="ngForm" novalidate *ngIf="read==true && write==true || write==true">
    <div class="row">
      <div class="form-group col-md-3">
        <br>
        <input type="button" value="Generate exam" class="btn btn-primary" (click)="getUserSession()">
      </div>
      <div class="form-group col-md-3">
        Appraisal Code :
        <input type="text" class="form-control" value="{{uniqId}}" disabled>
      </div>
      <div class="form-group col-md-3">
        Appraisal :
        <input #Name="ngModel" minlength="3" autocomplete="off" type="text" pattern="[a-zA-Z][a-zA-Z-,0-9/\s]{2,100}"
          [(ngModel)]="exam.name" name="name" class="form-control" (keyup)="getIds()" />
        <span class="text-danger" *ngIf="Name.errors && (Name.touched || Name.dirty)">
          <span class="text-danger" [hidden]="!Name.errors.required">*Name</span>
          <span class="text-danger" [hidden]="!Name.errors.pattern" class="text text-danger">Appraisal Should Be in
            alphabtes </span>
          <span class="text-danger" [hidden]="!Name.errors.minlength || Name.errors.pattern" class="text text-danger">Appraisal
            Should Be Min 3 Chars</span>
        </span>
      </div>
      <div class="form-group col-md-3">
        Branch Class:
        <select name="branchClassId" class="form-control" [(ngModel)]="branchClassId" (change)="getSubjectsByClass()">
          <option [ngValue]="undefined" disabled selected>Select</option>
          <option *ngFor='let cl of classList' value='{{cl.branchsessionid}}'>{{cl.sessionname}}</option>
        </select>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Batch</th>
          <th>Subject</th>
          <th>Total Marks</th>
          <th>Appraisal Date</th>
          <th>start Time </th>
          <th>End Time </th>
          <th>Model Question Paper</th>
        </tr>
      </thead>
      <tr *ngFor="let li of subjectList">
        <td>
          <div class="form-group ">
            <input disabled autocomplete="off" type="text" pattern="[a-zA-Z][a-zA-Z-,/\s]{2,100}" name="batchname"
              class="form-control" value="{{li.batchname}}" >
          </div>
        </td>
        <td>
          <div class="form-group ">
            <input disabled autocomplete="off" type="text" pattern="[a-zA-Z][a-zA-Z-,/\s]{2,100}" name="classsubjectname"
              class="form-control" value="{{li.subjectname}}" >
          </div>
        </td>
        <td>
          <div class="form-group ">
            <input #tmarks autocomplete="off" min="0" type="number" class="form-control" name="Totalmarks" id="Totalmarks"
              placeholder="Totalmarks">
          </div>
        <td>
          <div>
            <label>Date and Time:</label>
            <input [owlDateTimeTrigger]="dt10" class="form-control" [owlDateTime]="dt10" [selectMode]="'range'">
            <owl-date-time #dt10></owl-date-time>
          </div>
        </td>
        <td>
          <div class="fa fa-file-pdf-o" style="font-size: 650%;background-color: whitesmoke;border-radius:58%;padding: 4%">
          </div>
          <div class="elementer">
            <label class="hand-cursor">
              <div class="form-group col-sm-4">
                <input type="file" id="container" accept="application/pdf" class="form-control" (change)="fileChangeEvent($event)"
                  placeholder="Upload file..." name="fileUpload" [(ngModel)]="exam.fileUpload" />
              </div>
              <i class="fa fa-camera"></i>
            </label>
          </div>
        </td>
        <td>
          <div class="form-group" style="margin-top:-1.5625em">
            <input type="button" *ngIf="!exam.Id" value="Submit" data-dismiss="modal" (click)=addExamTimeTable(li.id,dt10,tmarks)
              class="btn btn-primary">
          </div>
          <div class="form-group">
            <input type="button" *ngIf="exam.Id" value="Update" (click)=updateExamTimeTable() data-dismiss="modal">
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>
<div id="viewallExamTimeTable" class="collapse">
  <button id="button-a" class="btn btn-success"> <span class="example-spacer"></span>Download</button>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Exam Name">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="SubjectName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
      <td mat-header-cell *matCellDef="let row">{{row.subjectname}}</td>
    </ng-container>
    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Exam Start Date & Time</th>
      <td mat-header-cell *matCellDef="let row">{{row.appraisalstartdatetime}}</td>
    </ng-container>
    <ng-container matColumnDef="EndTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Exam End Date & Time</th>
      <td mat-header-cell *matCellDef="let row">{{row.appraisalenddatetime}}</td>
    </ng-container>
    <ng-container matColumnDef="ExamName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Appraisal</th>
      <td mat-header-cell *matCellDef="let row">{{row.appraisalname}}</td>
    </ng-container>
    <ng-container matColumnDef="Download">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Download</th>
      <td mat-header-cell *matCellDef="let row">
        <div>
          <a href="{{myurl+'/Misc/Files/modelpaper/'+row.id}}" class="fa fa-download"></a>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="Excel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
            aria-hidden="true"></i>
        </span></th>
      <td mat-cell *matCellDef="let row">
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef='displayedColumns'>
    </tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
  </table>
  <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>