<div class="container">
  <div class="jumbotron">
    <h2>Subject Details</h2>
    <hr />
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-book"></i> Subject
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" *ngIf="read==true && write==true || write==true">
            <i class="fa fa-plus-circle"></i> Add Subject</a>
          <a class="dropdown-item" data-toggle="collapse" role="button" (click)=viewSubject()>
            <i class="fa fa-th-list"></i> <span *ngIf="show1">  View Subjects</span><span *ngIf="!show1">  Hide Subjects</span> </a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Subject</h4>
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #frm="ngForm" novalidate>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Subject Name:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" autocomplete="off" class="form-control" id="name" placeholder="Subject Name" name='name'
                    [(ngModel)]="subjectAddObj.name" #name="ngModel" pattern="^[^\d\W]+( [^\d\W]+)*$" minlength="2"
                    maxlength="30">
                  <span *ngIf="name.invalid && (name.touched || name.dirty)">
                    <span class="text-warning" [hidden]="!name.errors.required" *ngIf="name.errors && (name.touched || name.dirty)">Subject
                      Name Required</span>
                    <span class="text-warning" [hidden]="!name.errors.pattern" *ngIf="name.errors && (name.touched || name.dirty)">Subject
                      Name Should be only in alphabets</span>
                    <span class="text-warning" [hidden]="!name.errors.minlength || name.errors.pattern" *ngIf="name.errors && (name.touched || name.dirty)">Subject
                      Name Should Be Minimum 3 Chars </span>
                  </span>
                </div>
                <div class="form-group" class="text-center" *ngIf="!subjectAddObj.Id">
                  <button type="add" [disabled]="!frm.valid" (click)="addSubject(frm)" class="text-center" data-dismiss="modal"
                    class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="viewsubject">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Subject Name">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>