

<div class="container">
  <div class="jumbotron">
    <h2>Role Details Dashboard</h2>
    <hr />
    <div class="btn-align">
      <button type="button" class="btn btn-outline-info btn-lg" data-toggle="modal" data-target="#responsive" title="Add Role">
        <i class="fa fa-plus-circle"></i>
      </button>
    </div>
    <div class="btn-align">
    <div class="dropdown">
      <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" data-target="#responsive"
        title="Add Role"> Roles
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" role="button" data-toggle="modal" href="#responsive">Add Role</a>
      </div>
    </div>
  </div>
  </div>
  <br>
  <br>
  <div class="modal fade" id="responsive">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModal">
        <div class="modal-header">
          <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X</button>
        </div>
        <div class="modal-body">
          <form #addRoleForm="ngForm" name="addRoleForm" (submit)="addRole()">
            <div class="form-group">
              <label for="stats">Name</label>
              <span class="text-warning"> * </span>
              <input type="text" autocomplete="off" class="form-control" name="name" [(ngModel)]="rm.name" #name="ngModel"
                onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)"
                pattern="[A-Za-z][A-Za-z -@,./!]{1,30}" maxlength="30" minlength="1" required>
              <span class="text-warning" *ngIf="name.errors &&(name.touched || name.dirty)" [hidden]="!name.errors.required">Name
                Required..
              </span>
              <span class="text-warning" *ngIf="name.errors && (name.touched || name.dirty)" [hidden]="!name.errors.pattern">*Role
                Name Should Contain Only Alphabets</span>
              <span class="text-warning" [hidden]="!name.errors.minlength || name.errors.pattern" *ngIf="name.errors && (name.touched || name.dirty)"
                [hidden]="!name.errors.pattern">*Role
                Name Should Contain Minimum 2 Chars</span>
            </div>
            <div *ngIf="!rm.Id">
              <button class="text-center" type="submit" data-dismiss="modal" [disabled]="!addRoleForm.valid" (click)="addRole()"
                class="btn btn-primary">Add
                Role</button>
            </div>
            <div *ngIf="rm.Id">
              <input class="text-center" type="button" data-dismiss="modal" class="btn btn-primary" value="Update Role"
                (click)=updateRole()>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Role">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Id</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Role Name</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.rolename}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Status</h6>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-slide-toggle
          (change)="onChange($event,row.id)" class="example-margin"
          [color]="color" checked="{{row.status}}">
            </mat-slide-toggle>
            <span *ngIf="row.status">Active</span>
            <span *ngIf="!row.status">In Active</span>
        </td>






      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6>Edit</h6>
        </th>
        <td mat-cell *matCellDef="let row" class="fa fa-pencil-square-o" id="Edit" data-toggle="modal" data-target="#responsive"
          (click)=editRole(row.id)>
        </td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>


























