


a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
p{
  color: rgb(2, 2, 2);
  font-size: 40px;
  text-align: center;
}
header{
  width: 100%;
  font-family: varela 'Times New Roman', Times, serif;
  background-image: url(https://camo.githubusercontent.com/999cff82d4bea54f222e165d647b5df597f45b86/687474703a2f2f692e696d6775722e636f6d2f33624d473655372e706e67);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
nav{
  width: 100%;
  height: 90px;
  display: inline-block;
  text-align: center;
  margin-left: 10px;

}
nav a{
  line-height: 60px;
}
.back{
  float: left;
  font-size: 20PX;

}
span{
  color: rgb(0, 0, 0);
}
.logo img{
  height: 10px;
  vertical-align: center;
  margin-left: -150px;
  margin-top: 705px;
}
.upper{
  margin-top: 50px;
}
.lower{
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
}
.broken{
  text-align: center;
}
.broken img{
  height: 300px;
  margin-top: -20px;
}
.btnHome{
  background-color: #4a9999;
  display: inline-block;
  width: 180px;
  height: 50px;
  line-height: 50px;
  border-radius: 3px;
  text-align: center;
  color: white;
  font-size: 20px;
}




/* -----------------------responsive--------------------- */

@media only screen and (max-width:900px){
  .logo img{
  float: right;
  margin-right: 40px;
  }
  .back{
    margin-left: 40px;
  }
  .upper, .lower{
    font-size: 30px;
  }
  .broken img{
    height: 200px;
    margin: 5px 0px;
  }
  .lower{
    margin:0px 40px 40px 40px;
  }
}

@media only screen and (max-width:700px){
  .broken img{
    height: 100px;
    margin-top: 10px;
  }
  .upper{
    font-size: 20px;
  }
  .lower{
    font-size: 20px;
    margin-top: 10px;
  }
  .btnHome{
    margin-top: -10px;
  }

}


