<header>
  <nav>
    <div class="back">
      <a href="#"><span> back</span></a>
      <div class="logo">
        <a href="#"></a>
      </div>

    </div>
  </nav>
<div class="broken">
  <p class="upper">Oops! You broke it.</p>
  <img src="https://internetdevels.com/sites/default/files/public/blog_preview/404_page_cover.jpg" alt="logo broken">
  <p class="lower">We cannot find the page you are requesting</p>
  <a href="#" class="btnHome">Take me home</a>

</div>

</header>

