<div class="container">
  <div class="jumbotron">
    <h2> Feedback</h2>
    <hr />
    
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-comments"></i>  Feedback Type
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)=getIds *ngIf="rolename=='ClassTeacher'||rolename=='Faculty'||rolename=='Accountant'||rolename=='Driver'||rolename=='Trainee' ">
            <i class="fa fa-plus-circle"></i>  Add Feedback</a>
          <a class="dropdown-item" href="#vieworg" data-toggle="collapse" role="button" (click)=viewFeedback()>
            <i class="fa fa-th-list"></i>  View Feedback</a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Feedback</h4>
          <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #feedback="ngForm" (submit)="addFeedBack()" novalidate>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>User :</label>
                  <span class="text-warning"> * </span>
                  <select name='userId' id="userId" class="form-control" [(ngModel)]="feed.userId" #userId="ngModel"
                    required>
                    <option value="0" disabled selected>Select User </option>
                    <option *ngFor="let ul of userList" value="{{ul.userid}}">{{ul.firstname}} {{ul.lastname}}</option>
                  </select>
                  <span class="text-warning" *ngIf="userId.value=='Select'">Please Select</span>
                  <span class="text-warning" *ngIf="userId.errors && (userId.touched || userId.dirty)" [hidden]="!userId.errors.required">User
                    Name Required
                  </span>
                  <span class="text-warning" *ngIf="userId.errors && (userId.touched || userId.dirty)" [hidden]="!userId.errors.value">Please
                    Select
                  </span>
                </div>
                <div class="form-group">
                  <label for="feedbackdescription">Feedback Description:</label>
                  <span class="text-warning"> * </span>
                  <textarea style="resize:none" autocomplete="off" [(ngModel)]="feed.description" name='description'
                    class="form-control" id="description" placeholder="Enter feedback description" #description="ngModel"
                    required pattern="^[^\d\W]+( [^\d\W]+)*$" minlength="4" maxlength="100"></textarea>
                  <span class="text-warning" *ngIf="description.invalid && (description.touched || description.dirty)">
                    <span class="text-warning" [hidden]="!description.errors.required" *ngIf="description.errors && (description.touched || description.dirty)">Description
                      Required </span>
                    <span class="text-warning" [hidden]="!description.errors.pattern" *ngIf="description.errors && (description.touched || description.dirty)">Description
                      should be min 4 characters </span>
                  </span>
                </div>
                <div class="form-group">
                  <label for="Number" style="margin-right:  1.5625em">Rating:<span class="text-warning"> * </span></label>
                  <rating [max]="5" [(ngModel)]="feed.rating" name='rating' [customTemplate]="tt"></rating>
                  <b>{{feed.rating}}</b>
                  <ng-template #tt let-i="index" let-v="value">
                    <button class="btn btn-{{i < v ? 'warning' : 'default'}}">
                      {{i
                      < v ? '&#9733;' : '&#9734;' }} </button> </ng-template> </div> <div *ngIf="read==true && write==true || write==true">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="viewfeedback">
    <button id="button-a" class="btn btn-success" (click)="getexcel()"> <span class="example-spacer"></span>Download</button>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="FeedbackDescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Feedback Description</th>
        <td mat-cell *matCellDef="let row">{{row.feedbackdescription}}</td>
      </ng-container>
      <ng-container matColumnDef="Rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
        <td mat-cell *matCellDef="let row">{{row.rating}}</td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>