<div class="jumbotron">
  <h2>Pay Roll Dashboard</h2>
  
<div class="btn-align">
  <div class="dropdown"  >
    <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown"><i class="fa fa-paypal">  PayRoll Details</i>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive"><small class="fa fa-plus-circle">  Add Group Policies</small></a>
      <a class="dropdown-item" href="#adddepartmentwise" data-toggle="collapse" role="button"><small class="fa fa-plus-circle">  Add Allowences Department Wises</small></a>
      <a class="dropdown-item" href="#viewpayroll" data-toggle="collapse" role="button"><i class="fa fa-th-list"> </i><span id='showdata1'>  View payroll</span><span id='datahide1'>  Hide payroll</span></a>
      <a class="dropdown-item" href="#viewdepartmentpolicies" data-toggle="collapse" role="button"><i class="fa fa-th-list"></i><span id='showdata2'>  View departmentpolicies</span><span id='datahide2'>  Hide departmentpolicies</span> </a>
    </div>
  </div>
</div>
</div>
<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
  <div class="modal-dialog" id="box">
    <div class="modal-content bigModel">
      <div class="modal-header">
        <h4>Group Policy Screen</h4>
        <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
        </button>
      </div>
      <div class="modal-body">
        <form #salaryhike="ngForm" novalidate>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group ">
                <label for="srng">Start Range</label>
                <span class="text-warning"> * </span>
                <input type="text" class="form-control" maxlength="8" placeholder="Enter start range" #srng="ngModel"
                  [(ngModel)]="payRollAddObj.startRange" maxlength="8" name="srng" onkeypress="return  event.charCode >= 48 && event.charCode <= 57"
                  id="srng" required>
                <span class="text-warning" [hidden]="!srng.errors.required" *ngIf="srng.errors && (srng.touched || srng.dirty)">
                  start range required</span>
                <span [hidden]="!srng.errors.value" class="text-warning" *ngIf="srng.errors && (srng.touched ||srng .dirty)">Please
                  Select
                </span>
              </div>
              <div class="form-group">
                <label for="er">End Range</label>
                <span class="text-warning"> * </span>
                <input type="text" id="er" required class="form-control" placeholder="Enter End Range" name="erng"
                  #erng="ngModel" [(ngModel)]="payRollAddObj.endRange" ngModel />
                <span class="text-warning" *ngIf="erng.errors && (erng.touched || erng.dirty)">
                  Name Required</span>
              </div>
              <div class="form-group">
                <label for="nm">name</label>
                <span class="text-warning"> * </span>
                <input type="text" class="form-control" maxlength="8" placeholder="Enter name" #nm="ngModel"
                  [(ngModel)]="payRollAddObj.name" maxlength="8" name="nm" id="nm" required>
              </div>
              <div class="form-group">
                <label for="amnt">Amount</label>
                <span class="text-warning"> * </span>
                <input type="text" class="form-control" maxlength="8" placeholder="Enter Amount" #amnt="ngModel"
                  [(ngModel)]="payRollAddObj.amount" maxlength="8" name="amnt" onkeypress="return  event.charCode >= 48 && event.charCode <= 57"
                  id="amnt" min="1" max="3" pattern="^([0-9]{1,2}([\.][0-9]{1,})?$|100([\.][0]{1,})?)$" required>
                <span class="text-warning" *ngIf="amnt.value=='Select'">Please Select</span>
                <span class="text-warning" [hidden]="!amnt.errors.required" *ngIf="amnt.errors && (amnt.touched || amnt.dirty)">
                  amount required</span>
                <span [hidden]="!amnt.errors.value" class="text-warning" *ngIf="amnt.errors && (amnt.touched ||amnt .dirty)">Please
                  Select
                </span>
              </div>
              <div class="text-center">
                <button type="submit" (click)="addPayroll()" data-dismiss="modal" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div>
  <div id="viewpayroll" class="collapse">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Staff">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="startrange">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Range</th>
        <td mat-cell *matCellDef="let row">{{row.startrange}}</td>
      </ng-container>
      <ng-container matColumnDef="endrange">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>End Range</th>
        <td mat-cell *matCellDef="let row">{{row.endrange}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let row">{{row.amount}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
<div id="adddepartmentwise" class="collapse">
  <h4>Department Wise Allocation</h4>
  <div class="modal-body">
    <form #salaryhike="ngForm" novalidate>
      <div class="row">
        <div class="form-group" class="col-lg-3">
          <label>Department</label>
          <span class="text-warning"> * </span>
          <select class="form-control" #did="ngModel" ngModel required name="did" (change)="getStaff()" [(ngModel)]="deptPolicyAddObj.departmentId">
            <option value="" disabled selected>Select </option>
            <option *ngFor="let item of departmentList" value="{{item.dep_id}}">{{item.dep_name}}</option>
          </select>
          <span class="text-warning" *ngIf="did.value=='Select'">Please select department </span>
          <span class="text-warning" [hidden]="!did.errors.required" *ngIf="did.errors && (did.touched || did.dirty)">Please
            Select</span>
        </div>
        <div class="col-lg-1">
          <label>Allowance</label>
          <button (click)="ListOfPolicies('Allowance')">+</button>
        </div>
        <div class="col-lg-1">
          <label>Deduction</label>
          <button (click)="ListOfPolicies('Deduction')">-</button>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="nm">name</label>
            <span class="text-warning"> * </span>
            <select class="form-control" #nm="ngModel" ngModel required name="nm" [(ngModel)]="deptPolicyAddObj.allowanceName">
              <option value="" disabled selected>Select </option>
              <option *ngFor="let item of allList" value="{{item}}">{{item}}</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="erng">Amount</label>
            <span class="text-warning"> * </span>
            <input type="text" class="form-control" maxlength="8" placeholder="Enter Increment" #erng="ngModel"
              [(ngModel)]="deptPolicyAddObj.amount" maxlength="8" name="increment" onkeypress="return  event.charCode >= 48 && event.charCode <= 57"
              id="erng" min="1" max="3" pattern="^([0-9]{1,2}([\.][0-9]{1,})?$|100([\.][0]{1,})?)$" required>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" (click)="addBulkStaffPolicies()" data-dismiss="modal" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  <div>
    <button id="button-a" class="btn btn-success" (click)="getexcel()"> <span class="example-spacer"></span>Download</button>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Staff">
    </mat-form-field>
    <table mat-table [dataSource]="dataSources" matSort>
      <ng-container matColumnDef="stfname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Staff Name</th>
        <td mat-cell *matCellDef="let row">{{row.firstname}}{{row.lastname}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Policy Applicable</th>
        <td mat-cell *matCellDef="let row">
          <div>
            <input type="checkbox" name="checkbox" [(ngModel)]="row.checkBoxStatus">
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumn'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumn"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
<div>
  <div id="viewdepartmentpolicies" class="collapse">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Staff">
    </mat-form-field>
    <table mat-table [dataSource]="departmentPolicies" matSort>
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Department Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <ng-container matColumnDef="staff">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Staff Name</th>
        <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Allowance Type</th>
        <td mat-cell *matCellDef="let row">{{row.type}}</td>
      </ng-container>
      <ng-container matColumnDef="allowance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Allowance Name</th>
        <td mat-cell *matCellDef="let row">{{row.allowancename}}</td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let row">{{row.amount}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='departmentPoliciesColumn'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:departmentPoliciesColumn"></tr>
    </table>
    <mat-paginator [length]="100" #paginator1 [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
