<div class="container">
  <div class="jumbotron">
    <h2>Batch Details</h2>
    <hr/>
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-graduation-cap"></i> Batch
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)=getIds() *ngIf="read==true && write==true || write==true">
            <i class="fa fa-plus-circle"></i> Add Batch</a>
            <a class="dropdown-item" href="#bath" data-toggle="collapse" role="button">
              <i class="fa fa-th-list"></i>    <span id='showdata'>  View Batch</span><span id='datahide'>  Hide Batch</span> </a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Batch Details</h4>
          <button type="button" class="close btn-danger" style="color: white" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #batch="ngForm">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Staff:</label>
                  <span class="text-warning"> * </span>
                  <select required #staffId="ngModel" placeholder="Staff Name" name="staffId" id="id" class="form-control"
                    [(ngModel)]="batchAddObj.staffId" (change)=getAllClassTeacheres()>
                    <option value="0" selected>Select Staff Name</option>
                    <option *ngFor="let sl of allStaffList" value="{{sl.id}}">{{sl.firstname}} {{sl.lastname}}</option>
                  </select>
                  <span class="text-warning" *ngIf="staffId.value=='0' && (staffId.touched || staffId.dirty)">Please
                    Select Staff</span>
                  <span class="text-warning" *ngIf="staffId.value=='Select'">Please Select</span>
                  <span class="text-warning" *ngIf="staffId.errors && (staffId.touched || staffId.dirty)">Select Staff</span>
                </div>
                <div class="form-group">
                  <label>Session:</label>
                  <span class="text-warning"> * </span>
                  <select required #clasId="ngModel" placeholder="Session Name" name="classId" id="id" class="form-control"
                    [(ngModel)]="batchAddObj.sessionId" (change)=getClassName()>
                    <option value="0" selected>Select Session Name</option>
                    <option *ngFor="let cl of classList" value="{{cl.id}}">{{cl.sessionname}}</option>
                  </select>
                  <span class="text-warning" [hidden]="clasId.errors.required " *ngIf="clasId.value=='0' && (clasId.touched || clasId.dirty)">Please
                    Select Session</span>
                </div>
                <div class="form-group">
                  <label for="dt">Date:</label>
                  <span class="text-warning"> * </span>
                  <div class="form-group">
                    <input class="form-control" required #startDate="ngModel" placeholder="Date" readonly #drp="bsDaterangepicker"
                      name="date" bsDaterangepicker [(ngModel)]="batchAddObj.startDate" [bsConfig]=" {containerClass: 'theme-dark-blue' } ">
                  </div>
                </div>
                <div class="form-group">
                  <label>Name:</label>
                  <span class="text-warning"> * </span>
                  <input type="text" placeholder="Name" readonly autocomplete="off" #name="ngModel" maxlength="15"
                    required pattern="[A-Za-z][A-Za-z -,/]{2,15}" name="name" id="id" value="{{clasId.label}}" class="form-control"
                    [(ngModel)]="batchAddObj.name">
                </div>
                <div *ngIf="!batchAddObj.Id" class=" form-group" class="text-center">
                  <input type="button" class="btn btn-primary" data-dismiss="modal" (click)="addBatch()" value="Submit">
                </div>
                <div *ngIf=" batchAddObj.Id" class="text-center">
                  <input type="button" class="btn btn-primary" data-dismiss="modal" (click)="batchUpdate()" value="Update Batch">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse " id="bath">
    <div class="row">
      <div class="container">
        <div class="md-offset-4">
          <div class="form-group">
            <label style="color:black">Class Name</label>
            <select required #classId="ngModel" name="sessionId"
              id="id" class="form-control" [(ngModel)]="batchAddObj.sessionId" (change)="getBatch(batchAddObj.sessionId)"
              id="info">
              <option value="0" selected>Select Class Name</option>
              <option *ngFor="let cl of classList" value="{{cl.id}}">{{cl.sessionname}}</option>
            </select>
            <span class="text-danger" [hidden]="classId.errors.required" *ngIf="classId.value=='0' && (classId.touched || classId.dirty)">Please
              Select</span>
            <span class="text-danger" *ngIf="classId.errors && (classId.touched || classId.dirty)">Enter Class Name</span>
            <span class="text-danger" *ngIf="classId.value=='Select' && (classId.touched || classId.dirty)">Please
              Select</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="batchAddObj.sessionId">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Class">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="ClassTeacherName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Class Teacher</th>
          <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
        </ng-container>
        <ng-container matColumnDef="ClassName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Session</th>
          <td mat-cell *matCellDef="let row">{{row.sessionname}}</td>
        </ng-container>
        <ng-container matColumnDef="StartDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
          <td mat-cell *matCellDef="let row">{{row.batchstartdate|date}}</td>
        </ng-container>
        <ng-container matColumnDef="EndDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
          <td mat-cell *matCellDef="let row">{{row.enddate|date}}<td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{row.batchname}}</td>
        </ng-container>
        <ng-container matColumnDef="Medium">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Medium</th>
          <td mat-cell *matCellDef="let row">{{row.mediumname}}</td>
        </ng-container>
        <ng-container matColumnDef="NumOfStudents">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Number Of Trainees</th>
          <td mat-cell *matCellDef="let row">{{row.numoftrainees}}</td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="rolename!='BranchAdmin' ">Edit </th>
          <td mat-cell *matCellDef="let row">
            <div [hidden]="rolename!='BranchAdmin' " id="Edit" data-toggle="modal" data-target="#responsive" (click)="editBatch(row.id)"><i
                class="fa fa-pencil-square-o"></i></div>
          </td>
        </ng-container>
        <ng-container matColumnDef="Excel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
                aria-hidden="true"></i>
            </span></th>
          <td mat-cell *matCellDef="let row">
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumns'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>
  <div>
    <table class="table" *ngIf="rolename=='Student'">
      <h2>Class</h2>
      <tr>
        <th>Class Name </th>
        <th>Batch Name </th>
        <th>Batch Status </th>
      </tr>
      <tr *ngFor="let ts of transactionList">
        <td>
          {{ts.classname}}
        </td>
        <td>
          {{ts.batchname}}
        </td>
        <td>
          {{ts.batchstatus}}
        </td>
      </tr>
    </table>
  </div>
</div>