<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div class="container-fluid" id="services" >
  <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height">
  </particles>
</div>
<div id="services" class="container-fluid text-center parallax1 text-white">
  <h2 i18n>SERVICES</h2>
</div>
<div class="container-fluid text-center parallax2 text-white" [ngStyle]="{ 'background-image': 'url(' + pattern1 + ')'}">
</div>
<div class="container-fluid text-center parallax3" [ngStyle]="{ 'background-image': 'url(' + pattern2 + ')'}">
  <strong  i18n class="text-center text-capitalize" style="font-size:150%;text-decoration: underline;">What we Offer</strong>
<br>
<div class="row slideanim">
    <div class="col-sm-4">
        <ul>
            <li>
              <a href="#" >
                <i id='bounce1' class="fa fa-id-card logo-small"></i>
                <i id='bounce2' class="fa fa-id-card logo-small"></i>
              </a>
            </li>
          </ul>
          <h4 i18n style="margin-top:40px;margin-left: 30px;">Biometric Access</h4>
      <p i18n id="para">The biometric access feature in Infobyt provides the complete status of staff logins from a school to an organization.</p>
    </div>
    <div class="col-sm-4">
        <ul>
            <li>
              <a href="#" >
                <i id='bounce1' class="fa fa-file-pdf-o logo-small"></i>
                <i id='bounce2' class="fa fa-file-pdf-o logo-small"></i>
              </a>
            </li>
          </ul>
          <h4 i18n style="margin-top:40px;margin-left: 30px;">Payslip</h4>
      <p i18n id="para">Now, you can access your monthly payslip with our automated payslip generation and get right to your  registered email ids.</p>
    </div>
    <div class="col-sm-4">
        <ul>
            <li>
              <a href="#" >
                <i id='bounce1' class="fa fa-calendar logo-small"></i>
                <i id='bounce2' class="fa fa-calendar logo-small"></i>
              </a>
            </li>
          </ul>
          <h4 i18n style="margin-top:40px;margin-left: 30px;">Calendar</h4>
      <p i18n id="para">We have a calendar option where you can check  for the holidays or can plan for the leaves before hand.</p>
    </div>
  </div>
  <div class="row slideanim">
    <div class="col-sm-4">
        <ul>
            <li>
              <a href="#" >
                <i id='bounce1' class="fa fa-line-chart logo-small"></i>
                <i id='bounce2' class="fa fa-line-chart logo-small"></i>
              </a>
            </li>
          </ul>
          <h4 i18n style="margin-top:40px;margin-left: 30px;">Reports</h4>
      <p i18n id="para"> In Reports, you can check the updates about upcoming exams and about the progress cards.</p>
    </div>
    <div class="col-sm-4">
        <ul>
            <li>
              <a href="#" >
                <i id='bounce1' class="fa fa fa-bus logo-small"></i>
                <i id='bounce2' class="fa fa fa-bus logo-small"></i>
              </a>
            </li>
          </ul>
          <h4 i18n style="margin-top:40px;margin-left: 30px;">GPS Access</h4>
      <p i18n id="para">Is your child’s school bus is late or stuck somewhere in traffic, wherever it is, we give you the latest updates of your child’s whereabouts through live GPS tracking.</p>
    </div>
    <div class="col-sm-4">
        <ul>
            <li>
              <a href="#" >
                <i id='bounce1' class="fa fa-clock-o logo-small"></i>
                <i id='bounce2' class="fa fa-clock-o logo-small"></i>
              </a>
            </li>
          </ul>
          <h4 i18n style="margin-top:40px;margin-left: 30px;">Roaster Access</h4>
      <p i18n id="para">Get Planned Before</p>
    </div>
  </div>
  <br/>
  <div class="row slideanim">
      <div class="col-sm-4">
          <ul>
              <li>
                <a href="#" >
                  <i id='bounce1' class="fa fa-bell logo-small"></i>
                  <i id='bounce2' class="fa fa-bell logo-small"></i>
                </a>
              </li>
            </ul>
            <h4 i18n style="margin-top:40px;margin-left: 30px;">Survalance</h4>
        <p i18n id="para">In Reports, you can check the updates about upcoming exams and about the progress cards.</p>
      </div>
      <div class="col-sm-4">
          <ul>
              <li>
                <a href="#" >
                  <i id='bounce1' class="fa fa-picture-o logo-small"></i>
                  <i id='bounce2' class="fa fa-picture-o logo-small"></i>
                </a>
              </li>
            </ul>
       <h4 i18n style="margin-top:40px;margin-left: 30px;">Gallery</h4>
        <p i18n id="para">Gallery presents an enlarged picture of photos.</p>
      </div>
      <div class="col-sm-4">
          <ul>
              <li>
                <a href="#" >
                  <i id='bounce1' class="fa fa-trophy logo-small"></i>
                  <i id='bounce2' class="fa fa-trophy logo-small"></i>
                </a>
              </li>
            </ul>
       <h4 i18n style="margin-top:40px;margin-left: 30px;">Achievements</h4>
        <p i18n id="para">The added achievements can be viewed where they can edit.  </p>
      </div>
    </div>
    <div class="row slideanim">
      <div class="col-sm-4">
          <ul>
              <li>
                <a href="#" >
                  <i id='bounce1' class="fa fa-user-plus logo-small"></i>
                  <i id='bounce2' class="fa fa-user-plus logo-small"></i>
                </a>
              </li>
            </ul>
       <h4 i18n style="margin-top:40px;margin-left: 30px;">Post Jobs</h4>
        <p i18n id="para">We have introduced the Post Jobs feature where you can post and apply for the various job positions in IT field or any other.</p>
      </div>
      <div class="col-sm-4">
          <ul>
              <li>
                <a href="#" >
                  <i id='bounce1' class="fa fa fa-bus logo-small"></i>
                  <i id='bounce2' class="fa fa fa-bus logo-small"></i>
                </a>
              </li>
            </ul>
       <h4 i18n style="margin-top:40px;margin-left: 30px;">Reconciliation</h4>
        <p i18n id="para">Manage Accommodation</p>
      </div>
      <div class="col-sm-4">
          <ul>
              <li>
                <a href="#" id="menu-container" >
                  <i id='bounce1' class="fa fa-cart-arrow-down logo-small"></i>
                  <i id='bounce2' class="fa fa-cart-arrow-down logo-small"></i>
                </a>
              </li>
            </ul>
       <h4 i18n style="margin-top:40px;margin-left: 30px;">Ecomerce</h4>
        <p i18n id="para">Manage your customers</p>
      </div>
    </div>
</div>
