$transition: all 0.5s ease-in-out;
$ash :#262626;
$relative:relative;
$absolute:absolute;

.parallax1,.parallax2,.parallax2 {
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#services h2 {
  margin: 0 auto;
  padding: 10% 0;
  font-size: 5em;
}
.container-fluid {
  position: $relative;
  word-wrap: break-word;
}
ul {
  position: $absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  li {
    list-style: none;
    margin-top: -50px;
    a {
      position: $relative;
      display: block;
      width: 60px;
      height: 60px;
      background: $ash;
      text-align: center;
      line-height: 60px;
      
      box-shadow: 0 0 0 3px $ash;
      overflow: hidden;
      border-radius: 50%;
      i.fa {
        position: $relative;
        font-size: 30px;
        line-height: 60px;
        transition: 0.5s;
        height: 100%;
        width: 100%;
      }
      :hover i.fa {
        transform: translateY(-100%);
      }
    }
  }
}

#bounce1:hover {
  position: fixed;
  transform: translateY(100%);
  color: #ece7e7;
  display: block;
  line-height: 28px;
  font-size: 16px;
  -webkit-transition:$transition;
  -moz-transition:$transition;
  -o-transition:$transition;
  transition:$transition;
}

ul li a {
  &:before {
    content: '';
    position: $absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.5s;
    animation: bounce 1s;
    box-shadow: 0 0 0 5px rgba(#fff,.4) , 0 0 0 10px  #f05f75;
  }
  &:hover:before {
    transform: scaleY(1);
  }
}
#param{
  margin-left: 125px;
  text-align: justify;
}