<div class="container-fluid">
    <div class="row header-section">
        <span>IB Drive</span>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row card">
                <div class="col-sm-12">
                    <h4>Upload Section</h4>
                    <div id="fileSelector">
                        <input type="file" name="fileUplaod" id="fileUpload" ng2FileSelect [uploader]="uploader" (click)='single()'>
                    </div>
                    <div>
                        <div class="row uploadList" *ngFor="let item of uploader.queue">
                            <div class="col-sm-4">{{item.file.name}}</div>
                            <div class="col-sm-4">
                                <div class="progress">
                                    <div class="progress-bar bg-success" [ngStyle]="{'width':item.progress+'%'}"></div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-dark" (click)="item.upload()">Upload</button>                                              
 <div *ngIf="read==true && write==true || write==true">
</div>
                                <button type="button" class="btn btn-danger" (click)="item.remove()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <button type="button" (click)="refreshUploads()" class="btn btn-outline-info btn-lg">
        <i class="fa fa-refresh"></i> Refresh
    </button>
    <button type="button" (click)="refreshUploads()" class="btn btn-outline-info btn-lg">
        <i class="fa fa-info-circle"></i> View </button>
    <button type="button" (click)="sharedUploads()" class="btn btn-outline-info btn-lg">
        <i class="fa fa-info-circle"></i> Shared </button>
</div>
<hr>
<div cdkDropList class="example-list"> <!--(cdkDropListDropped)="drop($event)">-->
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-4 example-box' *ngFor="let list1 of uploadlist; let i = index" cdkDrag (mouseenter)="getdetails(i)"
                (mouseleave)="mouseLeave(i)">
                <table >
                    <tr>
                        <td>
                            <div width="300" height="300">
                                <img src="{{myurl+'/dashboard/'+'Public/'+'Uploads/'+usr+'/'+list1.image}}" class="img-thumbnail"
                                    target="_blank" width="300" height="300" alt="Image">
                                <br>
                                {{list1.image}}
                            </div>
                        </td>
                        <td>
                            <a href="{{myurl+'/dashboard/'+'Public/'+'Uploads/'+usr+'/'+list1.image}}" *ngIf="list1.view"
                                target="_blank" class="btn btn-outline-info btn-lg" title="View Large">
                                <i class="fa fa-file-image-o" aria-hidden="true"></i></a>
                            <br>
                            <button type="button" class="btn btn-outline-info btn-lg" *ngIf="list1.view" (click)='holdDeleteFile(list1.image)'
                                title="Delete image" data-toggle="modal" data-target="#responsive">
                                <i class="fa fa-trash" aria-hidden="true"></i></button>
                            <br>
                            <button type="button" class="btn btn-outline-info btn-lg" (click)='addShareFile(list1.image)'
                                *ngIf="list1.view" data-toggle="modal" data-target="#responsivee" title="Share image">
                                <i class="fa fa-share-alt-square" aria-hidden="true"></i> </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
        <div class="modal-content bigModel">
            <div class="modal-header">
                <h4>Alert! Delete File Permanantly</h4>
                <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger" (click)='deleteFile()' data-dismiss="modal">Delete</button>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="responsivee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="box">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Share</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" #shareForm="ngForm">
                    <div class="form-group">
                        <label>To</label>
                        <span class="ui-fluid">
                            <p-autoComplete name="socialNetworkId" #socialnetworkid [(ngModel)]="file.socialNetworkId"
                                [suggestions]="socialList" (completeMethod)="getSocialId($event)" styleClass="wid100"
                                [minLength]="1" placeholder="Social Network Id" field="socialnetworkid" [multiple]="true">
                                <option>Select</option>
                                <option class="form-control" *ngFor="let t of toList" value={{t.socialnetworkid}}>{{t.socialnetworkid}}</option>
                            </p-autoComplete>
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" value="Submit" class="btn btn-info" (click)="addSharing(socialnetworkid.value)">Share</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-4' *ngFor="let sList of sharedList; let i = index">
            <table class='table'>
                <tr>
                    <td>
                        <div width="300" height="300">
                            <img src="{{myurl+'/dashboard/'+'Public/'+'Uploads/'+sList.fromuserid+'/'+sList.url}}" class="img-thumbnail"
                                target="_blank" width="300" height="300" alt="Image">
                            <br>
                            From: {{sList.firstname}}{{sList.lastname}}
                            <br>
                            {{sList.url}}
                        </div>
                    </td>
                    <td>
                        <a href="{{myurl+'/dashboard/'+'Public/'+'Uploads/'+sList.fromuserid+'/'+sList.url}}" target="_blank"
                            class="btn btn-outline-info btn-lg" title="View Large" alt="Image" >
                            <i class="fa fa-file-image-o" aria-hidden="true"></i></a>
                        <br>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>