<div class="container">
  <div class="jumbotron">
    <h2>Team Details </h2>
    <hr />
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-list-ol"></i>  Team
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive">
            <i class="fa fa-plus-circle"></i>  Add Team</a>
          <a class="dropdown-item"  data-toggle="collapse" role="button" (click)=viewSession()>
            <i class="fa fa-th-list"></i>  <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span> Team</a>
        </div>
      </div>
    </div>
  </div>
  <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h4>Team</h4>
          <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
          </button>
        </div>
        <div class="modal-body">
          <form #frm="ngForm" novalidate>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Team Name</label>
                  <input type="text" required class="form-control" minlength="3" maxlength="50" pattern="^[^\d\W]+( [^\d\W]+)*$"
                    id="TeamName" placeholder="Team name " name='TeamName' [(ngModel)]="team.name" onkeypress="return (event.charCode >= 65 && event.charCode <= 90)||(event.charCode >= 97 && event.charCode <= 122)||event.charCode==32"
                    #TeamName="ngModel">
                  <span *ngIf="TeamName.invalid && (TeamName.touched || TeamName.dirty)">
                    <span class="text-warning" [hidden]="!TeamName.errors.required" *ngIf="TeamName.errors && (TeamName.touched || TeamName.dirty)">
                      Team Name Required</span>
                    <span class="text-warning" [hidden]="!TeamName.errors.pattern" *ngIf="TeamName.errors && (TeamName.touched || TeamName.dirty)">
                      Team Name Should Be Only In Alphabets</span>
                  </span>
                  <span class="text-warning" [hidden]="!TeamName.errors.minlength || TeamName.errors.pattern" *ngIf="TeamName.errors && (TeamName.touched || TeamName.dirty)">
                    Team Name Should Be Minimun 3 chars
                  </span>
                </div>
                <div class="form-group">
                  <label>Team Size</label>
                  <input type="text" class="form-control" minlength="3" maxlength="50" id="TeamSize" placeholder="Team Size "
                    name='TeamSize' [(ngModel)]="team.size" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                    #TeamSize="ngModel">
                  <span *ngIf="TeamSize.invalid && (TeamSize.touched || TeamSize.dirty)">
                    <span class="text-warning" [hidden]="!TeamSize.errors.required" *ngIf="TeamSize.errors && (TeamSize.touched || TeamSize.dirty)">
                      Team Name Required</span>
                    <span class="text-warning" [hidden]="!TeamSize.errors.pattern" *ngIf="TeamSize.errors && (TeamSize.touched || TeamSize.dirty)">
                      Team Name Should Be Only In Number</span>
                  </span>
                </div>
                <div class="form-group">
                  <label>Department</label>
                  <span class="text-warning"> * </span>
                  <select class="form-control" #dpt="ngModel" ngModel required name="dpt" [(ngModel)]="team.department">
                    <option value="0" disabled selected>Select </option>
                    <option *ngFor="let item of departmentlist" value="{{item.dep_id}}">{{item.dep_name}}</option>
                  </select>
                  <span class="text-warning" *ngIf="dpt.value=='Select'">Please select department </span>
                  <span class="text-warning" [hidden]="!dpt.errors.required" *ngIf="dpt.errors && (dpt.touched || dpt.dirty)">Please
                    Select</span>
                </div>
                <div class="form-group">
                  <label for="octn">Team HR:</label>
                  <span class="text-warning"> * </span>
                  <button class="btn btn-debug" (click)="addHod()">Add HR</button>
                  <select class="form-control" type="text" autocomplete="off" #staffid="ngModel" maxlength="30"
                    required name="staffId" [(ngModel)]="team.staffId">
                    <option value="0" selected>Select Team HR</option>
                    <option *ngFor="let user of allStaffList" value={{user.userid}}>{{user.firstname}}
                      {{user.lastname}}
                    </option>
                  </select>
                  <span class="text-warning" [hidden]="!staffid.errors.required" *ngIf="staffid.value=='0'  && (staffid.touched || staffid.dirty)">HOD
                    Required
                  </span>
                </div>
                <div class="form-group" class="form-group" class="text-center">
                  <button type="add" class="btn btn-primary" value="Submit" data-dismiss="modal" (click)="addTeam()">Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="viewsession">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6 style="color:white;font-weight: bold ">Name</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <ng-container matColumnDef="TeamSize">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6 style="color:white;font-weight: bold ">Teamsize</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.teamsize}}</td>
      </ng-container>
      <ng-container matColumnDef="Departmentname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6 style="color:white;font-weight: bold ">Department Name</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.departmentname}}</td>
      </ng-container>
      <ng-container matColumnDef="hr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <h6 style="color:white;font-weight: bold ">HR Name</h6>
        </th>
        <td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
<br>