<div class="container">
  <br />
  <br />
  <div class="jumbotron">
    <h2>Trainee Marks</h2>
    <hr />
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-wpforms"></i>  Trainee Marks
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" href="#responsive" (click)="getId()">
            <i class="fa fa-plus-circle"></i>  Total Marks</a>
          <a class="dropdown-item" role="button" data-toggle="modal" href="#responsive" (click)="getIdForList()">
            <i class="fa fa-th-list"></i>  <span *ngIf="show1">  View </span><span *ngIf="!show1">  Hide </span>
            Students Marks List</a>
        </div>
      </div>
    </div>
  </div>
  <div class='container-fluid' *ngIf="showTotal">
    <div class='col col-md-6 offset-3'>
      <form #schbrn="ngForm" *ngIf="read==true && write==true || write==true">
        <div class="form-group">
          Batch
          <span class="text-danger"> * </span>
          <select class="form-control" name="studentId" (change)="studentsList()" [(ngModel)]="batchId" id="batchId"
            placeholder="studentId" #studentId="ngModel" required>
            <option>Select</option>
            <option *ngFor="let usl of batchesList" value="{{usl.id}}">{{usl.batchname}} </option>
          </select>
          <span class="text-danger" *ngIf="studentId.value=='Select'">Please Select Batch</span>
          <span class="text-danger" [hidden]="!studentId.errors.required" *ngIf="studentId.errors && (studentId.touched || studentId.dirty)">Batch
            Required</span>
        </div>
        <div class="form-group">
          <label>Trainee</label>
          <span class="text-danger"> * </span>
          <select class="form-control" #studentid="ngModel" style="width:100%; height:2.625em" placeholder="type" name='studentid'
            [(ngModel)]="admissionnum" required>
            <option>select</option>
            <option *ngFor="let bid of userStudentList" value="{{bid.admissionnum}}">{{bid.firstname}} {{bid.lastname}}</option>
          </select>
          <span class="text-danger" *ngIf="studentid.value=='select'">Please Select Student</span>
          <span [hidden]="!studentid.errors.required" class="text-danger" *ngIf="studentid.errors && (studentid.touched || studentid.dirty)">Trainee
            Required</span>
          <span [hidden]="!studentid.errors.values" class="text-danger" *ngIf="studentid.errors && (studentid.touched || studentid.dirty)">Trainee
            Required</span>
        </div>
        <div class="form-group">
          <label>Appraisal</label>
          <span class="text-danger"> * </span>
          <select class="form-control" #examid="ngModel" style="width:100%; height:2.625em" placeholder="type " name='examid'
            [(ngModel)]="exam" required>
            <option>select</option>
            <option *ngFor="let bid of examList" value="{{bid.appraisalid}}">{{bid.appraisalname}}</option>
          </select>
          <span class="text-danger" *ngIf="examid.value=='select'">Please Select Appraisal </span>
          <span [hidden]="!examid.errors.required" class="text-danger" *ngIf="examid.errors && (examid.touched || examid.dirty)">Exam
            Required</span>
          <span [hidden]="!examid.errors.values" class="text-danger" *ngIf="examid.errors && (examid.touched || examid.dirty)">Appraisal
            Required</span>
        </div>
        <div class="text-center">
          <input type="button" value="Calculate Total" (click)="getTotal()" class="btn btn-primary">
        </div>
      </form>
    </div>
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Percentage">
      </mat-form-field>
      <table mat-table [dataSource]="dataSources" matSort>
        <ng-container matColumnDef="examname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Appraisal </th>
          <td *matCellDef="let row">{{row.appraisalname}}</td>
        </ng-container>
        <ng-container matColumnDef="totalmarks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Marks</th>
          <td *matCellDef="let row">{{row.totalmarks}}</td>
        </ng-container>
        <ng-container matColumnDef="totalgainedmarks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Marks gained</th>
          <td *matCellDef="let row">{{row.totalgainedmarks}} </td>
        </ng-container>
        <ng-container matColumnDef="Percentage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Percentage</th>
          <td *matCellDef="let row">{{percentage}} </td>
        </ng-container>
        <ng-container matColumnDef="graph">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Graph</th>
          <td *matCellDef="let row">
            <div (click)="getGraph(row.studentid)">
              <i class="fa fa-line-chart"></i>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="card">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Report Card</th>
          <td *matCellDef="let row">
            <div data-toggle="modal" data-target="#responsiver">
              <i (click)="getReportCard(row.traineeid)" class="fa fa-graduation-cap" style="margin-left:  2.5em"></i>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef='displayedColumn'>
        </tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumn"></tr>
      </table>
      <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
    <div id="responsiver" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
      <div class="modal-dialog" id="box1">
        <div class="modal-content bigModel">
          <div class="modal-header">
            <h4 style="color:black">Progress Card:</h4>
            <button type="button" class="close btn-danger" style="color:rgb(12, 11, 11);" data-dismiss="modal">X
            </button>
          </div>
          <div class="modal-body" id="studnetmarks" style="background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBg4IBwkRDQ0PDRYIDg0NCA8IDQ0NIBEXFxURHxMYHTQgGCYxIh8fLT0hMSkrOi46IyU/ODMxNygtQi4BCgoKBQUFDgUFDisZExkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAL4AvgMBIgACEQEDEQH/xAAYAAEBAQEBAAAAAAAAAAAAAAAAAQIDB//EACMQAQEBAAIBAQkAAAAAAAAAAAARASFBAjEDElFhcZGhseH/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A9wqiTb6/0FAAAAAAAAAAAAAAAAAAABz9n5755d8d8ed8Zuc8buX6a6AAIAoigAACKAIoAAAigCHYKAAAAAACACgAAAJgKAAACCgM5meOTxycSdYvzUARUnIKACblVL0oIKAAACKAAAAAABgAJIoAAAAAAAAAAAAAAAAAAAAAnXCgAAAGgAAAAAAAAAAAkAVJAgKIoAICpRQATMBRFAEUAAAAAqbuZlqgAmfcDuflQAAAAAAAAAAAAATuKAAAAAAAIoCKAAACdqAAAAAAAJigAAAAAAAACKAAAgoAhKoAAIoAnKgAJ2oIXPRQBFAE3ZnKmgIoCCgAlN3i6CiUoKJTkFEpQUQoKCUFEpQUSlBRKZx6AohQUSlBRKoAAJOaoAAAJm39HagAgKAAAAACdKACT4qAAAAAx43b72Z68TbcbQBRO1AAAAAEAUAAAAE7BRMqgAgKAAIoP//Z)">
            <form #addschoolbranch="ngForm">
              <div>
                <table class="table table-bordered">
                  <tr>
                    <th>Subject </th>
                    <th>Marks</th>
                  </tr>
                  <tr *ngFor="let l of studentReportCardList">
                    <td>{{l.name}}</td>
                    <td>
                      {{l.marks}}
                    </td>
                  </tr>
                </table>
              </div>
              <div *ngFor="let t of totalmarks">
                <h6>Total Marks:{{t.totalmarks}}</h6>
                <h6>Total Gained Marks:{{t.totalgainedmarks}}</h6>
                <h6> Percentage:{{percentage}}%</h6>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='container-fluid' *ngIf="showStudentsMarks">
    <div class='col col-md-6 offset-3'>
      <form #schbrn="ngForm">
        <div class="form-group">
          Batch
          <select class="form-control" name="studentId" (change)="studentsList()" [(ngModel)]="batchId" id="batchId"
            placeholder="studentId" #studentId="ngModel" required>
            <option>Select</option>
            <option *ngFor="let usl of batchesList" value="{{usl.id}}">{{usl.batchname}} </option>
          </select>
          <span class="text-danger" *ngIf="studentId.value=='Select'">*Please Select</span>
          <span class="text-danger" [hidden]="!studentId.errors.required" *ngIf="studentId.errors && (studentId.touched || studentId.dirty)">*Batch
            Required..</span>
        </div>
        <div class="form-group">
          <label>Appraisal</label>
          <span class="text-danger"> * </span>
          <select class="form-control" #examid="ngModel" (change)="getSubjects()" style="width:100%; height: 2.625em"
            placeholder="type " name="examid" [(ngModel)]="exam" required>
            <option>select</option>
            <option *ngFor="let bid of examList" value="{{bid.appraisalid}}">{{bid.appraisalname}}</option>
          </select>
          <span class="text-danger" *ngIf="examid.value=='select'">*Please Select Exam </span>
          <span [hidden]="!examid.errors.required" class="text-danger" *ngIf="examid.errors && (examid.touched || examid.dirty)">Appraisal
            Required</span>
          <span [hidden]="!examid.errors.values" class="text-danger" *ngIf="examid.errors && (examid.touched || examid.dirty)">Appraisal
            Required</span>
        </div>
        <div class="text-center">
          <input type="button" value="Submit" (click)="getClassMarksList()" class="btn btn-primary">
        </div>
      </form>
    </div>
    <div>
    </div>
    <div>
      <div [innerHTML]="da" style="background-color: plum;height: auto;width:100%">
      </div>
    </div>
  </div>
  <div *ngIf="!showTotal">
    <div class="container ">
      <form #stdmark="ngForm">
        <h1 class="text-center" class="text-capitalize">Trainee Marks</h1>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              Batch
              <select class="form-control" name="studentId" (change)="studentsList()" [(ngModel)]="batchId" id="batchId"
                placeholder="studentId" #studentId="ngModel" required>
                <option>Select</option>
                <option *ngFor="let usl of batchesList" value="{{usl.id}}">{{usl.batchname}} </option>
              </select>
              <span class="text-danger" *ngIf="studentId.value=='Select'">*Please Select</span>
              <span class="text-danger" [hidden]="!studentId.errors.required" *ngIf="studentId.errors && (studentId.touched || studentId.dirty)">Trainee
                Required..</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              Appraisal :
              <select class="form-control" name="classExamId" (change)="examsubjects(classExamId.value)" [(ngModel)]="sm.examId"
                id="exammId" placeholder="examId" #classExamId="ngModel" required>
                <option>Select</option>
                <option *ngFor="let ett of examList" value="{{ett.appraisalid}}">{{ett.appraisalname}}
                  {{ett.appraisalid}}</option>
              </select>
              <span class="text-danger" *ngIf="classExamId.value=='Select'">*Please Select</span>
              <span class="text-danger" [hidden]="!classExamId.errors.required" *ngIf="classExamId.errors && (classExamId.touched || classExamId.dirty)">Appraisal
                Required..</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              Subject :
              <select class="form-control" name="subjectId" (change)="subjectNames(subjectId.value)" [(ngModel)]="sm.subjectId"
                id="subjectId" placeholder="subject name" #subjectId="ngModel" required>
                <option>Select</option>
                <option *ngFor="let ett of examsubjectsList" value="{{ett.id}}">{{ett.subjectname}} {{ett.examid}}</option>
              </select>
              <span class="text-danger" *ngIf="subjectId.value=='Select'">*Please Select Subject </span>
              <span class="text-danger" [hidden]="!subjectId.errors.required" *ngIf="subjectId.errors && (subjectId.touched || subjectId.dirty)">
                Subject
                Required..</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container" *ngIf="!showTotal">
    <form #frm="ngForm">
      <table class="table">
        <thead>
          <tr>
            <th>Trainee Name:</th>
            <th *ngFor="let el of examsubjectsList1">
              <b> {{el.subjectname}}</b>
            </th>
            <th></th>
          </tr>
        </thead>
        <tr *ngFor="let stdm of userStudentList">
          <td>{{stdm.firstname}} {{stdm.lastname}}</td>
          <td *ngFor="let el of examsubjectsList1">
            <div class="float-left">
              <input type="number" name="marks" #submarks placeholder="marks" class="form-control " style="margin-top: 0.3125em"
                required>
            </div>
            <div class="form-group float-left" *ngIf="submarks">
              <input type="submit" value="Submit" [disabled]="stdm.isDisabled" (click)="saveMarks(stdm.traineeid,submarks)"
                class="btn btn-primary">
            </div>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div *ngIf="!showTotal">
    <button id="button-a" class="btn btn-success" (click)="getexcel()"> <span class="example-spacer"></span>Download</button>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Trainee Name">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="StudentName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Trainee Name</th>
        <td mat-header-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
      </ng-container>
      <ng-container matColumnDef="examname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Appraisal Name</th>
        <td mat-header-cell *matCellDef="let row">{{row.appraisalname}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
        <td mat-header-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
      <ng-container matColumnDef="marks">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Marks</th>
        <td mat-header-cell *matCellDef="let row">{{row.marks}}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit
        </th>
        <td mat-header-cell *matCellDef="let row">
          <div (click)="editMarks(row.id)">
            <i class="fa fa-pencil-square-o"></i>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="Excel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
              aria-hidden="true"></i>
          </span></th>
        <td mat-cell *matCellDef="let row">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumns'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  <br>
  <div *ngIf="showGraph">
    <p-toast [style]="{marginTop: '5em'}"></p-toast>
    <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>
  </div>
</div>