
<div class="container">
    <div class="jumbotron">
        <h2>Jobs Management </h2>
        <hr />
        <br>
        <div class="btn-align">
            <div class="dropdown">
                <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-suitcase"></i> Jobs Details
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)="postJob()"
                        *ngIf="rolename=='BranchAdmin' || rolename=='SesstionTeacher'">
                        <i class="fa fa-plus-circle"></i> Post A Job</a>
                    <a class="dropdown-item" href="#vieworg" data-toggle="collapse" role="button" matBadge="{{count}}"
                        matBadgePosition="after" matBadgeColor="warn" (click)="viewJob()" title="View Job" *ngIf="rolename=='BranchAdmin'  || rolename=='SesstionTeacher' || rolename=='OrganizationAdmin'">
                        <i class="fa fa-th-list"></i>  View Job</a>
                    <a class="dropdown-item" role="button" data-toggle="modal" href="#viewevnt" (click)="getAppliacnts()"
                        *ngIf="rolename=='BranchAdmin'"><i class="fa fa-th-list"></i> view Job Applicants</a>
                    <a class="dropdown-item" role="button" data-toggle="modal" (click)="getAllPlacements()" *ngIf="rolename=='Trainee'"><i
                            class="fa fa-th-list"></i> View Available Job</a>
                    <a class="dropdown-item" role="button" data-toggle="modal" (click)="getAppliedJobStatus()" *ngIf="rolename=='Trainee'"><i
                            class="fa fa-th-list"></i> Applied job Status</a>
                    <a class="dropdown-item" role="button" data-toggle="modal" (click)="getAggrements()" *ngIf="rolename=='Trainee'"><i
                            class="fa fa-th-list"></i> Check Aggrements</a>
                </div>
            </div>
        </div>
    </div>
    <!-- require -->

    <div *ngIf="view && rolename=='BranchAdmin' || rolename=='OrganizationAdmin'">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Recently Added Job</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                    aria-selected="false">View All JOb</a>
            </li>
        </ul>
        <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="card-columns">
                    <div *ngFor="let aa of recentjoblist" class="card-columns" style="text-align: center;">
                        <div class="card" style="width: 21.875em; height:25em;background-color: lavender;">
                            <div class="card-body">
                                <h4 class="card-title">Name: {{aa.jobtittle}} {{aa.jobtittle}}</h4>
                                <p class="card-text">Key Skills:{{aa.ugraduate}}</p>
                                <p class="card-text"> Location:{{aa.location}} Experience:{{aa.vacancy}} </p>
                                <p class="card-text">Profile Summary:{{aa.jobtittle}}</p>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button (click)="getJobsByInstitution(aa.instituteid)" class="btn btn-primary"  data-toggle="modal" data-target="#Jobdetails">
                                            <i class="fa fa-eye">&nbsp;See Details
                                            </i>
                                        </button>
                                        <button (click)="editJob(aa.id)" class="btn btn-primary">
                                            <i class="fa fa-pencil-square-o">&nbsp;Update Details
                                            </i>
                                        </button>
                                        <button *ngIf="rolename==Trainee" class="btn btn-primary">
                                            <i class="fa fa-pencil-square-o">&nbsp;Apply
                                            </i>
                                        </button>
                                    </div>
                                    <div [hidden]="aa.docverificationstatus!='Verified' " style="margin-left:6.875em;margin-top: 5.625em ">
                                        <i class="fa fa-file-text ">Documents verified</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="card-columns">
                    <div *ngFor="let aa of joblists" class="card-columns" style="text-align: center">
                        <div class="card" style="width:21.875em; height: 25em;background-color: lavender;">
                            <div class="card-body">
                                <h4 class="card-title">Name: {{aa.jobtittle}} {{aa.anualCtc}}</h4>
                                <p class="card-text">Key Skills:{{aa.ugraduate}}</p>
                                <p class="card-text"> Location:{{aa.location}} Experience:{{aa.vacancy}} </p>

                                <p class="card-text">Profile Summary:{{aa.jobtittle}}</p>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button (click)="getJobsByInstitution(aa.instituteid)" class="btn btn-primary" data-toggle="modal" data-target="#Jobdetails" >
                                            <i class="fa fa-eye">&nbsp;See Details
                                            </i>
                                        </button>
                                        <button (click)="editJob(aa.id)" class="btn btn-primary">
                                            <i class="fa fa-pencil-square-o">&nbsp;Update Details
                                            </i>
                                        </button>
                                    </div>
                                    <div [hidden]="aa.docverificationstatus!='Verified' " style="margin-left:6.875em;margin-top: 5.625em ">
                                        <i class="fa fa-file-text ">Documents verified</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        
    </div>
    <br>
    <!-- require -->
    <form #addjob="ngForm" *ngIf="post">
        <div class="container">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="title">Job Tittle:</label>
                        <span class="text-danger"> * </span>
                        <input type="text" #jobTitles="ngModel" required minlength="3" maxlength="50" class="form-control"
                            pattern="^[^\d\W]+( [^\d\W]+)*$" id="tittle" name="jobTitles" placeholder="Use complete words Eg: Type Senior Manager"
                            [(ngModel)]="jobmaster.jobTitles" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32">
                        <span class="text-danger" [hidden]="!jobTitles.errors.required" *ngIf="jobTitles.errors && (jobTitles.touched || jobTitles.dirty)">Job
                            Title is Required </span>
                        <span class="text-danger" [hidden]="!jobTitles.errors.minlength" *ngIf="jobTitles.errors && (jobTitles.touched || jobTitles.dirty)">Job
                            Title Should be minimum 3 charecters </span>
                    </div>
                    <div class="col-md-4">
                        <label for="ins">Organization Name</label>
                        <span class="text-danger">*</span>
                        <select name="organizationId" id="ins" #organizationId="ngModel" required class="form-control"
                            [(ngModel)]="jobmaster.organizationId">
                            <option value="0">Select Your Organzation from here</option>
                            <option *ngFor="let org of organizations" value="{{org.organizationid}}">{{org.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="location">Location</label>
                        <span class="text-danger">*</span>
                        <select class="form-control" #location="ngModel" style="width:100%; height:42px" placeholder="please select location "
                            name='location' [(ngModel)]="jobmaster.location" required>
                            <option value="0" disabled selected>select Branch</option>
                            <option *ngFor="let bid of locations" value="{{bid.branchname}}">{{bid.branchname}}</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <label for="Description">Job Description:</label>
                        <span class="text-danger"> * </span>
                        <textarea autocomplete="off" minlength="3" required #jobDescription="ngModel" maxlength="100"
                            style="resize:none" class="form-control" id="Description" rows="3" placeholder="More about job"
                            name="jobDescription" pattern="^[^\d\W]+( [^\d\W]+)*$" [(ngModel)]="jobmaster.jobDescription"
                            onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32 || event.charCode==13">
                                <span class="text-danger" *ngIf="jobDescription.errors.required && (jobDescription.touched || jobDescription.dirty)">Job Description is Required </span>
                               <span class="text-danger" [hidden]="!jobDescription.errors.minlength" *ngIf="jobDescription.errors && (jobDescription.touched || jobDescription.dirty)">Job Description Should be minimum 3 charecters </span>
                            </textarea>
                    </div>
                    <div class="col-md-4">
                        <label for="key">Keyword:</label>
                        <span class="text-danger"> * </span>
                        <span class="ui-fluid">
                            <p-autoComplete [(ngModel)]="countries" name="Keywords" [suggestions]="keywoardList"
                                (completeMethod)="Keywords($event)" styleClass="wid100" [minLength]="1" placeholder="keywoards"
                                field="jobtype" [multiple]="true">
                            </p-autoComplete>
                        </span>
                    </div>

                    <div class="col-md-4">
                        <label for="exp">Work Experience :</label>
                        <span class="text-danger">*</span> <span><b>{{rangeValues[0] + ' - ' + rangeValues[1]}}</b></span>
                        <div class="row">
                            <p-slider [(ngModel)]="rangeValues" #range="ngModel" name="range" [style]="{'width':'14em'}"
                                [range]="true"></p-slider>

                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <label for="ctc">Annual CTC</label>
                        <span class="text-danger">*</span>
                        <input type="number" class="form-control" required minlength="3" #anualCtc="ngModel" id="ctc"
                            name="anualCtc" placeholder="Enter Annual ctc" [(ngModel)]="jobmaster.anualCtc">
                        <span class="text-danger" [hidden]="!anualCtc.errors.required" *ngIf="anualCtc.errors && (anualCtc.touched || anualCtc.dirty)">Annual
                            CTC is Required </span>
                        <span class="text-danger" [hidden]="!anualCtc.errors.minlength" *ngIf="anualCtc.errors && (anualCtc.touched || anualCtc.dirty)">Annual
                            CTC is Required </span>
                    </div>
                    <div class="col-md-4">
                        <label for="oth">Other salary Details</label>
                        <input type="text" id="oth" class="form-control" required #otherSalary="ngModel" name="otherSalary"
                            placeholder="Enter about other salary details if any" [(ngModel)]="jobmaster.otherSalary">
                    </div>
                    <div class="col-md-4">
                        <label for="vac">Vacancy</label>
                        <span class="text-danger">*</span>
                        <input type="number" class="form-control" id="vac" required #vacancy="ngModel" min="0" max="1000"
                            name="vacancy" placeholder="How many vacancy are there" [(ngModel)]="jobmaster.vacancy">
                        <span class="text-danger" [hidden]="!vacancy.errors.required" *ngIf="vacancy.errors && (vacancy.touched || vacancy.dirty)">vacancy
                            is Required </span>
                    </div>
                </div>
                <br>
                <label for="exp">
                    <h4> Qualification</h4>
                </label>
                <div class="row">

                    <div class="col-md-4">
                        <label for="exp">UG Qualification</label>
                        <select name="ugQualificationId" id="exp" #ugQualificationId="ngModel" required class="form-control"
                            [(ngModel)]="jobmaster.ugQualificationId">
                            <option value="0" disabled> Select UG Qualification</option>
                            <option *ngFor="let ql of qualificationList" value="{{ql.id}}">{{ql.ugraduate}}</option>
                        </select>
                        <span class="text-danger" [hidden]="ugQualificationId.errors.required" *ngIf="ugQualificationId.value=='0' && (ugQualificationId.touched || ugQualificationId.dirty)">Please
                            Select ugQualification</span>
                        <span class="text-danger" *ngIf="ugQualificationId.errors && (ugQualificationId.touched || ugQualificationId.dirty)">ugQualification
                            Required
                        </span>
                    </div>
                    <div class="col-md-4">
                        <label for="exp">PG Qualification</label>
                        <select name="pgQualificationId" #pgQualificationId="ngModel" id="exp" required class="form-control"
                            [(ngModel)]="jobmaster.pgQualificationId">
                            <option value="0" disabled>Select PG Qualification</option>
                            <option *ngFor="let ql of qualificationList" value="{{ql.id}}">{{ql.pgraduate}}</option>
                        </select>
                        <span class="text-danger" [hidden]="pgQualificationId.errors.required" *ngIf="pgQualificationId.value=='0' && (pgQualificationId.touched || pgQualificationId.dirty)">Please
                            Select pgQualification</span>
                        <span class="text-danger" *ngIf="pgQualificationId.errors && (pgQualificationId.touched || pgQualificationId.dirty)">pgQualification
                            Required
                        </span>
                    </div>
                    <div class="col-md-4">
                        <label for="exp">Ph.D/Doctorate</label>
                        <span class="text-danger">*</span>
                        <select name="otherQualificationId" id="oq" #otherQualificationId="ngModel" required class="form-control"
                            [(ngModel)]="jobmaster.otherQualificationId">
                            <option value="0" disabled>select Ph.D Field</option>
                            <option *ngFor="let ql of qualificationList" value="{{ql.id}}">{{ql.doctorate}}</option>
                        </select>
                        <span class="text-danger" [hidden]="otherQualificationId.errors.required" *ngIf="otherQualificationId.value=='0' && (otherQualificationId.touched || otherQualificationId.dirty)">Please
                            Select OtherQualification</span>
                        <span class="text-danger" *ngIf="otherQualificationId.errors && (otherQualificationId.touched || otherQualificationId.dirty)">otherQualificationId
                            Required
                        </span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <label for="ins">Types of Industries</label>
                        <span class="text-danger">*</span>
                        <select #jobId="ngModel" required class="form-control" name='jobId' [(ngModel)]="jobmaster.jobId"
                            placeholder="type">
                            <option value="0" disabled selected> Select Job Type</option>
                            <option *ngFor="let jt of jobtype" value="{{jt.id}}">{{jt.jobtype}}</option>
                        </select>
                        <span class="text-danger" [hidden]="jobId.errors.required" *ngIf="jobId.value=='0' && (jobId.touched || jobId.dirty)">Please
                            Select Job Type</span>
                        <span class="text-danger" *ngIf="jobId.errors && (jobId.touched || jobId.dirty)">Job Type Name
                            Required
                        </span>
                    </div>

                    <div class="col-md-4">
                        <label for="dess">About Organization :</label>
                        <span class="text-danger"> * </span>
                        <textarea autocomplete="off" required minlength="3" maxlength="50" pattern="^[^\d\W]+( [^\d\W]+)*$"
                            maxlength="100" required style="resize:none" class="form-control" rows="3" placeholder="More about Organization "
                            id="dess" #aboutOrganization="ngModel" name="aboutOrganization" [(ngModel)]="jobmaster.aboutOrganization"
                            onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32 || event.charCode==13">
                            </textarea>
                        <span class="text-danger" [hidden]="!aboutOrganization.errors.required" *ngIf="aboutOrganization.errors && (aboutOrganization.touched || aboutOrganization.dirty)">Other
                            Salaryis Required </span>
                        <span class="text-danger" [hidden]="!aboutOrganization.errors.minlength || aboutOrganization.errors.required"
                            *ngIf="aboutOrganization.errors && (aboutOrganization.touched || aboutOrganization.dirty)">Other
                            SalaryShould
                            be minimum 3 charecters </span>
                    </div>
                    <div class="col-md-4">
                        <label for="eml">Requiter Email</label>
                        <span class="text-danger">*</span>
                        <select name="requiterEmail" id="eml" #requiterEmail="ngModel" required class="form-control"
                            [(ngModel)]="jobmaster.requiterEmail">
                            <option value="0">Select Requiter Email</option>
                            <option *ngFor="let org of Hrs" value="{{org.email}}">{{org.email}}</option>
                        </select>
                        <span class="text-danger" [hidden]="requiterEmail.errors.required" *ngIf="requiterEmail.value=='0' && (requiterEmail.touched || requiterEmail.dirty)">Please
                            Select Email</span>
                        <span class="text-danger" *ngIf="requiterEmail.errors && (requiterEmail.touched || requiterEmail.dirty)">Email
                            is Required
                        </span>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <input type="button" *ngIf="!jobmaster.Id" value="Submit" (click)="postJobs()" class="btn btn-primary"
                        data-dismiss="modal">
                </div>
                <div *ngIf="read==true && write==true || write==true">
                </div>
                <div class="text-center">
                    <input type="button" *ngIf="jobmaster.Id" value="Update" (click)=updateJob() class="btn btn-primary"
                        data-dismiss="modal">
                </div>
            </div>
        </div>
        <br>
    </form>
    <!-- require -->
    <div *ngIf="showplace && rolename=='Trainee'">
        <div class="container">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Company">
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="companyname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h6>Company</h6>
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.jobtittle}}</td>
                </ng-container>
                <ng-container matColumnDef="designation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h6>Designation</h6>
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.designation}}</td>
                </ng-container>
                <ng-container matColumnDef="package">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h6>Package</h6>
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.package}}</td>
                </ng-container>
                <ng-container matColumnDef="positions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h6>Positions</h6>
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.positions}}</td>
                </ng-container>
                <ng-container matColumnDef="startTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h6>Start Time</h6>
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.starttime | date:'medium'}}</td>
                </ng-container>
                <ng-container matColumnDef="endTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <h6>End Time</h6>
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.endtime | date:'medium'}}</td>
                </ng-container>
                <ng-container matColumnDef="option">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span *ngIf="rolename=='Trainee'">option</span>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <input type="button" value="apply" (click)='sendApplicationRequest(row.id)' *ngIf="rolename=='Trainee'">
                        <br />
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef='displayedColumns'>
                </tr>
                <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
            </table>
            <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
    </div>
    <!-- require -->
    <div *ngIf="showAggrement && rolename=='Trainee'">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Company">
        </mat-form-field>
        <table mat-table [dataSource]="newdata1" matSort>
            <ng-container matColumnDef="jobtitle">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h6>Job Tittle</h6>
                </th>
                <td mat-cell *matCellDef="let row">{{row.jobtittle}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h6>Company Name</h6>
                </th>
                <td mat-cell *matCellDef="let row">{{row.organizationname}}</td>
            </ng-container>
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h6>Location</h6>
                </th>
                <td mat-cell *matCellDef="let row">{{row.location}}</td>
            </ng-container>
            <ng-container matColumnDef="annualctc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h6>Package</h6>
                </th>
                <td mat-cell *matCellDef="let row">{{row.annualctc}}</td>
            </ng-container>
            <ng-container matColumnDef="doj">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h6>Joining Date</h6>
                </th>
                <td mat-cell *matCellDef="let row">{{row.doj}}</td>
            </ng-container>
            <ng-container matColumnDef="shifts">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h6>Working Shifs</h6>
                </th>
                <td mat-cell *matCellDef="let row">{{row.shiftname}}</td>
            </ng-container>
            <ng-container matColumnDef="aggree">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <h6>Aggree</h6>
                </th>
                <td mat-cell *matCellDef="let row">
                    <input type="checkbox" id="oops" data-md-icheck (click)="accepetAggrements(row.applicantaggrementsid)" />
                    <br />
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef='displayedColumns5'>
            </tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns5"></tr>
        </table>
        <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>

    <!-- Require -->
    <div *ngIf="result && rolename=='BranchAdmin'">
        
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource1" matSort>
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
                <td td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
            </ng-container>
            <ng-container matColumnDef="qualification">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Qualification</th>
                <td mat-cell *matCellDef="let row">{{row.ugraduate}} {{row.pgraduate}}</td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let row">{{row.email}}</td>
            </ng-container>
            <ng-container matColumnDef="experience">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>MinExperience</th>
                <td mat-cell *matCellDef="let row">{{row.minimumexperience}}</td>
            </ng-container>
            <ng-container matColumnDef="disignation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>For The Post</th>
                <td mat-cell *matCellDef="let row">{{row.designation}}</td>
            </ng-container>
            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Details<th>
                <td mat-cell *matCellDef="let row">
                    <input type="button" value="Details" (click)="getApplicantsAllDetails(row.jobapplicantid)"
                        data-toggle="modal" data-target="#responsive1" class="btn btn-sm-default">
                </td>
            </ng-container>
            <ng-container matColumnDef="approve">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Approve<th>
                <td mat-cell *matCellDef="let row">
                    <button type="button" class="btn btn-outline-info btn-lg" data-toggle="modal" data-target="#responsivestatus">
                        <i class="fa fa-plus-circle"></i>
                    </button>
                    <div id="responsivestatus" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
                        <div class="modal-dialog" id="box">
                            <div class="modal-content bigModel">
                                <div class="modal-header">
                                    <h4>Scheduler</h4>
                                    <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-3 col-md-6">
                                                <label for="">Start time</label>
                                                <input type="time" #fromtime class="form-control" name="fromtime"
                                                    [(ngModel)]="InterviewSchedule.fromtime">
                                            </div>
                                            <div class="col-sm-9 col-md-6">
                                                <label for="">End time</label>
                                                <input type="time" #totime class="form-control" name="totime"
                                                    [(ngModel)]="InterviewSchedule.totime">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm col-md">
                                                <label for="">Date</label>
                                                <input type="text" required readonly placeholder="MM/DD/YYYY"
                                                    autocomplete="off" onclick="this.value=Date()" name="schedule"
                                                    class="form-control" bsDatepicker [bsConfig]=" {containerClass: 'theme-dark-blue' }"
                                                    [(ngModel)]="InterviewSchedule.schedule" #registrationDate="ngModel"
                                                    required [maxDate]="maxDate" [minDate]="minDate" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm col-md">
                                                <input type="checkbox" id="ch" [ngModel]="filter" (change)="acceptApplicantsReq(row.userid,row.placementid)">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef='displayedColumns1'>
            </tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns1"></tr>
        </table>
        <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      
    </div>




    <div *ngIf="showAcademics">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="newDataSource" matSort>
            <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
                <td td mat-cell *matCellDef="let row">{{row.firstname}} {{row.lastname}}</td>
            </ng-container>
            <ng-container matColumnDef="jobtittle">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Qualification</th>
                <td mat-cell *matCellDef="let row">{{row.ugraduate}} {{row.pgraduate}}</td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let row">{{row.email}}</td>
            </ng-container>
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>MinExperience</th>
                <td mat-cell *matCellDef="let row">{{row.minimumexperience}}</td>
            </ng-container>
            <ng-container matColumnDef="functionalarea">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>For The Post</th>
                <td mat-cell *matCellDef="let row">{{row.designation}}</td>
            </ng-container>
            <ng-container matColumnDef="applicationstatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status<th>
                <td mat-cell *matCellDef="let row">{{row.jobapplicantsstatus}}</td>
            </ng-container>
            <ng-container matColumnDef="option">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Attend<th>
                <td mat-cell *matCellDef="let row">
                    <span>
                        <input type="button" *ngIf="row.jobapplicantsstatus=='Accepted'" value="Attend" class="btn btn-sm-primary" (click)="scheduleAccptence(row.userid,row.placementid)">
                    </span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef='displayedColumns2'>
            </tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns2"></tr>
        </table>
        <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
    <!-- require -->
    <div id="responsive1" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
        <div class="modal-dialog" id="box">
            <div class="modal-content bigModel">
                <div class="modal-header">
                    <h4>Details</h4>
                    <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngFor="let apd of applicantDeatilsByPlacementId " id="sri">
                        Name: {{apd. firstname}} {{apd.lastname}} <br>
                        SSC percentage: {{apd.sscpercentage}} <br>
                        InterPercentage: {{apd.interpercentage}} <br>
                        Graduation : {{apd.ugraduate}} <br>
                        Experience : {{apd.experience}} <br>
                        <button (click)="getPreviousInterview(apd.userid)">Get Previous Interview details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showprevInterview && rolename=='BranchAdmin'">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource4" matSort>
            <ng-container matColumnDef="companyname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
                <td mat-cell *matCellDef="let row">{{row.name}}</td>
            </ng-container>
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
                <td mat-cell *matCellDef="let row">{{row.location}}</td>
            </ng-container>
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>For The Post</th>
                <td mat-cell *matCellDef="let row">{{row.designation}}</td>
            </ng-container>
            <ng-container matColumnDef="interviewsatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Interview Ststus</th>
                <td mat-cell *matCellDef="let row">{{row.interviewstatus}}</td>
            </ng-container>
            <ng-container matColumnDef="performance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Performence Rating</th>
                <td mat-cell *matCellDef="let row">{{row.performencertng}}</td>
            </ng-container>
            <ng-container matColumnDef="communication">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Communication Rating</th>
                <td mat-cell *matCellDef="let row">{{row.communicationrtng}}</td>
            </ng-container>
            <ng-container matColumnDef="behaviour">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Behaviour Rating</th>
                <td mat-cell *matCellDef="let row">{{row.behaviourrtng}}</td>
            </ng-container>
            <ng-container matColumnDef="ontime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ontime Rating</th>
                <td mat-cell *matCellDef="let row">{{row.ontimertng}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef='displayedColumns4'>
            </tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns4"></tr>
        </table>
        <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>


    <div id="Jobdetails" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
        <div class="modal-dialog " id="box">
          <div class="modal-content ">
            <div class="modal-header">
              <h4>Job Details</h4>
              <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
              </button>
            </div>
            <div class="modal-body " *ngFor="let losi of jobsOfSpecificInstitution ">
             

               <b style="color:white">Job Tittle:</b> <i style="color:aliceblue ; size: 8px" > {{losi.jobtittle}} </i><br>
               
               <b style="color:white">Job Description:</b> <i style="color:aliceblue ; size: 8px" > {{losi.jobdescription}} </i><br>
               <b style="color:white">Job Location :</b> <i style="color:aliceblue ; size: 8px" > {{losi.location}} </i><br>
               <b style="color:white">Required Skills :</b> <i style="color:aliceblue ; size: 8px" > {{losi.ugraduate}} </i><br>
               <b style="color:white">Require Experience :</b> <i style="color:aliceblue ; size: 8px" > {{losi.minimumexperience}} yr - {{losi.maximumexperience}} yr</i><br>
               <b style="color:white">Requiter Email :</b> <i style="color:aliceblue ; size: 8px" > {{losi.requiteremail}} </i><br>
               

            </div>
          </div>
        </div>
      </div>
</div>
