$auto:auto;
$none:none;
$block:block;
$hidden:hidden;
$center:center;
$pointer:pointer;
$absolute:absolute;
$hunderd:100%;
$rgb:rgb(255, 255, 255);
$rgb2:rgb(0, 0, 0);
$color:#000000;
$white:#ffffff;
$transparent:transparent;


.card-body {
  height: 300px;
  overflow: $auto;
}

.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  border: 0;
  font-size: 0.9em !important;
  letter-spacing: 2px;
  opacity: 0.9;
  height: 100px;
  background: linear-gradient(to right, $rgb2, $rgb2);
  color: $white;
}

.sticky-top.scrolled {
  background: linear-gradient(90deg, #423f9c 31%, #862359 69%);
  transition: background-color 200ms linear;
}

.navbar-default .navbar-toggle {
  border-color: $transparent;
  color: $color !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: $white;
}

.dropdown-toggle::after {
  display: $none;
}

.navbar-nav li {
  a:hover {
    color: #b4a8a8 !important;
  }

  &.active a {
    color: $color !important;
    background-color: $color !important;
  }
}

.nav-item .nav-link .fa {
  font-size: 1em;
  padding-right: 5px;
}

.navbar-default .navbar-toggle {
  border-color: $transparent;
}

.open .dropdown-toggle {
  color: $color;
  background-color: $rgb !important;
}

.dropdown-menu a {
  color: white !important;
  background: $color;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;
  }
}

.dataLinks {
  color: $rgb;

  small {
    display: $none;
  }
}

.elementer {
  display: inline-flex;
  align-items: $center;
}

i {
  .fa-camera {
    margin-top: -5em;
    margin-left: 10em;
    cursor: $pointer;
    font-size: 3em;

    &:hover {
      cursor: $pointer;
    }
  }

  &:hover {
    opacity: 0.6;
    cursor: $pointer;
  }
}

#picUploader {
  display: $none;
}

.profile-header-container {
  margin: 0 $auto;
  text-align: $center;
}

.profile-header-img {
  padding: 54px;

  >img.img-rounded {
    width: 120px;
    height: 120px;
    border: 2px solid #51D2B7;
  }
}

.modal {
  margin-left: 12%;
  width: 75%;
  margin-top: 10%;
}

.profile-header {
  margin-top: 43px;
}

.element {
  display: inline-flex;
  align-items: $center;
}

#picUpload {
  display: $none;

  &:hover {
    .overlay {
      display: $block;
      background: rgba(0, 0, 0, 0.3);
    }

    .fa-camera {
      margin-left: 5em;
      opacity: 1;
    }
  }
}

span .fa-camera {
  cursor: $pointer;
  position: $absolute;
  left: 3em;
  /* text-align: center; */
  opacity: 0;
  /* transition: opacity .35s ease; */
  font-size: 1em;
}

.from {
  width: 80%;
  height: $auto;
  background-color: azure;
  float: left;
}

.to {
  width: 80%;
  height: $auto;
  background-color: #51D2B7;
  float: right;
}

h6 {
  max-width: $hunderd;
  max-height: $hunderd;
  position: relative;
  font-size: 80%;
  line-height: 1.5;

  &.title {
    text-transform: capitalize;
  }
}

/* chat UI */
.container {
  max-width: 90%;
  margin: $auto;
  transition: width 1s;
}

img {
  max-width: $hunderd;
}

.inbox_msg {
  width: $hunderd;
  clear: both;
  overflow: $hidden;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: $hunderd;
}

.time_date {
  color: #747474;
  display: $block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg {
  width: 57%;
}

.mesgs {
  border: 1px solid #c4c4c4;
  float: right;
  padding: 30px 15px 0 25px;
  width: $hunderd;
  background-color: black;
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: rgb(255, 255, 255);
  padding: 5px 10px 5px 12px;
  width: $hunderd;
}

.outgoing_msg {
  overflow: $hidden;
  margin: 26px 0 26px;
}

.sent_msg {
  float: right;
  width: 46%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: $hunderd;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: $pointer;
  font-size: 17px;
  height: 33px;
  position: $absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.messaging {
  padding: 0 0 -3px 0;
  width: 350px;
}

.msg_history {
  height: 516px;
  overflow-y: $auto;
}

@media all and (min-width: 241px) and (max-width: 480px) {
  .chatIcon {
    width: 40px;
    height: 40px;
  }
}

.rating {
  font-size: 60px;
  height: 170px;
  line-height: 170px;
}

.rating1:hover:before,
.rating2:hover:before,
.rating3:hover:before,
.rating4:hover:before,
.rating5:hover:before {
  content: "??";
  position: $absolute;
  font-size: 80px;
  margin-left: -10px;
}

.centered-and-cropped {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.crop {
  width: 150px;
  height: 10vh;
  overflow: $hidden;

  img {
    max-width: $hunderd;
    margin: -5px 0 0 -10px;
  }
}

#collapsibleNavbar {
  margin-left: -3em;
}

.left,
.right {
  top: 77px;
  float: left;
  /*transform : translateY(125%); */
  position: fixed;
  z-index: 1;
}

img {
  border-style: $none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: $center;
  justify-content: space-between;
  position: relative;
  font-size: 1.4rem;
  width: $hunderd;
  color: $rgb;
  background-color: $color;
}

.sidebar-avatar {
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

.left {
  background: $color;
  width: $auto;
  transition: width 1.5s;
}

.right {
  background: #fff;
  width: 350px;
  transition: width 1s;
  border-style: solid;
  border-color: $rgb;
  border-width: 1px;
}

.user-profile {
  border-radius: 50%;
  background-color: $rgb;
  color: $color;
  padding: 3px;
  font-size: 0.5em;
}

.left:hover {
  width: 200px;

  .dataLinks small {
    display: inline;
  }

  .fa-user-circle {
    font-size: 10em;
  }

  .sidebar-avatar {
    border-radius: 50%;
    height: 120px;
    width: 120px;
  }

  .user-profile {
    border-radius: 15px;
    font-size: 1.2em;
  }

  +.container {
    max-width: 80%;
    margin-left: 200px;
  }
}

.item:hover {
  background-color: $rgb;
}

.left .fas {
  width: 20px;
  color: $rgb;
}

i.fas {
  font-size: 17px;
  width: 40px;
  height: 40px;
}

.item {
  height: 50px;
  overflow: $hidden;
  color: $rgb2;
}

@media all and (max-width: 1000px) {
  .menu-lg {
    display: $none;
  }
}

.nav-pills .nav-item {
  .nav-link {
    padding: $auto 0.5em;
    font-size: 1.2em;
  }

  text-align: left;
  padding: 0.1em 0 0.5em 0.5em;
}

.nav-pills .nav-item {
  .nav-link:hover {
    background-color: $rgb;
    color: $white;
    padding: $auto 0.5em;
    font-size: 1.2em;
  }

  .avatar:hover {
    background-color: $color;

    .fa-user-circle {
      background-color: $rgb;
    }
  }

  text-align: left;
  padding: 0.1em 0 0.5em 0.5em;
}

.nav-link {
  display: $block;
  padding: .2rem 1rem;
}

.fa:hover {
  cursor: $pointer;
}

.dropdown-item .text-white,
.nav-link .text-white {
  color: white;
  background: $color;
}

.center-text {
  position: relative;
  width: 400px;

  div {
    position: relative;
    height: 100px;
    margin: -30px 0;
    z-index: 2;
    transform: skewY(-5deg);
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(2) {
      transform: skewY(14.5deg);
      z-index: 1;
    }

    &:nth-child(4) {
      transform: skewY(14.5deg);
      z-index: 1;
      transform: skewY(25deg);
      transform-origin: left;
      top: -52px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &:nth-child(1):before,
    &:nth-child(3):before {
      background: linear-gradient(-160deg, #ff0058, #673ab7);
      transform: scaleX(0);
    }

    &:nth-child(2):before,
    &:nth-child(4):before {
      background: linear-gradient(-20deg, #ff0058, #38009c);
      transform: scaleX(0);
    }

    &:nth-child(1):before {
      animation: animate 1s linear forwards;
      transform-origin: right;
    }

    &:nth-child(2):before {
      animation: animate 1s linear forwards;
      transform-origin: left;
      animation-delay: 1s;
    }

    &:nth-child(3):before {
      animation: animate 1s linear forwards;
      transform-origin: right;
      animation-delay: 2s;
    }

    &:nth-child(4):before {
      animation: animate 1s linear forwards;
      transform-origin: left;
      animation-delay: 3s;
      width: 60%;
      left: 0;
    }

    &:nth-child(1):after,
    &:nth-child(3):after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: rgba(255, 255, 255, 0.2);
    }

    h2 {
      position: relative;
      margin: 0;
      padding: 0;
      z-index: 10;
      opacity: 0;
      color: #fff;
    }

    &:nth-child(1) h2 {
      animation: fadeText 0.5s linear forwards;
      animation-delay: 1s;
      font-size: 40px;
    }

    &:nth-child(3) h2 {
      animation: fadeText 0.5s linear forwards;
      animation-delay: 3s;
      font-size: 90px;
      font-weight: 700;
    }
  }
}

@keyframes animate {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}


@keyframes fadeText {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//chat
//===================================
$emoji-base-color: #FFDA6A;
$emoji-like-color: #548DFF;
$emoji-love-color: #F55064;
$emoji-angry-color: #D5234C;
$emoji-white-color: #FFFFFF;
$emoji-black-color: #000000;
$emoji-text-color: #8A8A8A;

body {
	margin: 0;
   width: 1200px;
	max-width: 100%;
   text-align: center;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.emoji {
	width: 6em;
	height: 6em;
	margin: 12px 12px 35px;
	background: $emoji-base-color;
	display: inline-block;
	border-radius: 50%;
	position: relative;

	&:after {
		position: absolute;
		bottom: -40px;
		font-size: 18px;
		width: 3em;
		left: calc(50% - 30px);
		color: $emoji-text-color;
	}
}

.emoji__face, .emoji__eyebrows, .emoji__eyes, .emoji__mouth, 
.emoji__tongue, .emoji__heart, .emoji__hand, .emoji__thumb {
	position: absolute;

	&:before, &:after {
		position: absolute;
		content: '';
	}
}

.emoji__face {
	width: inherit;
	height: inherit;
}

.emoji--like {
	background: $emoji-like-color;

	&:after {
		content: 'Like';
	}

	.emoji__hand {
		left: 25px;
		bottom: 30px;
		width: 20px;
		height: 40px;
		background: $emoji-white-color;
		border-radius: 5px;
		z-index: 0;
		animation: hands-up 2s linear infinite;

		&:before {
			left: 25px;
			bottom: 5px;
			width: 40px;
			background: inherit;
			height: 10px;
			border-radius: 2px 10px 10px 2px;
			box-shadow: 1px -9px 0 1px $emoji-white-color, 2px -19px 0 2px 
$emoji-white-color, 3px -29px 0 3px $emoji-white-color;
		}
	}

	.emoji__thumb {
		border-bottom: 20px solid $emoji-white-color;
		border-left: 20px solid transparent;
		top: -25px;
		right: -25px;
		z-index: 2;
		transform: rotate(5deg);
		transform-origin: 0% 100%;
		animation: thumbs-up 2s linear infinite;

		&:before {
			border-radius: 50% 50% 0 0;
			background: $emoji-white-color;
			width: 10px;
			height: 12px;
			left: -10px;
			top: -8px;
			transform: rotate(-15deg);
			transform-origin: 100% 100%;
			box-shadow: -1px 4px 0 -1px $emoji-white-color;
		}
	}
}

.emoji--love {
	background: $emoji-love-color;

	&:after {
		content: 'Love';
	}

	.emoji__heart {
		left: calc(50% - 40px);
		top: calc(50% - 40px);
		width: 80px;
		height: 80px;
		animation: heart-beat 1s linear infinite alternate;

		&:before, &:after {
			left: calc(50% - 20px);
			top: calc(50% - 32px);
			width: 40px;
			height: 64px;
			background: $emoji-white-color;
			border-radius: 20px 20px 0 0;
		}

		&:before {
			transform: translate(20px) rotate(-45deg);
			transform-origin: 0 100%;
		}

		&:after {
			transform: translate(-20px) rotate(45deg);
			transform-origin :100% 100%;
		}
	}
}

.emoji--haha {
	&:after {
		content: 'Haha';
	}

	.emoji__face {
		animation: haha-face 2s linear infinite;
	}

	.emoji__eyes {
		width: 26px;
		height: 6px;
		border-radius: 2px;
		left: calc(50% - 13px);
		top: 35px;
		transform: rotate(20deg);
		background: transparent;
		box-shadow: -25px 5px 0 0 $emoji-black-color,  25px -5px 0 0 
$emoji-black-color;

		&:after {
		  left: 0;
		  top: 0;
		  width: 26px;
		  height: 6px;
		  border-radius: 2px;
		  transform: rotate(-40deg);
		  background: transparent;
		  box-shadow: -25px -5px 0 0 $emoji-black-color,  25px 5px 0 0 
$emoji-black-color;
		}
	}

	.emoji__mouth {
		width: 80px;
		height: 40px;
		left: calc(50% - 40px);
		top: 50%;
		background: $emoji-black-color;
		border-radius: 0 0 40px 40px;
		overflow: hidden;
		z-index: 1;
		animation: haha-mouth 2s linear infinite;
	}

	.emoji__tongue {
		width: 70px;
		height: 30px;
		background: $emoji-love-color;
		left: calc(50% - 35px);
		bottom: -10px;
		border-radius: 50%;
	}
}

.emoji--yay {
	&:after {
		content: 'Yay';
		animation: yay-reverse 1s linear infinite;
	}

	.emoji__face {
		animation: yay 1s linear infinite alternate;
	}

	.emoji__eyebrows {
		left: calc(50% - 3px);
		top: 30px;
		height: 6px;
		width: 6px;
		border-radius: 50%;
		background: transparent;
		box-shadow: -6px 0 0 0 $emoji-black-color, -36px 0 0 0px 
$emoji-black-color, 6px 0 0 0 $emoji-black-color, 36px 0 0 0px 
$emoji-black-color;

		&:before, &:after {
			width: 36px;
			height: 18px;
			border-radius: 60px 60px 0 0;
			background: transparent;
			border: 6px solid black;
			box-sizing: border-box;
			border-bottom: 0;
			bottom: 3px;
			left: calc(50% - 18px);
		}

		&:before {
			margin-left: -21px;
		}

		&:after {
			margin-left: 21px;
		}
	}

	.emoji__mouth {
		top: 60px;
		background: transparent;
		left: 50%;

		&:after {
		  width: 80px;
		  height: 80px;
		  left: calc(50% - 40px);
		  top: -75px;
		  border-radius: 50%;
		  background: transparent;
		  border: 6px solid $emoji-black-color;
		  box-sizing: border-box;
		  border-top-color: transparent;
		  border-left-color: transparent;
		  border-right-color: transparent;
		  z-index: 1;
		}

		&:before {
			width: 6px;
			height: 6px;
			background: transparent;
			border-radius: 50%;
			bottom: 5px;
			left: calc(50% - 3px);
			box-shadow: -25px 0 0 0 $emoji-black-color, 25px 0 0 0 
$emoji-black-color, -35px -2px 30px 10px $emoji-angry-color, 35px -2px 
30px 10px $emoji-angry-color;
		}
	}
}

.emoji--wow {
	&:after {
		content: 'Wow';
	}
   .emoji__face {
	animation: wow-face 3s linear infinite;
   }

   .emoji__eyebrows {
		left: calc(50% - 3px);
		height: 6px;
		width: 6px;
		border-radius: 50%;
		background: transparent;
		box-shadow: -18px 0 0 0 $emoji-black-color, -33px 0 0 0 
$emoji-black-color, 18px 0 0 0 $emoji-black-color, 33px 0 0 0 
$emoji-black-color;
		animation: wow-brow 3s linear infinite;

		&:before, &:after {
			width: 24px;
			height: 20px;
			border: 6px solid $emoji-black-color;
			box-sizing: border-box;
			border-radius: 50%;
			border-bottom-color: transparent;
			border-left-color: transparent;
			border-right-color: transparent;
			top: -3px;
			left: calc(50% - 12px);
		}

		&:before {
			margin-left: -25px;
		}

		&:after {
			margin-left: 25px;
		}
	}

	.emoji__eyes {
		width: 16px;
		height: 24px;
		left: calc(50% - 8px);
		top: 35px;
		border-radius: 50%;
		background: transparent;
		box-shadow: 25px 0 0 0 $emoji-black-color, -25px 0 0 0 
$emoji-black-color;
	}

	.emoji__mouth {
		width: 30px;
		height: 45px;
		left: calc(50% - 15px);
		top: 50%;
		border-radius: 50%;
		background: $emoji-black-color;
		animation: wow-mouth 3s linear infinite;
	}
}

.emoji--sad {
	&:after {
		content: 'Sad';
	}

	.emoji__face {
		animation: sad-face 2s ease-in infinite;
	}

	.emoji__eyebrows {
		left: calc(50% - 3px);
		top: 15px;
		height: 6px;
		width: 6px;
		border-radius: 50%;
		background: transparent;
		box-shadow: -40px 9px 0 0 $emoji-black-color, -25px 0 0 0 
$emoji-black-color, 25px 0 0 0 $emoji-black-color, 40px 9px 0 0 
$emoji-black-color, ;

		&:before, &:after {
			width: 30px;
			height: 20px;
			border: 6px solid $emoji-black-color;
			box-sizing: border-box;
			border-radius: 50%;
			border-bottom-color: transparent;
			border-left-color: transparent;
			border-right-color: transparent;
			top: 2px;
			left: calc(50% - 15px);
		}

		&:before {
			margin-left: -30px;
			transform: rotate(-30deg);
		}

		&:after {
			margin-left: 30px;
			transform: rotate(30deg);
		}
	}

	.emoji__eyes {
		width: 14px;
		height: 16px;
		left: calc(50% - 7px);
		top: 25px;
		border-radius: 50%;
		background: transparent;
		box-shadow: 25px 0 0 0 $emoji-black-color, -25px 0 0 0 
$emoji-black-color;

		&:after {
			background: $emoji-like-color;
			width: 0.6em;
			height: 0.6em;
			margin-left: 6px;
			border-radius: 0 100% 40% 50% / 0 50% 40% 100%;
			transform-origin: 0% 0%;
			animation: tear-drop 2s ease-in infinite;
		}
	}

	.emoji__mouth {
		width: 3em;
		height: 4em;
		left: calc(50% - 25px);
		top: 0px;
		box-sizing: border-box;
		border: 6px solid $emoji-black-color;
		border-radius: 50%;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		background: transparent;
		animation: sad-mouth 2s ease-in infinite;

		&:after {
			width: 6px;
			height: 6px;
			background: transparent;
			border-radius: 50%;
			top: 4px;
			left: calc(50% - 3px);
			box-shadow: -18px 0 0 0 $emoji-black-color, 18px 0 0 0 
$emoji-black-color;
		}
	}
}

.emoji--angry {
	background: linear-gradient($emoji-angry-color -10%, 
$emoji-base-color);
	background-size: 100%;
	animation: angry-color 2s ease-in infinite;

	&:after {
		content: 'Angry';
	}

   .emoji__face {
	  animation: angry-face 2s ease-in infinite;
	}

	.emoji__eyebrows {
		left: calc(50% - 3px);
		top: 25px;
		height: 0.3em;
		width: 0.3em;
		border-radius: 50%;
		background: transparent;
		box-shadow: -44px 5px 0 0 $emoji-black-color, -7px 16px 0 0 
$emoji-black-color, 7px 16px 0 0 $emoji-black-color, 44px 5px 0 0 
$emoji-black-color, ;

		&:before, &:after {
			width: 50px;
			height: 20px;
			border: 6px solid $emoji-black-color;
			box-sizing: border-box;
			border-radius: 50%;
			border-top-color: transparent;
			border-left-color: transparent;
			border-right-color: transparent;
			top: 0;
			left: calc(50% - 25px);
		}

		&:before {
			margin-left: -25px;
			transform: rotate(15deg);
		}

		&:after {
			margin-left: 25px;
			transform: rotate(-15deg);
		}
	}

	.emoji__eyes {
		width: 12px;
		height: 12px;
		left: calc(50% - 6px);
		top: 45px;
		border-radius: 50%;
		background: transparent;
		box-shadow: 25px 0 0 0 $emoji-black-color, -25px 0 0 0 
$emoji-black-color;
	}

	.emoji__mouth {
		width: 36px;
		height: 18px;
		left: calc(50% - 18px);
		bottom: 15px;
		background: $emoji-black-color;
		border-radius: 50%;
		animation: angry-mouth 2s ease-in infinite;
	}
}

@keyframes heart-beat {
	25% {transform: scale(1.1);}
	75% {transform: scale(0.6);}
}

@keyframes haha-face {
	10%, 30%, 50% {transform: translateY(25px);}
	20%, 40% {transform: translateY(15px);}
	60%, 80% {transform: translateY(0);}
	70%, 90% {transform: translateY(-10px);}
}

@keyframes haha-mouth {
	10%, 30%, 50% {transform: scale(0.6); top: 45%;}
	20%, 40% {transform: scale(0.8); top: 45%;}
	60%, 80% {transform: scale(1); top: 50%;}
	70% {transform: scale(1.2); top: 50%;}
	90% {transform: scale(1.1); top: 50%;}
}

@keyframes yay {
	25% {transform: rotate(-15deg);}
	75% {transform: rotate(15deg);}
}

@keyframes wow-face {
	15%, 25% {transform: rotate(20deg) translateX(-25px);}
	45%, 65% {transform: rotate(-20deg) translateX(25px);}
	75%, 100% {transform: rotate(0deg) translateX(0);}
}

@keyframes wow-brow {
	15%, 65% {top: 25px;}
	75%, 100%, 0% {top: 15px;}
}

@keyframes wow-mouth {
	10%, 30% {width: 20px; height: 20px; left: calc(50% - 10px);}
	50%, 70% {width: 30px; height: 40px; left: calc(50% - 15px);}
	75%, 100% {height: 50px;}
}

@keyframes sad-face {
	25%, 35% {top: -15px;}
	55%, 95% {top: 10px;}
	100%, 0% {top: 0;}
}

@keyframes sad-mouth {
	25%, 35% {transform: scale(0.85); top: 50px;}
	55%, 100%, 0% {transform: scale(1); top:60px;}
}

@keyframes tear-drop {
	0%, 100% {display:block; left: 35px; top: 15px; transform: 
rotate(45deg) scale(0);}
	25% {display:block; left: 35px; transform: rotate(45deg) scale(2);}
	49.9% {display:block; left: 35px; top: 65px; transform: rotate(45deg) 
scale(0);}
	50% {display:block; left: -35px; top: 15px; transform: rotate(45deg) 
scale(0);}
	75% {display:block; left: -35px; transform: rotate(45deg) scale(2);}
	99.9% {display:block; left: -35px; top: 65px; transform: rotate(45deg) 
scale(0);}
}

@keyframes hands-up {
	25% {transform: rotate(15deg);}
	50% {transform: rotate(-15deg) translateY(-10px);}
	75%, 100% {transform: rotate(0deg);}
}

@keyframes thumbs-up {
	25% {transform: rotate(20deg);}
	50%, 100% {transform: rotate(5deg);}
}

@keyframes angry-color {
	45%, 60% {background-size: 250%;}
	85%, 100%, 0% {background-size: 100%;}
}

@keyframes angry-face {
	35%, 60% {transform: translateX(0) translateY(10px) scale(0.9);}
	40%, 50% {transform: translateX(-5px) translateY(10px) scale(0.9);}
	45%, 55% {transform: translateX(5px) translateY(10px) scale(0.9);}
}

@keyframes angry-mouth {
	25%, 50% {height: 6px; bottom: 25px;}
}


.padding_half {
	padding: 4.375rem 0;
}

/* ----- Social Icons ----- */
ul.social-icons-simple li,
ul.social-icons li {
   display: inline-block;
}
ul.social-icons li a {
   height: 36px;
   line-height: 36px;
   width: 36px;
   font-size: 17px;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   margin: 0 0.1rem;
   text-align: center;
   display: block;
   color: #676767;
   background: #676767;
}
ul.social-icons.whitebg li a {
   background: #fff;
}
ul.social-icons-simple li a {
   height: 24px;
   line-height: 24px;
   width: 24px;
   margin: 0 8px;
   font-size: 18px;
   text-align: center;
   display: inline-block;
}
ul.social-icons.white li a,
ul.social-icons-simple.white li a{
    color: #fff;
}
ul.social-icons-simple li:last-child a,
ul.social-icons li:last-child a{
    margin-right: 0;
}
ul.social-icons-simple li:first-child a,
ul.social-icons li:first-child a{
    margin-left: 0;
}
ul.social-icons-simple li a:hover, 
ul.social-icons-simple li a:focus{
    color: #676767;
}
ul.social-icons li a:hover, 
ul.social-icons li a:focus,
ul.social-icons.white li a:hover, 
ul.social-icons.white li a:focus{
    color: #fff;
   -webkit-box-shadow: 0 0 15px 30px #67676783 inset;
   box-shadow: 0 0 15px 30px #67676781 inset;
}
footer .copyrights{
	font-size: 13px;
}
.footer-logo {
 display: inline-block;
 max-width: 230px;
}
footer ul.social-icons:not(.small) li a {
 height: 60px;
 width: 60px;
 line-height: 60px;
 font-size: 26px;
 border: none;
 background: transparent;
}
footer ul.social-icons li a {
 background: #f5f5f5;
}
footer .copyrights > a:hover,
footer .copyrights > a:focus {
 color: #00bcd4;
}
.extra-links {
	list-style-type: none;
	font-size: 0.62em;
}
.extra-links li {
	display: inline;
	padding: 10px;
}
.extra-links li a {
	color: #000000;
}
.bottom25 {
	margin-bottom: 25px;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-o-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -o-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}