<div style="min-height:50vh">
  <header class="text-right" style="padding-top:5px;padding-bottom: 0">
    <ul class="extra-links">
      <li>
        <a class="social-inner" href="http://www.infobyt.com"><span>English</span></a>
      </li>
      <li>
        <a class="social-inner" href="http://te-in.infobyt.com"><span>తెలుగు</span></a>
      </li>
      <li>
        <a class="social-inner" href="http://hi-in.infobyt.com"><span>हिंदी</span></a>
      </li>
      <li>
        <a class="social-inner" href="http://www.infobyt.com"><span>Home</span></a>
      </li>
      <li>
        <a class="social-inner" href="http://www.infobyt.com/About"><span>About</span></a>
      </li>
      <li>
        <a class="social-inner" href="http://www.infobyt.com/login/Chat"><span>Support</span></a>
      </li>
      <li>
        <a class="social-inner" href="http://www.infobyt.com/user/Jobs"><span>Careers</span></a>
      </li>
      <li>
        <a class="social-inner" href="{{myurl+'/Chat'}}"><span>Help Center</span></a>
      </li>
    </ul>
  </header>
  <nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <!-- Brand/logo -->
    <a class="navbar-brand crop" href="#">
      <img class="centered-and-cropped" src="{{myurl+'/organization/assets/infobytextpng.png'}}" alt="logo"/>
      &nbsp;&nbsp;&nbsp;
    </a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>MENU
    </button>
    <!-- Links -->
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
        <li class="nav-item" *ngIf="!usr">
          <a class="nav-link text-white" routerLink="/" fragment="mypage">
            <i class="fa fa-home" aria-hidden="true"></i> <span class="menu-lg" i18n>Home</span></a>
        </li>
        <li class="nav-item" *ngIf="usr">
          <a class="nav-link text-white" routerLink="login/Welcome">
            <i class="fa fa-home" aria-hidden="true"></i> <span class="menu-lg" i18n>Home</span></a>
        </li>
        <li class="nav-item" *ngIf="!usr">
          <a class="nav-link text-white" routerLink="/About" fragment="about">
            <i class="fa fa-bullhorn" aria-hidden="true"></i> <span class="menu-lg" i18n>About Us</span></a>
        </li>
        <li class="nav-item" *ngIf="!usr">
          <a class="nav-link text-white" routerLink="/Services" fragment="services">
            <i class="fa fa-cogs" aria-hidden="true"></i> <span class="menu-lg" i18n>Services</span></a>
        </li>
        <li class="nav-item" *ngIf="!usr">
          <a class="nav-link text-white" routerLink="/" fragment="contact">
            <i class='fa fa-address-card' aria-hidden="true"></i> <span class="menu-lg" i18n>Contact Us</span></a>
        </li>

        <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true" *ngIf="usr && rolename=='OrganizationAdmin'">
          <li class="nav-item dropdown" *ngFor="let a of 
 oPermissionList; let i=index">
            <a *ngIf="a.module!='settings'" class="nav-link 
 dropdown-toggle" href="#" data-toggle="dropdown"
              aria-expanded="true">
              <i class="{{a.icon}}" aria-hidden="true"></i> <span class="menu-lg">{{a.module | titlecase}}</span></a>
            <div class="dropdown-menu dropdown-menu-right" *ngIf="i>2">
              <div *ngFor="let b of a.components">
                <a class="dropdown-item" *ngIf="b.read==true || 
 b.write==true" routerLink="{{a.module}}/{{b.component | titlecase}}">
                  <span *ngIf="b.write==true">Manage</span> <span *ngIf="b.read==true && b.write==false">View</span>
                  {{b.component | titlecase}}
                </a>
              </div>
            </div>
            <div class="dropdown-menu" *ngIf="i<=2">
              <div *ngFor="let b of a.components">
                <a class="dropdown-item text-white" *ngIf="b.read==true 
 || b.write==true" routerLink="{{a.module}}/{{b.component | titlecase}}">
                  <span *ngIf="b.write==true">Manage</span> <span *ngIf="b.read==true && b.write==false">View</span>
                  {{b.component | titlecase}}
                </a>
              </div>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true" *ngIf="usr && rolename!='OrganizationAdmin'">
          <li class="nav-item dropdown" *ngFor="let a of permissionList; 
 let i=index">
            <a *ngIf="a.module!='settings'" class="nav-link 
 dropdown-toggle" href="#" data-toggle="dropdown"
              aria-expanded="true">
              <i class="{{a.icon}}" aria-hidden="true"></i> <span class="menu-lg">{{a.module | titlecase}}</span></a>
            <div class="dropdown-menu dropdown-menu-right" *ngIf="i>2">
              <div *ngFor="let b of a.components">
                <a class="dropdown-item" *ngIf="b.read==true || 
 b.write==true" routerLink="{{a.module}}/{{b.component | titlecase}}">
                  <span *ngIf="b.write==true">Manage</span> <span *ngIf="b.read==true && b.write==false">View</span>
                  {{b.component | titlecase}}
                </a>
              </div>
            </div>
            <div class="dropdown-menu" *ngIf="i<=2">
              <div *ngFor="let b of a.components">
                <a class="dropdown-item text-white" *ngIf="b.read==true 
 || b.write==true" routerLink="{{a.module}}/{{b.component | titlecase}}">
                  <span *ngIf="b.write==true">Manage</span> <span *ngIf="b.read==true && b.write==false">View</span>
                  {{b.component | titlecase}}
                </a>
              </div>
            </div>
          </li>
        </ul>
      </ul>

      <ul class="navbar-nav nav-dropdown ml-auto" data-app-modern-menu="true">
        <li class="nav-item" *ngIf="!usr">
          <a class="nav-link text-white" routerLink="login/Login">
            <i class="fa fa-sign-in" aria-hidden="true" fragment="login"></i> <span class="menu-lg" i18n>Sign In</span></a>
        </li>
        <li class="nav-item" *ngIf="!usr">
          <a class="nav-link text-white" routerLink="login/User/SignUp">
            <i class="fa fa-handshake-o" aria-hidden="true" fragment="signup"></i> <span class="menu-lg" i18n>Sign Up</span></a>
        </li>
      </ul>

      <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true" *ngIf="usr && rolename=='OrganizationAdmin'">

        <li class="nav-item dropdown" *ngFor="let a of oPermissionList; 
 let i=index">
          <a *ngIf="a.module=='settings'" class="nav-link 
 dropdown-toggle" href="#" data-toggle="dropdown"
            aria-expanded="true">
            <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
            <span class="menu-lg"></span></a>
          <div class="dropdown-menu dropdown-menu-right">
            <div *ngFor="let b of a.components">
              <a class="dropdown-item" *ngIf="(b.read==true || 
 b.write==true )" routerLink="{{a.module}}/{{b.component | titlecase}}">
                <span *ngIf="b.write==true">Manage</span> <span *ngIf="b.read==true && b.write==false">View</span>
                {{b.component | titlecase}}
              </a>
            </div>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true" *ngIf="usr && rolename!='OrganizationAdmin'">

        <li class="nav-item dropdown" *ngFor="let a of permissionList; 
 let i=index">
          <a *ngIf="a.module=='settings'" class="nav-link 
 dropdown-toggle" href="#" data-toggle="dropdown"
            aria-expanded="true">
            <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
            <span class="menu-lg"></span></a>
          <div class="dropdown-menu dropdown-menu-right">
            <div *ngFor="let b of a.components">
              <a class="dropdown-item" *ngIf="(b.read==true || 
 b.write==true )&& b.component!='billing'" routerLink="{{a.module}}/{{b.component | titlecase}}">
                <span *ngIf="b.write==true">Manage</span> <span *ngIf="b.read==true && b.write==false">View</span>
                {{b.component | titlecase}}
              </a>

            </div>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
        <li class="nav-item" *ngIf="usr">
          <a class="nav-link text-white" (click)="logout()" style="cursor: pointer">
            <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
      </ul>

    </div>
  </nav>

  <div class="row">
    <div class="left" *ngIf="userProfile">
      <ul class="nav nav-pills flex-column" style="text-align:left;margin-left: 0.5rem;background-color: black;">
        <li class="nav-item">
          <a class="nav-link dataLinks avatar" routerLink="dashboard/Dashboard">
            <span class="user-profile">
              <strong> I'M </strong>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link dataLinks avatar" routerLink="login/ViewProfile">
            <span class="user-profile">
              <small>&nbsp;&nbsp;</small>
              <strong>{{userProfile.firstname[0].toUpperCase()}}<small>{{userProfile.firstname.substr(1).toLowerCase()}}</small></strong>
              <small>&nbsp;</small>
              <strong>{{userProfile.lastname[0].toUpperCase()}}<small>{{userProfile.lastname.substr(1).toLowerCase()}}</small></strong>
              <small>&nbsp;&nbsp;</small>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link dataLinks avatar" href="#">
            <i class="fa fa-user-circle" aria-hidden="true" *ngIf="!image.valid"></i>
            <img class="sidebar-avatar" [src]="image.URL" *ngIf="image.valid" />
            <small style="color:whitesmoke;" *ngIf='userProfile'>
              <div *ngIf="!image.valid">
                <label class="hand-cursor">
                  <div class="form-group">
                    <input (change)="onFileSelect($event)" accept="image/*" id='picUploader' type="file" name="image"
                      [(ngModel)]="user.image" class="form-control" />
                  </div>
                  <i class="fa fa-camera text-white"></i>
                </label>
              </div>
              <div *ngIf="image.valid">
                <label class="hand-cursor">
                  <div class="form-group">
                    <input (change)="onFileSelect($event)" accept="image/*" id='picUpload' type="file" name="image"
                      [(ngModel)]="user.image" class="form-control" />
                  </div>
                  <span class="fa fa-camera text-white"></span>
                </label>
              </div>
            </small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link dataLinks" routerLink="dashboard/Dashboard">
            <i class="fa fa-tachometer" aria-hidden="true"></i> <small>&nbsp; &nbsp;Dashboard </small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link dataLinks" routerLink="login/ViewProfile">
            <i class="fa fa-user" aria-hidden="true"></i> <small>&nbsp; &nbsp;View Profile </small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link dataLinks" routerLink="user/ContactDetails">
            <i class="fa fa-address-card" aria-hidden="true"></i> <small>&nbsp; &nbsp;Manage Contacts</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link dataLinks" routerLink="dashboard/Uploads">
            <i class="fa fa-folder" aria-hidden="true"></i><small>&nbsp; &nbsp; My Uploads</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link dataLinks" routerLink="organization/Achievements">
            <i class="fa fa-trophy" aria-hidden="true"></i><small>&nbsp; &nbsp; Achievements</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link dataLinks" routerLink="dashboard/Organization-feedback">
            <i class="fa fa-commenting" aria-hidden="true"></i> <small>&nbsp; &nbsp;Organization Feedback</small></a>
        </li>
        <li class="nav-item">
          <a class="nav-link dataLinks" routerLink="dashboard/Gallery">
            <i class="fa fa-picture-o" aria-hidden="true"></i> <small>&nbsp; &nbsp;Gallery</small></a>
        </li>
        <li class="nav-item" [hidden]="userProfile.rolename=='SchoolAdmin'">
          <a class="nav-link dataLinks" routerLink="dashboard/Feedback">
            <i class="fa fa-star" aria-hidden="true"></i><small>&nbsp; &nbsp; Feedback</small></a>
        </li>
        <li class="nav-item" *ngIf="userProfile.rolename!='BranchAdmin'&& userProfile.rolename!='SchoolAdmin'">
          <a class="nav-link dataLinks" routerLink="dashboard/Idcard">
            <i class="fa fa-id-badge" aria-hidden="true"></i><small>&nbsp; &nbsp; My Id Card</small></a>
        </li>
        <li *ngIf="userProfile.rolename=='Student'">
          <a class="nav-link dataLinks" routerLink="services/Gatepass">
            <i class="fa fa-users" aria-hidden="true"></i><small>&nbsp; &nbsp;Gate Pass</small></a>
        </li>
        <li *ngIf="userProfile.rolename=='Student'">
          <a class="nav-link dataLinks" routerLink="batch/StudentBatch">
            <i class="fa fa-users" aria-hidden="true"></i><small>&nbsp; &nbsp; Batch Mates</small></a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div [ngClass]="{'container': userProfile, 'container-fluid': !userProfile}">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- old chat html -->
  <div style=" max-height: 300px">
    <div style="display: block;position: fixed;bottom: 0;right: 15px;z-index: 9;width:300px" #mainDiv id="mainDiv">
      <div class="card" style="width:100%" *ngIf="showChat">
        <div class="card-img-top bg-primary" style="width:100% ; color:white">
          <p *ngIf='showFeedback' style="color:white; margin-top: 5px"><b>Customer Support</b><span (click)="spnCloseClick()"
              style="float:right;margin-right: 10px" data-toggle="modal" data-target="#chatFeedback"><b>X</b></span></p>
          <p *ngIf='!showFeedback' style="color:white; margin-top: 5px"><b>Customer Support</b><span (click)="spnCloseClick()"
              style="float:right;margin-right: 10px" data-toggle="modal"><b>X</b></span></p>
        </div>
        <div *ngIf="showSignIn" id="div_chatLogin" style="margin:10px">
          <br />
          <p><b>Welcome to chat support</b></p>
          <input placeholder="Enter Your Nickname" #uName="ngModel" type="text" class="form-control" [(ngModel)]="frmUser"
            name="uName" />
          <input type="radio" name="Support" value="Support" [(ngModel)]="supportType"> Tech Support
          <input type="radio" name="Support" value="SalesSupport" [(ngModel)]="supportType"> Sales Support<br>
          <button class="btn btn-primary" (click)="btnSignInClick()">Start Chat</button>
        </div>
        <div class="card-body" *ngIf="showChatPanel">
          <div class="chat-body" id="scroll">
            <div *ngFor="let m of messages">
              <div class="from" *ngIf="m.fromuser!=frmUser">{{m.messages}}</div>
              <div class="to" *ngIf="m.fromuser==frmUser">{{m.messages}}</div>
            </div>
          </div>
        </div>
        <input *ngIf="showChatPanel" placeholder="Your text Message..." class="form-control" type="text" #msg
          (keyup.enter)="btnSendMessageClick(msg)" />
      </div>
      <div *ngIf="!showChat" style="float:right">
        <img src="{{myurl+'/organization/assets/chat_logo.png'}}" width="80px" height="80px" (click)="btnShowChatClick()" />
      </div>
    </div>
  </div>
  <!-- <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: mintcream;height:50px">
          <h4 class="modal-title" style="color: black">Chat Feedback</h4>
          <button type="button" class="close" (click)="closeChatFeedbackModal()" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="background-color:darkgoldenrod;text-align: center">
          <div *ngIf='display'>Thank You for the Feedback.</div>
          <div *ngIf='!display'>
            <span style="font-size: 15px;font-weight:bold">Angry</span>&nbsp;&nbsp;<span style="font-size: 15px;font-weight:bold">Unsure</span>&nbsp;&nbsp;<span
              style="font-size: 15px;font-weight:bold">Meh</span>&nbsp;&nbsp;<span style="font-size: 15px;font-weight:bold">Happy</span>&nbsp;&nbsp;<span
              style="font-size: 15px;font-weight:bold">Awesome</span>
          </div>
          <div class="rating" *ngIf='!display'>
            <span class="rating1" #rating1 (click)="updateChatFeedback('1')"></span>&nbsp;<span class="rating2"
              #rating2 (click)="updateChatFeedback('2')"></span>&nbsp;<span class="rating3" #rating3 (click)="updateChatFeedback('3')"></span>&nbsp;<span
              class="rating4" #rating4 (click)="updateChatFeedback('4')"></span>&nbsp;<span class="rating5" #rating5
              (click)="updateChatFeedback('5')"></span>
          </div>
        </div>
        <div class="modal-footer" style="background-color: mintcream;height:50px">
          <button type="button" style="height:30px" class="btn btn-danger" (click)="closeChatFeedbackModal()"
            data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->
  <div id="chatFeedback" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
    <div class="modal-dialog modal-lg" id="box">
      <div class="modal-content bigModel">
        <div class="modal-header">
          <h3>Chat Feedback</h3>
          <button type="button" *ngIf="showCloseButton" class="close btn-danger" style="color:white;" data-dismiss="modal">X
          </button>
          <button type="button" *ngIf="!showCloseButton" class="close btn-danger" style="color:white;" data-dismiss="modal"
            (click)="updateChatFeedback('0')">X
          </button>
        </div>
        <div class="modal-body">
          <form #placement="ngForm">
            <div *ngIf='display'>Thank You for the Feedback.</div>
            <div *ngIf='!display'>
              <div class="emoji  emoji--love" (click)="updateChatFeedback('5')">
                <div class="emoji__heart"></div>
              </div>
              <!-- <div class="emoji  emoji--haha">
              <div class="emoji__face">
                <div class="emoji__eyes"></div>
                <div class="emoji__mouth">
                  <div class="emoji__tongue"></div>
                </div>
              </div>
            </div> -->
              <div class="emoji  emoji--wow" (click)="updateChatFeedback('4')">
                <div class="emoji__face">
                  <div class="emoji__eyebrows"></div>
                  <div class="emoji__eyes"></div>
                  <div class="emoji__mouth"></div>
                </div>
              </div>
              <div class="emoji  emoji--yay" (click)="updateChatFeedback('3')">
                <div class="emoji__face">
                  <div class="emoji__eyebrows"></div>
                  <div class="emoji__mouth"></div>
                </div>
              </div>

              <div class="emoji  emoji--sad" (click)="updateChatFeedback('2')">
                <div class="emoji__face">
                  <div class="emoji__eyebrows"></div>
                  <div class="emoji__eyes"></div>
                  <div class="emoji__mouth"></div>
                </div>
              </div>
              <div class="emoji  emoji--angry" (click)="updateChatFeedback('1')">
                <div class="emoji__face">
                  <div class="emoji__eyebrows"></div>
                  <div class="emoji__eyes"></div>
                  <div class="emoji__mouth"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--Modal Pop up for Ads-->
  <div id="Ads" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Infobyt</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="background: #000000d2">
          <div class="center-text">
            <div>
              <h2>Happy New Year</h2>
            </div>
            <div></div>
            <div>
              <h2>2019</h2>
            </div>
            <div></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--Site Footer Here-->
  <footer id="site-footer" class="padding_half">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <ul class="social-icons bottom25 wow fadeInUp" data-wow-delay="300ms">
            <li>
              <a href="https://www.facebook.com/Infobyt-968469636611635/?ref=bookmarks" rel="noopener" target='_blank' aria-label="Facebook">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/infobyt1" rel="noopener" target='_blank' aria-label="Twitter">
                <i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="http://googleblog.blogspot.com/2009/12/making-urls-shorter-for-google-toolbar.html." rel="noopener" target='_blank' aria-label="Googleplus">
                <i class="fa fa-google-plus"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/unic-sol-461841133/" rel="noopener" target='_blank' aria-label="Linkedin">
                <i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/infobytdotcom/" rel="noopener" target='_blank' aria-label="Instagram">
                <i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="mailto:support@infobyt.com?subject=InfoByt%20Enquiry">
                <i class="fa fa-envelope" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://play.google.com/store/apps/details?id=com.infobyt" rel="popover"
                data-img="assets/images/index/android.png" aria-label="Android"><i class="fa fa-android" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://itunes.apple.com/us/app/infobyt/id1438981014?ls=1&mt=8" rel="popover"
                data-img="assets/images/index/ios.png" aria-label="Apple"> <i class="fa fa-apple" aria-hidden="true"></i></a>
            </li>
          </ul>
          <p class="copyrights wow fadeInUp"> © 2019 Infobyt. made with love by 
            <a href="http://www.unicsol.com/" target="_blank">Unic Sol India Pvt. Ltd.</a>
          </p>
          <ul class="extra-links">
              <li>
                <a class="social-inner" href="http://www.infobyt.com/user/Jobs"><span>Careers</span></a>
              </li>
              <li>
                <a class="social-inner" href="http://www.infobyt.com/About"><span>About</span></a>
              </li>
              <li>
                <a class="social-inner" href="http://www.infobyt.com/links/Support"><span>Support</span></a>
              </li>
              <li>
                <a class="social-inner" href="http://www.infobyt.com/links/Terms"><span>Terms</span></a>
              </li>
              <li>
                <a class="social-inner" href="http://www.infobyt.com/links/Privacy"><span>Privacy
                    Policy</span></a>
              </li>
              <li>
                <a class="social-inner" href="http://www.infobyt.com/links/Cookies"><span>Cookies</span></a>
              </li>
              <li>
                <a class="social-inner" href="http://www.infobyt.com/links/Help"><span>Help Center</span></a>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </footer>
  <!--Footer ends-->
