<div class="container">
  <br>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#samp1" (click)="showCourses()" title="Show Courses">
       <i class="fa fa-th-list"></i></a>
  </li>
  &nbsp;&nbsp;&nbsp;
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#samp2"(click)="showdepartments()" title="Show Domains">
        <span style="font-size:2em;" class="fa fa-sitemap"></span><small class="fa fa-th-list"></small></a>
  </li>
</ul>
<div *ngIf='showCourse'>
  <div class="container mt-3">
    <div class="jumbotron">
    <h2><i> Course Details</i> </h2>
      <hr/>

    <div class="btn-align">
      <div class="dropdown">
      <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-book"></i> Courses
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)=getIds()><i class="fa fa-plus-circle"></i>  Add Courses</a>
      </div>
    </div>
  </div>
</div>
    <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
      <div class="modal-dialog" id="box">
        <div class="modal-content bigModel">
          <div class="modal-header">
            <h4>Courses</h4>
            <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
            </button>
          </div>
          <div class="modal-body">
            <form #addCourseForm="ngForm">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group" >
                    <label for="dt">Course:</label>
                    <span class="text-warning"> * </span>
                    <input type="text"  maxlength="50" autocomplete="off" required #courseName="ngModel" pattern="^[^\d\W]+( [^\d\W]+)*$"
                      minlength="3" class="form-control" name="coursename" [(ngModel)]="courseobject.courseName"
                      placeholder="Course Name" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || event.charCode==32"  >
                    <span class="text-warning" *ngIf="courseName.errors?.required && (courseName.touched || courseName.dirty)">Course
                       Required</span>
                    <span class="text-warning" *ngIf="courseName.errors?.pattern && (courseName.touched || courseName.dirty)">
                      Course Name Accepts only Alphabets.</span>
                    <span class="text-warning" [hidden]="courseName.errors.pattern" *ngIf="courseName.errors?.minlength && (courseName.touched || courseName.dirty)">
                      Enter Course  min 3 characters.</span>
                  </div>
                  <div class="form-group">
                      <label for="bi">Duration Type:</label>
                      <span class="text-warning"> * </span>
                      <br>
                      <label class="form-check-inline">
                          <input class="form-check-input" type="radio" name="duration" value="Year" [(ngModel)]="courseobject.duration">&nbsp; Year
                      </label>
                      <label class="form-check-inline">
                          <input class="form-check-input" type="radio" name="duration" value="Month" [(ngModel)]="courseobject.duration">&nbsp; Month
                      </label>
                      <label class="form-check-inline">
                        <input class="form-check-input" type="radio" name="duration" value="Day" [(ngModel)]="courseobject.duration">&nbsp; Day
                    </label>
                    </div>
                  <div class="form-group">
                    <label for="octn">Course Duration:</label>
                    <span class="text-warning"> * </span>
                      <p-spinner  size="52%" readonly #years="ngModel" required [(ngModel)]="courseobject.years" placeholder="Course Duration" required name="years" [min]="0" ></p-spinner>
                    <span class="text-warning" *ngIf="years.invalid && (years.touched || years.dirty)">
                      <span class="text-warning" *ngIf="years.errors?.required && (years.touched || years.dirty)">Year
                        Required
                      </span>
                      <span class="text-warning" *ngIf="years.errors?.pattern && (years.touched || years.dirty)">please
                        enter valid Year
                      </span>
                      <span class="text-warning" [hidden]="years.errors.pattern" *ngIf="years.errors?.minlength && (years.touched || years.dirty)">please
                        enter valid Year
                      </span>
                    </span>
                  </div>
                  <div class="form-group">
                    <label for="bi">Semesters per Year:</label>
                    <span class="text-warning"> * </span>
                      <p-spinner size="52%" readonly #semesters="ngModel" required [(ngModel)]="courseobject.semesters" placeholder="Semester" required name="Semesters" [min]="0" [max]="3"></p-spinner>
                    <span class="text-warning" [hidden]="!semesters.errors.required" *ngIf="semesters.errors && (semesters.touched || semesters.dirty)">Semesters
                      Required
                    </span>
                    <span class="text-warning" [hidden]="!semesters.errors.pattern" *ngIf="semesters.errors && (semesters.touched || semesters.dirty)">
                      Enter Valid Data</span>
                  </div>
                  <div class="form-group">
                    <label for="bi">Level:</label>
                    <span class="text-warning"> * </span>
                      <p-spinner size="52%" readonly  #level="ngModel" required [(ngModel)]="courseobject.level" placeholder="Course Level" required name="level" [min]="0" [max]="20"></p-spinner>
                    <span class="text-warning" *ngIf="level.invalid && (level.touched || level.dirty)">
                      <span class="text-warning" [hidden]="!level.errors.required" *ngIf="level.errors && (level.touched || level.dirty)">Level
                        Required
                      </span>
                      <span class="text-warning" [hidden]="!level.errors.pattern" *ngIf="level.errors && (level.touched || level.dirty)">Level
                        Limited Exits
                      </span>
                    </span>
                  </div>
                  <div class="form-group" class="text-center" *ngIf="!courseobject.Id">
                    <button type="submit" class="btn btn-primary" (click)="addcourses()" [disabled]="!addCourseForm.valid"
                      data-dismiss="modal">Submit</button>
                  </div>
 <div *ngIf="read==true && write==true || write==true">
</div>
                  <div class="form-group" class="text-center" *ngIf="courseobject.Id">
                    <button type="submit" class="btn btn-primary" (click)="updateCourse()"  data-dismiss="modal">Update</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Course">
    </mat-form-field>
<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="CourseName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Course</th>
      <td *matCellDef="let row">{{row.coursenames}} </td>
    </ng-container>
    <ng-container matColumnDef="Duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration </th>
      <td *matCellDef="let row">{{row.year}} {{row.duration}} </td>
    </ng-container>
    <ng-container matColumnDef="Semester">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Semester</th>
      <td *matCellDef="let row">{{row.semester}}</td>
    </ng-container>
    <ng-container matColumnDef="Level">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Level</th>
      <td *matCellDef="let row">{{row.levels}}</td>
    </ng-container>
    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
      <td *matCellDef="let row">
        <div class="btn btn-outline-info btn-lg" data-toggle="modal" data-target="#responsive" (click)=getById(row.ids)><i
            class="fa fa-pencil-square-o"></i></div>
      </td>
    </ng-container>
    <ng-container matColumnDef="Excel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>
      </span></th>
      <td mat-cell *matCellDef="let row">
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef='displayedColumns'>
    </tr>
    <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
  </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>

<div *ngIf="showdepartment">
  <div class="container">
    <div class="container mt-3">
      <div class="jumbotron">
      <h2><i> Domain Details </i></h2>
        <hr/>
      
      <div class="btn-align">
        <div class="dropdown">
        <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-sitemap"></i> Domains
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive2" (click)=getIds()><i class="fa fa-plus-circle"></i> Add Domains</a>
        </div>
      </div>
    </div>
    </div>
      <div id="responsive2" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
        <div class="modal-dialog" id="box">
          <div class="modal-content bigModel">
            <div class="modal-header">
              <h4>Domains</h4>
              <button type="button" class="close btn-danger" style="color:white" data-dismiss="modal">X
              </button>
            </div>
            <div class="modal-body">
              <form #adddepartmentForm="ngForm">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="octn">Course:</label>
                      <span class="text-warning"> * </span>
                      <select type="text" autocomplete="off" maxlength="30" required name="courseid" #courseid="ngModel"
                        class="form-control" [(ngModel)]="departmentobject.courseId">
                        <option value="0" selected>Select Course</option>
                        <option *ngFor="let cur of courselist" value="{{cur.ids}}">{{cur.coursenames}}</option>
                      </select>
                      <span class="text-warning" [hidden]="!courseid.errors.required" *ngIf="courseid.value=='0'  && (courseid.touched || courseid.dirty)">Course
                         Required
                      </span>
                    </div>
                    <div class="form-group">
                      <label for="dt">Domain:</label>
                      <span class="text-warning"> * </span>
                      <input type="text" maxlength="100" autocomplete="off" required #name="ngModel" pattern="^[^\d\W]+( [^\d\W]+)*$"
                        minlength="3" class="form-control" name="name" [(ngModel)]="departmentobject.name" placeholder="Domain Name"
                        onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || event.charCode==32">
                      <span class="text-warning" *ngIf="name.errors?.required && (name.touched || name.dirty)">Domain
                         Required</span>
                      <span class="text-warning" *ngIf="name.errors?.pattern && (name.touched || name.dirty)">
                        Domain  Accepts only Alphabets.</span>
                      <span class="text-warning" [hidden]="name.errors.pattern" *ngIf="name.errors?.minlength && (name.touched || name.dirty)">
                        Enter Domain  min 3 characters.</span>
                    </div>
                    <div class="form-group">
                      <label for="octn">Domain Head:</label>
                      <span class="text-warning"> * </span>
                      <button class="btn btn-debug" (click)="addHod()">Add Hod</button>
                      <select class="form-control" type="text" autocomplete="off" #staffid="ngModel" maxlength="30"
                        required name="staffId" [(ngModel)]="departmentobject.staffId">
                        <option value="0" selected>Select Domain Head</option>
                        <option *ngFor="let user of allStaffList" value={{user.userid}}>{{user.firstname}}
                          {{user.lastname}}
                        </option>
                      </select>
                      <span class="text-warning" [hidden]="!staffid.errors.required" *ngIf="staffid.value=='0'  && (staffid.touched || staffid.dirty)">HOD
                        Required
                      </span>
                    </div>
                    <div class="form-group" class="text-center" *ngIf="!departmentobject.Id">
                      <button type="submit" (click)="adddepartments()" [disabled]="!adddepartmentForm.valid||this.courseid==0||this.name==0 ||this.staffId==0"
                        class="btn btn-primary" data-dismiss="modal">Submit</button>
                    </div>
                    <div class="form-group" class="text-center" *ngIf="departmentobject.Id">
                      <button type="submit" (click)="updateDepartments()" class="btn btn-primary" data-dismiss="modal">Update</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter Domain Name">
    </mat-form-field>
    <table mat-table [dataSource]="dataSoursesDept" matSort>
      <ng-container matColumnDef="CourseName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Course</th>
        <td *matCellDef="let row">{{row.coursename}} </td>
      </ng-container>
      <ng-container matColumnDef="DepartmentsName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Domains</th>
        <td *matCellDef="let row">{{row.departmentname}}</td>
      </ng-container>
      <ng-container matColumnDef="Staff">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Staff</th>
        <td *matCellDef="let row">{{row.staffname}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef='displayedColumndept'>
      </tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumndept"></tr>
    </table>
    <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
</div>