<div class="container">
  <div class="jumbotron">
    <h2>Fee Payments</h2>
    <hr />
    <!-- <div  class="btn-align">
      <button type="button" class="btn btn-outline-info btn-lg" data-toggle="modal" data-target="#responsive" (click)=getIds()
        title="Add Fee Payments">
        <span style="font-size:2em;" class="fa fa-money"></span><small class="fa fa-plus-circle"></small></button>
    </div> -->
    <!-- <div class="btn-align">
      <a href="#demo" class="btn btn-outline-info btn-md" data-toggle="collapse">Branch Aggregation Report</a>
      <a href="#demo1" class="btn btn-outline-info btn-md" data-toggle="collapse">Class Aggregation Report</a>
      <a href="#demo2" class="btn btn-outline-info btn-md" data-toggle="collapse">Batch FeePayments Details</a>
    </div> -->
    <div class="btn-align">
      <div class="dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-money"></i>  Fee Payments
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" data-toggle="modal" data-target="#responsive" (click)=getIds()>
            <i class="fa fa-plus-circle"></i>  Add Fee Payments</a>
          <a class="dropdown-item" href="#demo" data-toggle="collapse" role="button">Branch Aggregation Report</a>
          <a class="dropdown-item" href="#demo1" data-toggle="collapse" role="button">Class Aggregation Report</a>
          <a class="dropdown-item" href="#demo2" data-toggle="collapse" role="button">Batch FeePayments Details</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showReports">
    <div>
      <div id="demo" class="collapse">
        <div class="form-group">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Concession Amount">
          </mat-form-field>
          <mat-table [dataSource]="reportSource" matSort>
            <ng-container matColumnDef="feeamount">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Total Fees</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.feeamount}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="concession">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Total Concession Amount</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.concession}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="PaidAmount">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Paid Amount</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.paidamount}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="due">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Due</mat-header-cell>
              <mat-cell *matCellDef="let row">{{(row.feeamount-row.concession)-row.paidamount}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef='reportColumn'>
            </mat-header-row>
            <mat-row *matRowDef="let row;columns:reportColumn"></mat-row>
          </mat-table>
          <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
      </div>
    </div>
    <div>
      <div id="demo1" class="collapse">
        <div class="row">
          <div class="form-group col-lg-4">
            <label for="studentid">Session Name:</label>
            <span class="text-warning"> * </span>
            <select class="form-control" name="branchclassid" [(ngModel)]="branchclass" style="width:100%; height:2.625em"
             #studentid="ngModel">
              <option [ngValue]="undefined" disabled selected>Select Session Name</option>
              <option *ngFor="let clst of classList" value={{clst.id}}>{{clst.sessionname}}
              </option> <span class="text-warning" *ngIf="studentid.value=='undefined' && (studentid.touched || studentid.dirty)">Please
                Select
                Departments</span>
              <span [hidden]="!studentid.errors.required" class="text-warning" *ngIf="studentid.errors && (studentid.touched || studentid.dirty)">Session
                Required</span>
            </select>
          </div>
          <div class="form-group col-lg-4" style="margin-top: 1.5625em">
            <input type="button" value="search" class="btn btn-primary" data-dismiss="modal" (click)="getAllFinancialReportsbybrnclss()">
          </div>
          <div *ngIf="read==true && write==true || write==true">
          </div>
        </div>
        <div>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Concession Amount">
          </mat-form-field>
          <mat-table [dataSource]="reportSources" matSort>
            <ng-container matColumnDef="feeamount">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Total Fees</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.feeamount}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="concession">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Total Concession Amount</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.concession}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="PaidAmount">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Paid Amount</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.paidamount}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="due">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Due</mat-header-cell>
              <mat-cell *matCellDef="let row">{{(row.feeamount-row.concession)-row.paidamount}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef='reportColumns'>
            </mat-header-row>
            <mat-row *matRowDef="let row;columns:reportColumns"></mat-row>
          </mat-table>
          <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </div>
      </div>
      <div>
        <div id="demo2" class="collapse">
          <div class="form-group col-lg-4">
            <label>Select Batch:</label>
            <span class="text-warning"> * </span>
            <select class="form-control" #Batch="ngModel" name="Batch" style="width:100%; height:2.625em" [(ngModel)]="batchId"
              (change)="getBatch()">
              <option [ngValue]="undefined" disabled selected>Select</option>
              <option *ngFor="let bl of batchList" value={{bl.id}}>{{bl.batchname}}</option>
            </select>
            <span class="text-warning" *ngIf="Batch.value=='undefined' && (Batch.touched || Batch.dirty)">Please Select
              Departments</span>
            <span [hidden]="!Batch.errors.required" class="text-warning" *ngIf="Batch.errors && (Batch.touched || Batch.dirty)">Class
              Required</span>
          </div>
          <div>
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Student Name">
            </mat-form-field>
            <mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="StudentName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Trainee Name</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.firstname}} {{row.lastname}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="feeamount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Fee Amount</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.feeamount}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="PaidAmount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Paid Amount</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.paidamount}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="Due">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Due</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.due}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="receipt">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Receipt</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <div data-toggle="modal" data-target="#responsive1">
                    <i class="fa fa-money" (click)="getAllReceiptById(row.id) "></i>
                  </div>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Excel">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><span (click)="getexcel()"><i class="fa fa-file-excel-o"
                      aria-hidden="true"></i>
                  </span></th>
                <td mat-cell *matCellDef="let row">
                </td>
              </ng-container>
              <mat-header-row *matHeaderRowDef='displayedColumns'>
              </mat-header-row>
              <mat-row *matRowDef="let row;columns:displayedColumns"></mat-row>
            </mat-table>
            <mat-paginator [length]="100" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
          </div>
        </div>
      </div>
      <div class="container mt-3">
        <div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
          <div class="modal-dialog modal-lg" id="box">
            <div class="modal-content bigModel">
              <div class="modal-header">
                <h4>Fee Payments:</h4>
                <button type="button" class="close btn-danger" data-dismiss="modal">X
                </button>
              </div>
              <div class="modal-body">
                <form #feepaymentsForm="ngForm" novalidate>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label for="studentid">Trainee Name:</label>
                        <span class="text-warning"> * </span>
                        <select class="form-control" name="studentId" [(ngModel)]="feepayments.traineeId" style="width:100%; height:2.625em"
                          #studentid="ngModel" (change)="getFeeConcessionDues()">
                          <option value="0" disabled selected>Select Trainee Name</option>
                          <option *ngFor="let stdnt of studentDetails" value={{stdnt.id}}>{{stdnt.firstname}}
                            {{stdnt.lastname}}
                          </option>
                          <span class="text-warning" [hidden]="!studentid.errors.required" *ngIf="studentid.value=='0'  && (studentid.touched || studentid.dirty)">Please
                            Select</span>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Concession Amount:</label>
                        <span class="text-warning"> * </span>
                        <select class="form-control" name="studentId" style="width:100%; height:2.625em">
                          
                          <option *ngFor="let stdnt of FeeconcessionList" value={{stdnt.concession}}>{{stdnt.concession}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="paidamount">Paid Amount:</label>
                        <span class="text-warning"> * </span>
                        <input class="form-control" type="text" pattern="[0-9][0-9.,]{0,12}" maxlength="12" class="form-control"
                          id="paidAmount" placeholder="Enter PaidAmount" [(ngModel)]="feepayments.paidAmount"
                          onkeypress="return (event.charCode >= 48 && event.charCode <= 57) " (keyup)="calculateDue()"
                          name="paidAmount" #paidAmount=ngModel required min=0>
                        <span class="text-warning" *ngIf="paidAmount.invalid && (paidAmount.touched || paidAmount.dirty)">
                          <span class="text-warning" [hidden]="!paidAmount.errors.required" *ngIf="paidAmount.errors && (paidAmount.touched || paidAmount.dirty)">paidAmount
                            Required..</span>
                          <span class="text-warning" [hidden]="!paidAmount.errors.pattern" *ngIf="paidAmount.errors && (paidAmount.touched || paidAmount.dirty)">please
                            enter only numbers
                          </span>
                        </span>
                      </div>
                      <div class="form-group">
                        <label for="pay">Pay Date:</label>
                        <span class="text-warning"> * </span>
                        <input class="form-control" type="text" autocomplete="off" name="date" bsDatepicker [bsConfig]="bsConfig"
                          [bsConfig]=" {containerClass: 'theme-dark-blue' }" [maxDate]="maxDate" [minDate]="minDate"
                          placeholder="Pay Date" [(ngModel)]="feepayments.payDate" style="width:100%; height:2.625em"
                          id="pay" #pay="ngModel" required>
                        <span class="text-warning" *ngIf="pay.invalid && (pay.touched || pay.dirty)">
                          <span class="text-warning" [hidden]="!pay.errors.required" *ngIf="pay.errors && (pay.touched || pay.dirty)">*
                            Paid Date Required..</span>
                          <span class="text-warning" *ngIf="pay.value=='Invalid Date'">Only Selection is Allowed</span>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label>Fee Amount:</label>
                        <span class="text-warning"> * </span>
                        <select class="form-control" name="studentId" style="width:100%; height:2.625em">
                         
                          <option *ngFor="let stdnt of FeeconcessionList" value={{stdnt.feeamount}}>{{stdnt.feeamount}}</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Payble Amount:</label>
                        <span class="text-warning"> * </span>
                        <input class="form-control" type="number" class="form-control" [(ngModel)]="payable" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) "
                          name="Payble">
                      </div>
                      <div class="form-group">
                        <label for="due">Due:</label>
                        <input class="form-control" type="number" autocomplete="off" name="due" [(ngModel)]="feepayments.due"
                          style="width:100%; height:2.625em" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) "
                          #due="ngModel" required min=0>
                        <span class="text-warning" *ngIf="due.invalid && (due.dirty || due.touched) && due.errors.required">
                          *Due Amount Required
                        </span>
                      </div>
                      <div class="form-group">
                        <label for="paymode">Pay Mode:</label>
                        <span class="text-warning"> * </span>
                        <input class="form-control" placeholder="Pay Mode" type="text" maxlength="15" pattern="[A-Za-z]{0,15}"
                          autocomplete="off" name="payMode" id="paymode" [(ngModel)]="feepayments.payMode" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)"
                          style="width:100%; height:2.625em" #paymode="ngModel" required>
                        <span class="text-warning" *ngIf="paymode.invalid && (paymode.touched || paymode.dirty)">
                          <span class="text-warning" [hidden]="!paymode.errors.required" *ngIf="paymode.errors && (paymode.touched || paymode.dirty)">paymode
                            Required..</span>
                          <span class="text-warning" [hidden]="!paymode.errors.pattern" *ngIf="paymode.errors && (paymode.touched || paymode.dirty)">please
                            enter only alphabets
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div align="center">
                    <input type="button" [disabled]="!feepaymentsForm.valid" value="Submit" class="btn btn-primary"
                      data-dismiss="modal" (click)="addFeePayments()">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div id="responsive1" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
          <div class="modal-dialog modal-lg" id="box1">
            <div class="modal-content bigModel">
              <div class="modal-header">
                <h4 style="color: black;text-align: center">Fee receipt</h4>
                <button type="button" class="close btn-danger" style="color:white;" data-dismiss="modal">X
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-bordered">
                  <tr>
                    <th>Trainee Name</th>
                    <td *ngFor="let l of feereciptListByID">{{l.firstname}}{{l.lastname}}</td>
                  </tr>
                  <tr>
                    <th>AdmissionNumber</th>
                    <td *ngFor="let l of feereciptListByID">{{l.admissionnum}}</td>
                  </tr>
                  <tr>
                    <th>Fee Name</th>
                    <td *ngFor="let l of feereciptListByID">{{l.feename}}</td>
                  </tr>
                  <tr>
                    <th>Fee Amount</th>
                    <td *ngFor="let l of feereciptListByID">{{l.feeamount}}</td>
                  </tr>
                  <tr>
                    <th>concession Amount</th>
                    <td *ngFor="let l of feereciptListByID">{{l.concession}}</td>
                  </tr>
                  <tr>
                    <th>Paid Amount</th>
                    <td *ngFor="let l of feereciptListByID">{{l.paidamount}}</td>
                  </tr>
                  <tr>
                    <th>Paid date</th>
                    <td *ngFor="let l of feereciptListByID">{{l.paydate|date}}</td>
                  </tr>
                  <tr>
                    <th>Due</th>
                    <td *ngFor="let l of feereciptListByID">{{l.due}}</td>
                  </tr>
                  <tr>
                    <th>PayMode</th>
                    <td *ngFor="let l of feereciptListByID">{{l.paymode}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>